Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app

.circleci/config.yml:

version: 2.1

# this allows to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

workflows:
  version: 2
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
        - not:
            matches:
              &is_not_empty_tag {
                value: << pipeline.git.tag >>,
                pattern: "^.+$",
              }
        - not: &scheduled
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
    jobs:
      - path-filtering/filter: &path_filtering_job
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/continue-workflows.yml
          mapping: |
            (cmd|pkg|plugins|tools|api)/.* updated-aperture true
            operator/(api|config|controllers|hack)/.*|operator/main.go updated-aperture-operator true
            (go.mod|go.sum) updated-aperture true
            docs/.* updated-aperture-docs true
            manifests/charts/.* updated-aperture-charts true
            tools/demo_app/.* updated-demo-app true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
        - not:
            matches: *is_not_empty_tag
        - not: *scheduled
    jobs:
      - path-filtering/filter:
          <<: *path_filtering_job
          base-revision: main
  release:
    when:
      matches: { value: << pipeline.git.tag >>, pattern: "^releases/.*$" }
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release.yaml

Update blueprints
  playground/tanka/jsonnetfile.lock.json
Due: none

Move circuit-generator to cmd directory
  cmd/circuit-generator/main.go
Due: updated-aperture

fix tests
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/aperture-plugin-fluxninja/plugin-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  go.mod
  pkg/config/defaults.go
  pkg/config/defaults_test.go
  pkg/config/duration.go
  pkg/config/koanf-unmarshaller_test.go
  pkg/config/timestamp.go
  pkg/config/validator.go
  pkg/policies/controlplane/validator_test.go
  pkg/policies/dataplane/resources/classifier/extractors/extractors_suite_test.go
Due: updated-aperture, updated-aperture-docs

fix precommit
  docs/content/get-started/playground.md
Due: updated-aperture-docs

update codeowners
  .github/CODEOWNERS
  docs/content/get-started/playground.md
Due: updated-aperture-docs

remove dependency on ghodss/yaml
  cmd/circuit-generator/main.go
  go.mod
  pkg/policies/controlplane/validator.go
  pkg/policies/controlplane/validator_test.go
  pkg/policies/dataplane/resources/classifier/extractors/extractors_suite_test.go
Due: updated-aperture

make code a bit consistent
  operator/controllers/agent_hook.go
  operator/controllers/agent_reconciler.go
  operator/controllers/controller_hook.go
  operator/controllers/controller_reconciler.go
  operator/controllers/suite_test.go
  pkg/policies/controlplane/provider.go
  pkg/policies/controlplane/validator_test.go
  pkg/policies/dataplane/resources/classifier/extractors/extractors_suite_test.go
Due: updated-aperture, updated-aperture-operator

fix
  pkg/policies/controlplane/provider.go
Due: updated-aperture

Fix test
  operator/controllers/suite_test.go
Due: updated-aperture-operator

Add license scan report and status
  README.md
Due: none

Update README.md
  README.md
Due: none

update readme
  README.md
Due: none

Update Peers api & testings
  api/aperture/common/peers/v1/peers.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.gw.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.json.go
  api/gen/proto/go/aperture/common/peers/v1/peers_deepcopy.gen.go
  api/gen/proto/go/aperture/common/peers/v1/peers_grpc.pb.go
  pkg/distcache/service-discovery.go
  pkg/peers/peers-service.go
  pkg/peers/peers.go
  pkg/peers/peers_suite_test.go
  pkg/peers/peers_test.go
Due: updated-aperture

add fossa to circleci
  .circleci/continue-workflows.yml
Due: none

Test Coverage
  pkg/status/status_test.go
Due: updated-aperture

Unify TLS config
  pkg/net/tlsconfig/server.go
  pkg/otel/config.go
Due: updated-aperture

Deduplicate code
  pkg/net/tlsconfig/server.go
Due: updated-aperture

Replaced KeepAlive with KeepAliveOnce in etcd client
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/api/v1alpha1/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent_config_test.tpl
  operator/controllers/controller_config_test.tpl
  pkg/etcd/client/client.go
  pkg/etcd/client/zz_generated.deepcopy.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

DROP ME: tmp fix to run the agent and controller
  pkg/otel/config.go
Due: updated-aperture

Add lease recreation at keepalive retrial
  pkg/etcd/client/client.go
Due: updated-aperture

Fix TLS config
  pkg/otel/config.go
Due: updated-aperture

Create overview pages for - Flow Control - Policy - FluxNinja Cloud
  docs/content/cloud/overview.md
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/_category_.yml
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/overview.md
  docs/content/concepts/flow-control/rate-limiter.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/policy/_category_.yml
  docs/content/concepts/policy/circuit.md
  docs/content/concepts/policy/overview.md
  docs/content/concepts/policy/resources.md
Due: updated-aperture-docs

Add generated index page guide for all categories
  .pre-commit-config.yaml
  docs/Makefile
  docs/content/cloud/_category_.yml
  docs/content/cloud/cloud.md
  docs/content/cloud/plugin.md
  docs/content/concepts/_category_.yml
  docs/content/concepts/flow-control/_category_.yml
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/rate-limiter.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/policy/_category_.yml
  docs/content/concepts/policy/circuit.md
  docs/content/concepts/policy/policy.md
  docs/content/concepts/policy/resources.md
  docs/content/get-started/_category_.yml
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/controller.md
  docs/content/reference/_category_.yml
  docs/content/reference/configuration/_category_.yml
  docs/content/references/_category_.yml
  docs/content/references/configuration/_category_.yml
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/content/references/configuration/policies.md
Due: updated-aperture-docs

Add overview pages
  docs/content/get-started/_category_.yml
  docs/content/get-started/installation/_category_.yml
  docs/content/get-started/installation/agent/_category_.yml
Due: updated-aperture-docs

Update links
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/values.yaml
Due: updated-aperture-charts
