Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs, updated-aperture-chart

Fix Controller OTEL pipelines
  pkg/otel/components.go
  pkg/otel/config.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

Policy Blueprints Documentation
  docs/content/concepts/policies/policy-blueprints.md
Due: updated-aperture-docs

Make examples easier to read and fix broken links
  docs/content/concepts/policies/policy-blueprints.md
Due: updated-aperture-docs

Tag images from main with latest tag before pushing them to dockerhub
  .circleci/continue-workflows.yml
Due: none

Fix markdown glitches in generated classifiers documentation
  api/aperture/classification/v1/extractor.proto
  api/aperture/classification/v1/ruleset.proto
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/classification/v1/extractor.pb.go
  api/gen/proto/go/aperture/classification/v1/ruleset.pb.go
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.go
  docs/gen/classification/swagger.md
  docs/gen/policies/swagger.md
Due: updated-aperture, updated-aperture-docs

Switch to DurationLabel
  pkg/otel/config.go
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

Update status package
  cmd/aperture-controller/controller/provider.go
  pkg/classification/provide.go
  pkg/jobs/job-group.go
  pkg/jobs/job-tracker.go
  pkg/jobs/job.go
  pkg/jobs/jobs_test.go
  pkg/jobs/multi-job.go
  pkg/net/grpc/status-service.go
  pkg/notifiers/fx-driver.go
  pkg/platform/platform.go
  pkg/platform/readiness.go
  pkg/policies/controlplane/component/promql.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuator/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuator/rate/rate-limiter.go
  pkg/policies/dataplane/actuator/rate/ratetracker/rate-tracker_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/status/map.go
  pkg/status/prefixed-registry.go
  pkg/status/provide.go
  pkg/status/registry.go
  pkg/status/registry_test.go
  pkg/watchdog/watchdog.go
Due: updated-aperture

add sidebars.json
  docs/content/sidebars.json
Due: updated-aperture-docs

FAQ and sidebar_position
  docs/content/faq.md
  docs/content/feedback.md
  docs/content/introduction.md
  docs/content/setup.md
Due: updated-aperture-docs

Update setup.md
  docs/content/setup.md
Due: updated-aperture-docs

Revert "Faq (#208)"
  docs/content/faq.md
  docs/content/feedback.md
  docs/content/introduction.md
  docs/content/setup.md
Due: updated-aperture-docs

Feedback link
  docs/content/faq.md
  docs/content/feedback.md
  docs/content/introduction.md
  docs/content/sidebars.json
Due: updated-aperture-docs

start writing flow control section
  docs/content/concepts/flow-control/actuators/actuators.md
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/flow.md
  docs/content/concepts/policies/policies.md
Due: updated-aperture-docs

Add metrics names to common schema
  pkg/flowcontrol/metrics.go
  pkg/jobs/job-metrics.go
  pkg/metrics/schema.go
  pkg/policies/dataplane/actuator/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuator/concurrency/scheduler/wfq_test.go
Due: updated-aperture

put classifier config in latency gradient policy
  latency-gradient-policy.yaml
Due: none

go filenames: fluxmeter->flux-meter
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter_suite_test.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter_test.go
Due: updated-aperture

Dataplane restructure
  Makefile
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  pkg/classification/validator_test.go
  pkg/flowcontrol/envoy/authz.go
  pkg/flowcontrol/envoy/authz_suite_test.go
  pkg/flowcontrol/envoy/authz_test.go
  pkg/flowcontrol/envoy/baggage/baggage.go
  pkg/flowcontrol/envoy/baggage/baggage_suite_test.go
  pkg/flowcontrol/envoy/provide.go
  pkg/flowcontrol/provide.go
  pkg/flowcontrol/validator.go
  pkg/policies/controlplane/validator.go
  pkg/policies/controlplane/validator_test.go
  pkg/policies/dataplane/provide.go
  pkg/policies/dataplane/resources/classifier/classification_suite_test.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier_test.go
  pkg/policies/dataplane/resources/classifier/extractors/README.md
  pkg/policies/dataplane/resources/classifier/extractors/attribute_path.go
  pkg/policies/dataplane/resources/classifier/extractors/compile.go
  pkg/policies/dataplane/resources/classifier/extractors/extractors_suite_test.go
  pkg/policies/dataplane/resources/classifier/extractors/helpers.go
  pkg/policies/dataplane/resources/classifier/extractors/input.go
  pkg/policies/dataplane/resources/classifier/extractors/json_pointer.go
  pkg/policies/dataplane/resources/classifier/extractors/path_template.go
  pkg/policies/dataplane/resources/classifier/provide.go
  pkg/policies/dataplane/resources/classifier/validator.go
  pkg/webhooks/validation/provide.go
  test/aperture_suite_test.go
Due: updated-aperture

Add metrics names to common schema (#212)
  pkg/flowcontrol/metrics.go
  pkg/jobs/job-metrics.go
  pkg/metrics/schema.go
  pkg/policies/dataplane/actuators/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuators/concurrency/scheduler/wfq_test.go
Due: updated-aperture

fix test
  cmd/aperture-agent/agent.go
  example-classification-cm-demoapp.yaml
  latency-gradient-policy.yaml
  pkg/flowcontrol/common/flowcontrol.go
  pkg/flowcontrol/common/flowcontrol_suite_test.go
  pkg/flowcontrol/common/flowcontrol_test.go
  pkg/flowcontrol/common/metrics.go
  pkg/flowcontrol/common/provide.go
  pkg/flowcontrol/envoy/authz.go
  pkg/flowcontrol/envoy/authz_test.go
  pkg/flowcontrol/envoy/provide.go
  pkg/flowcontrol/provide.go
  pkg/policies/controlplane/validator.go
  pkg/policies/dataplane/resources/classifier/validator.go
  test/aperture_suite_test.go
Due: updated-aperture

remove policy yaml files, please use jsonnet generator for testing
  example-classification-cm-bookinfo.yaml
  example-classification-cm-demoapp.yaml
  latency-gradient-policy.yaml
  pkg/policies/controlplane/validator_test.go
Due: updated-aperture

fix pre-commit hook
  go.mod
Due: updated-aperture

use proto unmarshaller
  pkg/policies/dataplane/resources/classifier/provide.go
Due: updated-aperture

remove redundant tests
  pkg/webhooks/validation/validator_suite_test.go
  pkg/webhooks/validation/validator_test.go
Due: updated-aperture

remove rate limit policy
  pkg/policies/controlplane/validator_test.go
  rate-limit-policy.yaml
Due: updated-aperture

Move around some files
  .circleci/continue-workflows.yml
  .circleci/scripts/asdf_install.sh
  .pre-commit-config.yaml
  Makefile
  pkg/tools/tools.go
  scripts/install_go_tools.sh
  scripts/manage_tools.sh
  scripts/precommit/check_tanka_show.sh
  scripts/precommit/generate_api.sh
  scripts/precommit/generate_docs.sh
  tools/demo_app/README.md
  tools/demo_app/app/app.go
  tools/demo_app/cmd/demo_app/main.go
  tools/demo_app/tools/tools.go
  tools/githooks/install_go_tools.sh
Due: updated-aperture

remove stress test file
  tools/load_generator/scenarios/stress_test.js
Due: updated-aperture

remove redundant buttons in tilt
  manifests/k8s/Tiltfile
  tools/load_generator/scenarios/demoapp-stress-test-cr.yaml
Due: updated-aperture

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools|api)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools|api)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
  updated-aperture-chart: any of: manifests/charts/agent/.*
