Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools|api)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools|api)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Change asdf cache name
  .circleci/config.yml
  .circleci/continue-workflows.yml
Due: none

Add golangci-lint to asdf tools in circleci config
  .circleci/continue-workflows.yml
Due: none

Adding Makefile and Dockerfile for Watchdog
  pkg/watchdog/Makefile
  pkg/watchdog/watchdog_test.go
Due: updated-aperture

Adding Makefile and Dockerfile for Watchdog
  docs/diagrams/traffic-flow/traffic.mmd.png
Due: updated-aperture-docs

OTEL exporters for FN Cloud
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

Move otel config creation to onStart
  go.mod
  go.sum
  pkg/authz/authz.go
  pkg/otel/components.go
  pkg/otelcollector/otelcollector.go
  plugins/service/aperture-plugin-fluxninja/main.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

Update codecov.yml
  codecov.yml
Due: none

Increase executor size for CircleCI
  .circleci/continue-workflows.yml
  scripts/go_generate.sh
  scripts/go_generate_swagger.sh
Due: none

Add command for calling watching makefile
  Makefile
  docs/diagrams/traffic-flow/traffic.mmd.png
  pkg/watchdog/Makefile
  pkg/watchdog/watchdog.go
Due: updated-aperture, updated-aperture-docs

Address review comments
  api/aperture/flowcontrol/v1/envoy.proto
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/envoy.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.json.go
  pkg/authz/authz.go
  pkg/classification/classifier.go
  pkg/flowcontrol/flowcontrol.go
  pkg/flowcontrol/metrics.go
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/controlplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/engine.go
Due: updated-aperture

Fix metricsprocessor tests
  pkg/otelcollector/metricsprocessor/processor_test.go
Due: updated-aperture

Address review comments
  manifests/charts/agent/templates/envoy_filter.yaml
  pkg/authz/authz.go
  pkg/otelcollector/helpers.go
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

Add setmemory limit in watchdog
  pkg/watchdog/watchdog.go
Due: updated-aperture

Support catchall service in classifier without extra fields
  pkg/classification/classifier.go
Due: updated-aperture

Crash diagnostics to Sentry Crash Writer
  plugins/service/sentry-plugin/sentry/crashwriter.go
  plugins/service/sentry-plugin/sentry/sentry.go
  plugins/service/sentry-plugin/sentry/sentrywriter.go
Due: updated-aperture

Remove redundant multimatcher in engine
  docs/diagrams/architecture/architecture-simple.mmd.png
  docs/diagrams/architecture/architecture.mmd.png
  docs/diagrams/ratelimit/ratelimit.mmd.png
  docs/diagrams/traffic-flow/traffic.mmd.png
  pkg/classification/classifier.go
  pkg/flowcontrol/flowcontrol.go
  pkg/flowcontrol/provide.go
  pkg/flowcontrol/scheduler/token-bucket-load-shed.go
  pkg/otelcollector/helpers.go
  pkg/policies/dataplane/actuator/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/mocks/mock_engine.go
Due: updated-aperture, updated-aperture-docs

Fix flowcontrol tests
  pkg/flowcontrol/flowcontrol_test.go
Due: updated-aperture

Clean up
  plugins/service/sentry-plugin/sentry/crashwriter.go
  plugins/service/sentry-plugin/sentry/sentry.go
  plugins/service/sentry-plugin/sentry/sentrywriter.go
Due: updated-aperture

Refactor watchdog init methods
  docs/diagrams/architecture/architecture-simple.mmd.png
  docs/diagrams/architecture/architecture.mmd.png
  docs/diagrams/ratelimit/ratelimit.mmd.png
  docs/diagrams/traffic-flow/traffic.mmd.png
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/config-swagger.yaml
  docs/gen/config/aperture-controller/swagger.md
  pkg/watchdog/Makefile
  pkg/watchdog/policy.go
  pkg/watchdog/watchdog.go
  pkg/watchdog/watchdog_test.go
Due: updated-aperture, updated-aperture-docs

Watchdog checks are always healthy
  pkg/watchdog/watchdog.go
Due: updated-aperture

Change path for job group liveness
  pkg/jobs/job.go
  pkg/jobs/provide.go
  pkg/platform/readiness.go
Due: updated-aperture

Fix crash in jobs test
  pkg/jobs/jobs_test.go
Due: updated-aperture

Update crash writer test
  plugins/service/sentry-plugin/sentry/crashwriter.go
  plugins/service/sentry-plugin/sentry/crashwriter_test.go
Due: updated-aperture

minor clean up
  plugins/service/sentry-plugin/sentry/crashwriter.go
Due: updated-aperture

Remove crash file writer
  docs/diagrams/architecture/architecture-simple.mmd.png
  docs/diagrams/architecture/architecture.mmd.png
  docs/diagrams/ratelimit/ratelimit.mmd.png
  docs/diagrams/traffic-flow/traffic.mmd.png
  plugins/service/sentry-plugin/sentry/crashwriter.go
Due: updated-aperture, updated-aperture-docs

Fix workload_latency_ms query in controlplane scheduler
  pkg/policies/controlplane/component/actuator/concurrency/scheduler.go
Due: updated-aperture

Eliminate pkg/services
  pkg/authz/authz.go
  pkg/authz/authz_test.go
  pkg/classification/classifier.go
  pkg/classification/classifier_test.go
  pkg/entitycache/entity_cache.go
  pkg/flowcontrol/flowcontrol.go
  pkg/flowcontrol/flowcontrol_test.go
  pkg/flowcontrol/provide.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/mocks/mock_engine.go
  pkg/selectors/selector.go
  pkg/services/service.go
Due: updated-aperture
