Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

fix broken link
  docs/content/applying-policies/quota-scheduler/external-rate-limiting.md
Due: updated-aperture-docs

[ImgBot] Optimize images
  docs/content/applying-policies/alerting/assets/detecting-overload/detecting-overload.mmd.svg
  docs/content/applying-policies/feature-rollout/assets/with-average-latency-feedback/dashboard.png
  docs/content/applying-policies/quota-scheduler/assets/with-external-api-calls-prioritization/dashboard.png
  docs/content/applying-policies/quota-scheduler/assets/with-external-api-calls-prioritization/graph.mmd.svg
  docs/content/applying-policies/rate-limiting/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.mmd.svg
  docs/content/applying-policies/rate-limiting/assets/static-rate-limiting/static-rate-limiting.mmd.svg
  docs/content/applying-policies/service-protection/assets/basic-service-protection/graph.mmd.svg
  docs/content/assets/diagrams/playground/playground-app.mmd.svg
Due: updated-aperture-docs

added rate-limit enpoint, added graceful-js
  playground/resources/demo-app/app/app.go
  playground/resources/demo-app/public/index.html
  playground/resources/demo-app/public/main.js
  playground/resources/demo-app/public/main.js.LICENSE.txt
  playground/resources/demo-app/ui/package-lock.json
  playground/resources/demo-app/ui/package.json
  playground/resources/demo-app/ui/src/api.ts
  playground/resources/demo-app/ui/src/app.tsx
  playground/resources/demo-app/ui/src/components/monitor-request.tsx
  playground/resources/demo-app/ui/src/pages/home.tsx
Due: none

added rate-limit enpoint, added graceful-js
  playground/resources/demo-app/ui/src/pages/home.tsx
Due: none

Update olric
  api/buf.lock
  go.mod
  go.sum
  pkg/dist-cache/dist-cache.go
  pkg/dist-cache/provider.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Due: updated-aperture

Fix test
  pkg/dist-cache/dist-cache-test-helpers.go
Due: updated-aperture

Remove Jsonnet and fix broken links
  docs/content/applying-policies/rate-limiting/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.jsonnet
  docs/content/applying-policies/rate-limiting/graphql-rate-limiting.md
  docs/content/reference/policies/mixin.md
Due: updated-aperture-docs

Remove static rate limit jsonnet
  docs/content/applying-policies/rate-limiting/assets/static-rate-limiting/static-rate-limiting.jsonnet
  docs/content/applying-policies/rate-limiting/static-rate-limiting.md
Due: updated-aperture-docs

Improve README
  README.md
Due: none

Hyphen
  README.md
Due: none

update sidebar top level heading
  docs/content/applying-policies/quota-scheduler/quota-scheduler.md
Due: updated-aperture-docs

update introduction with new description
  docs/content/introduction.md
Due: updated-aperture-docs

fix vale issue
  docs/content/introduction.md
Due: updated-aperture-docs

add emoji
  docs/content/introduction.md
Due: updated-aperture-docs

update sampe app links and add middleware section
  docs/content/integrations/flow-control/sdk/go/manual.md
  docs/content/integrations/flow-control/sdk/java/armeria.md
  docs/content/integrations/flow-control/sdk/java/manual.md
  docs/content/integrations/flow-control/sdk/java/netty.md
  docs/content/integrations/flow-control/sdk/java/springboot.md
  docs/content/integrations/flow-control/sdk/java/tomcat.md
  docs/content/integrations/flow-control/sdk/sdk.md
Due: updated-aperture-docs

Update olric version
  go.mod
  go.sum
Due: updated-aperture

fixed some issues with graceful
  playground/resources/demo-app/public/index.html
  playground/resources/demo-app/public/main.js
  playground/resources/demo-app/ui/.prettierignore
  playground/resources/demo-app/ui/package-lock.json
  playground/resources/demo-app/ui/package.json
  playground/resources/demo-app/ui/public/index.html
  playground/resources/demo-app/ui/src/api.ts
  playground/resources/demo-app/ui/src/index.tsx
  playground/resources/demo-app/ui/src/pages/home.tsx
Due: none

add links
  docs/content/get-started/get-started.md
  docs/content/integrations/flow-control/flow-control.md
Due: updated-aperture-docs

update with code links
  docs/content/integrations/flow-control/sdk/java/armeria.md
  docs/content/integrations/flow-control/sdk/java/auto-instrumentation.md
  docs/content/integrations/flow-control/sdk/java/manual.md
  docs/content/integrations/flow-control/sdk/java/netty.md
  docs/content/integrations/flow-control/sdk/java/springboot.md
  docs/content/integrations/flow-control/sdk/java/tomcat.md
Due: updated-aperture-docs

Fix CI
  blueprints/policies/auto-scaling/pod-auto-scaler/bundle.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/policy.libsonnet
  blueprints/policies/feature-rollout/base/bundle.libsonnet
  blueprints/policies/feature-rollout/base/policy.libsonnet
  blueprints/policies/quota-scheduler/bundle.libsonnet
  blueprints/policies/quota-scheduler/policy.libsonnet
  blueprints/policies/rate-limiting/bundle.libsonnet
  blueprints/policies/rate-limiting/policy.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/bundle.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/policy.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/bundle.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/policy.libsonnet
  blueprints/policies/service-protection/average-latency/bundle.libsonnet
  blueprints/policies/service-protection/base/policy.libsonnet
  blueprints/policies/service-protection/promql/bundle.libsonnet
  cmd/aperturectl/cmd/blueprints/generate.go
  docs/agent.md
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/policy.yaml
  docs/content/applying-policies/feature-rollout/assets/with-average-latency-feedback/policy.yaml
  docs/content/applying-policies/quota-scheduler/assets/with-external-api-calls-prioritization/policy.yaml
  docs/content/applying-policies/rate-limiting/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.yaml
  docs/content/applying-policies/rate-limiting/assets/static-rate-limiting/static-rate-limiting.yaml
  docs/content/applying-policies/service-protection/assets/basic-service-protection/policy.yaml
  docs/content/applying-policies/service-protection/assets/workload-prioritization/policy.yaml
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  docs/gen/config/extensions/sentry/extension-swagger.yaml
  docs/markdown.md
  docs/merged-extension-swagger.yaml
  docs/tools/aperturectl/validate_common.sh
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/policies/controlplane/validator.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Allow passing context to limiter methods
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/actuators/regulator/regulator.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/iface/limiter.go
  pkg/policies/mocks/mock_limiter.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
  pkg/rate-limiter/iface.go
  pkg/rate-limiter/lazy-sync/lazy-sync.go
  pkg/rate-limiter/test/rate-limiter_test.go
  pkg/scheduler/global-token-bucket.go
  pkg/scheduler/load-multiplier-token-bucket.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/token-bucket.go
  pkg/scheduler/wfq.go
Due: updated-aperture

Refactor docs introduction page
  docs/content/introduction.md
Due: updated-aperture-docs

checkpoint
  docs/content/applying-policies/applying-policies.md
  docs/content/introduction.md
Due: updated-aperture-docs

Remove wrongly generated files
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/actuators/load-scheduler/load-scheduler.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Due: updated-aperture

rename to use cases and description
  docs/content/applying-policies/applying-policies.md
  docs/content/introduction.md
Due: updated-aperture-docs

update use case
  docs/content/applying-policies/quota-scheduler/external-rate-limiting.md
Due: updated-aperture-docs

Publish . ./aperture-agent-v2.3.0-rc.1.tgz
  aperture-agent-v2.3.0-rc.1.tgz
  index.yaml
Due: none
