Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app

Fix links in selectors
  pkg/selectors/labels.go
Due: updated-aperture

Update links
  .prettierrc
  docs/Makefile
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
Due: updated-aperture-docs

Fix links
  docs/content/concepts/flow-control/selector/service.md
Due: updated-aperture-docs

Fix links in flow-control.md
  docs/content/concepts/flow-control/flow-control.md
Due: updated-aperture-docs

Filled all Concepts
  api/aperture/policy/language/v1/policy.proto
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/policy/circuit.md
  docs/content/concepts/policy/circuit/actuators.md
  docs/content/concepts/policy/circuit/circuit.md
  docs/content/concepts/policy/circuit/controllers.md
  docs/content/concepts/policy/circuit/signal-processors.md
  docs/content/concepts/policy/circuit/sources.md
  docs/content/concepts/policy/policy.md
  docs/content/concepts/policy/resources.md
  docs/content/get-started/installation/agent/envoy/istio.md
  docs/content/get-started/playground.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
Due: updated-aperture, updated-aperture-docs, updated-aperture-charts

Library -> SDK
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/selector/flow-label.md
  docs/content/reference/configuration/policies.md
  docs/gen/policies/gen.yaml
Due: updated-aperture, updated-aperture-docs

Apply prettier fixes to markdown files
  docs/content/concepts/flow-control/flow-control.md
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
Due: updated-aperture-docs

Fix policy compiler
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/circuit.go
Due: updated-aperture

Fixed typo in the YAML of agent and controller
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
Due: updated-aperture-docs

Fixed controller installation issues and updated docs
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
  operator/controllers/agent_reconciler.go
  operator/controllers/controller_reconciler.go
Due: updated-aperture-operator, updated-aperture-docs

Fixed pre-commit error
  operator/controllers/agent_reconciler.go
Due: updated-aperture-operator

Fix broken links in docusaurus
  docs/content/concepts/policy/circuit.md
Due: updated-aperture-docs

Policy, Circuit concepts
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/policy/circuit/circuit.md
  docs/content/concepts/policy/policy.md
  docs/content/get-started/blueprints.md
  docs/content/get-started/installation/agent/envoy/_category_.yml
  docs/content/get-started/installation/agent/envoy/istio.md
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/reference/configuration/policies.md
  docs/gen/policies/gen.yaml
Due: updated-aperture, updated-aperture-docs

Update docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-control.md
Due: updated-aperture-docs

add icon for charts.yaml file
  docs/content/assets/img/FluxNinja--main--logo--ICON.svg
Due: updated-aperture-docs

Fix typos and add backlinks to Policy concept docs
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/selector/selector.md
  docs/content/concepts/policy/circuit.md
  docs/content/concepts/policy/resources.md
  docs/content/get-started/blueprints.md
  docs/content/reference/configuration/policies.md
  docs/gen/policies/gen.yaml
Due: updated-aperture, updated-aperture-docs

add icon field in charts.yaml file
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-charts

main logo for charts.yaml
  FluxNinja--main--logo--ICON.svg
Due: none

remove the icon image from main branch
  docs/content/assets/img/FluxNinja--main--logo--ICON.svg
Due: updated-aperture-docs

Fix float parse warning
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

first helm version release chart changes
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-charts

Update prometheus metrics labels
  pkg/metrics/schema.go
  pkg/net/http/server.go
Due: updated-aperture

Fix prometheus metrics label
  pkg/metrics/schema.go
Due: updated-aperture

removed all the previous changes for first chart release
  aperture-agent-v0.0.1.tgz
  aperture-agent-v0.2.0-rc.1.tgz
  aperture-controller-v0.0.1.tgz
  aperture-controller-v0.2.0-rc.1.tgz
  index.yaml
  istioconfig-v0.0.1.tgz
Due: none

Publish . ./aperture-controller-v0.2.0.tgz
  aperture-controller-v0.2.0.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v0.2.0.tgz
  aperture-agent-v0.2.0.tgz
  index.yaml
Due: none

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools|api)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools|api)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: tools/demo_app/.*
