Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

Add tests for otelcollector/config.Provider
  pkg/otelcollector/config/otelconfig_suite_test.go
  pkg/otelcollector/config/provider.go
  pkg/otelcollector/config/provider_test.go
Due: updated-aperture

Fix tests
  extensions/fluxninja/otel/otel_test.go
Due: none

misc tweaks
  pkg/otelcollector/config/config.go
  pkg/otelcollector/config/provider.go
Due: updated-aperture

Fix more tests
  test/aperture_suite_test.go
Due: updated-aperture

add illustrations for individual integration
  docs/content/integrations/auto-scale/assets/auto-scale-dark.svg
  docs/content/integrations/auto-scale/assets/auto-scale-light.svg
  docs/content/integrations/auto-scale/auto-scale.md
  docs/content/integrations/flow-control/envoy/assets/istio-dark.svg
  docs/content/integrations/flow-control/envoy/assets/istio-light.svg
  docs/content/integrations/flow-control/envoy/envoy.md
  docs/content/integrations/flow-control/gateway/assets/kong-dark.svg
  docs/content/integrations/flow-control/gateway/assets/kong-light.svg
  docs/content/integrations/flow-control/gateway/assets/nginx-dark.svg
  docs/content/integrations/flow-control/gateway/assets/nginx-light.svg
  docs/content/integrations/flow-control/gateway/kong.md
  docs/content/integrations/flow-control/gateway/nginx.md
  docs/content/integrations/flow-control/sdk/assets/sdk-dark.svg
  docs/content/integrations/flow-control/sdk/assets/sdk-light.svg
  docs/content/integrations/flow-control/sdk/sdk.md
Due: updated-aperture-docs

Checkpoint in progress code (not compiling)
  blueprints/policies/feature-rollout/average-latency/config.libsonnet
  blueprints/policies/feature-rollout/base/config.libsonnet
  blueprints/policies/feature-rollout/ema-latency/config.libsonnet
  blueprints/policies/feature-rollout/percentile-latency/config.libsonnet
  blueprints/policies/feature-rollout/promql/config.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/README.md
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/average-latency.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/bundle.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/config.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/dashboard.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/dynamic-config.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/metadata.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/policy.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/config.libsonnet
  blueprints/policies/service-protection/average-latency/config.libsonnet
  blueprints/policies/service-protection/base/config-defaults.libsonnet
  blueprints/policies/service-protection/base/dashboard.libsonnet
  blueprints/policies/service-protection/base/policy.libsonnet
  blueprints/policies/service-protection/promql/config.libsonnet
Due: none

Update olric
  go.mod
  go.sum
Due: updated-aperture

Revert "Send policy metadata in heartbeats (#2047)"
  pkg/policies/controlplane/crwatcher/watcher.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/provider.go
  pkg/policies/controlplane/validator.go
Due: updated-aperture

Fix defaults
  blueprints/policies/service-protection/base/policy.libsonnet
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/graph.mmd
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/graph.mmd.md5sum
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/graph.mmd.svg
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/policy.yaml
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/values.yaml
  playground/scenarios/auto-scaling/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/auto-scaling/policies/load-based-auto-scale.yaml
Due: updated-aperture-docs

Checkpoint work in progress. Not compiling
  blueprints/policies/auto-scaling/base/README.md
  blueprints/policies/auto-scaling/base/auto-scaling.libsonnet
  blueprints/policies/auto-scaling/base/bundle.libsonnet
  blueprints/policies/auto-scaling/base/config.libsonnet
  blueprints/policies/auto-scaling/base/metadata.yaml
  blueprints/policies/auto-scaling/pod-auto-scaler/README.md
  blueprints/policies/auto-scaling/pod-auto-scaler/bundle.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/dashboard.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/policy.libsonnet
  docs/content/reference/policies/bundled-blueprints/policies/auto-scaling/base.md
Due: updated-aperture-docs

wfq: refactor locking
  pkg/policies/flowcontrol/actuators/load-scheduler/load-scheduler.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/actuators/regulator/regulator.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/iface/limiter.go
  pkg/policies/mocks/mock_limiter.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
  pkg/rate-limiter/iface.go
  pkg/rate-limiter/lazy-sync/lazy-sync.go
  pkg/rate-limiter/test/rate-limiter_test.go
  pkg/scheduler/global-token-bucket.go
  pkg/scheduler/load-multiplier-token-bucket.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/token-bucket.go
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
  pkg/scheduler/windowed-counter.go
Due: updated-aperture

global token bucket: decide based on deadline
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Due: updated-aperture

Use custom PolicyMessage for passing policies to be wrapped
  pkg/policies/controlplane/crwatcher/watcher.go
  pkg/policies/controlplane/iface/policy.go
  pkg/policies/controlplane/provider.go
Due: updated-aperture

Fixed typo in aperturectl log
  cmd/aperturectl/cmd/utils/controller.go
Due: updated-aperture

Publish . ./aperture-agent-v2.3.1-rc.1.tgz
  aperture-agent-v2.3.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.3.1-rc.1.tgz
  aperture-controller-v2.3.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.3.1-rc.1.tgz
  index.yaml
  istioconfig-v2.3.1-rc.1.tgz
Due: none

Publish . ./aperture-agent-v2.3.1.tgz
  aperture-agent-v2.3.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.3.1.tgz
  aperture-controller-v2.3.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.3.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.3.1.tgz
Due: none

Remove empty partitions in dist cache stats response
  pkg/dist-cache/dist-cache.go
Due: updated-aperture

Fix `GetStats` handler
  pkg/dist-cache/dist-cache.go
Due: updated-aperture

Update olric
  go.mod
  go.sum
  pkg/policies/flowcontrol/actuators/load-scheduler/load-scheduler.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/engine.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
Due: updated-aperture

Sample error logs
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Due: updated-aperture

Create contexts for the purpose of returning tokens
  pkg/scheduler/wfq.go
Due: updated-aperture

Reduce deadline for return contexts
  pkg/scheduler/wfq.go
Due: updated-aperture

Remove return contexts
  pkg/scheduler/wfq.go
Due: updated-aperture

Add workload names to quota-scheduler policy
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler.yaml
Due: none

Handle context cancellation correctly in scheduleRequest
  pkg/scheduler/wfq.go
Due: updated-aperture

Publish . ./aperture-agent-v2.3.2-rc.1.tgz
  aperture-agent-v2.3.2-rc.1.tgz
  index.yaml
Due: none
