Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools|api)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools|api)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Rename sentry plugin directory
  docs/diagrams/architecture/architecture-simple.mmd.png
  docs/diagrams/architecture/architecture.mmd.png
  docs/diagrams/ratelimit/ratelimit.mmd.png
  docs/diagrams/traffic-flow/traffic.mmd.png
  docs/gen/config/aperture-plugin-sentry/plugin-swagger.yaml
  plugins/service/aperture-plugin-sentry/config-operations.go
  plugins/service/aperture-plugin-sentry/main.go
  plugins/service/aperture-plugin-sentry/sentry/sentry.go
  plugins/service/aperture-plugin-sentry/sentry/sentrywriter.go
Due: updated-aperture, updated-aperture-docs

Update dockerfile
  cmd/aperture-controller/Dockerfile
Due: updated-aperture

Update dockerfile - skip caching
  .circleci/continue-workflows.yml
Due: none

Remove AgentGroup from ServiceID
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  pkg/authz/authz.go
  pkg/classification/classifier.go
  pkg/entitycache/entity_cache.go
  pkg/flowcontrol/flowcontrol.go
  pkg/flowcontrol/provide.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/mocks/mock_engine.go
  pkg/selectors/selector.go
  pkg/services/service.go
Due: updated-aperture

Rename agent_group_name to agent_group
  api/aperture/common/config/v1/config_properties_wrapper.proto
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.go
  pkg/paths/paths.go
  pkg/policies/controlplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/actuator/concurrency/auto-tokens.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/component/component.go
  pkg/policies/dataplane/engine.go
  pkg/policies/mocks/mock_flux_meter.go
  pkg/utils/config-properties.go
Due: updated-aperture

use cache
  .circleci/continue-workflows.yml
Due: none

Workloads initial
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/aperture/policy/decisions/v1/policydecisions.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/decisions/v1/policydecisions.pb.go
  api/gen/proto/go/aperture/policy/decisions/v1/policydecisions.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  docs/diagrams/architecture/architecture-simple.mmd.png
  docs/diagrams/architecture/architecture.mmd.png
  docs/diagrams/ratelimit/ratelimit.mmd.png
  docs/diagrams/traffic-flow/traffic.mmd.png
  docs/gen/policies/swagger.md
  pkg/flowcontrol/scheduler/scheduler.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/controlplane/component/actuator/concurrency/scheduler.go
  pkg/policies/dataplane/actuator/concurrency/auto-tokens.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuator/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/provide.go
Due: updated-aperture, updated-aperture-docs

Fix workload auto tokens query
  pkg/policies/controlplane/component/actuator/concurrency/scheduler.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
Due: updated-aperture

Fix unit test
  pkg/otelcollector/metricsprocessor/processor_test.go
Due: updated-aperture

Fix unit test
  latency-gradient-policy.yaml
Due: none

comments
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/engine.go
Due: updated-aperture

Fix cert location at Controller
  manifests/charts/agent/files/aperture-controller-config.yaml
Due: none

Revert "Rule based workloads (#95)"
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/aperture/policy/decisions/v1/policydecisions.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/decisions/v1/policydecisions.pb.go
  api/gen/proto/go/aperture/policy/decisions/v1/policydecisions.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  docs/diagrams/architecture/architecture-simple.mmd.png
  docs/diagrams/architecture/architecture.mmd.png
  docs/diagrams/ratelimit/ratelimit.mmd.png
  docs/diagrams/traffic-flow/traffic.mmd.png
  docs/gen/policies/swagger.md
  latency-gradient-policy.yaml
  pkg/flowcontrol/scheduler/scheduler.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/controlplane/component/actuator/concurrency/scheduler.go
  pkg/policies/dataplane/actuator/concurrency/auto-tokens.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuator/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/provide.go
Due: updated-aperture, updated-aperture-docs

Add issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

workload fixes
  api/aperture/common/status/v1/status.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/status/v1/status.pb.go
  latency-gradient-policy.yaml
  pkg/policies/controlplane/component/actuator/concurrency/scheduler.go
  pkg/policies/controlplane/component/promql.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/status/status.go
Due: updated-aperture

Rename workload headers in example policy
  latency-gradient-policy.yaml
Due: none

Rename workload headers in example policy
  example-classification-cm-demoapp.yaml
  rate-limit-policy.yaml
Due: none

Refactor scheduler and rate tracker
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuator/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuator/concurrency/scheduler/scheduler.go
  pkg/policies/dataplane/actuator/concurrency/scheduler/token-bucket-load-shed.go
  pkg/policies/dataplane/actuator/concurrency/scheduler/token-bucket.go
  pkg/policies/dataplane/actuator/concurrency/scheduler/wfq.go
  pkg/policies/dataplane/actuator/concurrency/scheduler/wfq_test.go
  pkg/policies/dataplane/actuator/concurrency/scheduler/windowed-counter.go
  pkg/policies/dataplane/actuator/rate/rate-limiter.go
  pkg/policies/dataplane/actuator/rate/ratetracker/basic-limit-checker.go
  pkg/policies/dataplane/actuator/rate/ratetracker/lazy-sync-rate-limiter.go
  pkg/policies/dataplane/actuator/rate/ratetracker/olric-rate-limiter.go
  pkg/policies/dataplane/actuator/rate/ratetracker/rate-tracker.go
  pkg/policies/dataplane/actuator/rate/ratetracker/rate-tracker_test.go
Due: updated-aperture

Refactor scheduler and rate tracker
  pkg/policies/dataplane/actuator/rate/rate-limiter.go
  pkg/policies/dataplane/actuator/rate/ratetracker/lazy-sync-rate-tracker.go
  pkg/policies/dataplane/actuator/rate/ratetracker/olric-rate-tracker.go
  pkg/policies/dataplane/actuator/rate/ratetracker/rate-tracker_test.go
Due: updated-aperture

flux meter refactor
  latency-gradient-policy.yaml
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/controlplane/component/actuator/concurrency/scheduler.go
  pkg/policies/controlplane/component/promql.go
  pkg/policies/controlplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuator/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/dataplane/iface/limiter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_flux_meter.go
  pkg/policies/mocks/mock_limiter.go
Due: updated-aperture

Fix crash when getting JobInfo
  pkg/jobs/job.go
Due: updated-aperture

use execlock in job.go
  pkg/jobs/job-group.go
  pkg/jobs/job.go
Due: updated-aperture

use execlock in job.go
  pkg/jobs/job.go
Due: updated-aperture

Fix tests
  docs/gen/policies/swagger.md
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
Due: updated-aperture, updated-aperture-docs
