Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

Add release jobs for updates on production-saas cluster
  .circleci/config.yml
Due: none

Enable Olric read repair
  go.mod
  go.sum
  pkg/dist-cache/provider.go
Due: updated-aperture

Store TTL and timestamp in object storage metadata
  pkg/objectstore/persistedentry.go
  pkg/objectstore/provide.go
Due: updated-aperture

Use pointers for ObjectStoreBackedDMap
  pkg/objectstore/persistentdmap.go
Due: updated-aperture

Peristent dmap metrics
  pkg/dist-cache/dist-cache-metrics.go
  pkg/dist-cache/dist-cache.go
  pkg/metrics/schema.go
  pkg/objectstore/persistentdmap.go
  pkg/objectstore/provide.go
  pkg/policies/flowcontrol/cache.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Due: updated-aperture

Linter fixes
  .github/styles/Vocab/FluxNinja/accept.txt
  pkg/dist-cache/provider.go
  pkg/objectstore/persistedentry.go
  pkg/objectstore/persistentdmap.go
  pkg/objectstore/provide.go
Due: updated-aperture, updated-aperture-docs

Add counter panels to rate limiter dashboard
  dashboards/grafana/dashboards/summary/rate-limiter/rows.libsonnet
Due: none

Use official olric
  go.mod
  go.sum
Due: updated-aperture

Clean up objectstore config
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/objectstore/config/config.go
  pkg/objectstore/config/zz_generated.deepcopy.go
  pkg/objectstore/provide.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Publish . ./istioconfig-v2.28.0-rc.1.tgz
  index.yaml
  istioconfig-v2.28.0-rc.1.tgz
Due: none

Publish . ./aperture-controller-v2.28.0-rc.1.tgz
  aperture-controller-v2.28.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v2.28.0-rc.1.tgz ./index.yaml
  aperture-agent-v2.28.0-rc.1.tgz
  index.yaml
Due: none

Clean up naming
  cmd/aperture-agent/agent.go
  docs/gen/config/agent/config-swagger.yaml
  operator/api/agent/v1alpha1/agent_types.go
  pkg/dist-cache/dist-cache.go
  pkg/dist-cache/provider.go
  pkg/objectstorage/config/config.go
  pkg/objectstorage/config/zz_generated.deepcopy.go
  pkg/objectstorage/persistent-dmap.go
  pkg/objectstorage/persistent-entry.go
  pkg/objectstorage/provide.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Wait for all in-flight object storage operations when shutting down
  pkg/objectstorage/provide.go
Due: updated-aperture

When deleting and putting objects, make sure that the data in object storage is not more recent
  pkg/objectstorage/provide.go
Due: updated-aperture

When no timestamp is found, use Get() time as timestamp
  pkg/objectstorage/provide.go
Due: updated-aperture

Better handling of metadata reads
  pkg/objectstorage/provide.go
Due: updated-aperture

Publish . ./istioconfig-v2.28.0.tgz
  index.yaml
  istioconfig-v2.28.0.tgz
Due: none

Publish . ./aperture-agent-v2.28.0.tgz
  aperture-agent-v2.28.0.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.28.0.tgz ./index.yaml
  aperture-controller-v2.28.0.tgz
  index.yaml
Due: none

Handle TTL expiration in the object storage layer
  pkg/objectstorage/provide.go
Due: updated-aperture

Make key prefix and bucket soft-required
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/objectstorage/config/config.go
  pkg/objectstorage/provide.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Make object storage optional
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/dist-cache/dist-cache.go
  pkg/dist-cache/provider.go
  pkg/objectstorage/config/config.go
  pkg/objectstorage/provide.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Fix operator tests
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
Due: updated-aperture-operator

Runtime fixes
  pkg/objectstorage/provide.go
Due: updated-aperture

More fixes and debug
  pkg/objectstorage/persistent-dmap.go
  pkg/objectstorage/provide.go
Due: updated-aperture

Better handling of missing objects and metadata
  pkg/objectstorage/provide.go
Due: updated-aperture

pre-allocate byte array for the object read from storage
  pkg/objectstorage/provide.go
Due: updated-aperture

Update SDK Diagram and add gRPC deadline explanation
  docs/content/guides/api-quota-management.md
  docs/content/guides/openai.md
  docs/content/introduction.md
  docs/content/sdk/assets/sdks-dark.svg
  docs/content/sdk/assets/sdks-light.svg
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/javascript/manual.md
  docs/content/sdk/python/manual.md
Due: updated-aperture-docs

Flow end through logs in case expect end is false
  api/aperture/flowcontrol/checkhttp/v1/checkhttp.proto
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp.pb.go
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp.pb.validate.go
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp_vtproto.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/iface/engine.go
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckhttpProto.java
Due: updated-aperture, updated-aperture-docs, updated-aperture-java

Fix typo in cache.md
  docs/content/concepts/cache.md
Due: updated-aperture-docs

Update buf.lock with new commit and digest values
  api/buf.lock
Due: updated-aperture
