Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

checkpoint with concurrency limiter dashboard
  dashboards/grafana/dashboards/summary/concurrency-limiter/rows.libsonnet
  dashboards/grafana/dashboards/summary/panel-library.libsonnet
  playground/scenarios/concurreny-limiter/load-generator/test.js
Due: none

Fixes for expect_end and inflightRequestRef
  sdks/aperture-csharp/Core/FeatureFlow.cs
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlowRequestBuilder.java
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
Due: updated-aperture-go, updated-aperture-java, updated-aperture-py

Add nil check in java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
Due: updated-aperture-java

Java fixes
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
Due: updated-aperture-java

Fix logging and remove unnecessary log statements
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Due: updated-aperture

Remove concurrency-limiting blueprint and update flow.go
  docs/content/reference/blueprints/concurrency-limiting.md
  sdks/aperture-go/sdk/flow.go
Due: updated-aperture-docs, updated-aperture-go

checkpoint with concurrency scheduler dashboard and sdk examples
  blueprints/concurrency-scheduling/base/README.md
  blueprints/concurrency-scheduling/base/bundle.libsonnet
  blueprints/concurrency-scheduling/base/concurrency-scheduling.libsonnet
  blueprints/concurrency-scheduling/base/config.libsonnet
  blueprints/concurrency-scheduling/base/gen/definitions.json
  blueprints/concurrency-scheduling/base/gen/dynamic-config-definitions.json
  blueprints/concurrency-scheduling/base/gen/dynamic-config-values.yaml
  blueprints/concurrency-scheduling/base/gen/values.yaml
  blueprints/concurrency-scheduling/base/metadata.yaml
  blueprints/concurrency-scheduling/base/policy.libsonnet
  dashboards/grafana/dashboards/summary/concurrency-scheduler/rows.libsonnet
  dashboards/grafana/dashboards/summary/panel-library.libsonnet
  playground/scenarios/concurrency-scheduler/load-generator/test.js
  playground/scenarios/concurrency-scheduler/metadata.json
  playground/scenarios/concurrency-scheduler/policies/concurrency-scheduler-cr.yaml
  playground/scenarios/concurrency-scheduler/policies/concurrency-scheduler.yaml
  playground/scenarios/concurreny-limiter/policies/concurrency-limiting.yaml
  sdks/aperture-js/example/concurrency_limit.ts
  sdks/aperture-js/example/concurrency_scheduler.ts
Due: updated-aperture-js, updated-blueprints

Add base and concurrency scheduling blueprints
  blueprints/concurrency-scheduling/base/gen/definitions.json
  blueprints/concurrency-scheduling/base/gen/dynamic-config-definitions.json
  blueprints/concurrency-scheduling/base/gen/values.yaml
  docs/content/reference/blueprints/concurrency-scheduling/base.md
  docs/content/reference/blueprints/concurrency-scheduling/concurrency-scheduling.md
Due: updated-aperture-docs, updated-blueprints

debugging
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
  pkg/otelcollector/metricsprocessor/processor.go
  sdks/aperture-js/example/concurrency_limit.ts
  sdks/aperture-js/example/concurrency_scheduler.ts
Due: updated-aperture, updated-aperture-js

Add check response in CheckHTTP response
  api/aperture/flowcontrol/checkhttp/v1/checkhttp.proto
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp.pb.go
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp.pb.validate.go
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp_vtproto.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckhttpProto.java
Due: updated-aperture, updated-aperture-docs, updated-aperture-java

Add Flow End call with CheckHTTP in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
Due: updated-aperture-go

Add Flow End call with CheckHTTP in Java SDK
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-traffic-flow-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/HttpUtils.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/RpcUtils.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ServletUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ServletUtils.java
Due: updated-aperture-java

Add support for Flow End with CheckHTTP calls (#3072)
  api/aperture/flowcontrol/checkhttp/v1/checkhttp.proto
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp.pb.go
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp.pb.validate.go
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp_vtproto.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-traffic-flow-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/HttpUtils.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/RpcUtils.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckhttpProto.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ServletUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ServletUtils.java
Due: updated-aperture, updated-aperture-docs, updated-aperture-go, updated-aperture-java

Update agents in latest-saas cluster on merge to main
  .circleci/continue-workflows.yml
Due: none

Fix pre-commit buf version
  .circleci/continue-workflows.yml
  .tool-versions
Due: none

Upgrade go to 1.21.5
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/graphql-demo-app/Dockerfile
  sdks/aperture-go/Dockerfile
Due: updated-aperture, updated-demo-app, updated-aperture-go

SDK scenario in working order end to end
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
  pkg/dmap-funcs/deadline-margin/deadline-margin.go
  pkg/policies/flowcontrol/engine.go
  sdks/aperture-js/example/concurrency_scheduler.ts
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture, updated-aperture-js

Fix pre-commit
  api/buf.lock
Due: updated-aperture

remove debug log
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

Fix token rate update
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
  sdks/aperture-js/example/concurrency_scheduler.ts
Due: updated-aperture, updated-aperture-js

Fix exponential backoff
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
Due: updated-aperture

Publish . ./istioconfig-v2.29.0-rc.1.tgz
  index.yaml
  istioconfig-v2.29.0-rc.1.tgz
Due: none

Publish . ./aperture-controller-v2.29.0-rc.1.tgz
  aperture-controller-v2.29.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v2.29.0-rc.1.tgz ./index.yaml
  aperture-agent-v2.29.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.29.0.tgz
  index.yaml
  istioconfig-v2.29.0.tgz
Due: none

Publish . ./aperture-agent-v2.29.0.tgz ./index.yaml
  aperture-agent-v2.29.0.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.29.0.tgz ./index.yaml
  aperture-controller-v2.29.0.tgz
  index.yaml
Due: none

Fix crash with disabled object storage
  cmd/aperture-agent/agent.go
  pkg/objectstorage/provide.go
Due: updated-aperture
