Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs, updated-aperture-chart

Fix tests. Change workload_latency_ms from histogram to summary.
  pkg/otel/config.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/otelcollector/rollupprocessor/rollup_processor_test.go
Due: updated-aperture

fluxmeter file
  docs/content/concepts/flow-control/fluxmeter.md
  docs/content/concepts/flow-control/selector.md
Due: updated-aperture-docs

Publish . ./aperture-agent-v0.0.1.tgz ./aperture-controller-v0.0.1.tgz ./istioconfig-v0.0.1.tgz
  aperture-agent-v0.0.1.tgz
  aperture-controller-v0.0.1.tgz
  index.yaml
  istioconfig-v0.0.1.tgz
Due: none

Add classifiers to flowcontrolv1.CheckResponse
  api/aperture/common/config/v1/config_properties_wrapper.proto
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.go
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.json.go
  pkg/flowcontrol/envoy/authz.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/iface/classifier.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/provide.go
  pkg/policies/mocks/mock_engine.go
Due: updated-aperture

Add classifier index to classifier ID
  api/aperture/common/config/v1/config_properties_wrapper.proto
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.go
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper_deepcopy.gen.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol_deepcopy.gen.go
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/policylanguagev1classifier.libsonnet
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/iface/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/provide.go
Due: updated-aperture, updated-aperture-docs

add helm lint in pre-check
  .pre-commit-config.yaml
  Makefile
  manifests/charts/Makefile
  scripts/precommit/helmlint.sh
Due: none

ci workflow for helm chart release
  .circleci/continue-workflows.yml
  .circleci/scripts/helm_release.sh
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

add jobs in config.yaml file
  .circleci/config.yml
  .circleci/continue-workflows.yml
Due: none

split the config.yaml file to add more workflow
  .circleci/config.yml
  .circleci/release.yaml
Due: none

indentation
  .circleci/config.yml
Due: none

moved all jobs & executors to releases.yaml file
  .circleci/config.yml
  .circleci/release.yaml
  .circleci/releases.yaml
Due: none

remove setup
  .circleci/releases.yaml
Due: none

add pre-commit check for circleci files
  .pre-commit-config.yaml
Due: none

ci workflow for helm chart release
  .circleci/config.yml
  .circleci/releases.yaml
  .circleci/scripts/helm_release.sh
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: none

support https self scraping in otel collector
  pkg/otel/config.go
Due: updated-aperture

Fixed docs formatting
  .prettierrc
  docs/content/cloud/cloud.md
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/actuators/actuators.md
  docs/content/concepts/flow-control/actuators/rate-limiter.md
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/label/classifier.md
  docs/content/concepts/flow-control/label/label.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/policies/policies.md
  docs/content/concepts/policies/policy-blueprints.md
  docs/content/developers/cla.md
  docs/content/setup/installation/agent/agent.md
  docs/content/setup/installation/agent/kubernetes/sidecar.md
  docs/content/setup/installation/controller.md
  docs/content/setup/istio.md
  docs/content/setup/supported-platforms.md
Due: updated-aperture-docs

Fixed Dockerfile and pre-commit
  operator/Dockerfile
  operator/controllers/agent_pod.go
Due: none

more fixes
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/config/duration.go
  pkg/watchdog/policy.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture

Updated helm charts based on the CRD changes
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/config-swagger.yaml
  docs/gen/config/aperture-controller/swagger.md
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/NOTES.txt
  manifests/charts/aperture-agent/templates/_helpers.tpl
  manifests/charts/aperture-agent/templates/agent.yaml
  manifests/charts/aperture-agent/templates/deployment.yaml
  manifests/charts/aperture-agent/templates/pre-delete-hook.yaml
  manifests/charts/aperture-agent/templates/rbac.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/NOTES.txt
  manifests/charts/aperture-controller/templates/_helpers.tpl
  manifests/charts/aperture-controller/templates/controller.yaml
  manifests/charts/aperture-controller/templates/deployment.yaml
  manifests/charts/aperture-controller/templates/pre-delete-hook.yaml
  manifests/charts/aperture-controller/templates/rbac.yaml
  manifests/charts/aperture-controller/values.yaml
  operator/api/v1alpha1/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/configmaps.go
  operator/controllers/configmaps_test.go
  operator/controllers/controller_deployment_test.go
  operator/controllers/controller_reconciler.go
  operator/controllers/controller_reconciler_test.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
  operator/controllers/validating_webhook_configuration.go
  operator/controllers/validating_webhook_configuration_test.go
  pkg/distcache/provider.go
  pkg/net/listener/listener.go
  playground/tanka/apps/aperture-agent/mixins.libsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture, updated-aperture-docs

Fixed pre-commit and operator samples
  .pre-commit-config.yaml
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/config-swagger.yaml
  docs/gen/config/aperture-controller/swagger.md
  docs/gen/policies/policy.md
  operator/config/samples/fluxninja.com_v1alpha1_agent.yaml
  operator/config/samples/fluxninja.com_v1alpha1_controller.yaml
Due: updated-aperture-docs

remove logs
  operator/controllers/configmaps.go
  pkg/config/config.go
Due: updated-aperture

fix defaults annotations
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/net/http/server.go
  pkg/watchdog/policy.go
Due: updated-aperture

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools|api)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools|api)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
  updated-aperture-chart: any of: manifests/charts/agent/.*
