Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app

fix docs makefile macos
  docs/Makefile
Due: updated-aperture-docs

Add FluxMeter Histogram bucket options
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter_deepcopy.gen.go
  docs/content/reference/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/fluxmeterbuckets.libsonnet
  libsonnet/1.0/_gen/v1/fluxmeterexponentialbuckets.libsonnet
  libsonnet/1.0/_gen/v1/fluxmeterexponentialbucketsrange.libsonnet
  libsonnet/1.0/_gen/v1/fluxmeterlinearbuckets.libsonnet
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/policylanguagev1fluxmeter.libsonnet
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
Due: updated-aperture, updated-aperture-docs

Add `agent_group` to selector example
  docs/content/concepts/flow-control/selector.md
Due: updated-aperture-docs

Fix Flow
  docs/content/assets/img/starttraffic.png
  docs/content/assets/img/starttrafficbig.png
  docs/content/get-started/playground.md
  docs/content/node_modules/.yarn-integrity
  node_modules/.yarn-integrity
Due: updated-aperture-docs

Update playground.md
  docs/content/get-started/playground.md
Due: updated-aperture-docs

Remove typos
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
Due: updated-aperture

Mentioned paths for running tilt commands
  docs/content/get-started/playground.md
Due: updated-aperture-docs

Added details on how to provide custom config for Agent and Controller in docs
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
Due: updated-aperture-docs

Update OTEL to 0.60.0
  go.mod
  go.sum
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/loggingexporter/otlptext/databuffer.go
  pkg/otelcollector/loggingexporter/otlptext/logs.go
  pkg/otelcollector/loggingexporter/testdata/log.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/rollupprocessor/rollup_processor.go
Due: updated-aperture

Update OTEL to 0.60.0
  go.mod
  go.sum
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/loggingexporter/otlptext/databuffer.go
  pkg/otelcollector/loggingexporter/otlptext/logs.go
  pkg/otelcollector/loggingexporter/testdata/log.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/rollupprocessor/rollup_processor.go
  pkg/policies/controlplane/policy.go
Due: updated-aperture

Disable ext_authz request body buffering by default
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/get-started/installation/agent/envoy/istio.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
Due: updated-aperture-docs, updated-aperture-charts

Fix typos and capitalize aperture terms
  docs/content/concepts/flow-control/flow-classifier.md
Due: updated-aperture-docs

Update README.md
  README.md
Due: none

Etcd Client Auth and TLS Params
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/etcd/client/client.go
  pkg/etcd/client/zz_generated.deepcopy.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Add .fossa.yaml file
  .fossa.yaml
Due: none

Update .fossa.yaml
  .fossa.yaml
Due: none

Bump etcdv3 client & add default username
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  go.mod
  go.sum
  pkg/etcd/client/client.go
Due: updated-aperture, updated-aperture-docs

Split scraping metrics for FN plugin
  pkg/otel/config.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

remove CertPath key from server TLS config
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/configmaps_test.go
  operator/controllers/controller_reconciler.go
  pkg/net/tlsconfig/server.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Make forceRescans to true
  .fossa.yaml
Due: none

fix test
  operator/controllers/controller_config_test.tpl
Due: updated-aperture-operator

Update Playground docs
  docs/content/get-started/playground.md
Due: updated-aperture-docs

Add root user for the authentication
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  go.sum
  pkg/etcd/client/client.go
Due: updated-aperture, updated-aperture-docs

Update accepted/incoming concurrency port names
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/reference/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/scheduler.libsonnet
  libsonnet/1.0/_gen/v1/schedulerouts.libsonnet
Due: updated-aperture, updated-aperture-docs

Update accepted/incoming concurrency port names back to original
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/reference/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/scheduler.libsonnet
  libsonnet/1.0/_gen/v1/schedulerouts.libsonnet
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
Due: updated-aperture, updated-aperture-docs

Update Contributing section
  README.md
Due: none

rename some server tls config fields
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent_config_test.tpl
  operator/controllers/configmaps_test.go
  operator/controllers/controller_config_test.tpl
  operator/controllers/controller_reconciler.go
  pkg/net/tlsconfig/server.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Grand role to new user
  pkg/etcd/client/client.go
  test/aperture_suite_test.go
Due: updated-aperture

Remove .fossa.yaml
  .fossa.yaml
Due: none

update FOSSA badge
  README.md
Due: none

Fix nil pointer issue
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
Due: updated-aperture

Generate certs for etcd server & clean up
  pkg/etcd/client/client.go
  test/aperture_suite_test.go
  test/harness/etcd.go
Due: updated-aperture

Certs to temp directory & add defer()
  test/harness/etcd.go
Due: none

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools|api)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools|api)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: tools/demo_app/.*
