Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

Publish . ./aperture-controller-v2.6.0.tgz
  aperture-controller-v2.6.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.6.0.tgz
  index.yaml
  istioconfig-v2.6.0.tgz
Due: none

Replace ema in average-latency blueprint with long term latency of 30m every 30s
  blueprints/jsonnetfile.lock.json
  blueprints/policies/service-protection/average-latency/config.libsonnet
  blueprints/policies/service-protection/average-latency/gen/definitions.json
  blueprints/policies/service-protection/average-latency/gen/values.yaml
  blueprints/policies/service-protection/average-latency/policy.libsonnet
  docs/content/reference/blueprints/policies/service-protection/average-latency.md
  playground/scenarios/basic-service-protection/load-generator/test.js
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/load-generator/test.js
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/demo-app-with-no-policy/load-generator/test.js
  playground/scenarios/feature-rollout/load-generator/test.js
  playground/scenarios/graphql-rate-limiting/load-generator/test.js
  playground/scenarios/java-service-protection/load-generator/test.js
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/load-generator/test.js
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/quota-scheduler/load-generator/test.js
  playground/scenarios/rabbitmq-queue-buildup/load-generator/test.js
  playground/scenarios/rate-limiting/load-generator/test.js
  playground/scenarios/service-protection-auto-scale-escalation/load-generator/test.js
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/load-generator/test.js
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/load-generator/test.js
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/load-generator/test.js
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/workload-prioritization/load-generator/test.js
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
  playground/tanka/jsonnetfile.lock.json
Due: updated-aperture-docs, updated-blueprints

Update param descriptions
  blueprints/policies/service-protection/average-latency/config.libsonnet
  blueprints/policies/service-protection/average-latency/gen/definitions.json
  blueprints/policies/service-protection/average-latency/gen/values.yaml
  docs/content/reference/blueprints/policies/service-protection/average-latency.md
Due: updated-aperture-docs, updated-blueprints

Make function to reuse the same query with different parameters
  blueprints/policies/service-protection/average-latency/policy.libsonnet
Due: updated-blueprints

Update openai-pr-reviewer repo
  .github/workflows/openai-review.yml
Due: none

Remove openai-review workflow action
  .github/workflows/openai-review.yml
Due: none

Add Tabs and Endpoints
  playground/resources/demo-ui/package-lock.json
  playground/resources/demo-ui/package.json
  playground/resources/demo-ui/src/api.ts
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/resources/demo-ui/src/pages/home.tsx
Due: none

Fix panel_library links and remove unused vars
  blueprints/grafana/panel_library.libsonnet
  blueprints/grafana/signals_dashboard.libsonnet
Due: updated-blueprints

fixes in demo-ui
  playground/resources/demo-ui/src/api.ts
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/resources/demo-ui/src/pages/home.tsx
Due: none

Fix jsonnet-lib-gen.py
  blueprints/gen/v1/loadrampseriesloadrampinstance.libsonnet
  blueprints/gen/v1/quotascheduler.libsonnet
  scripts/jsonnet-lib-gen.py
Due: updated-blueprints

checkpoint
  blueprints/blueprint-assets-generator.py
  blueprints/policies/feature-rollout/average-latency/gen/definitions.json
  blueprints/policies/feature-rollout/average-latency/gen/values.yaml
  blueprints/policies/feature-rollout/percentile-latency/gen/definitions.json
  blueprints/policies/feature-rollout/percentile-latency/gen/dynamic-config-definitions.json
  blueprints/policies/feature-rollout/percentile-latency/gen/dynamic-config-values.yaml
  blueprints/policies/feature-rollout/percentile-latency/gen/values.yaml
  blueprints/policies/feature-rollout/promql/gen/definitions.json
  blueprints/policies/feature-rollout/promql/gen/dynamic-config-definitions.json
  blueprints/policies/feature-rollout/promql/gen/dynamic-config-values.yaml
  blueprints/policies/feature-rollout/promql/gen/values.yaml
  blueprints/policies/service-protection/postgresql/gen/definitions.json
  blueprints/policies/service-protection/postgresql/gen/values.yaml
  docs/content/reference/blueprints/policies/feature-rollout/average-latency.md
  docs/content/reference/blueprints/policies/feature-rollout/percentile-latency.md
  docs/content/reference/blueprints/policies/feature-rollout/promql.md
  docs/content/reference/blueprints/policies/service-protection/postgresql.md
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection.yaml
Due: updated-aperture-docs, updated-blueprints

checkresponse
  pkg/otelcollector/helpers.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
Due: updated-aperture

use pool for checkhttp_request
  api/buf.gen.aperture-langs.yaml
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
Due: updated-aperture

expose /debug/pprof/heap profiler
  pkg/profilers/profilers.go
Due: updated-aperture

some use of vt pool
  api/buf.gen.aperture-langs.yaml
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_vtproto.pb.go
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp_vtproto.pb.go
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

Disable usage of vt on Marshal, as it turns out slower
  pkg/net/grpc/codec.go
Due: updated-aperture

don't forget about authz
  pkg/policies/flowcontrol/service/envoy/authz.go
Due: updated-aperture

typo
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
Due: updated-aperture

remove redundant blueprint docs
  docs/content/reference/blueprints/dashboards/_category_.yaml
  docs/content/reference/blueprints/dashboards/auto-scale.md
  docs/content/reference/blueprints/dashboards/flow-control/_category_.yaml
  docs/content/reference/blueprints/dashboards/flow-control/adaptive-load-scheduler.md
  docs/content/reference/blueprints/dashboards/flow-control/load-ramp.md
  docs/content/reference/blueprints/dashboards/flow-control/quota-scheduler.md
  docs/content/reference/blueprints/dashboards/flow-control/rate-limiter.md
  docs/content/reference/blueprints/dashboards/signals.md
Due: updated-aperture-docs

add auto-scale defaults
  blueprints/policies/auto-scaling/common/config-defaults.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/definitions.json
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/values.yaml
  docs/content/reference/blueprints/policies/auto-scaling/pod-auto-scaler.md
Due: updated-aperture-docs, updated-blueprints

Fix links in docs
  docs/content/use-cases/quota-scheduler/client-side-rate-limiting.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
Due: updated-aperture-docs

Use sum of throughouts in panels
  blueprints/grafana/panels/throughput.libsonnet
Due: updated-blueprints

Fix bluprints reference docs
  docs/content/reference/blueprints/feature-rollout/base.md
  docs/content/reference/blueprints/feature-rollout/feature-rollout.md
  docs/content/reference/blueprints/quota-scheduler/base.md
  docs/content/reference/blueprints/quota-scheduler/quota-scheduler.md
  docs/content/reference/blueprints/rate-limiting/base.md
  docs/content/reference/blueprints/rate-limiting/rate-limiting.md
Due: updated-aperture-docs

Changes to UI rendering
  playground/resources/demo-app/app/app.go
  playground/resources/demo-ui/src/api.ts
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/resources/demo-ui/src/pages/home.tsx
Due: updated-demo-app

Remove unused vars and fix libsonnet paths
  blueprints/auto-scaling/common/policy.libsonnet
  blueprints/auto-scaling/pod-auto-scaler/policy.libsonnet
  blueprints/policies.libsonnet
Due: updated-blueprints

Update docs link
  docs/content/use-cases/quota-scheduling/client-side-rate-limiting.md
Due: updated-aperture-docs

Fix quota-scheduling doc
  docs/content/reference/blueprints/quota-scheduling/quota-scheduling.md
Due: updated-aperture-docs
