Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

update architecture mermaid diagram
  docs/content/get-started/self-hosting/architecture.md
Due: updated-aperture-docs

Add consul docs
  docs/content/get-started/installation/supported-platforms.md
  docs/content/integrations/consul/consul.md
Due: updated-aperture-docs

Fix service discovery for consul
  pkg/policies/flowcontrol/service/envoy/authz.go
Due: updated-aperture

Fix vale
  docs/content/integrations/consul/consul.md
Due: updated-aperture-docs

Comments
  docs/content/integrations/consul/consul.md
  docs/content/integrations/istio/istio.md
Due: updated-aperture-docs

Enable introspection client for cloud
  cmd/aperturectl/cmd/cloud/autoscale/control-points.go
  cmd/aperturectl/cmd/cloud/utils/controller.go
Due: updated-aperture

Fixes in policy deserialization and hashing
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/provider.go
Due: updated-aperture

Publish . ./aperture-agent-v2.19.3-rc.1.tgz
  aperture-agent-v2.19.3-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.19.3-rc.1.tgz ./index.yaml
  aperture-controller-v2.19.3-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.19.3-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.19.3-rc.1.tgz
Due: none

Publish . ./aperture-agent-v2.19.3.tgz
  aperture-agent-v2.19.3.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.19.3.tgz ./index.yaml
  aperture-controller-v2.19.3.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.19.3.tgz ./index.yaml
  index.yaml
  istioconfig-v2.19.3.tgz
Due: none

remove rpc package
  api/aperture/rpc/v1/rpc.proto
  api/buf.lock
  api/gen/proto/go/aperture/rpc/v1/rpc.pb.go
  api/gen/proto/go/aperture/rpc/v1/rpc.pb.json.go
  api/gen/proto/go/aperture/rpc/v1/rpc.pb.validate.go
  api/gen/proto/go/aperture/rpc/v1/rpc_grpc.pb.go
  api/gen/proto/go/aperture/rpc/v1/rpc_vtproto.pb.go
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/agent-functions/agents/agents.go
  pkg/agent-functions/provide.go
  pkg/discovery/entities/entities-service.go
  pkg/rpc/clients.go
  pkg/rpc/doc.go
  pkg/rpc/handlers.go
  pkg/rpc/provide.go
  pkg/rpc/transport.go
Due: updated-aperture, updated-aperture-docs

grpc: update keep alive settings
  pkg/net/grpc/server.go
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-py/aperture_sdk/client.py
Due: updated-aperture, updated-aperture-js, updated-aperture-py

bump aperture-js version
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
Due: updated-aperture-js

bump grpc-js
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
Due: updated-aperture-js

Refactor blueprint commands to not use global vars
  cmd/aperturectl/cmd/blueprints/dynamic-values.go
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/list.go
  cmd/aperturectl/cmd/blueprints/pull.go
  cmd/aperturectl/cmd/blueprints/remove.go
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/blueprints/values-common.go
  cmd/aperturectl/cmd/blueprints/values.go
  cmd/aperturectl/cmd/cloud/blueprints/apply.go
  cmd/aperturectl/cmd/cloud/blueprints/globals.go
  cmd/aperturectl/cmd/utils/pull.go
Due: updated-aperture

Update cloud blueprints list and get outputs
  cmd/aperturectl/cmd/cloud/blueprints/get.go
  cmd/aperturectl/cmd/cloud/blueprints/list.go
Due: updated-aperture

Remove obsolete prometheusexecreceiver
  extensions/integrations/otel/prometheusexecreceiver/prometheusexecreceiver.go
  go.mod
  go.sum
Due: updated-aperture

Update FN OTel
  go.mod
  go.sum
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture, updated-aperture-operator, updated-aperture-charts

Add missing replaces
  go.mod
  go.sum
Due: updated-aperture

Update OTel
  extensions/integrations/otel/datadogprocessor/datadogprocessor.go
  go.mod
  go.sum
Due: updated-aperture

Disable local path for apply
  cmd/aperturectl/cmd/blueprints/dynamic-values.go
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/list.go
  cmd/aperturectl/cmd/blueprints/pull.go
  cmd/aperturectl/cmd/blueprints/remove.go
  cmd/aperturectl/cmd/blueprints/values.go
  cmd/aperturectl/cmd/cloud/blueprints/apply.go
  cmd/aperturectl/cmd/cloud/blueprints/delete.go
  cmd/aperturectl/cmd/cloud/blueprints/get.go
  cmd/aperturectl/cmd/cloud/blueprints/list.go
  cmd/aperturectl/cmd/utils/pull.go
  cmd/aperturectl/cmd/utils/utils.go
  docs/content/reference/aperturectl/cloud/blueprints/delete/delete.md
  docs/content/reference/aperturectl/cloud/blueprints/get/get.md
Due: updated-aperture, updated-aperture-docs

Refactor aperturectl cloud policy
  .circleci/continue-workflows.yml
  api/aperture/cmd/v1/cmd.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  cmd/aperturectl/cmd/cloud/apply/root.go
  cmd/aperturectl/cmd/cloud/delete/root.go
  cmd/aperturectl/cmd/cloud/policy/apply.go
  cmd/aperturectl/cmd/cloud/policy/delete.go
  cmd/aperturectl/cmd/cloud/policy/get.go
  cmd/aperturectl/cmd/cloud/policy/list.go
  cmd/aperturectl/cmd/cloud/policy/root.go
  cmd/aperturectl/cmd/cloud/root.go
  cmd/aperturectl/cmd/utils/controller-client.go
  docs/content/get-started/policies/policies.md
  docs/content/reference/aperturectl/cloud/cloud.md
  docs/content/reference/aperturectl/cloud/policy/apply/apply.md
  docs/content/reference/aperturectl/cloud/policy/delete/delete.md
  docs/content/reference/aperturectl/cloud/policy/get/get.md
  docs/content/reference/aperturectl/cloud/policy/list/list.md
  docs/content/reference/aperturectl/cloud/policy/policy.md
  pkg/cmd/controller.go
  playground/scripts/render-policy.sh
Due: updated-aperture, updated-aperture-docs

Add PyPI package link to python SDK docs
  docs/content/integrations/sdk/python/manual.md
Due: updated-aperture-docs

Refactor aperturectl policy
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/delete/policy.go
  cmd/aperturectl/cmd/delete/root.go
  cmd/aperturectl/cmd/policy/apply.go
  cmd/aperturectl/cmd/policy/delete.go
  cmd/aperturectl/cmd/policy/get.go
  cmd/aperturectl/cmd/policy/list.go
  cmd/aperturectl/cmd/policy/root.go
  cmd/aperturectl/cmd/root.go
  docs/content/get-started/policies/policies.md
  docs/content/guides/api-quota-management/inter-service-rate-limiting.md
  docs/content/guides/classifying-workloads/graphql-rate-limiting.md
  docs/content/guides/database-load-management/postgresql.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/guides/service-load-management/average-latency-feedback.md
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/aperturectl/apply/apply.md
  docs/content/reference/aperturectl/apply/policy/policy.md
  docs/content/reference/aperturectl/delete/delete.md
  docs/content/reference/aperturectl/delete/policy/policy.md
Due: updated-aperture, updated-aperture-docs
