Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

(1) Permanent failure on non-retryable PromQL errors to prevent jobs from getting stuck which causes readiness failure in Controller. (2) Fix bug in assigning query string.
  pkg/policies/controlplane/components/query/promql/promql.go
  pkg/prometheus/prom-query.go
Due: updated-aperture

Rename function for clarity
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/actuator.go
  pkg/policies/controlplane/components/integrator.go
  pkg/policies/controlplane/components/pid-controller.go
  pkg/policies/controlplane/components/query/promql/promql.go
  pkg/policies/controlplane/runtime/circuit-iface.go
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture

Empty protobuf in status
  pkg/jobs/no-op-job.go
Due: updated-aperture

Do not expose evaluation interval in blueprints config. Define common constants for blueprint defintion.
  blueprints/auto-scaling/common/config-defaults.libsonnet
  blueprints/auto-scaling/common/policy.libsonnet
  blueprints/auto-scaling/pod-auto-scaler/gen/definitions.json
  blueprints/consts.libsonnet
  blueprints/load-ramping/base/config.libsonnet
  blueprints/load-ramping/base/gen/definitions.json
  blueprints/load-ramping/base/policy.libsonnet
  blueprints/load-scheduling/average-latency/gen/definitions.json
  blueprints/load-scheduling/common/config-defaults.libsonnet
  blueprints/load-scheduling/common/policy.libsonnet
  blueprints/load-scheduling/elasticsearch/gen/definitions.json
  blueprints/load-scheduling/jmx/gen/definitions.json
  blueprints/load-scheduling/postgresql/gen/definitions.json
  blueprints/load-scheduling/promql/gen/definitions.json
  docs/content/reference/blueprints/auto-scaling/pod-auto-scaler.md
  docs/content/reference/blueprints/load-ramping/base.md
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/blueprints/load-scheduling/elasticsearch.md
  docs/content/reference/blueprints/load-scheduling/jmx.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
  docs/content/reference/blueprints/load-scheduling/promql.md
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/elasticsearch-overload/policies/service1-demoapp-elasticsearch-overload-cr.yaml
  playground/scenarios/feature-rollout/policies/load-ramping-cr.yaml
  playground/scenarios/graceful-js/policies/postgres-connections-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/jmx-service-protection/policies/jmx-service-protection-cr.yaml
  playground/scenarios/pod-auto-scale/policies/pod-auto-scaler-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/rabbitmq-queue-buildup/policies/service1-demoapp-rabbitmq-queue-buildup-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
Due: updated-aperture-docs, updated-blueprints

Fixes
  blueprints/consts.libsonnet
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/elasticsearch-overload/policies/service1-demoapp-elasticsearch-overload-cr.yaml
  playground/scenarios/feature-rollout/policies/load-ramping-cr.yaml
  playground/scenarios/feature-rollout/policies/load-ramping.yaml
  playground/scenarios/graceful-js/policies/postgres-connections-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/jmx-service-protection/policies/jmx-service-protection-cr.yaml
  playground/scenarios/pod-auto-scale/policies/pod-auto-scaler-cr.yaml
  playground/scenarios/pod-auto-scale/policies/pod-auto-scaler.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/rabbitmq-queue-buildup/policies/service1-demoapp-rabbitmq-queue-buildup-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
Due: updated-blueprints

Fix test
  pkg/policies/controlplane/runtime/background-scheduler.go
  pkg/policies/controlplane/runtime/circuit_test.go
  pkg/policies/controlplane/sim/circuit.go
Due: updated-aperture

Add ts dependency to example
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
Due: updated-aperture-js

Update grpc-js to 1.9.2
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
Due: updated-aperture-js

Bump version to 2.0.3
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
Due: updated-aperture-js

Fix typo
  docs/content/use-cases/adaptive-service-protection/infrastructure/infrastructure.md
Due: updated-aperture-docs

Add policy for rabbitmq use-case
  api/buf.lock
  docs/content/use-cases/adaptive-service-protection/message-queue/assets/rabbitmq/graph.mmd
  docs/content/use-cases/adaptive-service-protection/message-queue/assets/rabbitmq/graph.mmd.md5sum
  docs/content/use-cases/adaptive-service-protection/message-queue/assets/rabbitmq/graph.mmd.svg
  docs/content/use-cases/adaptive-service-protection/message-queue/assets/rabbitmq/policy.yaml
  docs/content/use-cases/adaptive-service-protection/message-queue/assets/rabbitmq/validate.sh
  docs/content/use-cases/adaptive-service-protection/message-queue/assets/rabbitmq/values.yaml
  docs/content/use-cases/adaptive-service-protection/message-queue/rabbitmq.md
  docs/content/use-cases/adaptive-service-protection/service/average-latency-feedback.md
  docs/content/use-cases/percentage-rollouts/assets/average-latency-feedback/values.yaml
Due: updated-aperture, updated-aperture-docs

Make default GRPC server name not empty
  pkg/cmd/provide.go
  pkg/discovery/entities/entities-service.go
  pkg/dist-cache/provider.go
  pkg/net/grpc/info-service.go
  pkg/net/grpc/server.go
  pkg/net/health/health.go
  pkg/peers/peers-service.go
  pkg/policies/autoscale/kubernetes/service/controlpoints/provide.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/flowcontrol/service/check/provide.go
  pkg/policies/flowcontrol/service/checkhttp/provide.go
  pkg/policies/flowcontrol/service/controlpoints/provide.go
  pkg/policies/flowcontrol/service/envoy/provide.go
  pkg/policies/flowcontrol/service/preview/provide.go
  pkg/rpc/provide.go
  pkg/status/status-service.go
Due: updated-aperture

Fixes
  cmd/aperture-agent/agent/otel-component.go
  cmd/sdk-validator/validator/provide.go
  extensions/fluxninja/heartbeats/provide.go
  pkg/net/grpc/server.go
Due: updated-aperture, updated-sdk-validator

Publish . ./istioconfig-v2.14.1-rc.1.tgz
  index.yaml
  istioconfig-v2.14.1-rc.1.tgz
Due: none

Publish . ./aperture-controller-v2.14.1-rc.1.tgz
  aperture-controller-v2.14.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v2.14.1-rc.1.tgz ./index.yaml
  aperture-agent-v2.14.1-rc.1.tgz
  index.yaml
Due: none

Fixes 2
  cmd/aperture-agent/agent/otel-component.go
  pkg/net/grpc/server.go
Due: updated-aperture

Set default tokens in the workload to 1 and switch off auto tokens by default
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: updated-aperture, updated-aperture-docs, updated-aperture-java, updated-blueprints

Hide prometheus datasource dropdown in grafana dashboard
  blueprints/grafana/utils/base_dashboard.libsonnet
Due: updated-blueprints

Set workload_latency_based_tokens to true in scenarios
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/basic-service-protection/policies/basic-service-protection.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection.yaml
  playground/scenarios/elasticsearch-overload/policies/elasticsearch-overload.yaml
  playground/scenarios/elasticsearch-overload/policies/service1-demoapp-elasticsearch-overload-cr.yaml
  playground/scenarios/graceful-js/policies/postgres-connections-cr.yaml
  playground/scenarios/graceful-js/policies/postgres-connections.yaml
  playground/scenarios/graceful-js/policies/workload-prioritization.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection.yaml
  playground/scenarios/jmx-service-protection/policies/jmx-service-protection-cr.yaml
  playground/scenarios/jmx-service-protection/policies/jmx-service-protection.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization.yaml
  playground/scenarios/rabbitmq-queue-buildup/policies/rabbitmq-queue-buildup.yaml
  playground/scenarios/rabbitmq-queue-buildup/policies/service1-demoapp-rabbitmq-queue-buildup-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization.yaml
Due: none

Set integrator eval interval to 10sec in adaptive load scheduler. Mention the 10sec actuation and signal update frequency in docs.
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/adaptive-load-scheduler.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: updated-aperture, updated-aperture-docs, updated-aperture-java, updated-blueprints

Change order of precedence for tokens
  docs/content/concepts/scheduler/scheduler.md
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Due: updated-aperture, updated-aperture-docs

Remove deprecated methods from aperture-go and update README
  sdks/aperture-go/README.md
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
Due: updated-aperture-go

Update populateControlPointCache
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

aperture-js: keepCase should be true
  sdks/aperture-js/sdk/utils.ts
Due: updated-aperture-js

aperture-js: keepCase should be true
  cmd/sdk-validator/main.go
  cmd/sdk-validator/validator/common.go
Due: updated-aperture, updated-sdk-validator

aperture-js: keepCase should be true
  cmd/sdk-validator/validator/common.go
Due: updated-aperture, updated-sdk-validator

aperture-js: improve failOpen handling
  cmd/sdk-validator/main.go
  cmd/sdk-validator/validator/common.go
  sdks/aperture-js/example/routes/connected.ts
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/utils.ts
Due: updated-aperture, updated-aperture-js, updated-sdk-validator

remove console.log
  sdks/aperture-js/sdk/client.ts
Due: updated-aperture-js

coderabbit suggestions
  sdks/aperture-js/sdk/client.ts
Due: updated-aperture-js

aperture-js: bump version
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
Due: updated-aperture-js

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
