Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

Switch to instant queries
  blueprints/grafana/panels/elasticsearch/es_static.libsonnet
  blueprints/grafana/panels/elasticsearch/es_time_series.libsonnet
  blueprints/grafana/panels/grouped/pgsql.libsonnet
  blueprints/grafana/panels/pgsql/pgsql_static.libsonnet
  blueprints/grafana/panels/pgsql/pgsql_time_series.libsonnet
Due: updated-blueprints

change default for delayedInitialFill
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Due: updated-aperture, updated-aperture-docs, updated-blueprints

Fix data race in Controller shutdown
  pkg/notifiers/watcher.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/runtime/background-scheduler.go
Due: updated-aperture

Expose policy hash function
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/policy.go
Due: updated-aperture

Change postgresql-connections traffic pattern
  playground/scenarios/graceful-js/load-generator/test.js
Due: none

Add screenshots of postgres dashboards
  docs/content/guides/database-load-management/assets/postgresql/postgresql-dashboards-signal.png
  docs/content/guides/database-load-management/assets/postgresql/postgresql-dashboards-tokens.png
  docs/content/guides/database-load-management/postgresql.md
Due: updated-aperture-docs

Remove empty pages
  docs/content/guides/ai-load-management.md
  docs/content/guides/service-load-management/infrastructure-metrics.md
Due: updated-aperture-docs

Update postgreql blueprint introduction
  docs/content/reference/blueprints/load-scheduling/postgresql.md
Due: updated-aperture-docs

Update self-hosted agent config link
  docs/content/get-started/installation/agent/docker.md
  docs/content/get-started/self-hosting/agent.md
Due: updated-aperture-docs

Update introduction
  docs/content/introduction.md
Due: updated-aperture-docs

Rework static and chart panels
  blueprints/grafana/panels/grouped/quota_scheduler.libsonnet
  blueprints/grafana/panels/request_queue_duration_bar.libsonnet
  blueprints/grafana/panels/total_rejected_requests.libsonnet
  blueprints/grafana/utils/bar_gauge_panel.libsonnet
  blueprints/grafana/utils/stat_panel.libsonnet
Due: updated-blueprints

Remove unused import
  blueprints/grafana/panels/request_queue_duration_bar.libsonnet
Due: updated-blueprints

Add units for quota scheduler static panels
  blueprints/grafana/panels/total_accepted_requests.libsonnet
  blueprints/grafana/panels/total_accepted_tokens.libsonnet
  blueprints/grafana/panels/total_incoming_tokens.libsonnet
  blueprints/grafana/panels/total_rejected_requests.libsonnet
  blueprints/grafana/panels/total_rejected_tokens.libsonnet
  blueprints/grafana/panels/total_requests.libsonnet
  blueprints/grafana/utils/stat_panel.libsonnet
Due: updated-blueprints

Checkpoint preemption metrics
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/wfq.go
Due: updated-aperture

Fixes
  pkg/scheduler/wfq.go
Due: updated-aperture

aperturectl: apply all command for blueprints
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/globals.go
  cmd/aperturectl/cmd/blueprints/values-common.go
  cmd/aperturectl/cmd/cloud/apply/policy.go
  cmd/aperturectl/cmd/utils/blueprints.go
  cmd/aperturectl/cmd/utils/policies.go
  cmd/aperturectl/cmd/utils/utils.go
  docs/content/reference/aperturectl/blueprints/generate/generate.md
Due: updated-aperture, updated-aperture-docs

On time counter and docs
  docs/content/reference/observability/prometheus-metrics/agent.md
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/wfq.go
Due: updated-aperture, updated-aperture-docs

use policy name in background circuit job name
  pkg/policies/controlplane/runtime/background-scheduler.go
Due: updated-aperture

Minor doc fixes
  .opsninja.yaml
  docs/content/get-started/self-hosting/agent.md
Due: updated-aperture-docs

Added dummy CI for latest tag
  .circleci/config.yml
Due: none

Publish . ./istioconfig-v2.18.1-rc.1.tgz
  index.yaml
  istioconfig-v2.18.1-rc.1.tgz
Due: none

Publish . ./aperture-agent-v2.18.1-rc.1.tgz ./index.yaml
  aperture-agent-v2.18.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.18.1-rc.1.tgz ./index.yaml
  aperture-controller-v2.18.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v2.18.1.tgz
  aperture-agent-v2.18.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.18.1.tgz
  index.yaml
  istioconfig-v2.18.1.tgz
Due: none

Publish . ./aperture-controller-v2.18.1.tgz ./index.yaml
  aperture-controller-v2.18.1.tgz
  index.yaml
Due: none

Handle UNKNOWN service while passing to Check calls
  operator/controllers/agent/config_test.tpl
  operator/controllers/testutils/testutils.go
  pkg/policies/flowcontrol/service-getter/service-getter.go
  pkg/policies/flowcontrol/service-getter/service-getter_test.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  pkg/policies/flowcontrol/service/envoy/authz.go
Due: updated-aperture, updated-aperture-operator

Dropped test loggers
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  pkg/policies/flowcontrol/service/envoy/authz.go
Due: updated-aperture

Send policy string in the UpsertPolicy req to validate before putting in etcd
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_vtproto.pb.go
  cmd/aperturectl/cmd/utils/policies.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture, updated-aperture-docs
