Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

Add source/destination IP address to checkRequest in Armeria
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/HttpUtils.java
Due: updated-aperture-java

Add source/destination IP extraction to checkRequest in Netty/Servlet Filters
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/HttpUtils.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Utils.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/NettyUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ServletUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ServletUtils.java
Due: updated-aperture-java

Publish . ./aperture-agent-v1.2.0-rc.1.tgz
  aperture-agent-v1.2.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v1.2.0-rc.1.tgz
  aperture-controller-v1.2.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v1.2.0-rc.1.tgz
  index.yaml
  istioconfig-v1.2.0-rc.1.tgz
Due: none

Fix control point type extraction
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

show errors/warning when using deprecated fields
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/main.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/gen/policy/policy.yaml
  docs/tools/swagger/process-go-tags.go
  pkg/config/validator.go
  pkg/policies/controlplane/validator.go
Due: updated-aperture, updated-aperture-docs

show deprecated clearly in docs
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  docs/tools/swagger/process-go-tags.go
  docs/tools/swagger/swagger-templates/config.gotmpl
Due: updated-aperture-docs

refactor policy validator
  cmd/aperturectl/cmd/utils/utils.go
  pkg/policies/controlplane/validator.go
  pkg/webhooks/policyvalidator/validator.go
Due: updated-aperture

update message
  pkg/webhooks/policyvalidator/validator.go
Due: updated-aperture

fix test
  pkg/policies/controlplane/validator_test.go
Due: updated-aperture

refactor aperturectl apply
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/compile.go
  cmd/aperturectl/cmd/utils/utils.go
  pkg/policies/controlplane/validator.go
Due: updated-aperture

remove generate policy graphs script
  Makefile
  docs/Makefile
  docs/content/tutorials/integrations/auto-scale/assets/graph_config.yaml
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd.md5sum
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd.svg
  docs/tools/aperturectl/generate-policy-graphs/generate-policy-graphs.go
  docs/tools/jsonnet/generate_jsonnet.sh
Due: updated-aperture-docs

deterministic graph output
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd.md5sum
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd.svg
  docs/tools/jsonnet/generate_jsonnet.sh
  pkg/policies/controlplane/circuitfactory/tree.go
Due: updated-aperture, updated-aperture-docs

deterministic graph output
  cmd/aperturectl/cmd/compile.go
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd.md5sum
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd.svg
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.mmd
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/static-rate-limiting.mmd
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/static-rate-limiting.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/static-rate-limiting.mmd.svg
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.md5sum
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.svg
  docs/tools/jsonnet/generate_jsonnet.sh
Due: updated-aperture, updated-aperture-docs

deterministic graph output
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd.md5sum
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.svg
  docs/tools/jsonnet/generate_jsonnet.sh
  pkg/policies/controlplane/circuitfactory/tree.go
Due: updated-aperture, updated-aperture-docs

sort fake constants
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.svg
  pkg/policies/controlplane/circuitfactory/tree.go
Due: updated-aperture, updated-aperture-docs

change sorting code
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd.md5sum
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.md5sum
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.svg
  pkg/policies/controlplane/circuitfactory/tree.go
Due: updated-aperture, updated-aperture-docs

update deps
  go.mod
  go.sum
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture, updated-aperture-operator

Checkpoint LoadShaper
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/std_components.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.validate.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/loadshaperparametersstep.libsonnet
  blueprints/gen/v1/signalgeneratorparametersstep.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/flowcontrol/flowregulator/load-shaper-series.go
  pkg/policies/controlplane/components/flowcontrol/flowregulator/load-shaper.go
  pkg/policies/controlplane/components/nested-circuit-helpers.go
  pkg/policies/controlplane/components/signal-generator.go
  pkg/policies/mocks/mock_engine.go
Due: updated-aperture, updated-aperture-docs

fix broken link
  docs/content/get-started/installation/controller/controller.md
  docs/content/tutorials/tutorials.md
Due: updated-aperture-docs

fix typos
  .codespellignore
  docs/content/.markdownlintrc
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/agent/bare_metal.md
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/get-started/integrations/auto-scale/auto-scale.md
  docs/content/get-started/integrations/auto-scale/kubernetes/kubernetes.md
  docs/content/get-started/integrations/flow-control/envoy/istio.md
  docs/content/get-started/integrations/flow-control/flow-control.md
  docs/content/get-started/integrations/flow-control/gateway/kong.md
  docs/content/get-started/integrations/flow-control/gateway/nginx.md
  docs/content/get-started/integrations/flow-control/sdk/go/manual.md
  docs/content/get-started/playground/playground.md
  docs/content/tutorials/flow-control/classification/graphql-rate-limiting.md
  docs/content/tutorials/flow-control/concurrency-limiting/basic-concurrency-limiting.md
  docs/content/tutorials/flow-control/concurrency-limiting/rate-limiting-escalation.md
  docs/content/tutorials/flow-control/concurrency-limiting/workload-prioritization.md
  docs/content/tutorials/signal-processing/detecting-overload.md
Due: updated-aperture-docs

Add leader-only receiver
  cmd/aperture-agent/agent/otel-component.go
  pkg/etcd/election/election.go
  pkg/otelcollector/leaderonlyreceiver/receiver.go
  pkg/policies/autoscale/kubernetes/discovery/autoscale-discovery.go
Due: updated-aperture

Add tls configurability to java sdk examples
  cmd/sdk-validator/main.go
  sdks/aperture-java/dockerfiles/javaagent/armeria/Dockerfile
  sdks/aperture-java/dockerfiles/javaagent/netty/Dockerfile
  sdks/aperture-java/dockerfiles/middlewares/armeria-tls/Dockerfile
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaClient.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/NettyServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/SpringBootApp.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/controller/AppController.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
Due: updated-aperture, updated-aperture-java

Add configuration for TLS in Java SDK Grpc client
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaClient.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
Due: updated-aperture-java

changes to make it work
  cmd/sdk-validator/main.go
  sdks/aperture-java/dockerfiles/middlewares/armeria-tls/Dockerfile
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaClient.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/version.gradle.kts
Due: updated-aperture, updated-aperture-java

rename ssl cert -> root cert
  sdks/aperture-java/dockerfiles/middlewares/armeria-tls/Dockerfile
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaClient.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/NettyServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/SpringBootApp.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/controller/AppController.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
Due: updated-aperture-java

bump version
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/version.gradle.kts
Due: updated-aperture-java

fix: update circleci cli and add check for know errors
  .pre-commit-config.yaml
  .tool-versions
Due: none

Expose leader-only receiver via per_agent_group flag in CustomMetricsConfig
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperture-agent/config/types.go
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/otelcollector/leaderonlyreceiver/helpers.go
  pkg/otelcollector/leaderonlyreceiver/receiver.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs
