Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Fix load-scheduling use-case doc
  docs/content/use-cases/load-scheduling/load-scheduling.md
Due: updated-aperture-docs

Fix load-scheduling use-case doc
  docs/content/use-cases/load-scheduling/prioritization.md
  docs/content/use-cases/load-scheduling/protection.md
Due: updated-aperture-docs

Corrected path to policies.libsonnet
  blueprints/main.libsonnet
Due: updated-blueprints

Updated version of tools
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/graphql-demo-app/Dockerfile
  sdks/aperture-go/Dockerfile
Due: updated-aperture, updated-demo-app, updated-aperture-go

Downgrade gcloud cli version to last working one
  .tool-versions
Due: none

Stop sending label values when Telemetry: false
  cmd/sdk-validator/validator/common.go
  cmd/sdk-validator/validator/flowcontrol.go
  pkg/labels/labels.go
  pkg/multi-matcher/multi-matcher.go
  pkg/multi-matcher/multimatcher_test.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/actuators/sampler/sampler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/engine_test.go
  pkg/policies/flowcontrol/iface/engine.go
  pkg/policies/flowcontrol/iface/limiter.go
  pkg/policies/flowcontrol/label/flow-label.go
  pkg/policies/flowcontrol/resources/classifier/classification-engine.go
  pkg/policies/flowcontrol/resources/classifier/classifier_test.go
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp-labels_test.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  pkg/policies/flowcontrol/service/envoy/authz-labels_test.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  pkg/policies/mocks/mock_limiter.go
Due: updated-aperture, updated-sdk-validator

Allow additional unary/streaming server interceptors
  pkg/net/grpc/server.go
Due: updated-aperture

Rewrite how we generate names for controller resources
  operator/controllers/controller/configmaps.go
  operator/controllers/controller/deployment.go
  operator/controllers/controller/reconciler.go
  operator/controllers/controller/serviceaccount.go
  operator/controllers/utils.go
Due: updated-aperture-operator

Fix comment
  pkg/net/grpc/server.go
Due: updated-aperture

Add provide level additional interceptors
  pkg/net/grpc/server.go
Due: updated-aperture

Fix obvious mistake
  pkg/net/grpc/server.go
Due: updated-aperture

Add logic for deleting old singleton controller resources
  operator/controllers/controller/reconciler.go
Due: updated-aperture-operator

Add omitempty to prometheus labels configuration
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  pkg/prometheus/config/config.go
Due: updated-aperture, updated-aperture-docs

Delete cluster-wide resources only when running in singleton controller mode
  operator/controllers/controller/reconciler.go
Due: updated-aperture-operator

Make controller TLS configuration optional based on deployment mode
  operator/controllers/controller/reconciler.go
Due: updated-aperture-operator

Add vtproto gen files in go sdk
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_vtproto.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/checkhttp/v1/checkhttp_vtproto.pb.go
Due: updated-aperture-go

Tidy go modules
  go.mod
  go.sum
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
Due: updated-aperture, updated-aperture-go

Fix linting issues
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-go/sdk/httpflow.go
  sdks/aperture-go/sdk/middlewares/http.go
  sdks/aperture-go/sdk/middlewares/utils.go
Due: updated-aperture-go

Fix linting issues
  sdks/aperture-go/sdk/middlewares/grpc.go
Due: updated-aperture-go

Rename middleware package
  sdks/aperture-go/example/main.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
  sdks/aperture-go/sdk/middleware/utils.go
Due: updated-aperture-go

Simplify logic in ShouldRun
  sdks/aperture-go/sdk/httpflow.go
Due: updated-aperture-go

Fix error logging in client
  sdks/aperture-go/sdk/client.go
Due: updated-aperture-go

Use MarshalVT to marshal CheckResponse
  sdks/aperture-go/sdk/flow.go
Due: updated-aperture-go

WIP: Push some tests for debugging
  pkg/policies/controlplane/components/query/promql/promql.go
  pkg/prometheus/alert-query.go
  pkg/prometheus/enforcer.go
  pkg/prometheus/prom-query.go
  pkg/prometheus/scalar-query.go
Due: updated-aperture

Make *PrometheusEnforcer available for policies and components
  pkg/policies/controlplane/policy-factory.go
Due: updated-aperture

Don't reuse Prometheus Labels Enforcer between components
  pkg/prometheus/enforcer.go
Due: updated-aperture

Checkpoint
  playground/resources/demo-app/app/app.go
  playground/resources/demo-ui/package-lock.json
  playground/resources/demo-ui/package.json
  playground/resources/demo-ui/src/api.ts
  playground/resources/demo-ui/src/assets/flux-ninja.svg
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/resources/demo-ui/src/pages/home.tsx
  playground/scenarios/graceful-js/load-generator/test.js
  playground/scenarios/graceful-js/policies/workload-prioritization/workload-prioritization.yaml
Due: updated-demo-app

Create jsons for all the dashboards per policy in blueprint
  blueprints/grafana/dashboard_group.libsonnet
  blueprints/load-ramping/base/bundle.libsonnet
  blueprints/load-scheduling/average-latency/bundle.libsonnet
  blueprints/load-scheduling/postgresql/bundle.libsonnet
  blueprints/load-scheduling/promql/bundle.libsonnet
  blueprints/quota-scheduling/base/bundle.libsonnet
  blueprints/rate-limiting/base/bundle.libsonnet
Due: updated-blueprints

added image
  playground/resources/demo-ui/src/assets/flux-ninja.svg
  playground/resources/demo-ui/src/pages/home.tsx
  playground/resources/demo-ui/src/pages/success-icon.tsx
Due: none

added displayName
  playground/resources/demo-ui/src/pages/success-icon.tsx
Due: none

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
