Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

Prevent reconcile loop on deployment spec changes for agent and controller
  operator/controllers/agent/reconciler.go
  operator/controllers/controller/reconciler.go
Due: updated-aperture-operator

Just don't reconcile on replica change
  operator/controllers/agent/deployment.go
  operator/controllers/agent/reconciler.go
  operator/controllers/controller/reconciler.go
Due: updated-aperture-operator

agent group label for flowcontrol_decisions_total metric
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/check/metrics.go
Due: updated-aperture

update docs structure & links
  docs/content/get-started/set-up-application/_category_.yml
  docs/content/get-started/set-up-application/manual-control-points.md
  docs/content/get-started/set-up-application/middleware-insertions.md
  docs/content/get-started/set-up-application/set-up-application.md
  docs/content/self-hosting/agent/agent.md
Due: updated-aperture-docs

update text
  docs/content/self-hosting/self-hosting.md
Due: updated-aperture-docs

update content
  docs/content/self-hosting/architecture.md
Due: updated-aperture-docs

fix lang
  docs/content/self-hosting/architecture.md
  docs/content/self-hosting/self-hosting.md
Due: updated-aperture-docs

Update go to v1.21.4
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/graphql-demo-app/Dockerfile
  sdks/aperture-go/Dockerfile
Due: updated-aperture, updated-demo-app, updated-aperture-go

Publish . ./istioconfig-v2.23.3-rc.1.tgz
  index.yaml
  istioconfig-v2.23.3-rc.1.tgz
Due: none

Publish . ./aperture-agent-v2.23.3-rc.1.tgz ./index.yaml
  aperture-agent-v2.23.3-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.23.3-rc.1.tgz ./index.yaml
  aperture-controller-v2.23.3-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.23.3.tgz
  index.yaml
  istioconfig-v2.23.3.tgz
Due: none

Publish . ./aperture-agent-v2.23.3.tgz ./index.yaml
  aperture-agent-v2.23.3.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.23.3.tgz ./index.yaml
  aperture-controller-v2.23.3.tgz
  index.yaml
Due: none

Add support for Alerter in Quota Scheduler
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/private/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/quotascheduler.libsonnet
  blueprints/gen/v1/quotaschedulerouts.libsonnet
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/policy.libsonnet
  dashboards/grafana/dashboards/summary/quota-scheduler/rows.libsonnet
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd.md5sum
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd.svg
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/values.yaml
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/circuitfactory/flow-control-components.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/config-sync.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/private.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/quota-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/rate-limiter/private.go
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
Due: updated-aperture, updated-aperture-docs, updated-blueprints

Fix typo in Quota Scheduler component name
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs, updated-blueprints

Update buf lock
  api/buf.lock
Due: updated-aperture

Update buf version to 1.28.0
  .tool-versions
Due: none

Add support for workload label key in scheduler configuration
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/scheduler.libsonnet
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
Due: updated-aperture, updated-aperture-docs, updated-blueprints

Refactor workload label matching in scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Due: updated-aperture

Add support for matching workload label in scheduler
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Due: updated-aperture

Fix blueprint assets generator to generate not required defaults as well
  blueprints/auto-scaling/pod-auto-scaler/gen/values.yaml
  blueprints/blueprint-assets-generator.py
  blueprints/common/config-defaults.libsonnet
  blueprints/load-ramping/base/gen/values.yaml
  blueprints/load-scheduling/average-latency/gen/values.yaml
  blueprints/load-scheduling/cpu-overload-protection-k8s/gen/values.yaml
  blueprints/load-scheduling/elasticsearch/gen/values.yaml
  blueprints/load-scheduling/java-gc-generic/gen/values.yaml
  blueprints/load-scheduling/java-gc-k8s/gen/values.yaml
  blueprints/load-scheduling/postgresql/gen/values.yaml
  blueprints/load-scheduling/promql/gen/values.yaml
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/quota-scheduling/base/policy.libsonnet
  blueprints/rate-limiting/base/gen/values.yaml
  docs/content/reference/aperture-cli/policies/assets/raw_values.yaml
Due: updated-aperture-docs, updated-blueprints

Update Alerter type in config files
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/rate-limiting/base/config.libsonnet
  blueprints/rate-limiting/base/gen/definitions.json
  blueprints/rate-limiting/base/gen/values.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/values.yaml
  docs/content/reference/aperture-cli/policies/assets/raw_values.yaml
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/blueprints/rate-limiting/base.md
Due: updated-aperture-docs, updated-blueprints

Refactor notifiers.NewFxDriver to include newRateLimiterOptions
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
Due: updated-aperture

Update Sampler label_key to session_label_key
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/samplerparameters.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/sampler/sampler.go
  playground/scenarios/feature-rollout/policies/load-ramping-cr.yaml
  playground/scenarios/feature-rollout/policies/load-ramping.yaml
Due: updated-aperture, updated-aperture-docs, updated-blueprints

Fix load ramping configuration by updating label_key to session_label_key
  blueprints/load-ramping/base/config.libsonnet
  blueprints/load-ramping/base/gen/definitions.json
  blueprints/load-ramping/base/gen/values.yaml
  docs/content/reference/blueprints/load-ramping/base.md
  playground/scenarios/feature-rollout/policies/load-ramping-cr.yaml
Due: updated-aperture-docs, updated-blueprints

Flowcontrol proto
  api/aperture/flowcontrol/check/v1/check.proto
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.validate.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_grpc.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_vtproto.pb.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/StatusCode.java
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheItem.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheRequest.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheResult.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CheckRequest.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CheckResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/FlowControlService.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/FlowEnd.ts
  sdks/aperture-js/sdk/gen/check.ts
  sdks/aperture-js/sdk/gen/google/protobuf/Empty.ts
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2_grpc.py
Due: updated-aperture, updated-aperture-docs, updated-aperture-js, updated-aperture-java, updated-aperture-py

Update descriptions of QuotaScheduler and RateLimiter blueprint fields
  blueprints/common/config-defaults.libsonnet
  blueprints/quota-scheduling/base/config.libsonnet
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/rate-limiting/base/config.libsonnet
  docs/content/reference/blueprints/quota-scheduling/base.md
Due: updated-aperture-docs, updated-blueprints

Refactored policy.libsonnet files
  blueprints/auto-scaling/common/policy.libsonnet
  blueprints/auto-scaling/pod-auto-scaler/policy.libsonnet
  blueprints/load-ramping/base/policy.libsonnet
  blueprints/load-scheduling/average-latency/policy.libsonnet
  blueprints/load-scheduling/common-aiad/policy.libsonnet
  blueprints/load-scheduling/common-aimd/policy.libsonnet
  blueprints/load-scheduling/common-range/policy.libsonnet
  blueprints/load-scheduling/common/policy.libsonnet
  blueprints/load-scheduling/promql/policy.libsonnet
  blueprints/rate-limiting/base/policy.libsonnet
Due: updated-blueprints

Add sdk example to per user rate limiting guide
  docs/content/guides/per-user-rate-limiting.md
Due: updated-aperture-docs
