Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Update buf.lock
  api/buf.lock
Due: updated-aperture

Add `policy` and `dynamic-config` sub-commands to `aperturectl apply` command
  cmd/aperturectl/cmd/apply/dynamic-config.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/apply/root.go
  docs/content/reference/aperturectl/apply/apply.md
  docs/content/reference/aperturectl/apply/policy/policy.md
Due: updated-aperture, updated-aperture-docs

Allow applying DynamicConfig to policies by name
  cmd/aperturectl/cmd/apply/dynamic-config.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/apply/root.go
  docs/content/reference/aperturectl/apply/apply.md
  docs/content/reference/aperturectl/apply/dyunamic-config/dyunamic-config.md
Due: updated-aperture, updated-aperture-docs

Correctly apply DynamicConfig to an existing policy
  cmd/aperturectl/cmd/apply/dynamic-config.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/apply/root.go
  cmd/aperturectl/cmd/blueprints/generate.go
  docs/content/reference/aperturectl/apply/apply.md
  docs/content/reference/aperturectl/apply/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/apply/policy/policy.md
Due: updated-aperture, updated-aperture-docs

Add log statement to signify successful update
  cmd/aperturectl/cmd/apply/dynamic-config.go
Due: updated-aperture

Update log statements
  cmd/aperturectl/cmd/apply/dynamic-config.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/apply/root.go
Due: updated-aperture

Refactor createAndApplyPolicy
  cmd/aperturectl/cmd/apply/policy.go
Due: updated-aperture

Update how local blueprints is handled
  cmd/aperturectl/cmd/blueprints/list.go
  cmd/aperturectl/cmd/blueprints/pull.go
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/blueprints/values.go
Due: updated-aperture

docs: minor fixes
  docs/content/introduction.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
Due: updated-aperture-docs

Expand env variables in docker image build script
  .circleci/scripts/docker_build.sh
Due: none

Add dockerfile for example used in tilt
  .circleci/continue-workflows.yml
  playground/Tiltfile
  sdks/aperture-java/dockerfiles/example/Dockerfile
Due: updated-aperture-java

Add testing all Java SDK variants using SDK validator to CI
  .circleci/continue-workflows.yml
  sdks/aperture-java/Dockerfile
  sdks/aperture-java/dockerfiles/aperture-java-all/Dockerfile
  sdks/aperture-java/dockerfiles/featureflow/Dockerfile
  sdks/aperture-java/dockerfiles/javaagent/armeria/Dockerfile
  sdks/aperture-java/dockerfiles/javaagent/netty/Dockerfile
  sdks/aperture-java/dockerfiles/middlewares/armeria/Dockerfile
  sdks/aperture-java/dockerfiles/middlewares/netty/Dockerfile
  sdks/aperture-java/examples/netty-example/build.gradle.kts
  sdks/aperture-java/examples/standalone-example/build.gradle.kts
  sdks/aperture-java/examples/tomcat-example/build.gradle.kts
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/agent/build.gradle.kts
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/ApertureInstrumentationAgent.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/InstrumentationModule.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/TransformerInstrumentation.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaClientAdvice.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaClientInstrumentation.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaInstrumentationModule.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaServerAdvice.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaServerInstrumentation.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/netty/NettyInstrumentationModule.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/netty/NettyServerAdvice.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/netty/NettyServerInstrumentation.java
  sdks/aperture-java/javaagent/test-services/README.md
  sdks/aperture-java/javaagent/test-services/armeria-test-service/build.gradle.kts
  sdks/aperture-java/javaagent/test-services/armeria-test-service/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/javaagent/test-services/netty-test-service/build.gradle.kts
  sdks/aperture-java/javaagent/test-services/netty-test-service/src/main/java/com/fluxninja/example/HelloWorldHandler.java
  sdks/aperture-java/javaagent/test-services/netty-test-service/src/main/java/com/fluxninja/example/NettyServer.java
  sdks/aperture-java/javaagent/test-services/netty-test-service/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/settings.gradle.kts
  sdks/aperture-java/version.gradle.kts
Due: updated-aperture-java

Split validator running commands into separate lines
  .circleci/continue-workflows.yml
Due: none

add description on arch page
  docs/content/architecture/architecture.md
Due: updated-aperture-docs

Move Agent specific config to separate pkg
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperture-agent/config/types.go
  cmd/aperture-agent/config/zz_generated.deepcopy.go
  docs/gen/config/agent/config-swagger.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/services_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Move Controller specific config to separate pkg
  cmd/aperture-controller/config/types.go
  cmd/aperture-controller/config/zz_generated.deepcopy.go
  cmd/aperture-controller/controller/otel-config.go
  docs/gen/config/controller/config-swagger.yaml
  operator/api/controller/v1alpha1/controller_types.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/services_test.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Remove extra ld flags from operator builds
  Makefile
  operator/Dockerfile
Due: none

Added support for installation and uninstallation of aperture in aperturectl
  cmd/aperturectl/cmd/apply/root.go
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/globals.go
  cmd/aperturectl/cmd/blueprints/list.go
  cmd/aperturectl/cmd/blueprints/pull.go
  cmd/aperturectl/cmd/blueprints/remove.go
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/blueprints/values.go
  cmd/aperturectl/cmd/installation/agent.go
  cmd/aperturectl/cmd/installation/controller.go
  cmd/aperturectl/cmd/installation/install.go
  cmd/aperturectl/cmd/installation/uninstall.go
  cmd/aperturectl/cmd/installation/utils.go
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/cmd/utils/globals.go
  cmd/aperturectl/cmd/utils/info.go
  cmd/aperturectl/cmd/utils/utils.go
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/blueprints/list/list.md
  docs/content/reference/aperturectl/blueprints/pull/pull.md
  docs/content/reference/aperturectl/blueprints/remove/remove.md
  docs/content/reference/aperturectl/install/agent/agent.md
  docs/content/reference/aperturectl/install/controller/controller.md
  docs/content/reference/aperturectl/install/install.md
  docs/content/reference/aperturectl/uninstall/agent/agent.md
  docs/content/reference/aperturectl/uninstall/controller/controller.md
  docs/content/reference/aperturectl/uninstall/uninstall.md
  go.mod
  go.sum
  manifests/charts/aperture-agent/templates/rbac.yaml
  manifests/charts/aperture-controller/templates/rbac.yaml
Due: updated-aperture, updated-aperture-docs, updated-aperture-charts

Made timeout configurable for uninstall command
  cmd/aperturectl/cmd/installation/agent.go
  cmd/aperturectl/cmd/installation/controller.go
  cmd/aperturectl/cmd/installation/uninstall.go
  cmd/aperturectl/cmd/installation/utils.go
  docs/content/reference/aperturectl/uninstall/agent/agent.md
  docs/content/reference/aperturectl/uninstall/controller/controller.md
  docs/content/reference/aperturectl/uninstall/uninstall.md
Due: updated-aperture, updated-aperture-docs

Add control point cache service
  api/aperture/controlpointcache/v1/kubernetes.proto
  api/gen/proto/go/aperture/controlpointcache/v1/kubernetes.pb.go
  api/gen/proto/go/aperture/controlpointcache/v1/kubernetes.pb.gw.go
  api/gen/proto/go/aperture/controlpointcache/v1/kubernetes.pb.json.go
  api/gen/proto/go/aperture/controlpointcache/v1/kubernetes_deepcopy.gen.go
  api/gen/proto/go/aperture/controlpointcache/v1/kubernetes_grpc.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/discovery/kubernetes/control-point-cache-service.go
  pkg/discovery/kubernetes/control-point-cache.go
  pkg/discovery/kubernetes/control-point-discovery.go
  pkg/discovery/kubernetes/provide.go
Due: updated-aperture, updated-aperture-docs

Add controlpoints API for flowcontrol
  api/aperture/controlpointcache/v1/kubernetes.proto
  api/aperture/flowcontrol/controlpoints/v1/controlpoints.proto
  api/aperture/flowcontrol/entitycache/v1/entitycache.proto
  api/gen/proto/go/aperture/controlpointcache/v1/kubernetes.pb.go
  api/gen/proto/go/aperture/controlpointcache/v1/kubernetes.pb.gw.go
  api/gen/proto/go/aperture/controlpointcache/v1/kubernetes_grpc.pb.go
  api/gen/proto/go/aperture/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/flowcontrol/controlpoints/v1/controlpoints.pb.go
  api/gen/proto/go/aperture/flowcontrol/controlpoints/v1/controlpoints.pb.gw.go
  api/gen/proto/go/aperture/flowcontrol/controlpoints/v1/controlpoints.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/controlpoints/v1/controlpoints_deepcopy.gen.go
  api/gen/proto/go/aperture/flowcontrol/controlpoints/v1/controlpoints_grpc.pb.go
  api/gen/proto/go/aperture/flowcontrol/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/flowcontrol/entitycache/v1/entitycache.pb.gw.go
  api/gen/proto/go/aperture/flowcontrol/entitycache/v1/entitycache.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/entitycache/v1/entitycache_deepcopy.gen.go
  api/gen/proto/go/aperture/flowcontrol/entitycache/v1/entitycache_grpc.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/cache/cache.go
  pkg/discovery/kubernetes/control-point-cache-service.go
  pkg/discovery/kubernetes/provide.go
  pkg/discovery/kubernetes/service-discovery.go
  pkg/discovery/static/static_discovery.go
  pkg/discovery/static/static_discovery_test.go
  pkg/entitycache/cache_test.go
  pkg/entitycache/entity_cache-service.go
  pkg/entitycache/entity_cache.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/flowcontrol/service/check/check_test.go
  pkg/policies/flowcontrol/service/controlpoints/controlpoints.go
  pkg/policies/flowcontrol/service/controlpoints/provide.go
  pkg/policies/flowcontrol/service/envoy/authz_test.go
  pkg/policies/flowcontrol/service/preview/flow-preview-service.go
  pkg/policies/flowcontrol/service/provide.go
  playground/Tiltfile
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/services.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/services_test.go
Due: updated-aperture, updated-aperture-docs

Fix autoscale controlpoints endpoint
  pkg/discovery/kubernetes/control-point-cache-service.go
  pkg/discovery/kubernetes/provide.go
Due: updated-aperture

add validate script file
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.jsonnet
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.yaml
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/validate.sh
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/values.yaml
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/static-rate-limiting.jsonnet
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/static-rate-limiting.yaml
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/validate.sh
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/values.yaml
Due: updated-aperture-docs

remove the comment code
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.jsonnet
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/static-rate-limiting.jsonnet
Due: updated-aperture-docs

remove extra static parameter
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.jsonnet
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/static-rate-limiting.jsonnet
Due: updated-aperture-docs

remove not used policy imports
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.jsonnet
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/static-rate-limiting.jsonnet
Due: updated-aperture-docs

Updated installation docs to use aperturectl and fixed the upgrade issue
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/list.go
  cmd/aperturectl/cmd/blueprints/pull.go
  cmd/aperturectl/cmd/blueprints/remove.go
  cmd/aperturectl/cmd/installation/agent.go
  cmd/aperturectl/cmd/installation/controller.go
  cmd/aperturectl/cmd/installation/install.go
  cmd/aperturectl/cmd/installation/uninstall.go
  cmd/aperturectl/cmd/installation/utils.go
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/cmd/utils/info.go
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/blueprints/list/list.md
  docs/content/reference/aperturectl/blueprints/pull/pull.md
  docs/content/reference/aperturectl/blueprints/remove/remove.md
  docs/content/reference/aperturectl/install/agent/agent.md
  docs/content/reference/aperturectl/install/controller/controller.md
  docs/content/reference/aperturectl/install/install.md
  docs/content/reference/aperturectl/uninstall/agent/agent.md
  docs/content/reference/aperturectl/uninstall/controller/controller.md
  docs/content/reference/aperturectl/uninstall/uninstall.md
Due: updated-aperture, updated-aperture-docs

Added support for istioconfig installation using aperturectl
  cmd/aperturectl/cmd/installation/agent.go
  cmd/aperturectl/cmd/installation/controller.go
  cmd/aperturectl/cmd/installation/install.go
  cmd/aperturectl/cmd/installation/istioconfig.go
  cmd/aperturectl/cmd/installation/uninstall.go
  cmd/aperturectl/cmd/installation/utils.go
  docs/content/get-started/aperture-cli/aperture-cli.md
  docs/content/get-started/installation/_category_.yml
  docs/content/get-started/integrations/_category_.yml
  docs/content/get-started/integrations/flow-control/envoy/istio.md
  docs/content/reference/aperturectl/install/install.md
  docs/content/reference/aperturectl/install/istioconfig/istioconfig.md
  docs/content/reference/aperturectl/uninstall/istioconfig/istioconfig.md
  docs/content/reference/aperturectl/uninstall/uninstall.md
  go.mod
Due: updated-aperture, updated-aperture-docs

Update policy reference docs layout to bring it more in line with blueprints
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/spec.md
  docs/tools/swagger/swagger-templates/config.gotmpl
Due: updated-aperture-docs

Added TUI for aperturectl blueprints generate and values commands
  cmd/aperturectl/cmd/apply/root.go
  cmd/aperturectl/cmd/blueprints/values.go
  cmd/aperturectl/cmd/tui/checkbox.go
  go.mod
  go.sum
Due: updated-aperture

Remove built-in alerter in LoadActuator, create as normal component
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/v1/alerterparameters.libsonnet
  blueprints/gen/v1/loadactuator.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/aimd-concurrency-controller.go
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
  pkg/policies/controlplane/components/alerter.go
Due: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
