Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

Fix etcd init container tag
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/values.yaml
Due: updated-aperture-charts

Remove annotations sections from all policies
  blueprints/auto-scaling/pod-auto-scaler/policy.libsonnet
  blueprints/load-ramping/base/policy.libsonnet
  blueprints/load-scheduling/common/policy.libsonnet
  blueprints/quota-scheduling/base/policy.libsonnet
  blueprints/rate-limiting/base/policy.libsonnet
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/policy.yaml
  docs/content/use-cases/load-ramping/assets/average-latency-feedback/policy.yaml
  docs/content/use-cases/load-scheduling/assets/prioritization/policy.yaml
  docs/content/use-cases/load-scheduling/assets/protection/policy.yaml
  docs/content/use-cases/quota-scheduling/assets/client-side-rate-limiting/policy.yaml
  docs/content/use-cases/rate-limiting/assets/graphql-rate-limiting/policy.yaml
  docs/content/use-cases/rate-limiting/assets/static-rate-limiting/policy.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/feature-rollout/policies/feature-rollout-cr.yaml
  playground/scenarios/graphql-rate-limiting/policies/graphql-rate-limiting-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/rabbitmq-queue-buildup/policies/service1-demoapp-rabbitmq-queue-buildup-cr.yaml
  playground/scenarios/rate-limiting/policies/rate-limiting-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
Due: updated-aperture-operator, updated-aperture-docs, updated-blueprints

Clarify nil PlainMap is ok
  pkg/labels/labels.go
Due: updated-aperture

Replace references to feature rollout with load ramp
  blueprints/load-ramping/base/config.libsonnet
  blueprints/load-ramping/base/dynamic-config.libsonnet
  blueprints/load-ramping/base/gen/definitions.json
  blueprints/load-ramping/base/gen/dynamic-config-definitions.json
  blueprints/load-ramping/base/gen/dynamic-config-values.yaml
  blueprints/load-ramping/base/gen/values.yaml
  blueprints/load-ramping/base/policy.libsonnet
  docs/content/introduction.md
  docs/content/reference/blueprints/load-ramping/base.md
  docs/content/use-cases/load-ramping/assets/average-latency-feedback/dynamic-values.yaml
  docs/content/use-cases/load-ramping/assets/average-latency-feedback/policy.yaml
  docs/content/use-cases/load-ramping/assets/average-latency-feedback/values.yaml
  docs/content/use-cases/load-ramping/average-latency-feedback.md
  playground/scenarios/feature-rollout/metadata.json
  playground/scenarios/feature-rollout/policies/feature-rollout-cr.yaml
  playground/scenarios/feature-rollout/policies/load-ramping-cr.yaml
  playground/scenarios/feature-rollout/policies/load-ramping.yaml
Due: updated-aperture-docs, updated-blueprints

Update scenario policies
  playground/scenarios/feature-rollout/policies/load-ramping-cr.yaml
  playground/scenarios/feature-rollout/policies/load-ramping.yaml
Due: none

Checkpoint
  playground/resources/demo-ui/src/pages/home.tsx
  playground/resources/demo-ui/src/pages/success-icon.tsx
  playground/scenarios/graceful-js/load-generator/test.js
  playground/scenarios/graceful-js/metadata.json
  playground/scenarios/graceful-js/policies/feature-rollout-cr.yaml
  playground/scenarios/graceful-js/policies/feature-rollout.yaml
  playground/scenarios/graceful-js/policies/feature-rollout/feature-rollout-cr.yaml
  playground/scenarios/graceful-js/policies/rate-limiting-cr.yaml
  playground/scenarios/graceful-js/policies/rate-limiting.yaml
  playground/scenarios/graceful-js/policies/rate-limiting/rate-limiting-cr.yaml
  playground/scenarios/graceful-js/policies/workload-prioritization-cr.yaml
  playground/scenarios/graceful-js/policies/workload-prioritization.yaml
  playground/scenarios/graceful-js/policies/workload-prioritization/workload-prioritization-cr.yaml
Due: none

fix vale issue
  .github/styles/Vocab/FluxNinja/accept.txt
Due: updated-aperture-docs

Add Pop-Up when selecting WP scenario
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/resources/demo-ui/src/pages/home.tsx
  playground/resources/demo-ui/src/pages/success-icon.tsx
  playground/scenarios/graceful-js/load-generator/test.js
Due: none

Test interceptors
  pkg/net/grpc/server.go
Due: updated-aperture

Add support for Google Token Source to prometheus client
  pkg/google/token_source.go
  pkg/policies/controlplane/policy-factory.go
  pkg/prometheus/client.go
Due: updated-aperture

Make *PrometheusEnforcer available for policies and components
  pkg/policies/controlplane/policy-factory.go
Due: updated-aperture

Don't reuse Prometheus Labels Enforcer between components
  pkg/prometheus/enforcer.go
Due: updated-aperture

Move google token source configuration around
  docs/gen/config/controller/config-swagger.yaml
  operator/api/common/common_types.go
  operator/api/common/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/google/config/config.go
  pkg/google/token_source.go
  pkg/policies/controlplane/policy-factory.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Try non empty server name
  pkg/net/grpc/server.go
Due: updated-aperture

Remove optional groups
  pkg/net/grpc/server.go
Due: updated-aperture

Add default names to servers
  pkg/net/grpc/server.go
  pkg/net/http/server.go
Due: updated-aperture

Make groups not optional
  pkg/net/grpc/server.go
Due: updated-aperture

Add a way to override controller ServiceAccount used
  operator/api/common/security_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/utils.go
Due: updated-aperture-operator, updated-aperture-charts

Some more debug logging for the prometheus token source integration
  pkg/google/config/zz_generated.deepcopy.go
  pkg/google/token_source.go
  pkg/prometheus/client.go
  pkg/prometheus/prom-query.go
Due: updated-aperture

Better fx error handling
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
Due: updated-aperture

Call ctrl.SetControllerReference from caller and not called function
  operator/controllers/controller/configmaps.go
  operator/controllers/controller/deployment.go
  operator/controllers/controller/reconciler.go
  operator/controllers/controller/serviceaccount.go
Due: updated-aperture-operator

Only delete ServiceAccount if it's managed by the CR
  operator/controllers/controller/reconciler.go
Due: updated-aperture-operator

Optionally disable default controller prometheus metrics pipeline
  cmd/aperture-controller/config/types.go
  cmd/aperture-controller/controller/otel-config.go
  docs/content/reference/configuration/controller.md
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Updated config format for the kubelet infra_meter
  blueprints/auto-scaling/common/config-defaults.libsonnet
  blueprints/auto-scaling/common/policy.libsonnet
  blueprints/auto-scaling/pod-auto-scaler/bundle.libsonnet
  blueprints/auto-scaling/pod-auto-scaler/config.libsonnet
  blueprints/auto-scaling/pod-auto-scaler/gen/definitions.json
  blueprints/auto-scaling/pod-auto-scaler/gen/values.yaml
  blueprints/common/config-defaults.libsonnet
  blueprints/load-scheduling/average-latency/gen/definitions.json
  blueprints/load-scheduling/average-latency/gen/values.yaml
  blueprints/load-scheduling/common/config-defaults.libsonnet
  blueprints/load-scheduling/common/policy.libsonnet
  blueprints/load-scheduling/postgresql/config.libsonnet
  blueprints/load-scheduling/postgresql/gen/definitions.json
  blueprints/load-scheduling/postgresql/gen/values.yaml
  blueprints/load-scheduling/promql/gen/definitions.json
  blueprints/load-scheduling/promql/gen/values.yaml
  blueprints/utils/utils.libsonnet
  docs/content/get-started/policies/assets/raw_values.yaml
  docs/content/reference/blueprints/auto-scaling/pod-auto-scaler.md
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
  docs/content/reference/blueprints/load-scheduling/promql.md
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
Due: updated-aperture-docs, updated-blueprints

Fixed missing updates of CRDs in charts
  Makefile
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
Due: updated-aperture-charts

Publish . ./aperture-agent-v2.7.0-rc.1.tgz
  aperture-agent-v2.7.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.7.0-rc.1.tgz
  aperture-controller-v2.7.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.7.0-rc.1.tgz
  index.yaml
  istioconfig-v2.7.0-rc.1.tgz
Due: none

Fix visualize error logs in agent and controller
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
Due: updated-aperture

Add better log message and return after visualize error
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
Due: updated-aperture

fixes and add fx svg
  playground/resources/demo-app/app/app.go
  playground/resources/demo-ui/src/api.ts
  playground/resources/demo-ui/src/pages/home.tsx
  playground/resources/demo-ui/src/pages/success-icon.tsx
  playground/resources/demo-ui/webpack.config.js
  playground/scenarios/graceful-js/load-generator/test.js
  playground/scenarios/graceful-js/policies/feature-rollout-cr.yaml
  playground/scenarios/graceful-js/policies/rate-limiting-cr.yaml
  playground/scenarios/graceful-js/policies/workload-prioritization.yaml
Due: updated-demo-app
