Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Revert "Build(deps): Bump helm.sh/helm/v3 from 3.12.2 to 3.13.0"
  go.mod
  go.sum
Due: updated-aperture

Update go.sum
  go.sum
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture, updated-aperture-operator, updated-aperture-charts

Update to checkout@v4
  .github/workflows/create-release.yaml
Due: none

Publish . ./aperture-agent-v2.19.0-rc.2.tgz
  aperture-agent-v2.19.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.19.0-rc.2.tgz ./index.yaml
  index.yaml
  istioconfig-v2.19.0-rc.2.tgz
Due: none

Publish . ./aperture-controller-v2.19.0-rc.2.tgz ./index.yaml
  aperture-controller-v2.19.0-rc.2.tgz
  index.yaml
Due: none

Fix checkout depth in workflow
  .github/workflows/create-release.yaml
Due: none

Publish . ./istioconfig-v2.19.0-rc.3.tgz
  index.yaml
  istioconfig-v2.19.0-rc.3.tgz
Due: none

Publish . ./aperture-controller-v2.19.0-rc.3.tgz
  aperture-controller-v2.19.0-rc.3.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v2.19.0-rc.3.tgz ./index.yaml
  aperture-agent-v2.19.0-rc.3.tgz
  index.yaml
Due: none

Add github token in the workflow
  .github/workflows/create-release.yaml
Due: none

Publish . ./istioconfig-v2.19.0-rc.4.tgz
  index.yaml
  istioconfig-v2.19.0-rc.4.tgz
Due: none

Publish . ./aperture-controller-v2.19.0-rc.4.tgz
  aperture-controller-v2.19.0-rc.4.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v2.19.0-rc.4.tgz ./index.yaml
  aperture-agent-v2.19.0-rc.4.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.19.0.tgz
  index.yaml
  istioconfig-v2.19.0.tgz
Due: none

Publish . ./aperture-agent-v2.19.0.tgz
  aperture-agent-v2.19.0.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.19.0.tgz
  aperture-controller-v2.19.0.tgz
  index.yaml
Due: none

rename flow control framework
  docs/content/guides/rate-limiting-framework.md
Due: updated-aperture-docs

rename rate limiting guide to per user rate limiting
  docs/content/guides/per-user-rate-limiting.md
Due: updated-aperture-docs

rename asset folder and keep the file name same for per user
  docs/content/guides/assets/rate-limiting-framework/adaptive-service-limits.svg
  docs/content/guides/assets/rate-limiting-framework/per-user-limits.svg
  docs/content/guides/rate-limiting-framework.md
  docs/content/guides/rate-limiting.md
Due: updated-aperture-docs

change sidebar position
  docs/content/guides/classifying-workloads/classifying-workloads.md
  docs/content/guides/rate-limiting.md
Due: updated-aperture-docs

rename file and assets to per user rate limiting
  docs/content/guides/assets/per-user-rate-limiting/dashboard.png
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.md5sum
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.svg
  docs/content/guides/assets/per-user-rate-limiting/policy.yaml
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd.md5sum
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd.svg
  docs/content/guides/assets/per-user-rate-limiting/validate.sh
  docs/content/guides/assets/per-user-rate-limiting/values.yaml
  docs/content/guides/per-user-rate-limiting.md
  docs/content/guides/rate-limiting-framework.md
  docs/content/introduction.md
Due: updated-aperture-docs

Move new chart params to the end
  blueprints/grafana/utils/bar_chart_panel.libsonnet
  blueprints/grafana/utils/time_series_panel.libsonnet
Due: updated-blueprints

add some text to what possible operation aperturectl can do, and link to references
  docs/content/get-started/installation/aperture-cli/aperture-cli.md
Due: updated-aperture-docs

Simplify newer version behaviour for aperturectl
  cmd/aperturectl/cmd/blueprints/pull.go
  cmd/aperturectl/cmd/build/root.go
  cmd/aperturectl/cmd/cloud/utils/controller.go
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/cmd/utils/globals.go
  cmd/aperturectl/cmd/utils/version.go
Due: updated-aperture

Handle policy with no circuit
  blueprints/grafana/creator.libsonnet
Due: updated-blueprints

Add missing inframeter and split Java blueprints
  blueprints/grafana/creator.libsonnet
  blueprints/load-scheduling/elasticsearch/bundle.libsonnet
  blueprints/load-scheduling/java-gc-generic/bundle.libsonnet
  blueprints/load-scheduling/java-gc-generic/config.libsonnet
  blueprints/load-scheduling/java-gc-generic/dynamic-config.libsonnet
  blueprints/load-scheduling/java-gc-generic/gen/definitions.json
  blueprints/load-scheduling/java-gc-generic/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/java-gc-generic/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/java-gc-generic/gen/values.yaml
  blueprints/load-scheduling/java-gc-generic/java-gc.libsonnet
  blueprints/load-scheduling/java-gc-generic/metadata.yaml
  blueprints/load-scheduling/java-gc-generic/policy.libsonnet
  blueprints/load-scheduling/java-gc-generic/utils.libsonnet
  blueprints/load-scheduling/java-gc-k8s/README.md
  blueprints/load-scheduling/java-gc-k8s/bundle.libsonnet
  blueprints/load-scheduling/java-gc-k8s/config.libsonnet
  blueprints/load-scheduling/java-gc-k8s/dynamic-config.libsonnet
  blueprints/load-scheduling/java-gc-k8s/gen/definitions.json
  blueprints/load-scheduling/java-gc-k8s/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/java-gc-k8s/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/java-gc-k8s/gen/values.yaml
  blueprints/load-scheduling/java-gc-k8s/java-gc.libsonnet
  blueprints/load-scheduling/java-gc-k8s/metadata.yaml
  blueprints/load-scheduling/java-gc-k8s/policy.libsonnet
  blueprints/load-scheduling/java-gc-k8s/utils.libsonnet
  blueprints/load-scheduling/jmx/metadata.yaml
  docs/content/reference/blueprints/load-scheduling/jmx.md
  playground/scenarios/elasticsearch-overload/policies/service1-demoapp-elasticsearch-overload-cr.yaml
  playground/scenarios/java-gc-service-protection/load-generator/test.js
  playground/scenarios/java-gc-service-protection/metadata.json
  playground/scenarios/java-gc-service-protection/policies/java-gc-service-protection-cr.yaml
  playground/scenarios/java-gc-service-protection/policies/java-gc-service-protection.yaml
  playground/scenarios/java-gc-service-protection/values.yaml
Due: updated-aperture-docs, updated-blueprints

Fix unmarshalling in getPolicyResponse
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture

Add missing infra meteres & create java gc blueprint
  docs/content/reference/blueprints/load-scheduling/java-gc-generic.md
  docs/content/reference/blueprints/load-scheduling/java-gc-k8s.md
Due: updated-aperture-docs

Remove unused gauge panel
  blueprints/grafana/panels/avg_preemption_gauge.libsonnet
Due: updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
