Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Fix pre-commit
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: updated-aperture-java

State cache to global cache
  cmd/aperturectl/cmd/cloud/globalcache/delete.go
  cmd/aperturectl/cmd/cloud/globalcache/get.go
  cmd/aperturectl/cmd/cloud/globalcache/root.go
  cmd/aperturectl/cmd/cloud/globalcache/set.go
  cmd/aperturectl/cmd/cloud/resultcache/root.go
  cmd/aperturectl/cmd/cloud/root.go
  docs/content/reference/aperture-cli/aperturectl/cloud/cloud.md
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/delete/delete.md
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/get/get.md
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/global-cache.md
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/result-cache.md
Due: updated-aperture, updated-aperture-docs

Make python sdk throw less exceptions
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
Due: updated-aperture-py

Python SDK: add flow params to example and update docs
  docs/content/sdk/python/manual.md
  sdks/aperture-py/aperture_sdk/__init__.py
  sdks/aperture-py/example/main.py
Due: updated-aperture-docs, updated-aperture-py

Publish . ./istioconfig-v2.25.1-rc.1.tgz
  index.yaml
  istioconfig-v2.25.1-rc.1.tgz
Due: none

Publish . ./aperture-agent-v2.25.1-rc.1.tgz ./index.yaml
  aperture-agent-v2.25.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.25.1-rc.1.tgz ./index.yaml
  aperture-controller-v2.25.1-rc.1.tgz
  index.yaml
Due: none

Add python code snippets to docs
  docs/content/code-snippets.json
  docs/content/sdk/python/manual.md
  sdks/aperture-py/example/main.py
  sdks/aperture-py/example/manual_flow.py
Due: updated-aperture-docs, updated-aperture-py

Publish . ./istioconfig-v2.25.1.tgz
  index.yaml
  istioconfig-v2.25.1.tgz
Due: none

Publish . ./aperture-controller-v2.25.1.tgz
  aperture-controller-v2.25.1.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v2.25.1.tgz ./index.yaml
  aperture-agent-v2.25.1.tgz
  index.yaml
Due: none

[ImgBot] Optimize images
  docs/content/aperture-for-infra/guides/api-quota-management/assets/inter-service-rate-limiting/graph.mmd.svg
  docs/content/aperture-for-infra/guides/assets/per-user-rate-limiting/graph.mmd.svg
  docs/content/aperture-for-infra/guides/classifying-workloads/assets/graphql/graph.mmd.svg
  docs/content/get-started/assets/architecture/saas-dark.svg
  docs/content/get-started/assets/architecture/saas-light.svg
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.svg
  docs/content/guides/assets/per-user-rate-limiting/rate-limiting.mmd.svg
  docs/content/reference/cloud-ui/assets/api-keys.gif
  docs/content/reference/cloud-ui/assets/api-keys/api-keys-tab.png
  docs/content/reference/cloud-ui/assets/api-keys/create-api-key.png
  docs/content/reference/cloud-ui/assets/personal-access-keys/new-personal-access-token.png
  docs/content/reference/cloud-ui/assets/personal-access-keys/personal-access-token-tab.png
  docs/content/reference/cloud-ui/assets/personal-access-keys/settings.png
  docs/content/reference/cloud-ui/assets/sign-up/create-org.png
  docs/content/reference/cloud-ui/assets/sign-up/create-project.png
  docs/content/reference/cloud-ui/assets/sign-up/get-started.png
  docs/content/reference/cloud-ui/assets/sign-up/invite-members.png
  docs/content/reference/cloud-ui/assets/sign-up/select-subscription.png
  docs/content/reference/cloud-ui/assets/sign-up/sign-up.png
  docs/content/reference/cloud-ui/assets/sign-up/subscribe.png
  docs/content/reference/cloud-ui/assets/sign-up/subscription-plan.png
  docs/content/reference/cloud-ui/assets/sign-up/subscription-started.png
  docs/content/reference/cloud-ui/assets/sign-up/thats-all.png
  docs/content/reference/cloud-ui/policies/assets/2-use-case-select.png
  docs/content/reference/cloud-ui/policies/assets/3-choose-blueprint.png
  docs/content/reference/cloud-ui/policies/assets/4-customize-blueprint.png
  docs/content/reference/cloud-ui/policies/assets/5-review-policy.png
  docs/content/reference/cloud-ui/policies/assets/6-policy-applied.png
Due: updated-aperture-docs

Use same version as other deprecations
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/code-snippets.json
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/quota-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/rate-limiter/rate-limiter.go
Due: updated-aperture, updated-aperture-docs, updated-blueprints

aperture-js: add grpc call options
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture-js

aperture-js: add grpc call options
  sdks/aperture-js/docs/classes/ApertureClient.md
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture-js

aperture-js: fix cache upsert
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture-js

aperture-js: bump version
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
Due: updated-aperture-js

Python SDK: include global cache keys in check request
  sdks/aperture-py/aperture_sdk/client.py
Due: updated-aperture-py

rework serverless image
  docs/content/get-started/assets/architecture/saas-dark.svg
  docs/content/get-started/assets/architecture/saas-light.svg
Due: updated-aperture-docs

Update images with minor improvement
  docs/content/assets/img/unified-load-management-dark.svg
  docs/content/assets/img/unified-load-management-light.svg
Due: updated-aperture-docs

Python SDK: Use LookupStatus.MISS instead of CacheLookupStatus.MISS
  .gitignore
  sdks/aperture-py/aperture_sdk/cache.py
  sdks/aperture-py/aperture_sdk/flow.py
Due: updated-aperture-py

add python caching example
  docs/content/code-snippets.json
  sdks/aperture-py/example/manual_flow.py
Due: updated-aperture-docs, updated-aperture-py

Python SDK: Fix setting cache ttl on upsert
  sdks/aperture-py/aperture_sdk/flow.py
Due: updated-aperture-py

update code and increase ttl to 10 seconds in example
  sdks/aperture-py/example/manual_flow.py
Due: updated-aperture-py

Upgrade OTEL to v0.90.0
  cmd/aperturectl/cmd/utils/autoscale.go
  cmd/aperturectl/cmd/utils/flowcontrol.go
  go.mod
  go.sum
  pkg/net/grpc/client.go
  pkg/net/grpc/server.go
  pkg/otelcollector/otelcollector.go
  pkg/otelcollector/rollupprocessor/key.go
Due: updated-aperture

update code snippets
  docs/content/code-snippets.json
  docs/content/codeSnippet.js
  docs/content/get-started/get-started.md
  docs/content/guides/api-quota-management/openai.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/go/manual.md
  docs/tools/sdk/generate-code-snippets.go
  sdks/aperture-csharp/Examples/Program.cs
  sdks/aperture-go/example/main.go
  sdks/aperture-js/example/basic_usage.ts
  sdks/aperture-py/example/main.py
Due: updated-aperture-docs, updated-aperture-go, updated-aperture-js, updated-aperture-py

Python SDK: clear top-level __init__.py file
  sdks/aperture-py/aperture_sdk/__init__.py
  sdks/aperture-py/docs/all-documents.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlService.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceServicer.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceStub.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.html
  sdks/aperture-py/docs/aperture_sdk._gen.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyDeleteResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyLookupResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyUpsertResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.LookupStatus.html
  sdks/aperture-py/docs/aperture_sdk.cache.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureClient.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureCloudAuthMetadataPlugin.html
  sdks/aperture-py/docs/aperture_sdk.client.FlowParams.html
  sdks/aperture-py/docs/aperture_sdk.client.html
  sdks/aperture-py/docs/aperture_sdk.const.html
  sdks/aperture-py/docs/aperture_sdk.flow.Flow.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowDecision.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowStatus.html
  sdks/aperture-py/docs/aperture_sdk.flow.html
  sdks/aperture-py/docs/aperture_sdk.utils.html
  sdks/aperture-py/docs/classIndex.html
  sdks/aperture-py/docs/fullsearchindex.json
  sdks/aperture-py/docs/index.html
  sdks/aperture-py/docs/moduleIndex.html
  sdks/aperture-py/docs/nameIndex.html
  sdks/aperture-py/docs/objects.inv
  sdks/aperture-py/docs/searchindex.json
  sdks/aperture-py/docs/undoccedSummary.html
  sdks/aperture-py/example/main.py
  sdks/aperture-py/example/manual_flow.py
  sdks/aperture-py/pyproject.toml
Due: updated-aperture-py

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
