Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Update es scenario policy, enable more metrics
  playground/scenarios/elasticsearch-overload/policies/elasticsearch-overload.yaml
  playground/scenarios/elasticsearch-overload/policies/service1-demoapp-elasticsearch-overload-cr.yaml
Due: none

Remove heapSize from elasticsearch config
  playground/tanka/apps/elasticsearch/mixins.libsonnet
Due: updated-blueprints

fix intro
  docs/content/introduction.md
Due: updated-aperture-docs

more fixes
  .github/styles/Vocab/FluxNinja/accept.txt
  docs/content/assets/img/aperture-architecture-dark.svg
  docs/content/assets/img/aperture-architecture-light.svg
  docs/content/faq.md
  docs/content/get-started/installation/agent/docker.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/introduction.md
  docs/content/reference/fluxninja.md
  docs/content/self-hosting/architecture.md
Due: updated-aperture-docs

more fixes
  .github/styles/Vocab/FluxNinja/reject.txt
  docs/content/get-started/installation/agent/docker.md
  docs/content/get-started/installation/configure-cli.md
  docs/content/reference/fluxninja.md
Due: updated-aperture-docs

fix vale
  docs/content/architecture/architecture.md
  docs/content/reference/configuration/aperturectl.md
  docs/content/reference/fluxninja.md
Due: updated-aperture-docs

fix sentence
  docs/content/reference/fluxninja.md
Due: updated-aperture-docs

use reference tags instead of collapsed format
  .github/styles/Vocab/FluxNinja/accept.txt
  docs/content/architecture/architecture.md
  docs/content/faq.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/installation/configure-cli.md
  docs/content/get-started/policies/policies.md
  docs/content/reference/fluxninja.md
  docs/content/self-hosting/agent.md
  docs/content/self-hosting/architecture.md
  docs/content/self-hosting/k8s-objects.md
  docs/content/self-hosting/self-hosting.md
Due: updated-aperture-docs

fix build
  docs/content/get-started/policies/policies.md
  docs/content/self-hosting/k8s-objects.md
Due: updated-aperture-docs

Cleanup architecture page
  docs/content/architecture/architecture.md
Due: updated-aperture-docs

intro line
  docs/content/introduction.md
Due: updated-aperture-docs

docs: Fix links to Aperture Controller section
  docs/content/architecture/architecture.md
Due: updated-aperture-docs

Fix bug in policy generation where `overload_confirmations` were added twice
  blueprints/load-scheduling/common/policy.libsonnet
  blueprints/load-scheduling/common/utils.libsonnet
Due: updated-blueprints

Fix the line describing what needs to configured in the Agent values.yaml
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
Due: updated-aperture-docs

Add elasticsearch-search blueprint variant
  blueprints/load-scheduling/elasticsearch-search/README.md
  blueprints/load-scheduling/elasticsearch-search/bundle.libsonnet
  blueprints/load-scheduling/elasticsearch-search/config.libsonnet
  blueprints/load-scheduling/elasticsearch-search/dynamic-config.libsonnet
  blueprints/load-scheduling/elasticsearch-search/elasticsearch-search.libsonnet
  blueprints/load-scheduling/elasticsearch-search/gen/definitions.json
  blueprints/load-scheduling/elasticsearch-search/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/elasticsearch-search/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/elasticsearch-search/gen/values.yaml
  blueprints/load-scheduling/elasticsearch-search/metadata.yaml
  blueprints/load-scheduling/elasticsearch-search/policy.libsonnet
  docs/content/reference/blueprints/load-scheduling/elasticsearch-search.md
  playground/scenarios/elasticsearch-overload/metadata.json
  playground/scenarios/elasticsearch-overload/policies/elasticsearch-overload.yaml
  playground/scenarios/elasticsearch-overload/policies/service1-demoapp-elasticsearch-overload-cr.yaml
Due: updated-aperture-docs, updated-blueprints

Update introduction page images
  docs/content/assets/img/aperture-architecture-dark.svg
  docs/content/assets/img/aperture-architecture-light.svg
  docs/content/assets/img/oaadark.png
  docs/content/assets/img/oaadark.svg
  docs/content/assets/img/oaalight.png
  docs/content/assets/img/oaalight.svg
  docs/content/introduction.md
Due: updated-aperture-docs

docs: Remove accidental usage of shortcut-style links
  docs/content/reference/fluxninja.md
  docs/content/reference/observability/flow-metrics/flow-metrics.md
Due: updated-aperture-docs

rename to FluxNinja Aperture Cloud Extension
  docs/content/reference/fluxninja.md
Due: updated-aperture-docs

fix a typo
  docs/content/reference/fluxninja.md
Due: updated-aperture-docs

Silence the 'lease keepalive response queue is full' warning
  pkg/etcd/client/client.go
Due: updated-aperture

Fix common config defaults doc
  blueprints/load-scheduling/average-latency/gen/definitions.json
  blueprints/load-scheduling/common/config-defaults.libsonnet
  blueprints/load-scheduling/elasticsearch-search/gen/definitions.json
  blueprints/load-scheduling/postgresql/gen/definitions.json
  blueprints/load-scheduling/promql/gen/definitions.json
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/blueprints/load-scheduling/elasticsearch-search.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
  docs/content/reference/blueprints/load-scheduling/promql.md
Due: updated-aperture-docs, updated-blueprints

Update elasticsearch blueprint variant
  blueprints/load-scheduling/common/utils.libsonnet
  blueprints/load-scheduling/elasticsearch-search/README.md
  blueprints/load-scheduling/elasticsearch-search/bundle.libsonnet
  blueprints/load-scheduling/elasticsearch-search/config.libsonnet
  blueprints/load-scheduling/elasticsearch-search/metadata.yaml
  blueprints/load-scheduling/elasticsearch/README.md
  blueprints/load-scheduling/elasticsearch/bundle.libsonnet
  blueprints/load-scheduling/elasticsearch/config.libsonnet
  blueprints/load-scheduling/elasticsearch/dynamic-config.libsonnet
  blueprints/load-scheduling/elasticsearch/elasticsearch.libsonnet
  blueprints/load-scheduling/elasticsearch/gen/definitions.json
  blueprints/load-scheduling/elasticsearch/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/elasticsearch/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/elasticsearch/gen/values.yaml
  blueprints/load-scheduling/elasticsearch/metadata.yaml
  blueprints/load-scheduling/elasticsearch/policy.libsonnet
  docs/content/reference/blueprints/load-scheduling/elasticsearch.md
  playground/Tiltfile
  playground/scenarios/elasticsearch-overload/load-generator/test.js
  playground/scenarios/elasticsearch-overload/metadata.json
  playground/scenarios/elasticsearch-overload/policies/elasticsearch-overload.yaml
  playground/scenarios/elasticsearch-overload/policies/service1-demoapp-elasticsearch-overload-cr.yaml
Due: updated-aperture-docs, updated-blueprints

Add repo/branch parameters to update env script
  .circleci/scripts/update_environment.sh
Due: none

Set `per_agent_group` to false as default
  blueprints/load-scheduling/elasticsearch/bundle.libsonnet
  playground/scenarios/elasticsearch-overload/policies/service1-demoapp-elasticsearch-overload-cr.yaml
Due: updated-blueprints

docs: Use quotes for endpoint value
  docs/content/get-started/installation/agent/docker.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/reference/fluxninja.md
  docs/content/self-hosting/agent.md
Due: updated-aperture-docs

Updated aperture-js for release
  sdks/aperture-js/README.md
  sdks/aperture-js/package.json
Due: updated-aperture-js

Added badges
  sdks/aperture-java/README.md
  sdks/aperture-js/README.md
Due: updated-aperture-js, updated-aperture-java

Added CI for aperture-js release
  sdks/aperture-js/.circleci/config.yml
  sdks/aperture-js/.circleci/continue-workflows.yml
  sdks/aperture-js/.circleci/scripts/asdf_install.sh
  sdks/aperture-js/.tool-versions
  sdks/aperture-js/README.md
  sdks/aperture-js/scripts/install_asdf_tools.sh
Due: updated-aperture-js

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
