Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app

.circleci/config.yml:

version: 2.1

# this allows to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

workflows:
  version: 2
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
        - not:
            matches:
              &is_not_empty_tag {
                value: << pipeline.git.tag >>,
                pattern: "^.+$",
              }
        - not: &scheduled
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
    jobs:
      - path-filtering/filter: &path_filtering_job
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/continue-workflows.yml
          mapping: |
            (cmd|pkg|plugins|tools|api)/.* updated-aperture true
            operator/(api|config|controllers|hack)/.*|operator/main.go updated-aperture-operator true
            (go.mod|go.sum) updated-aperture true
            docs/.* updated-aperture-docs true
            manifests/charts/.* updated-aperture-charts true
            tools/demo_app/.* updated-demo-app true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
        - not:
            matches: *is_not_empty_tag
        - not: *scheduled
    jobs:
      - path-filtering/filter:
          <<: *path_filtering_job
          base-revision: main
  release:
    when:
      matches: { value: << pipeline.git.tag >>, pattern: "^releases/.*$" }
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release.yaml

Fix Prometheus scrape config in OTEL
  go.mod
  pkg/otel/config.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

Update grafana-forward workload name
  playground/Tiltfile
Due: none

Add activateAuthentication()
  test/harness/etcd.go
Due: none

Update grafana-operator workload name
  playground/Tiltfile
Due: none

Remove unnecessary return error
  test/harness/etcd.go
Due: none

Introduce BurstSampler with Sampler()
  pkg/log/log.go
Due: updated-aperture

More granual control in burst sampler
  pkg/log/log.go
Due: updated-aperture

Revert Etcd bump
  go.mod
  go.sum
Due: updated-aperture

generate pngs as well
  .pre-commit-config.yaml
  docs/Makefile
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.png
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.png
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.png
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.png
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.png
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/assets/gen/architecture_simple.mmd.png
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/assets/gen/flow-control.md_0.mmd.png
  docs/content/assets/gen/flow-control.md_0.mmd.svg
  docs/content/assets/gen/service.md_0.mmd.png
  docs/content/assets/gen/service.md_0.mmd.svg
  docs/content/assets/gen/service.md_1.mmd.png
  docs/content/assets/gen/service.md_1.mmd.svg
  docs/content/assets/gen/service.md_2.mmd.png
  docs/content/assets/gen/service.md_2.mmd.svg
  docs/tools/mermaid/mermaid.css
  playground/tanka/chartfile.yaml
Due: updated-aperture-docs

Add fluxMeterbuckets to demoapp mixins
  playground/tanka/apps/demoapp/mixins.libsonnet
Due: none

scale = 2
  docs/Makefile
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.png
  docs/content/assets/diagrams/architecture/aperture.mmd.png
  docs/content/assets/diagrams/architecture/fluxninja.mmd.png
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.png
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.png
  docs/content/assets/gen/architecture_simple.mmd.png
  docs/content/assets/gen/flow-control.md_0.mmd.png
  docs/content/assets/gen/service.md_0.mmd.png
  docs/content/assets/gen/service.md_1.mmd.png
  docs/content/assets/gen/service.md_2.mmd.png
Due: updated-aperture-docs

revert istio chart changes
  playground/tanka/chartfile.yaml
Due: none

fix demo policy classifier rule
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  playground/tanka/apps/demoapp/mixins.libsonnet
Due: updated-aperture-charts

do not send request body
  manifests/charts/istioconfig/templates/envoy_filter.yaml
Due: updated-aperture-charts

Modify FluxMeter Custom
  libsonnet/1.0/custom/policylanguagev1fluxmeter.libsonnet
Due: none

Update operators template & bump etcd client
  go.mod
  go.sum
  operator/controllers/agent_config_test.tpl
  operator/controllers/controller_config_test.tpl
Due: updated-aperture, updated-aperture-operator

Clean up
  test/harness/etcd.go
Due: none

[ImgBot] Optimize images
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.png
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.png
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.png
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.png
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.png
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/assets/gen/architecture_simple.mmd.png
  docs/content/assets/gen/architecture_simple.mmd.svg
  docs/content/assets/gen/flow-control.md_0.mmd.png
  docs/content/assets/gen/flow-control.md_0.mmd.svg
  docs/content/assets/gen/service.md_0.mmd.png
  docs/content/assets/gen/service.md_0.mmd.svg
  docs/content/assets/gen/service.md_1.mmd.png
  docs/content/assets/gen/service.md_1.mmd.svg
  docs/content/assets/gen/service.md_2.mmd.png
  docs/content/assets/gen/service.md_2.mmd.svg
Due: updated-aperture-docs

Split Decider component into Decider and Switcher
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  docs/content/reference/configuration/policies.md
  docs/gen/policies/gen.yaml
  libsonnet/1.0/_gen/v1/component.libsonnet
  libsonnet/1.0/_gen/v1/decider.libsonnet
  libsonnet/1.0/_gen/v1/deciderins.libsonnet
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/switcher.libsonnet
  libsonnet/1.0/_gen/v1/switcherins.libsonnet
  libsonnet/1.0/_gen/v1/switcherouts.libsonnet
  pkg/policies/controlplane/components/decider.go
  pkg/policies/controlplane/components/switcher.go
  pkg/policies/controlplane/validator_test.go
Due: updated-aperture, updated-aperture-docs

Publish . ./aperture-controller-v0.2.1.tgz
  aperture-controller-v0.2.1.tgz
  index.yaml
Due: none

helm chart version change for v0.2.2
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-charts

Publish . ./aperture-controller-v0.2.2.tgz
  aperture-controller-v0.2.2.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v0.2.2.tgz
  aperture-agent-v0.2.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.2.2.tgz
  index.yaml
  istioconfig-v0.2.2.tgz
Due: none

Added CRD for Policy and structure for Reconcile
  operator/Dockerfile
  operator/PROJECT
  operator/api/v1alpha1/policy_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_policies.yaml
  operator/config/crd/kustomization.yaml
  operator/config/crd/patches/cainjection_in_policies.yaml
  operator/config/crd/patches/webhook_in_policies.yaml
  operator/config/rbac/policy_editor_role.yaml
  operator/config/rbac/policy_viewer_role.yaml
  operator/config/rbac/role.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  operator/controllers/agent_reconciler.go
  operator/controllers/policy_reconciler.go
  operator/main.go
Due: updated-aperture-operator

Change some stuff to debug the problem
  cmd/aperture-agent/agent.go
  pkg/config/commandline.go
  pkg/platform/platform.go
Due: updated-aperture

add missing git commit hash and git branch in the script
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  pkg/info/build.sh
  pkg/plugins/build.sh
Due: updated-aperture

Fixed the policy name issue due to which graphs were not showing
  operator/controllers/policy_reconciler.go
  operator/controllers/policy_reconciler_test.go
  playground/tanka/apps/demoapp/mixins.libsonnet
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: updated-aperture-operator

add check for the git repo
  pkg/info/build.sh
Due: updated-aperture
