Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

Review changes
  cmd/aperturectl/cmd/utils/controller.go
Due: updated-aperture

Added support to load config from environment variables in aperturectl
  cmd/aperturectl/cmd/utils/controller.go
  cmd/aperturectl/cmd/utils/globals.go
  docs/content/reference/aperturectl/agents/agents.md
  docs/content/reference/aperturectl/apply/apply.md
  docs/content/reference/aperturectl/apply/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/apply/policy/policy.md
  docs/content/reference/aperturectl/auto-scale/auto-scale.md
  docs/content/reference/aperturectl/auto-scale/control-points/control-points.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/decisions/decisions.md
  docs/content/reference/aperturectl/delete/delete.md
  docs/content/reference/aperturectl/delete/policy/policy.md
  docs/content/reference/aperturectl/discovery/discovery.md
  docs/content/reference/aperturectl/discovery/entities/entities.md
  docs/content/reference/aperturectl/flow-control/control-points/control-points.md
  docs/content/reference/aperturectl/flow-control/flow-control.md
  docs/content/reference/aperturectl/flow-control/preview/preview.md
  docs/content/reference/aperturectl/policies/policies.md
  go.mod
  go.sum
Due: updated-aperture, updated-aperture-docs

Added documentation of customizing packaged etcd and prometheus installation
  docs/content/get-started/installation/controller/kubernetes/kubernetes.md
Due: updated-aperture-docs

Language tool suggestion
  docs/content/get-started/installation/controller/kubernetes/kubernetes.md
Due: updated-aperture-docs

Fixed the required fields only in blueprints values
  api/buf.lock
  blueprints/auto-scaling/pod-auto-scaler/gen/values.yaml
  blueprints/blueprint-assets-generator.py
  blueprints/load-ramping/base/gen/values.yaml
  blueprints/load-scheduling/average-latency/gen/values.yaml
  blueprints/load-scheduling/postgresql/gen/values.yaml
  blueprints/load-scheduling/promql/gen/values.yaml
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/rate-limiting/base/gen/values.yaml
  docs/content/get-started/policies/assets/raw_values.yaml
Due: updated-aperture, updated-aperture-docs, updated-blueprints

Move get-started to ARC section
  docs/content/sidebars.json
Due: updated-aperture-docs

Split docs FluxNinja ARC and Aperture sections
  docs/content/arc/arc.md
  docs/content/arc/extension.md
  docs/content/introduction.md
  docs/content/sidebars.json
Due: updated-aperture-docs

Publish . ./aperture-agent-v2.10.0-rc.1.tgz
  aperture-agent-v2.10.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.10.0-rc.1.tgz
  index.yaml
  istioconfig-v2.10.0-rc.1.tgz
Due: none

Publish . ./aperture-controller-v2.10.0-rc.1.tgz
  aperture-controller-v2.10.0-rc.1.tgz
  index.yaml
Due: none

Added missing tags for etcd and prometheus
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  pkg/etcd/config.go
  pkg/prometheus/config/config.go
Due: updated-aperture, updated-aperture-docs

CI: Update operator when pkg changes
  .circleci/config.yml
Due: none

Fixed aperturectl apply policy
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/policies.go
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture

Corrected tag for etcd and prometheus config
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  pkg/etcd/config.go
  pkg/prometheus/config/config.go
Due: updated-aperture, updated-aperture-docs

Fixes in agent and controller charts
  manifests/charts/aperture-agent/templates/_helpers.tpl
  manifests/charts/aperture-agent/templates/agent-cm.yaml
  manifests/charts/aperture-agent/templates/agent-cr.yaml
  manifests/charts/aperture-agent/templates/agent-deployment.yaml
  manifests/charts/aperture-controller/templates/_helpers.tpl
  manifests/charts/aperture-controller/templates/controller-deployment.yaml
Due: updated-aperture-charts

Maded etcd and prometheus non-mandatory for agent CR
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/api/common/common_types.go
  operator/api/common/zz_generated.deepcopy.go
  operator/api/controller/v1alpha1/controller_types.go
  operator/api/controller/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/agent_suite_test.go
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/controller_suite_test.go
  operator/controllers/namespace/namespace_suite_test.go
  operator/controllers/suite_test.go
Due: updated-aperture-operator, updated-aperture-charts

docs: Fix broken category index pages
  docs/content/arc/introduction.md
  docs/content/get-started/installation/agent/docker.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/integrations/auto-scale/kubernetes/kubernetes.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/observability/flow-metrics/flow-metrics.md
  docs/content/sidebars.json
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

docs: Add intro to FluxNinja ARC
  docs/content/arc/extension.md
  docs/content/arc/introduction.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

🙃
  docs/content/get-started/installation/controller/controller.md
Due: updated-aperture-docs

prettier
  docs/content/get-started/installation/controller/controller.md
Due: updated-aperture-docs

fix typo
  docs/content/get-started/installation/controller/controller.md
Due: updated-aperture-docs

Move etcd watcher bootstrap to not block fx
  pkg/etcd/watcher/watcher.go
Due: updated-aperture

Tidy go.mod file
  go.mod
  go.sum
Due: updated-aperture

Dear prettier, don't break my links now, please
  docs/content/arc/introduction.md
  docs/content/introduction.md
Due: updated-aperture-docs

Publish . ./aperture-agent-v2.10.0-rc.2.tgz
  aperture-agent-v2.10.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.10.0-rc.2.tgz
  aperture-controller-v2.10.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.10.0-rc.2.tgz
  index.yaml
  istioconfig-v2.10.0-rc.2.tgz
Due: none
