Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

Fix behavior for when to ignore scale in when scale out hold is in place
  api/buf.lock
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/policy.libsonnet
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/graph.mmd
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/graph.mmd.md5sum
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/graph.mmd.svg
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/policy.yaml
  pkg/policies/controlplane/components/autoscale/auto-scaler.go
  pkg/policies/controlplane/runtime/ports.go
  playground/scenarios/auto_scaling/policies/load-based-auto-scale-cr.yaml
Due: updated-aperture, updated-aperture-docs

Holder reset means hold is true
  pkg/policies/controlplane/components/holder.go
Due: updated-aperture

Format file
  pkg/policies/controlplane/components/holder_test.go
Due: updated-aperture

Fix configured scale check and other misc fixes
  api/aperture/policy/language/v1/autoscale.proto
  api/gen/proto/go/aperture/policy/language/v1/autoscale.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/autoscale/auto-scaler.go
Due: updated-aperture, updated-aperture-docs

Publish . ./aperture-agent-v2.1.0.tgz
  aperture-agent-v2.1.0.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.1.0.tgz
  aperture-controller-v2.1.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.1.0.tgz
  index.yaml
  istioconfig-v2.1.0.tgz
Due: none

Fix vale issue
  api/aperture/policy/language/v1/telemetry_collector.proto
  api/gen/proto/go/aperture/policy/language/v1/telemetry_collector.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs

Move controller components into separate constructors
  api/aperture/policy/language/v1/autoscale.proto
  api/aperture/policy/private/v1/autoscale.proto
  api/gen/proto/go/aperture/policy/language/v1/autoscale.pb.go
  api/gen/proto/go/aperture/policy/private/v1/autoscale.pb.go
  api/gen/proto/go/aperture/policy/private/v1/autoscale.pb.json.go
  api/gen/proto/go/aperture/policy/private/v1/autoscale.pb.validate.go
  api/gen/proto/go/aperture/policy/private/v1/autoscale_deepcopy.gen.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/policy.libsonnet
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/assets/policy.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/autoscale/auto-scaler.go
  playground/scenarios/auto_scaling/policies/load-based-auto-scale-cr.yaml
Due: updated-aperture, updated-aperture-docs

Update promql blueprint
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/policy.libsonnet
Due: none

Add dynamic-values sub-command
  cmd/aperturectl/cmd/blueprints/common.go
  cmd/aperturectl/cmd/blueprints/dynamic-values.go
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/blueprints/values.go
Due: updated-aperture

Disable building Kubernetes Discovery when outside the cluster
  pkg/k8s/provide.go
  pkg/policies/autoscale/kubernetes/actuators/podscaler/pod-scaler.go
  pkg/policies/autoscale/kubernetes/discovery/provide.go
Due: updated-aperture

fix commands
  docs/content/get-started/playground/playground.md
Due: updated-aperture-docs

Fixed aperturectl apply when controller address is provided
  cmd/aperturectl/cmd/apply/dynamic-config.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/apply/root.go
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/utils/controller.go
  docs/content/reference/aperturectl/agents/agents.md
  docs/content/reference/aperturectl/apply/apply.md
  docs/content/reference/aperturectl/apply/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/apply/policy/policy.md
  docs/content/reference/aperturectl/auto-scale/auto-scale.md
  docs/content/reference/aperturectl/auto-scale/control-points/control-points.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/delete/delete.md
  docs/content/reference/aperturectl/delete/policy/policy.md
  docs/content/reference/aperturectl/discovery/discovery.md
  docs/content/reference/aperturectl/discovery/entities/entities.md
  docs/content/reference/aperturectl/flow-control/control-points/control-points.md
  docs/content/reference/aperturectl/flow-control/flow-control.md
  docs/content/reference/aperturectl/flow-control/preview/preview.md
Due: updated-aperture, updated-aperture-docs

OpenAI fixes
  cmd/aperturectl/cmd/apply/root.go
Due: updated-aperture

Made the use of kube and controller common for all commands
  cmd/aperturectl/cmd/agents.go
  cmd/aperturectl/cmd/apply/dynamic-config.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/apply/root.go
  cmd/aperturectl/cmd/autoscale/control-points.go
  cmd/aperturectl/cmd/discovery/entities.go
  cmd/aperturectl/cmd/flowcontrol/control-points.go
  cmd/aperturectl/cmd/utils/controller.go
  docs/content/reference/aperturectl/agents/agents.md
  docs/content/reference/aperturectl/auto-scale/control-points/control-points.md
  docs/content/reference/aperturectl/discovery/entities/entities.md
  docs/content/reference/aperturectl/flow-control/control-points/control-points.md
Due: updated-aperture, updated-aperture-docs

remove latency gradient and other fixes
  docs/content/get-started/playground/playground.md
Due: updated-aperture-docs

Fixes in the delete command
  cmd/aperturectl/cmd/apply/dynamic-config.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/apply/root.go
  cmd/aperturectl/cmd/delete/policy.go
  cmd/aperturectl/cmd/delete/root.go
  cmd/aperturectl/cmd/utils/controller.go
Due: updated-aperture

Rate limit escalation related changes
  api/buf.lock
  docs/content/get-started/assets/playground/playground-app.mmd
  docs/content/get-started/assets/playground/playground-app.mmd.md5sum
  docs/content/get-started/assets/playground/playground-app.mmd.svg
  docs/content/get-started/playground/playground.md
  playground/scenarios/java_rate_limiting_escalation/metadata.json
  playground/scenarios/java_rate_limiting_escalation/policies/rate-limit-escalation-cr.yaml
  playground/scenarios/java_rate_limiting_escalation/policies/rate-limit-escalation.yaml
Due: updated-aperture, updated-aperture-docs

update sidebar
  docs/content/sidebars.json
Due: updated-aperture-docs

Language tool fixes
  docs/content/get-started/playground/playground.md
Due: updated-aperture-docs

Fixed nil pointer error on aperturectl delete
  cmd/aperturectl/cmd/delete/policy.go
  cmd/aperturectl/cmd/delete/root.go
Due: updated-aperture

Re-add faq section outline
  docs/content/faq.md
Due: updated-aperture-docs

docs: Expand some FAQ answers
  docs/content/faq.md
Due: updated-aperture-docs

faq tweaks
  docs/content/faq.md
Due: updated-aperture-docs

Links and small tweaks
  docs/content/faq.md
Due: updated-aperture-docs

apply Language Tool suggestions
  docs/content/faq.md
Due: updated-aperture-docs

more Language Tool
  docs/content/faq.md
Due: updated-aperture-docs

vale suggestions
  .github/styles/Vocab/FluxNinja/accept.txt
  docs/content/faq.md
Due: updated-aperture-docs

vale & languagetool suggestions
  docs/content/faq.md
Due: updated-aperture-docs

add either
  docs/content/faq.md
Due: updated-aperture-docs

initial draft of get started
  docs/content/get-started/get-started.md
Due: updated-aperture-docs

Publish . ./aperture-agent-v2.1.1-rc.1.tgz
  aperture-agent-v2.1.1-rc.1.tgz
  index.yaml
Due: none
