Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app

.circleci/config.yml:

version: 2.1

# this allows to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

workflows:
  version: 2
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
        - not:
            matches:
              &is_not_empty_tag {
                value: << pipeline.git.tag >>,
                pattern: "^.+$",
              }
        - not: &scheduled
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
    jobs:
      - path-filtering/filter: &path_filtering_job
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/continue-workflows.yml
          mapping: |
            (cmd|pkg|plugins|tools|api)/.* updated-aperture true
            operator/(api|config|controllers|hack)/.*|operator/main.go updated-aperture-operator true
            (go.mod|go.sum) updated-aperture true
            docs/.* updated-aperture-docs true
            manifests/charts/.* updated-aperture-charts true
            tools/demo_app/.* updated-demo-app true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
        - not:
            matches: *is_not_empty_tag
        - not: *scheduled
    jobs:
      - path-filtering/filter:
          <<: *path_filtering_job
          base-revision: main
  release:
    when:
      matches: { value: << pipeline.git.tag >>, pattern: "^releases/.*$" }
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release.yaml

more fixes to probes
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/config-swagger.yaml
  docs/gen/config/aperture-controller/swagger.md
  operator/controllers/agent_daemonset.go
  operator/controllers/agent_pod.go
  operator/controllers/configmaps.go
  operator/controllers/controller_deployment.go
  operator/controllers/controller_reconciler.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
  pkg/net/tlsconfig/server.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

more fixes
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/discovery/static/provide.go
  pkg/watchdog/policy.go
Due: updated-aperture, updated-aperture-operator

fix ports
  operator/controllers/services.go
Due: updated-aperture-operator

remove redundant exclude from pre-commit
  .pre-commit-config.yaml
Due: none

emit values that have defaults set
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/common_types.go
  operator/api/v1alpha1/controller_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/agentinfo/agent-info.go
  pkg/config/log.go
  pkg/discovery/kubernetes/provide.go
  pkg/discovery/static/provide.go
  pkg/distcache/provider.go
  pkg/etcd/client/client.go
  pkg/jobs/job-group.go
  pkg/jobs/job.go
  pkg/metrics/metrics.go
  pkg/net/grpc/client.go
  pkg/net/grpc/server.go
  pkg/net/http/client.go
  pkg/net/http/server.go
  pkg/net/listener/listener.go
  pkg/net/tlsconfig/client.go
  pkg/net/tlsconfig/server.go
  pkg/otel/config.go
  pkg/panichandler/stacktrace.go
  pkg/plugins/plugin-registry.go
  pkg/policies/dataplane/actuators/concurrency/scheduler/wfq_test.go
  pkg/profilers/profilers.go
  pkg/watchdog/policy.go
  playground/tanka/apps/aperture-agent/mixins.libsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
  plugins/service/aperture-plugin-sentry/sentry/sentry.go
Due: updated-aperture, updated-aperture-operator

Fixed omitempty typo
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  pkg/distcache/provider.go
Due: updated-aperture, updated-aperture-docs

checkpoint
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/config-swagger.yaml
  docs/gen/config/aperture-controller/swagger.md
  docs/gen/config/aperture-plugin-fluxninja/plugin-swagger.yaml
  go.mod
  go.sum
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/agent.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/controller.yaml
  manifests/charts/aperture-controller/values.yaml
  operator/controllers/configmaps.go
  pkg/agentinfo/agent-info.go
  pkg/config/log.go
  pkg/discovery/kubernetes/provide.go
  pkg/discovery/static/provide.go
  pkg/distcache/provider.go
  pkg/etcd/client/client.go
  pkg/jobs/job-group.go
  pkg/jobs/job.go
  pkg/metrics/metrics.go
  pkg/net/grpc/client.go
  pkg/net/grpc/server.go
  pkg/net/http/client.go
  pkg/net/http/server.go
  pkg/net/listener/listener.go
  pkg/net/tlsconfig/server.go
  pkg/otel/config.go
  pkg/peers/peers.go
  pkg/plugins/plugin-registry.go
  pkg/profilers/profilers.go
  pkg/prometheus/client.go
  pkg/watchdog/policy.go
  playground/tanka/apps/aperture-agent/mixins.libsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
  plugins/service/aperture-plugin-fluxninja/pluginconfig/pluginconfig.go
  plugins/service/aperture-plugin-sentry/sentry/sentry.go
  plugins/service/aperture-plugin-sentry/sentry/zz_generated.deepcopy.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

fix empty duration marshal
  api/buf.gen.yaml
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.json.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.json.go
  api/gen/proto/go/aperture/common/info/v1/info.pb.json.go
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.json.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.json.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.json.go
  api/gen/proto/go/aperture/common/status/v1/status.pb.json.go
  api/gen/proto/go/aperture/common/watchdog/v1/watchdog.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/envoy.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.json.go
  api/gen/proto/go/aperture/policy/decisions/v1/decisions.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  manifests/charts/istioconfig/.helmignore
  operator/controllers/configmaps_test.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/config/defaults_test.go
  pkg/config/duration.go
  pkg/config/koanf-unmarshaller_test.go
  pkg/config/validator.go
  pkg/etcd/client/client.go
  pkg/jobs/job.go
  pkg/jobs/jobs_test.go
  pkg/net/grpc/client.go
  pkg/net/grpc/server.go
  pkg/net/http/client.go
  pkg/net/http/server.go
  pkg/net/listener/listener.go
  pkg/otel/config.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/policy.go
  pkg/policies/dataplane/actuators/rate/ratetracker/lazy-sync-rate-tracker.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-charts

Updated docs
  docs/content/setup/installation/agent/agent.md
  docs/content/setup/installation/agent/kubernetes/_category_.yml
  docs/content/setup/installation/agent/kubernetes/daemonset.md
  docs/content/setup/installation/agent/kubernetes/sidecar.md
  docs/content/setup/installation/controller.md
Due: updated-aperture-docs

Update blueprints documentation with latest changes
  docs/content/concepts/policies/policy-blueprints.md
Due: updated-aperture-docs

Fixed pre-commit
  .pre-commit-config.yaml
  README.md
  operator/README.md
  pkg/otelcollector/loggingexporter/README.md
  pkg/otelcollector/rollupprocessor/README.md
  pkg/policies/dataplane/resources/classifier/extractors/README.md
Due: updated-aperture

Document Flow Classifier concept
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/label/classifier.md
  docs/content/concepts/flow-control/label/label.md
  docs/content/concepts/flow-control/selector.md
  docs/content/setup/istio.md
Due: updated-aperture-docs

updated to latest png
  docs/content/assets/img/oaa.jpg
  docs/content/assets/img/oaalight.png
  docs/content/introduction.md
  docs/content/setup/installation/agent/agent.md
Due: updated-aperture-docs

Link to official docs in README.md
  README.md
Due: none

Use different oaa image based on theme
  README.md
  docs/content/assets/img/oaa.jpg
  docs/content/assets/img/oaa.png
  docs/content/assets/img/oaadark.png
Due: updated-aperture-docs

Fix themes in GH mobile app
  README.md
Due: none

Skip 'prettier' config in generated docs
  docs/Makefile
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/swagger.md
Due: updated-aperture-docs

Document Flow Classifier concept
  docs/content/concepts/flow-control/actuators/rate-limiter.md
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/content/concepts/flow-control/label/classifier.md
  docs/content/concepts/flow-control/label/label.md
  docs/content/concepts/flow-control/selector.md
Due: updated-aperture-docs

Skip 'prettier' config in generated docs
  docs/Makefile
  docs/gen/config/aperture-agent/swagger.md
  docs/gen/config/aperture-controller/swagger.md
  docs/gen/policies/policy.md
Due: updated-aperture-docs

update the playground README with script changes
  playground/README.md
Due: none

change from another branch
  pkg/distcache/olric-logwriter.go
Due: updated-aperture

pre-commit: install tools
  .pre-commit-config.yaml
  scripts/precommit/install_tools.sh
Due: none

Fixed issues observed in operator with fluxninja plugin
  api/buf.lock
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/_helpers.tpl
  manifests/charts/aperture-agent/templates/agent.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/_helpers.tpl
  manifests/charts/aperture-controller/templates/controller.yaml
  manifests/charts/aperture-controller/values.yaml
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/common_types.go
  operator/api/v1alpha1/controller_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/config/samples/fluxninja.com_v1alpha1_agent.yaml
  operator/config/samples/fluxninja.com_v1alpha1_controller.yaml
  operator/controllers/agent_daemonset_test.go
  operator/controllers/agent_pod_test.go
  operator/controllers/agent_reconciler.go
  operator/controllers/agent_reconciler_test.go
  operator/controllers/constants.go
  operator/controllers/controller_deployment_test.go
  operator/controllers/controller_reconciler.go
  operator/controllers/controller_reconciler_test.go
  operator/controllers/namespace_controller.go
  operator/controllers/namespace_controller_test.go
  operator/controllers/suite_test.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
  pkg/config/log.go
  pkg/prometheus/client.go
  pkg/watchdog/policy.go
  plugins/service/aperture-plugin-fluxninja/pluginconfig/pluginconfig.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-charts

[ImgBot] Optimize images
  docs/content/assets/img/active-flow-control.jpg
  docs/content/assets/img/aperture_logo.png
  docs/content/assets/img/architecture.png
  docs/content/assets/img/circuit.png
  docs/content/assets/img/control-loop.svg
  docs/content/assets/img/flowchart.png
  docs/content/assets/img/no-flow-control.jpg
  docs/content/assets/img/oaadark.png
  docs/content/assets/img/oaalight.png
  docs/diagrams/architecture/architecture-simple.mmd.svg
  docs/diagrams/architecture/architecture.mmd.svg
  docs/diagrams/ratelimit/ratelimit.mmd.svg
  docs/diagrams/traffic-flow/traffic.mmd.svg
Due: updated-aperture-docs

fluxmeter file
  docs/content/concepts/flow-control/fluxmeter.md
  docs/content/concepts/flow-control/selector.md
Due: updated-aperture-docs

update buf
  .pre-commit-config.yaml
  api/buf.lock
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  pkg/distcache/provider.go
  pkg/policies/dataplane/actuators/rate/ratetracker/rate-tracker_test.go
Due: updated-aperture, updated-aperture-docs

fix helm chart
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/_helpers.tpl
  manifests/charts/aperture-agent/templates/agent.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/_helpers.tpl
  manifests/charts/aperture-controller/templates/controller.yaml
  manifests/charts/aperture-controller/values.yaml
Due: updated-aperture-charts

playground
  api/buf.lock
  docs/content/setup/_category_.yml
  docs/content/setup/installation/agent/agent.md
  docs/content/setup/istio.md
  docs/content/setup/playground.md
Due: updated-aperture, updated-aperture-docs

add annotations
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/controller_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
Due: updated-aperture-operator
