Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

aperturectl control-points list → aperturectl flow-control control-points
  cmd/aperturectl/cmd/controlpoints/root.go
  cmd/aperturectl/cmd/flowcontrol/list.go
  cmd/aperturectl/cmd/flowcontrol/root.go
  cmd/aperturectl/cmd/root.go
Due: updated-aperture

aperturectl: add agents subcommand
  cmd/aperturectl/cmd/agents.go
  cmd/aperturectl/cmd/flowcontrol/root.go
  cmd/aperturectl/cmd/root.go
Due: updated-aperture

fix pre-commit (mostly, gosec warn is legit)
  .tool-versions
  cmd/aperturectl/cmd/utils/controller.go
  docs/content/reference/aperturectl/agents/agents.md
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/aperturectl/experimental-control-points/list/list.md
  docs/content/reference/aperturectl/flow-control/control-points/control-points.md
  docs/content/reference/aperturectl/flow-control/flow-control.md
  pkg/agentfunctions/agents/agents.go
  pkg/agentfunctions/controlpoints.go
  pkg/agentfunctions/provide.go
  pkg/cmd/provide.go
  pkg/policies/flowcontrol/selectors/control-point-id.go
  pkg/rpc/clients.go
  pkg/rpc/provide.go
  pkg/rpc/transport.go
Due: updated-aperture, updated-aperture-docs

Read IP addresses from `source` and `destination` attributes in authz
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
  pkg/otelcollector/otelcollector.go
  pkg/policies/flowcontrol/service/envoy/authz-labels.go
  pkg/policies/flowcontrol/service/envoy/authz-labels_test.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  pkg/policies/flowcontrol/service/envoy/authz_test.go
  pkg/policies/flowcontrol/service/envoy/provide.go
  pkg/policies/flowcontrol/servicegetter/metrics.go
  pkg/policies/flowcontrol/servicegetter/servicegetter.go
Due: updated-aperture

Add clusterIP to entity
  api/aperture/flowcontrol/entitycache/v1/entitycache.proto
  api/gen/proto/go/aperture/flowcontrol/entitycache/v1/entitycache.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/discovery/kubernetes/service-discovery.go
  pkg/entitycache/entity_cache.go
Due: updated-aperture, updated-aperture-docs

latency aimd blueprint: make alert name optinal parameter
  api/buf.lock
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/gen/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values-required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.jsonnet
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/values.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.jsonnet
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/values.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/values.yaml
  playground/scenarios/demo-app/policies/service1-demo-app-cr.yaml
  playground/scenarios/demo-app/policies/service1-demo-app.yaml
Due: updated-aperture, updated-aperture-docs

rework some YAML examples
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/label_matcher.proto
  api/aperture/policy/language/v1/selector.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  playground/scenarios/graphql-example-1/policies/graphql-static-rate-limiting-cr.yaml
Due: updated-aperture, updated-aperture-docs

translate go defaults to swagger defaults
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/spec.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/aperture-plugin-fluxninja/plugin-swagger.yaml
  docs/gen/config/aperture-plugin-sentry/plugin-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/policy/policy.yaml
  docs/tools/swagger/process-go-tags.go
  docs/tools/swagger/swagger-templates/config.gotmpl
Due: updated-aperture-docs

add defaults to blueprints schema
  blueprints/dashboards/signals-dashboard/gen/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/dynamic-config-definitions.json
  blueprints/policies/static-rate-limiting/gen/definitions.json
  blueprints/policies/static-rate-limiting/gen/dynamic-config-definitions.json
  scripts/blueprint-assets-generator.py
Due: none

Autoscaler spec and directory restructure to reflect policy component submodules
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/autoscale.libsonnet
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/podautoscaler.libsonnet
  blueprints/gen/v1/podautoscalerdecreasinggradient.libsonnet
  blueprints/gen/v1/podautoscalerdecreasinggradientins.libsonnet
  blueprints/gen/v1/podautoscalerdecreasinggradientparameters.libsonnet
  blueprints/gen/v1/podautoscalerincreasinggradient.libsonnet
  blueprints/gen/v1/podautoscalerincreasinggradientins.libsonnet
  blueprints/gen/v1/podautoscalerouts.libsonnet
  blueprints/gen/v1/podautoscalerscaleincontroller.libsonnet
  blueprints/gen/v1/podautoscalerscaleincontrollercontroller.libsonnet
  blueprints/gen/v1/podautoscalerscaleoutcontroller.libsonnet
  blueprints/gen/v1/podautoscalerscaleoutcontrollercontroller.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/auto-scale-components.go
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/circuitfactory/flow-control-components.go
  pkg/policies/controlplane/components/autoscale/podscaler/pod-scaler.go
  pkg/policies/controlplane/components/autoscale/podscaler/scale-actuator.go
  pkg/policies/controlplane/components/autoscale/podscaler/scale-reporter.go
  pkg/policies/controlplane/components/flowcontrol/concurrency/aimd-concurrency-controller.go
  pkg/policies/controlplane/components/flowcontrol/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/components/flowcontrol/concurrency/load-actuator.go
  pkg/policies/controlplane/components/flowcontrol/concurrency/scheduler.go
  pkg/policies/controlplane/components/flowcontrol/rate/rate-limiter.go
  pkg/policies/controlplane/components/query/promql/promql.go
  pkg/prometheus/prom-query.go
Due: updated-aperture, updated-aperture-docs

translate go validates we use to swagger constraints
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/spec.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/aperture-plugin-fluxninja/plugin-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/policy/policy.yaml
  docs/tools/swagger/process-go-tags.go
  docs/tools/swagger/swagger-templates/config.gotmpl
  scripts/jsonnet-lib-gen.py
Due: updated-aperture-docs

Unary operator
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/component.libsonnet
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/podautoscaler.libsonnet
  blueprints/gen/v1/podautoscalerouts.libsonnet
  blueprints/gen/v1/unaryoperator.libsonnet
  blueprints/gen/v1/unaryoperatorins.libsonnet
  blueprints/gen/v1/unaryoperatorouts.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/auto-scale-components.go
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/components/autoscale/podscaler/pod-autoscaler.go
  pkg/policies/controlplane/components/flowcontrol/concurrency/aimd-concurrency-controller.go
  pkg/policies/controlplane/components/sqrt.go
  pkg/policies/controlplane/components/unary-op-string.go
  pkg/policies/controlplane/components/unary-operator.go
Due: updated-aperture, updated-aperture-docs

Remove nodename filter when tracking endpoints
  pkg/discovery/kubernetes/service-discovery.go
  pkg/entitycache/entity_cache.go
Due: updated-aperture

Enabled auto-reload of tilt for changes in scenarios
  playground/.tiltignore
  playground/Tiltfile
Due: none

use api key to pass data to the cloud UI
  playground/Tiltfile
  playground/tanka/apps/aperture-agent/mixins.libsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
  scripts/precommit/check_tanka_show.sh
Due: none

docs: replace pattern with human readable patterns
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/aperture-plugin-fluxninja/plugin-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/tools/swagger/process-go-tags.go
  docs/tools/swagger/swagger-templates/config.gotmpl
Due: updated-aperture-docs

docs: add oneofs
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/spec.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/policy/policy.yaml
  docs/tools/swagger/process-go-tags.go
  docs/tools/swagger/swagger-templates/config.gotmpl
Due: updated-aperture-docs

remove left over gotags from titles
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/selector.proto
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs

change asdf cache
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
Due: none

Made map comparison order safe in ConfigMap tests
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/utils.go
Due: updated-aperture-operator

use parallel command to speed up jsonnet generation and validation
  docs/content/concepts/integrations/flow-control/assets/gen/flow-control/flow-control.md_0.mmd
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_0.mmd
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_1.mmd
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_2.mmd
  docs/tools/jsonnet/generate_jsonnet.sh
  docs/tools/mermaid/generate_mermaid.sh
  scripts/generate_blueprints.sh
  scripts/go_generate.sh
  scripts/go_generate_swagger.sh
  scripts/precommit/generate_doc_assets.sh
Due: updated-aperture-docs

gen playground in parallel
  scripts/precommit/generate_playground_policies.sh
Due: none

move config markdown code from markdown to script
  docs/Makefile
  docs/tools/swagger/generate_config_markdown.sh
Due: updated-aperture-docs

remove redundant generators as we now use include plugin in md files
  docs/content/concepts/integrations/flow-control/assets/gen/flow-control/flow-control.md_0.mmd.md5sum
  docs/content/concepts/integrations/flow-control/assets/gen/flow-control/flow-control.md_0.mmd.svg
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_0.mmd.md5sum
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_0.mmd.svg
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_1.mmd.md5sum
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_1.mmd.svg
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_2.mmd.md5sum
  docs/content/concepts/integrations/flow-control/assets/gen/service/service.md_2.mmd.svg
  docs/tools/jsonnet/generate_jsonnet.sh
  docs/tools/mermaid/generate_mermaid.sh
Due: updated-aperture-docs

circleci: add jsonnet vendor to daily cache
  .circleci/continue-workflows.yml
Due: none

Autoscaler algo
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/holder.libsonnet
  blueprints/gen/v1/holderins.libsonnet
  blueprints/gen/v1/podautoscaler.libsonnet
  blueprints/gen/v1/podautoscalerdecreasinggradientparameters.libsonnet
  blueprints/gen/v1/podautoscalerincreasinggradientparameters.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/autoscale/podscaler/pod-autoscaler.go
  pkg/policies/controlplane/components/holder.go
  pkg/policies/controlplane/components/integrator.go
Due: updated-aperture, updated-aperture-docs

Remove stray changes in promql
  pkg/prometheus/prom-query.go
Due: updated-aperture
