Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

fix dep issue
  extensions/fluxninja/heartbeats/provide.go
Due: none

fix null pointer issue
  pkg/otelcollector/otelcollector.go
  playground/scripts/deps_install.sh
Due: updated-aperture

update crds
  Makefile
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
Due: updated-aperture-charts

Format heartbeats files
  extensions/fluxninja/extconfig/extconfig.go
  extensions/fluxninja/otel/provide.go
Due: none

Handle string value in array env vars
  pkg/config/koanf-unmarshaller.go
Due: updated-aperture

Allow enabling race flag in tilt with the new aperturectl build
  cmd/aperture-agent/Dockerfile
  playground/Tiltfile
Due: updated-aperture

Fixed the charts render when helm repo is missing
  playground/Tiltfile
  playground/scripts/deps_install.sh
Due: none

docs: add js-sdk npm link
  docs/content/get-started/integrations/flow-control/sdk/javascript/manual.md
Due: updated-aperture-docs

fix: add race flag to controller build
  cmd/aperture-controller/Dockerfile
  playground/Tiltfile
Due: updated-aperture

Update makefile to copy policy CRD
  Makefile
Due: none

Use per-cmd build-config.yaml in Dockerfiles
  .dockerignore
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
Due: updated-aperture

Restore build.sh in info package
  pkg/info/build.sh
Due: updated-aperture

Do nil pointer check in setupSentryWriter
  extensions/sentry/provide.go
Due: none

Add extensions to process info when building binaries
  api/aperture/info/v1/info.proto
  api/buf.lock
  api/gen/proto/go/aperture/info/v1/info.pb.go
  cmd/aperturectl/cmd/build/build.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/info/info.go
Due: updated-aperture, updated-aperture-docs

Allow querying extensions from binaries built by aperturectl
  cmd/aperture-agent/extensions.go
  cmd/aperture-agent/extensions.go.md5sum
  cmd/aperture-controller/extensions.go
  cmd/aperture-controller/extensions.go.md5sum
  cmd/aperturectl/cmd/build/build.go
  pkg/info/info.go
Due: updated-aperture

Fix adding require directive from extensions list
  cmd/aperturectl/cmd/build/build.go
Due: updated-aperture

Remove dependency on `pkg/errors` because it is deprecated
  go.mod
  pkg/jobs/http-job.go
  pkg/policies/controlplane/circuitfactory/nested-circuit.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/controlplane/runtime/ports.go
  pkg/policies/flowcontrol/actuators/concurrency/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency/load-actuator.go
  pkg/policies/flowcontrol/resources/classifier/provide.go
Due: updated-aperture

Format files
  pkg/jobs/http-job.go
  pkg/policies/flowcontrol/resources/classifier/compiler/compiler.go
Due: updated-aperture

Add examples for `build agent/controller` commands
  cmd/aperturectl/cmd/build/agent.go
  cmd/aperturectl/cmd/build/controller.go
  docs/content/reference/aperturectl/build/agent/agent.md
  docs/content/reference/aperturectl/build/controller/controller.md
Due: updated-aperture, updated-aperture-docs

Switched to Quay from Dockerhub
  .circleci/continue-workflows.yml
  Makefile
  docs/content/get-started/installation/controller/controller.md
  docs/content/get-started/playground/playground.md
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/values.yaml
  operator/api/common/common_types.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  playground/Tiltfile
  playground/tanka/apps/aperture-agent/mixins.libsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
  playground/tanka/apps/aperture-go-example/mixins.libsonnet
  playground/tanka/apps/aperture-java-example/mixins.libsonnet
  playground/tanka/apps/aperture-js-example/mixins.libsonnet
  playground/tanka/apps/graphql-example-1/main.jsonnet
  playground/tanka/charts/demo-app/templates/deployment.yaml
  playground/tanka/charts/demo-app/values.yaml
Due: updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Get back the symlinks for CRDs
  Makefile
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_policies.yaml
Due: updated-aperture-charts

Export metrics for with pod count
  pkg/discovery/kubernetes/provide.go
  pkg/discovery/kubernetes/service-discovery.go
  pkg/metrics/schema.go
Due: updated-aperture

aperturectl: make build config and output directory optional
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  cmd/aperturectl/cmd/build/agent.go
  cmd/aperturectl/cmd/build/build.go
  cmd/aperturectl/cmd/build/controller.go
  docs/content/reference/aperturectl/build/agent/agent.md
  docs/content/reference/aperturectl/build/controller/controller.md
  pkg/config/koanf-unmarshaller.go
Due: updated-aperture, updated-aperture-docs

Revert "Export metrics for with pod count (#1588)"
  pkg/discovery/kubernetes/provide.go
  pkg/discovery/kubernetes/service-discovery.go
  pkg/metrics/schema.go
Due: updated-aperture

fix dockerfile
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
Due: updated-aperture

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
