Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

Update OTEL to v0.82.0
  go.mod
  go.sum
Due: updated-aperture

Update koanf to v2
  go.mod
  go.sum
  pkg/config/koanf-unmarshaller.go
Due: updated-aperture

Publish . ./aperture-agent-v2.12.0-rc.1.tgz
  aperture-agent-v2.12.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.12.0-rc.1.tgz
  aperture-controller-v2.12.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.12.0-rc.1.tgz
  index.yaml
  istioconfig-v2.12.0-rc.1.tgz
Due: none

Add parsing group status function
  cmd/aperturectl/cmd/status/root.go
  pkg/status/status.go
Due: updated-aperture

Add error logger for http server
  pkg/net/http/server.go
Due: updated-aperture

Update logger in http server
  pkg/net/http/server.go
Due: updated-aperture

Set severity of server logs to debug
  pkg/net/http/server.go
Due: updated-aperture

Waiting room scenario tab added
  playground/resources/demo-ui/.eslintrc.json
  playground/resources/demo-ui/package-lock.json
  playground/resources/demo-ui/package.json
  playground/resources/demo-ui/src/app.tsx
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/resources/demo-ui/src/hooks/use-request-to-endpoint.ts
  playground/resources/demo-ui/src/pages/home.tsx
Due: none

Update waiting room request
  playground/resources/demo-ui/src/pages/home.tsx
Due: none

Run demo-ui in graceful-js scenario
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/scenarios/graceful-js/metadata.json
Due: none

Update graceful-js demo scenario
  playground/resources/demo-app/app/app.go
  playground/resources/demo-ui/src/pages/home.tsx
  playground/scenarios/graceful-js/load-generator/test.js
Due: updated-demo-app

improved request logic and other fixes
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/resources/demo-ui/src/hooks/tab-change.ts
  playground/resources/demo-ui/src/hooks/use-request-to-endpoint.ts
  playground/resources/demo-ui/src/pages/home.tsx
Due: none

Publish . ./aperture-agent-v2.12.0-rc.2.tgz
  aperture-agent-v2.12.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.12.0-rc.2.tgz
  aperture-controller-v2.12.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.12.0-rc.2.tgz ./index.yaml
  index.yaml
  istioconfig-v2.12.0-rc.2.tgz
Due: none

Publish . ./aperture-agent-v2.12.0.tgz
  aperture-agent-v2.12.0.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.12.0.tgz
  aperture-controller-v2.12.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.12.0.tgz
  index.yaml
  istioconfig-v2.12.0.tgz
Due: none

add aperture api keys docs
  docs/content/assets/img/api-keys.gif
  docs/content/get-started/aperture-cloud/_category_.yml
  docs/content/get-started/aperture-cloud/assets/create-organization.png
  docs/content/get-started/aperture-cloud/assets/select-subscription.png
  docs/content/get-started/aperture-cloud/assets/sign-up.png
  docs/content/get-started/aperture-cloud/assets/subscription-plan.png
  docs/content/get-started/aperture-cloud/create-api-keys.md
  docs/content/get-started/aperture-cloud/sign-up.md
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/configure-cli.md
  docs/content/get-started/installation/supported-platforms.md
Due: updated-aperture-docs

update text
  docs/content/get-started/aperture-cloud/create-api-keys.md
  docs/content/get-started/aperture-cloud/sign-up.md
Due: updated-aperture-docs

fix grammar and category title
  docs/content/get-started/aperture-cloud/_category_.yml
  docs/content/get-started/aperture-cloud/sign-up.md
Due: updated-aperture-docs

add comment
  docs/content/get-started/aperture-cloud/_category_.yml
Due: updated-aperture-docs

update images and text
  docs/content/get-started/aperture-cloud/api-keys.md
  docs/content/get-started/aperture-cloud/assets/console-view.png
  docs/content/get-started/aperture-cloud/assets/final-step.png
  docs/content/get-started/aperture-cloud/assets/get-started.png
  docs/content/get-started/aperture-cloud/assets/install-aperture.png
  docs/content/get-started/aperture-cloud/assets/invite-members.png
  docs/content/get-started/aperture-cloud/assets/project-name.png
  docs/content/get-started/aperture-cloud/assets/thats-all.png
  docs/content/get-started/aperture-cloud/assets/usergroups.png
  docs/content/get-started/aperture-cloud/sign-up.md
  docs/content/get-started/installation/configure-cli.md
Due: updated-aperture-docs

update image
  docs/content/get-started/aperture-cloud/assets/select-subscription.png
Due: updated-aperture-docs

fix text
  docs/content/get-started/aperture-cloud/sign-up.md
Due: updated-aperture-docs

update text
  docs/content/get-started/installation/agent/docker.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/installation/configure-cli.md
Due: updated-aperture-docs

update images
  docs/content/get-started/aperture-cloud/assets/create-organization.png
  docs/content/get-started/aperture-cloud/assets/final-step.png
  docs/content/get-started/aperture-cloud/assets/get-started.png
  docs/content/get-started/aperture-cloud/assets/install-aperture.png
  docs/content/get-started/aperture-cloud/assets/invite-members.png
  docs/content/get-started/aperture-cloud/assets/project-name.png
  docs/content/get-started/aperture-cloud/assets/select-subscription.png
  docs/content/get-started/aperture-cloud/assets/usergroups.png
Due: updated-aperture-docs

Switched to non-root user in aperture docker images
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/api/common/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/daemonset_test.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-charts

update images and text
  docs/content/assets/img/api-keys.gif
  docs/content/get-started/aperture-cloud/api-keys.md
  docs/content/get-started/aperture-cloud/assets/api-keys.gif
  docs/content/get-started/aperture-cloud/assets/console-view.png
  docs/content/get-started/aperture-cloud/assets/subscription-started.png
  docs/content/get-started/aperture-cloud/sign-up.md
Due: updated-aperture-docs

comment fixes
  docs/content/get-started/aperture-cloud/_category_.yml
  docs/content/get-started/aperture-cloud/api-keys.md
  docs/content/get-started/aperture-cloud/sign-up.md
Due: updated-aperture-docs

update doc with contact information
  docs/content/get-started/aperture-cloud/api-keys.md
  docs/content/get-started/aperture-cloud/sign-up.md
Due: updated-aperture-docs

update link
  docs/content/get-started/aperture-cloud/api-keys.md
Due: updated-aperture-docs

Actually restart etcd watcher after its cancellation
  pkg/etcd/watcher/provider.go
  pkg/etcd/watcher/watcher.go
Due: updated-aperture
