Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

update docs
  docs/content/get-started/policies/assets/raw_values.yaml
  docs/content/get-started/policies/assets/values.yaml
  docs/content/get-started/policies/policies.md
Due: updated-aperture-docs

update --apply flag behavior with output dir
  cmd/aperturectl/cmd/blueprints/generate.go
Due: updated-aperture

add validation for getting started policy file
  docs/content/get-started/policies/assets/validate.sh
Due: updated-aperture-docs

Documentation update
  docs/content/concepts/integrations/flow-control/flow-selector.md
Due: updated-aperture-docs

Expand Selector fields in blueprints. Mark Service and Control Points as required fields
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/values.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/values_required.yaml
  blueprints/policies/static-rate-limiting/config.libsonnet
  blueprints/policies/static-rate-limiting/values.yaml
  blueprints/policies/static-rate-limiting/values_required.yaml
Due: none

add blueprints flow diagram
  docs/content/get-started/policies/assets/blueprints.mmd
  docs/content/get-started/policies/assets/blueprints.mmd.md5sum
  docs/content/get-started/policies/assets/blueprints.mmd.svg
  docs/content/get-started/policies/policies.md
  docs/content/tutorials/signal-processing/_category_.yml
  docs/content/tutorials/signal-processing/signal-processing.md
Due: updated-aperture-docs

Fix Blueprint docs with expanded params. Missing file
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/values.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/values_required.yaml
  blueprints/policies/static-rate-limiting/config.libsonnet
  blueprints/policies/static-rate-limiting/values.yaml
  blueprints/policies/static-rate-limiting/values_required.yaml
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  pkg/policies/flowcontrol/consts/consts.go
Due: updated-aperture, updated-aperture-docs

fix precommit hook
  .pre-commit-config.yaml
  Makefile
  docs/Makefile
  docs/content/get-started/policies/assets/raw_values.yaml
  scripts/precommit/generate_aperturectl_docs.sh
  scripts/precommit/generate_doc_assets.sh
Due: updated-aperture-docs

change doc
  docs/content/get-started/policies/assets/values.yaml
Due: updated-aperture-docs

docs: update k8s apply command
  docs/content/get-started/policies/policies.md
Due: updated-aperture-docs

docs: add values.yaml to some tutorials
  docs/content/get-started/playground/playground.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation-playground.png
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.jsonnet
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/validate.sh
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/values.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/basic-concurrency-limiting.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/rate-limiting-escalation.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/workload-prioritization.md
  docs/content/tutorials/tutorials.md
Due: updated-aperture-docs

nit
  docs/content/tutorials/signal-processing/signal-processing.md
Due: updated-aperture-docs

mention sidecar deployment within context of catch all service
  api/aperture/policy/language/v1/selector.proto
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/integrations/flow-control/service.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs

fix admonitions
  api/aperture/policy/language/v1/selector.proto
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs

aperturectl: remove tempdir when done with apply
  cmd/aperturectl/cmd/blueprints/generate.go
Due: updated-aperture

Minor fix in aperturectl doc indentation
  cmd/aperturectl/cmd/blueprints/values.go
Due: updated-aperture

precommit: bring back aperturectl docs step
  .pre-commit-config.yaml
  Makefile
  docs/Makefile
  docs/content/reference/aperturectl/blueprints/values/values.md
  scripts/precommit/generate_aperturectl_docs.sh
Due: updated-aperture-docs

Fixed the rate limit dashboard issue
  blueprints/policies/static-rate-limiting/dashboard.libsonnet
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: none

Publish . ./aperture-agent-v0.22.0-rc.2.tgz
  aperture-agent-v0.22.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.22.0-rc.2.tgz
  aperture-controller-v0.22.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.22.0-rc.2.tgz
  index.yaml
  istioconfig-v0.22.0-rc.2.tgz
Due: none

Publish . ./aperture-agent-v0.22.0.tgz
  aperture-agent-v0.22.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.22.0.tgz
  index.yaml
  istioconfig-v0.22.0.tgz
Due: none

Publish . ./aperture-controller-v0.22.0.tgz
  aperture-controller-v0.22.0.tgz
  index.yaml
Due: none

Updated commands per shell type for auto completion
  docs/content/get-started/aperture-cli/aperture-cli.md
Due: updated-aperture-docs

Migrate rate limit tutorials to use blueprint
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/values.yaml
  docs/content/tutorials/integrations/flow-control/classification/graphql-rate-limiting.md
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/values.yaml
  docs/content/tutorials/integrations/flow-control/rate-limiting/static-rate-limiting.md
Due: updated-aperture-docs

tests: Run gomegalint -fix
  operator/controllers/agent/agent_suite_test.go
  operator/controllers/agent/reconciler_test.go
  operator/controllers/controller/controller_suite_test.go
  operator/controllers/controller/reconciler_test.go
  operator/controllers/mutatingwebhook/clusterrole_test.go
  operator/controllers/mutatingwebhook/reconciler_test.go
  operator/controllers/namespace/namespace_suite_test.go
  operator/controllers/namespace/reconciler_test.go
  operator/controllers/suite_test.go
  operator/controllers/utils_test.go
  pkg/entitycache/cache_test.go
  pkg/jobs/jobs_test.go
  pkg/policies/flowcontrol/service/envoy/authz_test.go
Due: updated-aperture, updated-aperture-operator

Added validate policy annotation for apply via aperturectl
  cmd/aperturectl/cmd/apply/root.go
Due: updated-aperture
