Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

Added FAQ for Aperture Agent on non-containerized environment
  docs/content/faq.md
Due: updated-aperture-docs

LanguageTool suggestion
  docs/content/faq.md
Due: updated-aperture-docs

Corrected format
  docs/content/faq.md
Due: updated-aperture-docs

Move incoming and accepted token rate counters into WFQMetrics
  pkg/policies/flowcontrol/actuators/load-scheduler/load-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/wfq.go
Due: updated-aperture

Fix wfq tests
  pkg/scheduler/wfq_test.go
Due: updated-aperture

Reorder metrics consts
  pkg/metrics/schema.go
Due: updated-aperture

Add diagrams to concept section
  api/buf.lock
  docs/content/concepts/assets/gen/service/flow-lifecycle.mmd
  docs/content/concepts/assets/gen/service/flow-lifecycle.mmd.md5sum
  docs/content/concepts/assets/gen/service/flow-lifecycle.mmd.svg
  docs/content/concepts/assets/img/flux-meter-dark.svg
  docs/content/concepts/assets/img/flux-meter-light.svg
  docs/content/concepts/assets/img/token-bucket-dark.svg
  docs/content/concepts/assets/img/token-bucket-light.svg
  docs/content/concepts/flow-lifecycle.md
  docs/content/concepts/flux-meter.md
  docs/content/concepts/scheduler.md
Due: updated-aperture, updated-aperture-docs

Checkpoint
  api/aperture/policy/private/v1/flowcontrol.proto
  api/aperture/policy/sync/v1/load_scheduler.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/sync/v1/load_scheduler.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/load_scheduler.pb.validate.go
  pkg/metrics/schema.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/actuator.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/load-scheduler.go
  pkg/policies/flowcontrol/actuators/load-scheduler/load-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/global-token-bucket.go
  pkg/scheduler/load-multiplier-token-bucket.go
  pkg/scheduler/request.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/token-bucket.go
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
  pkg/scheduler/windowed-counter.go
Due: updated-aperture

Improve introduction
  README.md
  docs/content/introduction.md
Due: updated-aperture-docs

minor fixes in phrasing
  README.md
  docs/content/introduction.md
Due: updated-aperture-docs

Fix use-cases link in README
  README.md
Due: none

Fix typo
  README.md
Due: none

level up in hierarchy supported platform page
  docs/content/faq.md
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/supported-platforms.md
Due: updated-aperture-docs

level up supported platform page in hierarchy
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/supported-platforms.md
  docs/content/integrations/istio/istio.md
Due: updated-aperture-docs

update link
  docs/content/get-started/installation/agent/bare_metal.md
Due: updated-aperture-docs

remove parallel and use loops
  blueprints/dashboards/signals/dashboard.libsonnet
  docs/content/reference/policies/assets/monitoring/signals-dashboard.json
  docs/tools/aperturectl/validate_all.sh
  docs/tools/jsonnet/generate_jsonnet.sh
  docs/tools/mermaid/generate_all.sh
  scripts/precommit/generate_playground_policies.sh
Due: updated-aperture-docs

remove prallel and add loops 2
  .circleci/continue-workflows.yml
  docs/tools/aperturectl/validate_all.sh
  docs/tools/jsonnet/generate_jsonnet.sh
  docs/tools/mermaid/generate_all.sh
  docs/tools/otel_collectors/generate_otel_docs.sh
  scripts/generate_blueprints.sh
  scripts/go_build.sh
  scripts/go_build_plugins.sh
  scripts/go_generate.sh
  scripts/go_generate_swagger.sh
  scripts/go_mod_tidy.sh
  scripts/install_go_tools.sh
  scripts/precommit/generate_playground_policies.sh
Due: updated-aperture-docs

remove unwanted changes
  .circleci/continue-workflows.yml
  blueprints/dashboards/signals/dashboard.libsonnet
  docs/content/reference/policies/assets/monitoring/signals-dashboard.json
Due: updated-aperture-docs

remove all prallel and run all pre-commit
  blueprints/dashboards/signals/dashboard.libsonnet
  docs/content/reference/policies/assets/monitoring/signals-dashboard.json
  docs/tools/otel_collectors/generate_otel_docs.sh
  scripts/generate_blueprints.sh
  scripts/go_build.sh
  scripts/go_build_plugins.sh
  scripts/go_generate.sh
  scripts/go_generate_swagger.sh
  scripts/go_mod_tidy.sh
  scripts/install_go_tools.sh
Due: updated-aperture-docs

testing full pre-commit
  .circleci/continue-workflows.yml
  blueprints/dashboards/signals/dashboard.libsonnet
  docs/content/reference/policies/assets/monitoring/signals-dashboard.json
Due: updated-aperture-docs

test the generate-blueprint command
  blueprints/dashboards/signals/dashboard.libsonnet
  docs/content/reference/policies/assets/monitoring/signals-dashboard.json
  scripts/generate_blueprints.sh
Due: updated-aperture-docs

checking time for only main commands
  .circleci/continue-workflows.yml
  blueprints/dashboards/signals/dashboard.libsonnet
  docs/content/reference/policies/assets/monitoring/signals-dashboard.json
Due: updated-aperture-docs

add function to check numver of jobs to run
  api/buf.lock
  docs/tools/aperturectl/validate_all.sh
  docs/tools/jsonnet/generate_jsonnet.sh
  docs/tools/mermaid/generate_all.sh
  scripts/generate_blueprints.sh
  scripts/go_build.sh
  scripts/go_build_plugins.sh
  scripts/go_generate.sh
  scripts/go_generate_swagger.sh
  scripts/go_mod_tidy.sh
  scripts/limit_jobs.sh
  scripts/precommit/generate_playground_policies.sh
Due: updated-aperture, updated-aperture-docs

add extra line at EOF
  docs/tools/aperturectl/validate_all.sh
  docs/tools/jsonnet/generate_jsonnet.sh
  docs/tools/mermaid/generate_all.sh
Due: updated-aperture-docs

update selector docs
  docs/content/concepts/control-point.md
  docs/content/concepts/selector.md
  docs/content/integrations/gateway/gateway.md
Due: updated-aperture-docs

update heading
  docs/content/concepts/selector.md
Due: updated-aperture-docs

Publish . ./aperture-agent-v2.5.0-rc.1.tgz
  aperture-agent-v2.5.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.5.0-rc.1.tgz
  aperture-controller-v2.5.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.5.0-rc.1.tgz
  index.yaml
  istioconfig-v2.5.0-rc.1.tgz
Due: none

Add incoming weighted token rate into load actuator private component
  api/aperture/policy/private/v1/flowcontrol.proto
  api/aperture/policy/sync/v1/load_scheduler.proto
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/sync/v1/load_scheduler.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/load_scheduler.pb.validate.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/actuator.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/load-scheduler.go
  pkg/scheduler/load-multiplier-token-bucket.go
Due: updated-aperture

fix links
  docs/content/get-started/installation/agent/agent.md
Due: updated-aperture-docs

Remove load_generator
  playground/scenarios/basic-service-protection/load_generator
Due: none

Add workload names for scenario
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app.yaml
Due: none
