Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

try with medium
  .circleci/continue-workflows.yml
Due: none

Revert "try with medium"
  .circleci/continue-workflows.yml
Due: none

Add Retry-After header when Rate Limiters reject flow
  api/aperture/flowcontrol/check/v1/check.proto
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.validate.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/actuators/sampler/sampler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/iface/limiter.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  pkg/policies/mocks/mock_limiter.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
  pkg/rate-limiter/iface.go
  pkg/rate-limiter/lazy-sync/lazy-sync.go
  pkg/rate-limiter/test/rate-limiter_test.go
  pkg/scheduler/global-token-bucket.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.validate.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponseOrBuilder.java
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
Due: updated-aperture, updated-aperture-docs, updated-aperture-go, updated-aperture-java

add debug logs
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
  pkg/rate-limiter/lazy-sync/lazy-sync.go
Due: updated-aperture

Revert "add debug logs"
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
  pkg/rate-limiter/lazy-sync/lazy-sync.go
Due: updated-aperture

fix pre-commit
  .pre-commit-config.yaml
Due: none

fix check for auto generated docs.
  .pre-commit-config.yaml
Due: none

Filter out high cardinality platform metrics
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperture-agent/config/types.go
  cmd/aperture-controller/config/types.go
  cmd/aperture-controller/controller/otel-config.go
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/otelcollector/config/builtin_config.go
  pkg/otelcollector/consts/consts.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Fix operator UT
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/config_test.tpl
  operator/controllers/controller/configmaps_test.go
  pkg/otelcollector/config/builtin_config.go
Due: updated-aperture, updated-aperture-operator

Add filterprocessor to controller
  cmd/aperture-controller/controller/otel-component.go
Due: updated-aperture

Fix condition
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperture-controller/controller/otel-config.go
Due: updated-aperture

update links and docs
  docs/content/concepts/assets/gen/service/flow-lifecycle.mmd
  docs/content/concepts/assets/gen/service/flow-lifecycle.mmd.md5sum
  docs/content/concepts/assets/gen/service/flow-lifecycle.mmd.svg
  docs/content/concepts/classifier.md
  docs/content/concepts/flow-label.md
  docs/content/concepts/flow-lifecycle.md
  docs/content/concepts/flux-meter.md
  docs/content/concepts/rate-limiter.md
  docs/content/concepts/sampler.md
  docs/content/concepts/scheduler.md
  docs/content/concepts/selector.md
Due: updated-aperture-docs

Fixes
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperture-agent/config/types.go
  cmd/aperture-controller/config/types.go
  cmd/aperture-controller/controller/otel-config.go
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/config_test.tpl
  operator/controllers/controller/configmaps_test.go
  pkg/otelcollector/config/builtin_config.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Fixed pre-commit on main
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: updated-aperture-java

Publish . ./aperture-agent-v2.5.0-rc.2.tgz
  aperture-agent-v2.5.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.5.0-rc.2.tgz
  aperture-controller-v2.5.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.5.0-rc.2.tgz
  index.yaml
  istioconfig-v2.5.0-rc.2.tgz
Due: none

Publish . ./aperture-agent-v2.5.0.tgz
  aperture-agent-v2.5.0.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.5.0.tgz
  aperture-controller-v2.5.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.5.0.tgz
  index.yaml
  istioconfig-v2.5.0.tgz
Due: none

Update helm dependencies in aperture-controller chart
  manifests/charts/aperture-controller/Chart.lock
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/aperture-controller/values.yaml
Due: updated-aperture-charts

Checkpoint
  manifests/charts/aperture-agent/values.yaml
  pkg/metrics/metrics.go
  playground/ctlptl-kind-config.yaml
  playground/scenarios/service-protection-rl-escalation/load-generator/test.js
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app.yaml
  playground/tanka/charts/demo-app/templates/deployment.yaml
  playground/tanka/charts/demo-app/values.yaml
Due: updated-aperture, updated-aperture-charts

Fix links
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/average-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/base.md
Due: updated-aperture-docs

checkpoint
  playground/resources/demo-app/app/app.go
Due: none

fix grammar and remove deprecated stuff
  docs/content/concepts/auto-scale.md
  docs/content/concepts/scheduler.md
  docs/content/concepts/selector.md
Due: updated-aperture-docs

add information about control
  docs/content/concepts/flux-meter.md
Due: updated-aperture-docs

Added dashboard panels for overload confirmation signals
  blueprints/dashboards/flow-control/adaptive-load-scheduler/dashboard.libsonnet
  playground/scripts/deps_install.sh
Due: none

Show some more debug logs when running scripts/install_go_tools.sh
  scripts/install_go_tools.sh
Due: none

More tests
  scripts/install_go_tools.sh
Due: none

don't build go tools in the background
  scripts/install_go_tools.sh
Due: none

Revert "More tests"
  scripts/install_go_tools.sh
Due: none

Revert "Show some more debug logs when running scripts/install_go_tools.sh"
  scripts/install_go_tools.sh
Due: none

update doc
  docs/content/concepts/scheduler.md
Due: updated-aperture-docs
