Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app

use value groups for cm validator
  pkg/policies/controlplane/provider.go
  pkg/policies/controlplane/validator.go
  pkg/policies/controlplane/validator_test.go
  pkg/webhooks/validation/provide.go
  pkg/webhooks/validation/validator.go
Due: updated-aperture

health module
  pkg/net/health/health.go
  pkg/platform/platform.go
Due: updated-aperture

Checkpoint test fixes
  pkg/otelcollector/enrichmentprocessor/enrichmentprocessor_suite_test.go
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/enrichmentprocessor/processor_traces_test.go
Due: updated-aperture

otel config
  pkg/otelcollector/otelcollector.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

enrich agent_group via processor
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/provider.go
  pkg/otel/components.go
  pkg/otelcollector/enrichmentprocessor/config.go
  pkg/otelcollector/enrichmentprocessor/factory.go
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/enrichmentprocessor/processor_logs_test.go
  pkg/otelcollector/enrichmentprocessor/processor_metrics_test.go
  pkg/otelcollector/enrichmentprocessor/processor_test.go
  pkg/otelcollector/enrichmentprocessor/processor_traces_test.go
  pkg/otelcollector/otelcollector.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

Fix include list. Also, add missing envoy specific attributes
  pkg/otelcollector/consts.go
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

Add classifiers to flowcontrolv1.CheckResponse
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/aperture/policy/wrappers/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/policy/wrappers/v1/policy.pb.json.go
  pkg/flowcontrol/envoy/authz.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/iface/classifier.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/provide.go
  pkg/policies/mocks/mock_engine.go
Due: updated-aperture

Add classifier index to classifier ID
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/aperture/policy/wrappers/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/wrappers/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/wrappers/v1/policy_deepcopy.gen.go
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/policylanguagev1classifier.libsonnet
  pkg/metrics/schema.go
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/iface/classifier.go
  pkg/policies/dataplane/resources/classifier/classifier.go
  pkg/policies/dataplane/resources/classifier/provide.go
Due: updated-aperture, updated-aperture-docs

Exclude and Include lists
  pkg/otelcollector/enrichmentprocessor/processor.go
  pkg/otelcollector/helpers.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/rollupprocessor/rollup_processor.go
  pkg/utils/helpers.go
Due: updated-aperture

Use consts in tests
  pkg/otelcollector/enrichmentprocessor/processor_logs_test.go
  pkg/otelcollector/enrichmentprocessor/processor_traces_test.go
Due: updated-aperture

Fix CI
  pkg/policies/controlplane/circuit.go
Due: updated-aperture

Create tagging and buf pushing jobs
  .circleci/config.yml
  .circleci/post-release.yaml
Due: none

Install buf from asdf
  .circleci/post-release.yaml
Due: none

Enable post-release pushing of tags and protobuf
  .circleci/post-release.yaml
Due: none

Add job for pushing protobuf files
  .circleci/post-release.yaml
Due: none

Configure git user email and name for tag annotations
  .circleci/post-release.yaml
Due: none

Add presentation layer for compiled circuit
  go.mod
  go.sum
  pkg/policies/controlplane/circuit.go
Due: updated-aperture

Move definitions to proto
  api/aperture/policy/language/v1/policy_view.proto
  api/gen/proto/go/aperture/policy/language/v1/policy_view.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy_view.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_view_deepcopy.gen.go
  pkg/policies/controlplane/circuit.go
Due: updated-aperture

remove kind setup script
  scripts/aperture_dev_cluster.sh
Due: none

TMP: Change branch for testing purposes
  .circleci/config.yml
Due: none

Add agent group processor to pipelines
  cmd/aperture-agent/agent/provider.go
  pkg/otel/config.go
Due: updated-aperture

Fix FN plugin constructor params
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

Fixed the default value issue
  .pre-commit-config.yaml
  manifests/charts/aperture-agent/templates/mutatingwebhook.yaml
  manifests/charts/aperture-controller/templates/mutatingwebhook.yaml
  manifests/charts/aperture-controller/templates/service.yaml
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/common_types.go
  operator/api/v1alpha1/controller_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/controllers/agent_config_test.tpl
  operator/controllers/agent_daemonset.go
  operator/controllers/agent_daemonset_test.go
  operator/controllers/agent_hook.go
  operator/controllers/agent_hook_invalid_test.tpl
  operator/controllers/agent_hook_test.go
  operator/controllers/agent_hook_test.tpl
  operator/controllers/agent_pod.go
  operator/controllers/agent_pod_test.go
  operator/controllers/configmaps_test.go
  operator/controllers/controller_config_test.tpl
  operator/controllers/controller_deployment.go
  operator/controllers/controller_deployment_test.go
  operator/controllers/controller_hook.go
  operator/controllers/controller_hook_invalid_test.tpl
  operator/controllers/controller_hook_test.go
  operator/controllers/controller_hook_test.tpl
  operator/controllers/mutating_webhook_configuration.go
  operator/controllers/mutating_webhook_configuration_test.go
  operator/controllers/mutating_webhook_reconciler.go
  operator/controllers/mutating_webhook_reconciler_test.go
  operator/controllers/namespace_controller_test.go
  operator/controllers/suite_test.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
  operator/main.go
  pkg/config/log.go
  pkg/watchdog/policy.go
  playground/Tiltfile
  scripts/precommit/check-operator-spec.sh
Due: updated-aperture, updated-aperture-operator, updated-aperture-charts

Corrected some of the links in the docs
  docs/content/get-started/_category_.yml
  docs/content/get-started/installation/_category_.yml
  docs/content/get-started/installation/agent/_category_.yml
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/agent/kubernetes/_category_.yml
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
  docs/content/get-started/istio.md
  docs/content/get-started/playground.md
  docs/content/get-started/supported-platforms.md
Due: updated-aperture-docs

Publish . ./aperture-agent-v0.0.1.tgz ./aperture-controller-v0.0.1.tgz ./istioconfig-v0.0.1.tgz
  aperture-agent-v0.0.1.tgz
  aperture-controller-v0.0.1.tgz
  index.yaml
  istioconfig-v0.0.1.tgz
Due: none

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools|api)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools|api)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: tools/demo_app/.*
