Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs, updated-aperture-chart

Update README.md
  examples/demo_app/README.md
Due: none

Check nil pointer on returned value from registry
  pkg/jobs/job-tracker.go
Due: updated-aperture

Add other metrics into common schema
  pkg/metrics/schema.go
  pkg/policies/controlplane/component/actuator/concurrency/scheduler.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
Due: updated-aperture

Add files via upload
  docs/content/assets/img/FN--Aperture--FluxNinja--Control-Loop.svg
Due: updated-aperture-docs

Update aperture.md
  docs/content/introduction/aperture.md
Due: updated-aperture-docs

Add files via upload
  docs/content/assets/img/active-flow-control.jpg
  docs/content/assets/img/no-flow-control.jpg
Due: updated-aperture-docs

refactor intro section
  docs/content/assets/img/FN--Aperture--FluxNinja--Control-Loop.svg
  docs/content/introduction/aperture.md
Due: updated-aperture-docs

checkpoint
  docs/content/assets/img/control-loop.svg
  docs/content/old.json
  docs/content/reference/glossary.md
  docs/content/reference/glossary/tokens.md
  docs/content/sidebars.json
Due: updated-aperture-docs

some cleanup
  docs/content/faq.md
  docs/content/introduction.md
Due: updated-aperture-docs

remove sidebar
  docs/content/sidebars.json
Due: updated-aperture-docs

moved items to concepts
  docs/content/concepts/flow-control-actuators/scheduler.md
  docs/content/concepts/flows-workloads.md
Due: updated-aperture-docs

checkpoint
  docs/content/concepts/flow-control/flow-control-actuators/scheduler.md
  docs/content/concepts/flow-control/flows.md
Due: updated-aperture-docs

checkpoint
  docs/content/concepts/flow-control/actuators/scheduler.md
Due: updated-aperture-docs

some fixes
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/content/concepts/flow-control/flows.md
  docs/content/developers/cla.md
  docs/content/faq.md
  docs/content/index.md
Due: updated-aperture-docs

Autogenerate sidebar for docs
  docs/content/Concepts/Flow-Control/Actuators/scheduler.md
  docs/content/Concepts/Flow-Control/flows.md
  docs/content/Developers/cla.md
  docs/content/introduction.md
  docs/content/sidebars.json
Due: updated-aperture-docs

Fixed CircleCi failures
  .circleci/continue-workflows.yml
  .gitignore
  pkg/utils/goleak.go
Due: updated-aperture

Checkpoint
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-stack-factory.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture

Checkpoint compiler
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture

Public method
  cmd/aperture-controller/controller/provider.go
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
Due: updated-aperture

Remove unnecessary public methods
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-stack-factory.go
Due: updated-aperture

Minor
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture

Added support to upload images on DockerHub
  .circleci/continue-workflows.yml
Due: none

Update code for aperture-mixin repo rename
  .circleci/continue-workflows.yml
  manifests/k8s/tanka/jsonnetfile.json
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: none

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools|api)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools|api)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
  updated-aperture-chart: any of: manifests/charts/agent/.*
