Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Add Preemptive Panels to Scheduler Dashboard
  blueprints/grafana/panels/avg_preemption_gauge.libsonnet
  blueprints/grafana/panels/avg_preemption_time_series.libsonnet
  blueprints/grafana/panels/grouped/quota_scheduler.libsonnet
Due: updated-blueprints

replace % with tokens for preemptive panels uniit
  blueprints/grafana/panels/avg_preemption_gauge.libsonnet
  blueprints/grafana/panels/avg_preemption_time_series.libsonnet
Due: updated-blueprints

add validation checks for deprecated fields
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs, updated-blueprints

Flip unmarshalling order in UpsertPolicy
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/utils/policies.go
  pkg/policies/controlplane/crwatcher/watcher.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/provider.go
  pkg/policies/controlplane/validator.go
  pkg/policies/controlplane/validator_test.go
Due: updated-aperture

Add policy string validation in UpsertPolicy
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture

add doc for deprecation_message
  blueprints/CONTRIBUTING.md
Due: updated-blueprints

Unregister preemption metrics
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Due: updated-aperture

Write marshalled json from policy crwatcher
  pkg/policies/controlplane/crwatcher/watcher.go
Due: updated-aperture

Add 30s Interval To Missing Panels
  blueprints/grafana/panels/avg_preemption_gauge.libsonnet
  blueprints/grafana/panels/avg_preemption_time_series.libsonnet
  blueprints/grafana/panels/request_in_queue_duration.libsonnet
  blueprints/grafana/utils/bar_chart_panel.libsonnet
  blueprints/grafana/utils/bar_gauge_panel.libsonnet
  blueprints/grafana/utils/stat_panel.libsonnet
  blueprints/grafana/utils/table_panel.libsonnet
Due: updated-blueprints

Keep backward compatibility for applying policy with proto
  cmd/aperturectl/cmd/apply/policy.go
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture

Fix policy checking in UpsertPolicy
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture

Init preempt metrics so that counters always get published. Subset of missing counters amongst prempt, delay, on-time won't cause the entire query result to drop.
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Due: updated-aperture

Shift min interval of time series to 10s
  blueprints/grafana/panels/avg_preemption_time_series.libsonnet
  blueprints/grafana/utils/bar_chart_panel.libsonnet
  blueprints/grafana/utils/bar_gauge_panel.libsonnet
  blueprints/grafana/utils/stat_panel.libsonnet
  blueprints/grafana/utils/time_series_panel.libsonnet
Due: updated-blueprints

Remove policy marshalling from aperturectl
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/cloud/apply/policy.go
  cmd/aperturectl/cmd/utils/policies.go
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture

Publish . ./aperture-agent-v2.18.2-rc.1.tgz
  aperture-agent-v2.18.2-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.18.2-rc.1.tgz
  aperture-controller-v2.18.2-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.18.2-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.18.2-rc.1.tgz
Due: none

Publish . ./aperture-agent-v2.18.2.tgz
  aperture-agent-v2.18.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.18.2.tgz ./index.yaml
  index.yaml
  istioconfig-v2.18.2.tgz
Due: none

Publish . ./aperture-controller-v2.18.2.tgz ./index.yaml
  aperture-controller-v2.18.2.tgz
  index.yaml
Due: none

Update production instead of staging post-release
  .circleci/post-release.yaml
  .circleci/scripts/update_environment.sh
Due: none

Merge config and post-release circleci workflows
  .circleci/config.yml
  .circleci/post-release.yaml
Due: none

Clean up tag usage
  .circleci/config.yml
Due: none

Change Tree in Circuit to a pointer so that the caller knows if it is safe to access by checking nil
  pkg/policies/controlplane/circuitfactory/circuit.go
Due: updated-aperture

Improve code readability
  pkg/policies/controlplane/policy.go
Due: updated-aperture

Make sure Tree.Node is a valid pointer in all cases so that treeGraph and other functions that assume existence of Tree.Node do not crash
  pkg/policies/controlplane/circuitfactory/circuit.go
  pkg/policies/controlplane/policy.go
Due: updated-aperture

Check if current aperturectl version is newer than on disk
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/cmd/utils/version.go
  docs/content/reference/aperturectl/aperturectl.md
Due: updated-aperture, updated-aperture-docs

Fix Preemptive Panel
  blueprints/grafana/panels/avg_preemption_chart.libsonnet
  blueprints/grafana/panels/avg_preemption_gauge.libsonnet
  blueprints/grafana/panels/avg_preemption_time_series.libsonnet
  blueprints/grafana/panels/grouped/quota_scheduler.libsonnet
  blueprints/grafana/utils/bar_chart_panel.libsonnet
  blueprints/grafana/utils/time_series_panel.libsonnet
Due: updated-blueprints

Fix version file update behaviour
  cmd/aperturectl/cmd/blueprints/root.go
  cmd/aperturectl/cmd/utils/pull.go
  cmd/aperturectl/cmd/utils/version.go
Due: updated-aperture

Add !=0 in denominator of division queries
  blueprints/grafana/panels/request_in_queue_duration.libsonnet
  blueprints/grafana/panels/request_queue_duration_bar.libsonnet
Due: updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
