Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

initial
  api/aperture/cmd/v1/cmd.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.json.go
  api/gen/proto/go/aperture/cmd/v1/cmd_deepcopy.gen.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  cmd/aperturectl/cmd/autoscale/control-points.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/agentfunctions/agents/agents.go
  pkg/agentfunctions/autoscale-controlpoints.go
  pkg/agentfunctions/flowcontrol-controlpoints.go
  pkg/agentfunctions/provide.go
  pkg/cmd/controller.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
Due: updated-aperture, updated-aperture-docs

Add ability to list auto-scale control points in aperturectl
  api/aperture/cmd/v1/cmd.proto
  api/buf.lock
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  cmd/aperturectl/cmd/autoscale/control-points.go
  docs/content/reference/aperturectl/auto-scale/auto-scale.md
  docs/content/reference/aperturectl/auto-scale/control-points/control-points.md
  pkg/agentfunctions/agents/agents.go
  pkg/agentfunctions/autoscale-controlpoints.go
  pkg/agentfunctions/flowcontrol-controlpoints.go
  pkg/cmd/controller.go
  pkg/policies/autoscale/kubernetes/service/controlpoints/control-points.go
  pkg/policies/autoscale/kubernetes/service/controlpoints/provide.go
  pkg/rpc/clients.go
Due: updated-aperture, updated-aperture-docs

Remove log statement
  pkg/rpc/clients.go
Due: updated-aperture

Java Demo App first commit
  playground/resources/javademoapp/.gitignore
  playground/resources/javademoapp/build.gradle
  playground/resources/javademoapp/gradle/wrapper/gradle-wrapper.jar
  playground/resources/javademoapp/gradle/wrapper/gradle-wrapper.properties
  playground/resources/javademoapp/gradlew
  playground/resources/javademoapp/gradlew.bat
  playground/resources/javademoapp/settings.gradle
  playground/resources/javademoapp/src/main/java/com/javademoapp/javademoapp/JavademoappApplication.java
  playground/resources/javademoapp/src/main/java/com/javademoapp/javademoapp/Request.java
  playground/resources/javademoapp/src/main/java/com/javademoapp/javademoapp/RequestHandler.java
  playground/resources/javademoapp/src/main/java/com/javademoapp/javademoapp/SimpleService.java
  playground/resources/javademoapp/src/main/java/com/javademoapp/javademoapp/Subrequest.java
  playground/resources/javademoapp/src/main/java/com/javademoapp/javademoapp/SubrequestChain.java
  playground/resources/javademoapp/src/main/resources/application.properties
  playground/resources/javademoapp/src/test/java/com/javademoapp/javademoapp/JavademoappApplicationTests.java
Due: none

chatgpt review: try file contents review
  .github/workflows/chatgpt-review.yml
Due: none

chatgpt review: provide file contents before review
  .github/workflows/chatgpt-review.yml
Due: none

add gitignore for vim
  .gitignore
Due: none

enable debug log
  .github/workflows/chatgpt-review.yml
Due: none

Remove duplicate vim block in .gitignore
  .gitignore
Due: none

Add comments
  pkg/cmd/controller.go
Due: updated-aperture

try again
  .github/workflows/chatgpt-review.yml
Due: none

ignore lock files
  .github/workflows/chatgpt-review.yml
Due: none

switch off debug logs
  .github/workflows/chatgpt-review.yml
Due: none

enable debug
  .github/workflows/chatgpt-review.yml
Due: none

disable debug
  .github/workflows/chatgpt-review.yml
Due: none

enable debug to test chatgpt
  .github/workflows/chatgpt-review.yml
Due: none

incomplete
  api/aperture/cmd/v1/cmd.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.json.go
  api/gen/proto/go/aperture/cmd/v1/cmd_deepcopy.gen.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  cmd/aperturectl/cmd/autoscale/control-points.go
  cmd/aperturectl/cmd/discovery/entities.go
  cmd/aperturectl/cmd/discovery/root.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/agentfunctions/agents/agents.go
  pkg/cmd/controller.go
  pkg/discovery/entities/entities-service.go
  pkg/discovery/entities/entities.go
Due: updated-aperture, updated-aperture-docs

switch off debug
  .github/workflows/chatgpt-review.yml
Due: none

Auto-scaler details
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/integrations/auto-scale/components/_category_.yml
  docs/content/concepts/integrations/auto-scale/components/auto-scaler.md
  docs/content/concepts/integrations/auto-scale/components/components.md
  docs/content/concepts/integrations/auto-scale/components/pod-scaler.md
  docs/content/concepts/integrations/auto-scale/kubernetes-object-selector.md
  docs/content/concepts/integrations/flow-control/components/_category_.yml
  docs/content/concepts/integrations/flow-control/components/components.md
  docs/content/concepts/integrations/flow-control/flow-selector.md
  docs/content/reference/policies/spec.md
  docs/content/tutorials/integrations/auto-scale/load-based-auto-scaling.md
  docs/gen/policy/policy.yaml
  playground/scenarios/auto_scaling/metadata.json
  playground/scenarios/auto_scaling/policies/load-based-auto-scale-service1-cr.yaml
  playground/scenarios/auto_scaling/policies/load-based-auto-scale.yaml
Due: updated-aperture, updated-aperture-docs

Update decsription of load based auto-scale tutorial
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/integrations/auto-scale/components/auto-scaler.md
  docs/content/reference/policies/spec.md
  docs/content/tutorials/integrations/auto-scale/load-based-auto-scaling.md
  docs/gen/policy/policy.yaml
  playground/scenarios/auto_scaling/policies/load-based-auto-scale-cr.yaml
Due: updated-aperture, updated-aperture-docs

allow specific resources to run if scenerios is not provided
  playground/Tiltfile
  playground/scenarios/demo-app-with-no-policy/metadata.json
Due: none

fix for default scenario
  playground/Tiltfile
Due: none

Automatically update brew formulas on release
  .circleci/post-release.yaml
  .circleci/scripts/update_brews.sh
Due: none

Add brew release flow
  .circleci/post-release.yaml
Due: none

Use opsninja for creating the releases
  .circleci/post-release.yaml
  .circleci/scripts/update_brews.sh
Due: none

debug
  .github/workflows/chatgpt-review.yml
Due: none

Update brew release
  .circleci/post-release.yaml
Due: none

integrated scoring stage
  .github/workflows/chatgpt-review.yml
Due: none

chatgpt reviews: integrated scoring stage
  .github/workflows/chatgpt-review.yml
Due: none

merge
  .github/workflows/chatgpt-review.yml
Due: none

chatgpt review: switch to fluxninja fork
  .github/workflows/chatgpt-review.yml
Due: none

Add Aperture SDK connection
  playground/resources/javademoapp/README.md
  playground/resources/javademoapp/build.gradle
  playground/resources/javademoapp/src/main/java/com/javademoapp/javademoapp/JavademoappApplication.java
  playground/resources/javademoapp/src/main/java/com/javademoapp/javademoapp/RequestHandler.java
  playground/resources/javademoapp/src/main/java/com/javademoapp/javademoapp/ServletInitializer.java
  playground/resources/javademoapp/src/main/java/com/javademoapp/javademoapp/SimpleService.java
  playground/resources/javademoapp/src/test/java/com/javademoapp/javademoapp/JavademoappApplicationTests.java
Due: none
