Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-api, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-playground-policies, updated-aperture-csharp, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-api: any of: api/.*
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go|pkg/.*
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-playground-policies: any of: playground/scenarios/service-protection-rl-escalation/policies/.*-cr.yaml
  updated-aperture-csharp: any of: sdks/aperture-csharp/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|dashboards/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

Publish . ./istioconfig-v2.33.1-rc.1.tgz
  index.yaml
  istioconfig-v2.33.1-rc.1.tgz
Due: none

Publish . ./aperture-agent-v2.33.1-rc.1.tgz
  aperture-agent-v2.33.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.33.1-rc.1.tgz ./index.yaml
  aperture-controller-v2.33.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.33.1.tgz
  index.yaml
  istioconfig-v2.33.1.tgz
Due: none

Publish . ./aperture-controller-v2.33.1.tgz
  aperture-controller-v2.33.1.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v2.33.1.tgz ./index.yaml
  aperture-agent-v2.33.1.tgz
  index.yaml
Due: none

Add label alerts in other limiters
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/actuators/load-scheduler/load-scheduler.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Due: updated-aperture, updated-aperture-operator

Remove severity label if timestamp is older than 5 minutes
  pkg/labelstatus/labelstatus.go
Due: updated-aperture, updated-aperture-operator

Update lock to use RLock and RUnlock in setLookupStatus function
  pkg/labelstatus/labelstatus.go
Due: updated-aperture, updated-aperture-operator

Refactor label status and concurrency scheduler modules
  pkg/labelstatus/labelstatus.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/provide.go
Due: updated-aperture, updated-aperture-operator

Add job name to label status setup
  pkg/labelstatus/labelstatus.go
Due: updated-aperture, updated-aperture-operator

resolve pre commit fail
  sdks/aperture-py/example/main.py
Due: updated-aperture-py

Remove Caching example from get started page
  docs/content/get-started/get-started.md
Due: updated-aperture-docs

Add new fields to LabelStatusFactory and Factory structs
  pkg/labelstatus/labelstatus.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
Due: updated-aperture, updated-aperture-operator

Update buf lock
  api/buf.lock
Due: updated-aperture, updated-aperture-api

Refactor flow.py and flow_async.py to skip empty request IDs
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/aperture_sdk/flow_async.py
Due: updated-aperture-py

Refactor flow end in aperture-go to skip empty request IDs
  sdks/aperture-go/sdk/flow.go
Due: updated-aperture-go

Refactor flow end in aperture-js to skip empty request IDs
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture-js

Fix flow End in aperture-java sdk
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
Due: updated-aperture-java

Fix flow End in aperture-csharp sdk
  sdks/aperture-csharp/Core/FeatureFlow.cs
Due: updated-aperture-csharp

Fix flow End in aperture-go CheckHTTP flow
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-go/sdk/httpflow.go
Due: updated-aperture-go

Update each SDK readme with code examples
  sdks/aperture-csharp/README.md
  sdks/aperture-go/README.md
  sdks/aperture-java/README.md
  sdks/aperture-js/README.md
  sdks/aperture-py/README.md
Due: updated-aperture-csharp, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py

Fix typos
  sdks/aperture-csharp/README.md
  sdks/aperture-go/README.md
  sdks/aperture-java/README.md
  sdks/aperture-js/README.md
  sdks/aperture-py/README.md
Due: updated-aperture-csharp, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py

Sync SDK READMEs
  sdks/aperture-csharp/README.md
  sdks/aperture-go/README.md
  sdks/aperture-java/README.md
  sdks/aperture-js/README.md
  sdks/aperture-py/README.md
Due: updated-aperture-csharp, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py

Fix JS docs
  sdks/aperture-js/README.md
Due: updated-aperture-js

Publish . ./aperture-agent-v2.34.0-rc.1.tgz
  aperture-agent-v2.34.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.34.0-rc.1.tgz
  aperture-controller-v2.34.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.34.0-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.34.0-rc.1.tgz
Due: none

readme: v1 announcement
  README.md
Due: none

Update SDK READMEs for v1 announcement
  sdks/aperture-csharp/README.md
  sdks/aperture-go/README.md
  sdks/aperture-java/README.md
  sdks/aperture-js/README.md
  sdks/aperture-py/README.md
Due: updated-aperture-csharp, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py
