Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

remove mention of ARC from playground Tiltfile
  playground/Tiltfile
Due: none

Fix docs
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
Due: updated-aperture-docs

fix spec failing link
  blueprints/blueprint-assets-generator.py
  docs/content/reference/blueprints/auto-scaling/pod-auto-scaler.md
  docs/content/reference/blueprints/load-ramping/base.md
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
  docs/content/reference/blueprints/load-scheduling/promql.md
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/blueprints/rate-limiting/base.md
Due: updated-aperture-docs, updated-blueprints

add fluxninja architecture diagram
  docs/content/assets/img/FluxNinja-arc-dark.svg
  docs/content/assets/img/FluxNinja-arc-light.svg
  docs/content/fluxninja/introduction.md
Due: updated-aperture-docs

Added support to run agent with cloud-controller in playground
  cmd/aperturectl/cmd/utils/controller.go
  playground/Tiltfile
  playground/ctlptl-kind-config.yaml
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/basic-service-protection/policies/basic-service-protection.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection.yaml
  playground/scenarios/feature-rollout/policies/load-ramping-cr.yaml
  playground/scenarios/feature-rollout/policies/load-ramping.yaml
  playground/scenarios/graceful-js/policies/load-ramping-cr.yaml
  playground/scenarios/graceful-js/policies/load-ramping.yaml
  playground/scenarios/graceful-js/policies/rate-limiting-cr.yaml
  playground/scenarios/graceful-js/policies/rate-limiting.yaml
  playground/scenarios/graceful-js/policies/workload-prioritization-cr.yaml
  playground/scenarios/graceful-js/policies/workload-prioritization.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler.yaml
  playground/scenarios/rate-limiting/policies/rate-limiting-cr.yaml
  playground/scenarios/rate-limiting/policies/rate-limiting.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization.yaml
  playground/scripts/render-policy.sh
  playground/tanka/apps/aperture-agent/mixins.libsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
  scripts/precommit/check_tanka_show.sh
Due: updated-aperture, updated-blueprints

Revert the local change
  playground/ctlptl-kind-config.yaml
Due: none

Publish . ./istioconfig-v2.10.1-rc.1.tgz
  index.yaml
  istioconfig-v2.10.1-rc.1.tgz
Due: none

Publish . ./aperture-agent-v2.10.1-rc.1.tgz
  aperture-agent-v2.10.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.10.1-rc.1.tgz
  aperture-controller-v2.10.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.10.1.tgz
  aperture-controller-v2.10.1.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v2.10.1.tgz
  aperture-agent-v2.10.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.10.1.tgz
  index.yaml
  istioconfig-v2.10.1.tgz
Due: none

Provide status of jobs via aperturectl
  api/aperture/cmd/v1/cmd.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/cmd/status/root.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/aperturectl/status/status.md
  pkg/cmd/controller.go
  pkg/status/provide.go
  pkg/status/status-service.go
Due: updated-aperture, updated-aperture-docs

fix introduction
  docs/content/fluxninja/introduction.md
Due: updated-aperture-docs

remove aperture introduction
  docs/content/fluxninja/introduction.md
  docs/content/introduction.md
Due: updated-aperture-docs

remove aperture introduction
  docs/content/fluxninja/introduction.md
Due: updated-aperture-docs

fix pre commmit fail
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/graceful-js/policies/load-ramping-cr.yaml
  playground/scenarios/graceful-js/policies/workload-prioritization-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/rabbitmq-queue-buildup/policies/service1-demoapp-rabbitmq-queue-buildup-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: updated-aperture-java

add playground policies
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/graceful-js/policies/load-ramping-cr.yaml
  playground/scenarios/graceful-js/policies/workload-prioritization-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/rabbitmq-queue-buildup/policies/service1-demoapp-rabbitmq-queue-buildup-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
Due: none

Remove viz fields from nested circuit spec. Set the viz specific fields using code instead.
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/nestedcircuit.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/auto-scale-components.go
  pkg/policies/controlplane/circuitfactory/circuit.go
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/circuitfactory/flow-control-components.go
  pkg/policies/controlplane/circuitfactory/nested-circuit.go
  pkg/policies/controlplane/circuitfactory/tree.go
  pkg/policies/controlplane/components/autoscale/auto-scaler.go
  pkg/policies/controlplane/components/autoscale/podscaler/pod-scaler.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/adaptive-load-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/load-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/sampler/load-ramp.go
  pkg/policies/controlplane/runtime/compile.go
  pkg/policies/controlplane/runtime/configured-component.go
  pkg/policies/controlplane/sim/circuit.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: updated-aperture, updated-aperture-docs, updated-aperture-java, updated-blueprints

Waiting room scenario tab added
  playground/resources/demo-ui/.eslintrc.json
  playground/resources/demo-ui/package-lock.json
  playground/resources/demo-ui/package.json
  playground/resources/demo-ui/src/app.tsx
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/resources/demo-ui/src/hooks/use-request-to-endpoint.ts
  playground/resources/demo-ui/src/pages/home.tsx
Due: none

Run demo-ui in graceful-js scenario
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/scenarios/graceful-js/metadata.json
Due: none

Update waiting room request
  playground/resources/demo-ui/src/pages/home.tsx
Due: none

docs: Move (FluxNinja) Configuration section to Reference
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/classifier.md
  docs/content/get-started/installation/agent/bare_metal.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/configuration/spec.md
  docs/content/reference/fluxninja.md
  docs/content/self-hosting/self-hosting.md
  docs/content/sidebars.json
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  docs/gen/policy/policy.yaml
  extensions/fluxninja/extconfig/extconfig.go
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-blueprints

docs: Remove FluxNinja / Aperture headings from sidebar
  docs/content/architecture/architecture.md
  docs/content/get-started/policies/policies.md
  docs/content/integrations/auto-scale/kubernetes/kubernetes.md
  docs/content/introduction.md
  docs/content/reference/fluxninja.md
  docs/content/reference/observability/flow-metrics/flow-metrics.md
  docs/content/self-hosting/agent.md
  docs/content/self-hosting/self-hosting.md
  docs/content/sidebars.json
Due: updated-aperture-docs

update to Setting up your service
  docs/content/get-started/setting-up-application/setting-up-application.md
Due: updated-aperture-docs

update file name and links
  docs/content/get-started/get-started.md
  docs/content/get-started/setting-up-your-service/manual-control-points.md
  docs/content/get-started/setting-up-your-service/middleware-insertions.md
  docs/content/get-started/setting-up-your-service/service-mesh-and-gateways.md
  docs/content/get-started/setting-up-your-service/setting-up-your-service.md
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
