Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Publish . ./aperture-agent-v0.15.0-rc.1.tgz
  aperture-agent-v0.15.0-rc.1.tgz
  index.yaml
Due: none

Scrape otel metrics as well
  pkg/otelcollector/config.go
Due: updated-aperture

Publish . ./aperture-controller-v0.15.0-rc.1.tgz
  aperture-controller-v0.15.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.15.0-rc.1.tgz
  index.yaml
  istioconfig-v0.15.0-rc.1.tgz
Due: none

remove blog assets
  docs/content/assets/img/adaptive-concurrency-limits/Signals-Dashboard.png
  docs/content/assets/img/adaptive-concurrency-limits/When-Aperture-is-protecting-service.png
  docs/content/assets/img/adaptive-concurrency-limits/concurrency-limits-dark.png
  docs/content/assets/img/adaptive-concurrency-limits/concurrency-limits-light.png
  docs/content/assets/img/adaptive-concurrency-limits/demo-application.png
  docs/content/assets/img/adaptive-concurrency-limits/no-protection-setup.png
  docs/content/assets/img/adaptive-concurrency-limits/overall-view-grafana-dashboard.png
  docs/content/assets/img/adaptive-concurrency-limits/service-topology-dark.png
  docs/content/assets/img/adaptive-concurrency-limits/service-topology-example-dark.png
  docs/content/assets/img/adaptive-concurrency-limits/service-topology-example-light.png
  docs/content/assets/img/adaptive-concurrency-limits/service-topology-light.png
  docs/content/assets/img/fluxninja-at-kubernetes-pune/fluxninja-at-kubernetes-pune.png
Due: updated-aperture-docs

add preview proto
  api/aperture/flowcontrol/preview/v1/preview.proto
  api/buf.lock
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.gw.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview_deepcopy.gen.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview_grpc.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  sdks/aperture-js/proto/preview/v1/preview.proto
Due: updated-aperture, updated-aperture-docs

Fix linker in `make go-test`
  Makefile
Due: none

Changes for release 0.15.x
  docs/content/introduction.md
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-docs, updated-aperture-charts

Publish . ./aperture-agent-v0.15.0-rc.2.tgz
  aperture-agent-v0.15.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.15.0-rc.2.tgz
  index.yaml
  istioconfig-v0.15.0-rc.2.tgz
Due: none

Publish . ./aperture-controller-v0.15.0-rc.2.tgz ./index.yaml
  aperture-controller-v0.15.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v0.15.0.tgz
  aperture-agent-v0.15.0.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.15.0.tgz
  aperture-controller-v0.15.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.15.0.tgz ./index.yaml
  index.yaml
  istioconfig-v0.15.0.tgz
Due: none

Add extra validation to test scenarios code
  playground/Tiltfile
  playground/scenarios/graphql-example-1/manifests/apps-v1.Deployment-service-graphql-demo-app.yaml
  playground/scenarios/graphql-example-1/manifests/v1.Service-service-graphql-demo-app.yaml
  playground/scenarios/graphql-example-1/manifests/v1.ServiceAccount-service-graphql-demo-app.yaml
Due: none

Add an easier way of defining test scenarios for aperture
  playground/Tiltfile
  playground/scenarios/graphql-example-1/application/graphql_demo_app/Dockerfile
  playground/scenarios/graphql-example-1/application/graphql_demo_app/go.mod
  playground/scenarios/graphql-example-1/application/graphql_demo_app/go.sum
  playground/scenarios/graphql-example-1/application/graphql_demo_app/gqlgen.yml
  playground/scenarios/graphql-example-1/application/graphql_demo_app/graph/generated/generated.go
  playground/scenarios/graphql-example-1/application/graphql_demo_app/graph/model/models_gen.go
  playground/scenarios/graphql-example-1/application/graphql_demo_app/graph/model/todo.go
  playground/scenarios/graphql-example-1/application/graphql_demo_app/graph/resolver.go
  playground/scenarios/graphql-example-1/application/graphql_demo_app/graph/schema.graphqls
  playground/scenarios/graphql-example-1/application/graphql_demo_app/graph/schema.resolvers.go
  playground/scenarios/graphql-example-1/application/graphql_demo_app/server.go
  playground/scenarios/graphql-example-1/application/graphql_demo_app/tools/tools.go
  playground/scenarios/graphql-example-1/load_generator/test.js
  playground/scenarios/graphql-example-1/manifests/apps-v1.Deployment-service-graphql-demo-app.yaml
  playground/scenarios/graphql-example-1/manifests/v1.Service-service-graphql-demo-app.yaml
  playground/scenarios/graphql-example-1/manifests/v1.ServiceAccount-service-graphql-demo-app.yaml
  playground/scenarios/graphql-example-1/metadata.json
  playground/scenarios/graphql-example-1/policies/policy.yaml
  playground/scenarios/graphql-example-1/tkrc.yaml
  playground/scenarios/wavepool-generator/apps-v1.Deployment-wavepool-graphql-generator.yaml
  playground/scenarios/wavepool-generator/v1.ConfigMap-wavepool-graphql-config.yaml
  playground/scripts/render-yaml.sh
Due: none

Add support for tanka-generated scenarios and move graphql-demo-app out of global apps
  playground/Tiltfile
  playground/scenarios/graphql-example-1/charts/graphql-demo-app/.helmignore
  playground/scenarios/graphql-example-1/charts/graphql-demo-app/Chart.yaml
  playground/scenarios/graphql-example-1/charts/graphql-demo-app/templates/_helpers.tpl
  playground/scenarios/graphql-example-1/charts/graphql-demo-app/templates/deployment.yaml
  playground/scenarios/graphql-example-1/charts/graphql-demo-app/templates/service.yaml
  playground/scenarios/graphql-example-1/charts/graphql-demo-app/templates/serviceaccount.yaml
  playground/scenarios/graphql-example-1/charts/graphql-demo-app/values.yaml
  playground/scenarios/graphql-example-1/jsonnetfile.json
  playground/scenarios/graphql-example-1/jsonnetfile.lock.json
  playground/scenarios/graphql-example-1/manifests/main.jsonnet
  playground/scenarios/graphql-example-1/manifests/main.libsonnet
  playground/scenarios/graphql-example-1/manifests/mixins.libsonnet
  playground/scenarios/graphql-example-1/metadata.json
  playground/scenarios/graphql-example-1/tkrc.yaml
Due: none

Render scenario policies from jsonnet using aperture blueprints
  playground/Tiltfile
  playground/scenarios/graphql-example-1/policies/policy.jsonnet
  playground/scenarios/graphql-example-1/policies/policy.yaml
Due: none

Separate out etcd election from client
  pkg/etcd/client/client.go
  pkg/etcd/election/election.go
Due: updated-aperture

Remove agent info dependency in etcd client
  docs/content/references/configuration/controller.md
  docs/gen/config/controller/config-swagger.yaml
  pkg/etcd/client/client.go
Due: updated-aperture, updated-aperture-docs

Fix IsLeader check
  pkg/etcd/election/election.go
Due: updated-aperture

Move policies from aperture-controller into scenarios
  playground/Tiltfile
  playground/scenarios/graphql-example-1/policies/policy.jsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: none

Add Integrator component
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/lib/1.0/_gen/v1/component.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  blueprints/lib/1.0/_gen/v1/integrator.libsonnet
  blueprints/lib/1.0/_gen/v1/integratorins.libsonnet
  blueprints/lib/1.0/_gen/v1/integratorouts.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/components/integrator.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture, updated-aperture-docs

add licensing FAQ
  docs/content/license-faq.md
  docs/content/tutorials/flow-control/basic-concurrency-limiting.md
  docs/content/tutorials/flow-control/dynamic-rate-limiting.md
  docs/content/tutorials/flow-control/graphql-rate-limiting.md
  docs/content/tutorials/flow-control/workload-prioritization.md
Due: updated-aperture-docs

add licensing FAQ
  README.md
  docs/content/license-faq.md
Due: updated-aperture-docs

Handle error from fx.VisualizeError
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
Due: updated-aperture

Generic Cache
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-controller/controller.go
  pkg/cache/cache.go
  pkg/controlpointcache/control_point_cache.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/flowcontrol/selectors/control-point-id.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
  test/aperture_suite_test.go
Due: updated-aperture

Create LICENSE
  LICENSE
Due: none

update FAQs and cleanup SDK licenses (Apache 2.0)
  LICENSE.txt
  README.md
  docs/content/license-faq.md
  docs/content/licensing-faq.md
  sdks/aperture-go/LICENSE.txt
  sdks/aperture-js/LICENSE.txt
Due: updated-aperture-docs, updated-aperture-go

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
