Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs, updated-aperture-chart

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools|api)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools|api)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
  updated-aperture-chart: any of: manifests/charts/agent/.*

Add workload metric histogram to lifecycle
  pkg/otel/components.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
Due: updated-aperture

Update comment on NewRegistry
  pkg/jobs/jobs_test.go
  pkg/status/registry.go
Due: updated-aperture

Enable single pod deployment run per worker node
  manifests/charts/demo-app/templates/deployment.yaml
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  manifests/k8s/tanka/lib/apps/demoapp/main.libsonnet
Due: none

update k8s deployment readme and add kind cluster script
  manifests/k8s/README.md
  scripts/aperture_dev_cluster.sh
Due: none

Fix controller provider.go
  cmd/aperture-controller/controller/provider.go
Due: updated-aperture

Change stop to delete load test
  manifests/k8s/Tiltfile
Due: none

De-couple FluxMeters from Policy, make them global
  api/aperture/common/config/v1/config_properties_wrapper.proto
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  libsonnet/Makefile
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/paths/paths.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_flux_meter.go
Due: updated-aperture

Remove Exists methods from Regisrty interface
  pkg/status/map.go
  pkg/status/registry.go
  pkg/status/registry_test.go
Due: updated-aperture

Remove existsInPath
  pkg/status/map.go
  pkg/status/registry.go
Due: updated-aperture

combine pip PRs
  .github/workflows/combine-prs.yml
Due: none

Fix tests
  pkg/policies/dataplane/engine_test.go
Due: updated-aperture

Fix tests
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/flux-meter.go
Due: updated-aperture

Fix combine PRs script
  .github/workflows/combine-prs.yml
Due: none

fix
  go.sum
Due: updated-aperture

Fix starting array length
  pkg/policies/controlplane/policy.go
Due: updated-aperture

Improve blueprint docs
  docs/content/concepts/policies/policy-blueprints.md
Due: updated-aperture-docs

Update policy-blueprints.md
  docs/content/concepts/policies/policy-blueprints.md
Due: updated-aperture-docs

Add comment why histogram might already exists in metricsprocessor
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

Updated K6 CRD
  manifests/k8s/tanka/lib/apps/k6-operator/k6/crd/bases/k6.io_k6s.yaml
Due: none

Removed Istio dependency from chart and added policy configmap and grafana dashboard
  Makefile
  manifests/charts/agent/Chart.lock
  manifests/charts/agent/Chart.yaml
  manifests/charts/agent/README.md
  manifests/charts/agent/templates/envoy_filter.yaml
  manifests/charts/agent/values.yaml
  manifests/charts/aperture-operator/Chart.lock
  manifests/charts/aperture-operator/Chart.yaml
  manifests/charts/aperture-operator/README.md
  manifests/charts/aperture-operator/values.yaml
  manifests/charts/istioconfig/.helmignore
  manifests/charts/istioconfig/Chart.yaml
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  manifests/charts/istioconfig/values.yaml
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/chartfile.yaml
  manifests/k8s/tanka/charts/.gitignore
  manifests/k8s/tanka/charts/istioconfig
  manifests/k8s/tanka/environments/tilt/apps/aperture-grafana/dashboards/json-example.json
  manifests/k8s/tanka/environments/tilt/apps/aperture-operator/mixins.libsonnet
  manifests/k8s/tanka/environments/tilt/apps/demoapp/mixins.libsonnet
  manifests/k8s/tanka/environments/tilt/apps/istio/main.jsonnet
  manifests/k8s/tanka/environments/tilt/apps/istio/mixins.libsonnet
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
  manifests/k8s/tanka/lib/apps/istio/main.libsonnet
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent_reconciler.go
  operator/controllers/controller_reconciler.go
Due: updated-aperture-chart

Fix CLA rendering and improve aperture-operator handling
  docs/content/developers/cla.md
  manifests/charts/aperture-operator/templates/_helpers.tpl
  manifests/charts/aperture-operator/values.yaml
  manifests/k8s/README.md
  manifests/k8s/Tiltfile
Due: updated-aperture-docs

Add FluxNinja Cloud section to docs
  docs/content/cloud/_category_.yml
  docs/content/cloud/plugin.md
Due: updated-aperture-docs

add app and helm chart version
  manifests/charts/agent/Chart.yaml
  manifests/charts/aperture-operator/Chart.yaml
Due: updated-aperture-chart

Added installation steps in docs
  docs/content/setup/_category_.yml
  docs/content/setup/installation/_category_.yml
  docs/content/setup/installation/agent/_category_.yml
  docs/content/setup/installation/agent/agent.md
  docs/content/setup/installation/agent/daemonset.md
  docs/content/setup/installation/agent/sidecar.md
  docs/content/setup/installation/controller.md
  docs/content/setup/installation/installation.md
  docs/content/setup/istio.md
  docs/content/setup/supported-platforms.md
Due: updated-aperture-docs

Removed Istio from installation steps and resolved review comments
  .gitignore
  docs/content/setup/installation/agent/daemonset.md
  docs/content/setup/installation/agent/sidecar.md
  docs/content/setup/installation/controller.md
  docs/content/setup/installation/installation.md
  docs/content/setup/istio.md
Due: updated-aperture-docs

Concepts
  docs/content/concepts/flow-control/actuators/actuators.md
  docs/content/concepts/flow-control/actuators/rate-limiter.md
  docs/content/concepts/flow-control/actuators/scheduler.md
Due: updated-aperture-docs
