Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Remove unwanted print
  cmd/aperturectl/cmd/utils/controller.go
Due: updated-aperture

Renamed tracker names to make them consistent
  pkg/policies/controlplane/crwatcher/provide.go
  pkg/policies/controlplane/crwatcher/watcher.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/provider.go
Due: updated-aperture

Fixed typo and added check for nil
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/provider.go
Due: updated-aperture

vale format corrections
  docs/content/get-started/installation/controller/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/controller/operator/operator.md
Due: updated-aperture-docs

Fixed vale errors
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/operator.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/get-started/installation/controller/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/controller/operator/operator.md
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  operator/api/agent/v1alpha1/agent_types.go
  pkg/agentfunctions/config/config.go
  pkg/agentfunctions/config/zz_generated.deepcopy.go
  pkg/agentfunctions/provide.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

blueprints: render default values as yaml in docs
  .github/styles/Vocab/FluxNinja/accept.txt
  blueprints/blueprint-assets-generator.py
  docs/content/parameterComponents.js
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/average-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/base.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/ema-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/percentile-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/promql.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
Due: updated-aperture-docs

Fixed vale errors
  docs/content/get-started/installation/agent/agent.md
Due: updated-aperture-docs

openai review
  blueprints/blueprint-assets-generator.py
  docs/content/parameterComponents.js
Due: updated-aperture-docs

openai review
  blueprints/blueprint-assets-generator.py
Due: none

Add rpc for patching dynamic config
  api/aperture/cmd/v1/cmd.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.gw.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/policy_grpc.pb.go
  cmd/aperturectl/cmd/apply/dynamic-config.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  pkg/cmd/controller.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/provider.go
Due: updated-aperture, updated-aperture-docs

Use the `community/mitchellh-go-json` remote plugin
  api/Makefile
  api/buf.gen.aperture-grpc-ecosystem.yaml
  api/buf.gen.aperture-langs.yaml
Due: updated-aperture

vale style release action
  .github/workflows/style-release.yml
Due: none

fix the version of gh action
  .github/workflows/style-release.yml
Due: none

Language tool suggessions
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/get-started/installation/controller/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/controller/operator/operator.md
Due: updated-aperture-docs

Fix pre-commit
  docs/content/reference/policies/spec.md
Due: updated-aperture-docs

Changes in the dynamic config and policy API for required fields
  api/aperture/cmd/v1/cmd.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.gw.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/policy_grpc.pb.go
  cmd/aperturectl/cmd/apply/dynamic-config.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/get-started/installation/controller/namespace-scoped/namespace-scoped.md
  pkg/cmd/controller.go
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture, updated-aperture-docs

Changed policy dynamic config etcd path to solve cross-wiring
  pkg/policies/paths/paths.go
Due: updated-aperture

Count invalid metrics readings in separate metrics
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/flowcontrol/iface/flux-meter.go
  pkg/policies/flowcontrol/resources/fluxmeter/flux-meter.go
  pkg/policies/mocks/mock_flux_meter.go
Due: updated-aperture

Update docs and playground
  blueprints/dashboards/signals/dashboard.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/dashboard.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/policy.libsonnet
  docs/content/reference/policies/assets/monitoring/signals-dashboard.json
  docs/content/tutorials/auto-scale/load-based-auto-scaling/assets/load-based-auto-scale.yaml
  docs/content/tutorials/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.yaml
  docs/content/tutorials/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/policies/flowcontrol/iface/flux-meter.go
  playground/scenarios/auto_scaling/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/basic_concurrency_limiting/policies/basic-concurrency-limiting-cr.yaml
  playground/scenarios/rate_limiting_escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation_kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation_nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/workload_prioritization/policies/workload-prioritization-cr.yaml
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Write policy and dynamic config directly to etcd without lease
  pkg/policies/controlplane/policy-service.go
  pkg/policies/paths/paths.go
Due: updated-aperture

Publish . ./aperture-agent-v1.4.0-rc.2.tgz
  aperture-agent-v1.4.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v1.4.0-rc.2.tgz
  aperture-controller-v1.4.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v1.4.0-rc.2.tgz
  index.yaml
  istioconfig-v1.4.0-rc.2.tgz
Due: none

Publish . ./aperture-agent-v1.4.0.tgz
  aperture-agent-v1.4.0.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v1.4.0.tgz
  aperture-controller-v1.4.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v1.4.0.tgz
  index.yaml
  istioconfig-v1.4.0.tgz
Due: none

Update paths
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.gw.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  cmd/aperturectl/cmd/apply/dynamic-config.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture, updated-aperture-docs

Fix pre-commit issue
  docs/content/reference/policies/spec.md
Due: updated-aperture-docs

actions: target branch to main for some actions
  .github/workflows/languagetool.yaml
  .github/workflows/openai-review.yml
  .github/workflows/vale.yml
Due: none

pre_commit: regenerate proto
  .tool-versions
  api/buf.lock
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: updated-aperture, updated-aperture-java

Add sync from api paths of policies and dynamic-configs to the temporary one
  api/aperture/cmd/v1/cmd.proto
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/policy_grpc.pb.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/cmd/controller.go
  pkg/policies/controlplane/crwatcher/provide.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/provider.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: updated-aperture, updated-aperture-docs, updated-aperture-java

scheduler: rely on client timeouts
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/schedulerparameters.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values-required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  manifests/charts/istioconfig/README.md
  manifests/charts/istioconfig/values.yaml
  pkg/policies/flowcontrol/actuators/concurrency/concurrency-limiter.go
Due: updated-aperture, updated-aperture-docs, updated-aperture-charts

scheduler: rely on client timeouts
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/schedulerparameters.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  playground/scenarios/rate_limiting_escalation/load_generator/test.js
Due: updated-aperture, updated-aperture-docs

scheduler: rely on client timeouts
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  manifests/charts/istioconfig/README.md
  manifests/charts/istioconfig/values.yaml
  pkg/policies/flowcontrol/scheduler/wfq.go
  playground/scenarios/auto_scaling/load_generator/test.js
  playground/scenarios/demo-app-with-no-policy/load_generator/test.js
  playground/scenarios/feature_rollout/load_generator/test.js
  playground/scenarios/graphql_query_static_rate_limiting/load_generator/test.js
  playground/scenarios/rabbitmq_queue_buildup/load_generator/test.js
  playground/scenarios/rate_limiting_escalation/load_generator/test.js
  playground/scenarios/rate_limiting_escalation_kong/load_generator/test.js
  playground/scenarios/rate_limiting_escalation_nginx/load_generator/test.js
Due: updated-aperture, updated-aperture-docs, updated-aperture-charts

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
