Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Fix missing flumeter proto in wrapper
  pkg/policies/controlplane/fluxmeter/flux-meter.go
Due: updated-aperture

Move controller's policy interface under controlplane/iface instead of apis/policyapi/
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-stack-factory.go
  pkg/policies/controlplane/component/actuator/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/component/actuator/concurrency/load-shed-actuator.go
  pkg/policies/controlplane/component/actuator/concurrency/scheduler.go
  pkg/policies/controlplane/component/actuator/rate/rate-limiter.go
  pkg/policies/controlplane/component/arithmetic-combinator.go
  pkg/policies/controlplane/component/constant.go
  pkg/policies/controlplane/component/controller/controller-component.go
  pkg/policies/controlplane/component/controller/gradient.go
  pkg/policies/controlplane/component/decider.go
  pkg/policies/controlplane/component/ema.go
  pkg/policies/controlplane/component/extrapolator.go
  pkg/policies/controlplane/component/max.go
  pkg/policies/controlplane/component/min.go
  pkg/policies/controlplane/component/promql.go
  pkg/policies/controlplane/component/sqrt.go
  pkg/policies/controlplane/fluxmeter/flux-meter.go
  pkg/policies/controlplane/iface/policy.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit-api.go
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture

Wrappers overhaul
  api/aperture/common/config/v1/config_properties_wrapper.proto
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.go
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  cmd/aperture-controller/controller/provider.go
  pkg/classification/provide.go
  pkg/etcd/watcher/watcher.go
  pkg/flowcontrol/flowcontrol.go
  pkg/flowcontrol/provide.go
  pkg/notifiers/notifier.go
  pkg/notifiers/notifier_test.go
  pkg/otel/components.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/paths/paths.go
  pkg/policies/controlplane/component/actuator/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/component/actuator/concurrency/load-shed-actuator.go
  pkg/policies/controlplane/component/actuator/concurrency/scheduler.go
  pkg/policies/controlplane/component/actuator/rate/rate-limiter.go
  pkg/policies/controlplane/fluxmeter/flux-meter.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/dataplane/actuator/concurrency/auto-tokens.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuator/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuator/rate/rate-limiter.go
  pkg/policies/dataplane/component/component.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/iface/component.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/dataplane/iface/policy.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_flux_meter.go
  pkg/utils/config-properties.go
Due: updated-aperture

Change FluxMeter spec to a map
  api/aperture/common/config/v1/config_properties_wrapper.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/config/v1/config_properties_wrapper.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/swagger.md
  latency-gradient-policy.yaml
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/fluxmeter/flux-meter.go
  pkg/policies/controlplane/policy.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
Due: updated-aperture, updated-aperture-docs

Refer all metric names and labels from pkg/metrics/schema.go
  pkg/metrics/schema.go
  pkg/net/http/server.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/controlplane/fluxmeter/flux-meter.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/dataplane/actuator/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
Due: updated-aperture

Capture FlowLabelKeys
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  go.mod
  go.sum
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/dataplane/engine.go
Due: updated-aperture

Bump gocron to 1.16.3
  go.mod
  go.sum
Due: updated-aperture

Re-enable race detection flag
  .circleci/continue-workflows.yml
Due: none

update uber fx
  go.mod
  go.sum
Due: updated-aperture

remove coverpkg
  .circleci/continue-workflows.yml
Due: none

codecov upload step
  .circleci/continue-workflows.yml
Due: none

add coverpkg
  .circleci/continue-workflows.yml
Due: none

Component Factory Cleanup
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-factory_test.go
  pkg/policies/controlplane/component-stack-factory.go
Due: updated-aperture

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Add CircleCI badge
  README.md
Due: none

add circleci badge
  README.md
Due: none

add circleci badge
  CODE_OF_CONDUCT.md
Due: none

Add join Slack badge
  README.md
Due: none

Fixed CircleCi Config
  .circleci/continue-workflows.yml
Due: none

Fixed CircleCi failures
  .circleci/continue-workflows.yml
  .tool-versions
  tools/githooks/check_tanka_show.sh
Due: updated-aperture

Add status code to fluxmeter metrics
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/mocks/mock_engine.go
Due: updated-aperture

Register Fluxmeter as HistogramVec
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_flux_meter.go
Due: updated-aperture

Add docs for static discovery
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  pkg/discovery/config-operations.go
  pkg/discovery/kubernetes/kubernetes_discovery.go
  pkg/discovery/static/provide.go
  pkg/discovery/static/static_discovery.go
Due: updated-aperture, updated-aperture-docs

Fix tests
  pkg/discovery/static/provide.go
  pkg/discovery/static/static_discovery.go
  pkg/discovery/static/static_discovery_test.go
Due: updated-aperture

Update docs codeowners
  .github/CODEOWNERS
Due: none

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools|api)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools|api)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
