Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app

Fix import in demo_app
  playground/demo_app/main.go
Due: none

platform: panic handler minor fix
  pkg/panichandler/panichandler.go
  playground/tanka/apps/aperture-agent/mixins.libsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture

Docs re-word
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs

Initialize with pass through mode. Move pass through check after incoming token tracking
  pkg/policies/dataplane/actuators/concurrency/load-actuator.go
  pkg/policies/dataplane/actuators/concurrency/scheduler/token-bucket-load-multiplier.go
Due: updated-aperture

[ImgBot] Optimize images
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/rate-limiter/gen/graph/graph.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.png
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.svg
Due: updated-aperture-docs

Update aperture-js
  api/Makefile
  api/buf.lock
  sdks/aperture-js/LICENSE.txt
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/src/consts.js
  sdks/aperture-js/src/example/example.js
  sdks/aperture-js/src/proto/flowcontrol/v1/flowcontrol.proto
Due: updated-aperture

Fix example
  sdks/aperture-js/src/example/example.js
Due: none

docs: dynamic configuration
  blueprints/examples/latency-gradient/gen/graph/graph.dot
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/latency-gradient/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient/policy.libsonnet
  docs/content/get-started/policies/blueprints.md
  docs/content/get-started/policies/dynamic-configuration.md
  docs/content/get-started/policies/monitoring.md
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.yaml
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
Due: updated-aperture-operator, updated-aperture-docs

docs: dynamic configuration
  docs/content/get-started/policies/dynamic-configuration.md
Due: updated-aperture-docs

docs: add a note regarding dryrun mode
  docs/content/concepts/flow-control/rate-limiter.md
  docs/content/get-started/policies/blueprints.md
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.jsonnet
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.jsonnet
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.jsonnet
  docs/content/tutorials/flow-control/basic-concurrency-limiting.md
  docs/content/tutorials/flow-control/static-rate-limiting.md
Due: updated-aperture-docs

add circleci pre-commit v2
  .circleci/continue-workflows.yml
  .pre-commit-config.yaml
  .tool-versions
  scripts/manage_tools.sh
Due: none

add associative array for plugin-list
  scripts/manage_tools.sh
Due: none

Corrected condition
  scripts/manage_tools.sh
Due: none

plugin check
  scripts/manage_tools.sh
Due: none

remove grep
  scripts/manage_tools.sh
Due: none

Add metricsprocessor.internal UT
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels_test.go
  pkg/otelcollector/metricsprocessor/internal/envoy_labels.go
  pkg/otelcollector/metricsprocessor/internal/envoy_labels_test.go
  pkg/otelcollector/metricsprocessor/internal/internal_suite_test.go
  pkg/otelcollector/metricsprocessor/internal/sdk_labels_test.go
  pkg/otelcollector/metricsprocessor/internal/status_test.go
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

Mark 1xx and 3xx statuses as OK
  pkg/otelcollector/metricsprocessor/internal/status.go
Due: updated-aperture

Move status labels logic to metricsprocessor
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
  pkg/policies/mocks/mock_flux_meter.go
Due: updated-aperture

Populate `response_status` in telemetry
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
Due: updated-aperture

Clean up metricsprocessor
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/envoy_labels.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
  pkg/otelcollector/metricsprocessor/internal/sdk_labels.go
  pkg/otelcollector/metricsprocessor/internal/status.go
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

Bump FN OTEL to 0.63.0
  go.mod
  go.sum
Due: updated-aperture

Bump OTEL to 0.63.0
  go.mod
  go.sum
  pkg/otelcollector/enrichmentprocessor/enrichmentprocessor_suite_test.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/otelcollector/otelcollector.go
  pkg/otelcollector/rollupprocessor/processor.go
Due: updated-aperture

Publish . ./aperture-agent-v0.8.0-rc.1.tgz
  aperture-agent-v0.8.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.8.0-rc.1.tgz
  index.yaml
  istioconfig-v0.8.0-rc.1.tgz
Due: none

Publish . ./aperture-controller-v0.8.0-rc.1.tgz
  aperture-controller-v0.8.0-rc.1.tgz
  index.yaml
Due: none

Fix telemetry labels propagation
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels_test.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
Due: updated-aperture

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools|api)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools|api)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: tools/demo_app/.*
