Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

Added additional configurable fields for auto scale component
  blueprints/policies/kubernetes-auto-scaler/config.libsonnet
  blueprints/policies/kubernetes-auto-scaler/dashboard.libsonnet
  blueprints/policies/kubernetes-auto-scaler/gen/definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/values.yaml
  blueprints/policies/kubernetes-auto-scaler/policy.libsonnet
  docs/content/reference/policies/bundled-blueprints/policies/kubernetes-auto-scaler.md
Due: updated-aperture-docs

Fixed issues in json schema generator
  blueprints/policies/kubernetes-auto-scaler/config.libsonnet
  blueprints/policies/kubernetes-auto-scaler/gen/definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/values-required.yaml
  blueprints/policies/kubernetes-auto-scaler/gen/values.yaml
  docs/content/reference/policies/bundled-blueprints/policies/kubernetes-auto-scaler.md
  playground/scenarios/static_rate_limiting/policies/static-rate-limiting.yaml
  scripts/blueprint-assets-generator.py
Due: updated-aperture-docs

Fix invalid memory address error in leaderonlyreceiver shutdown
  pkg/otelcollector/leaderonlyreceiver/receiver.go
Due: updated-aperture

Reply to Flow Regulated Requests with 401 Unauthorized
  pkg/policies/flowcontrol/service/envoy/authz.go
Due: updated-aperture

refactor blueprint docs generation
  api/buf.lock
  blueprints/dashboards/signals/config.libsonnet
  blueprints/dashboards/signals/metadata.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/dynamic-config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values-required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/metadata.yaml
  blueprints/policies/static-rate-limiting/config.libsonnet
  blueprints/policies/static-rate-limiting/dynamic-config.libsonnet
  blueprints/policies/static-rate-limiting/metadata.yaml
  docs/content/.markdownlintrc
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  requirements.txt
  scripts/blueprint-assets-generator.py
Due: updated-aperture, updated-aperture-docs

checkpoint
  blueprints/blueprint-assets-generator.py
  docs/content/parameterComponents.js
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  scripts/generate_blueprints.sh
Due: updated-aperture-docs

link blueprints
  blueprints/blueprint-assets-generator.py
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values-required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  cmd/aperturectl/cmd/blueprints/list.go
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
Due: updated-aperture, updated-aperture-docs

improve anchor links
  blueprints/blueprint-assets-generator.py
  blueprints/policies/latency-aimd-concurrency-limiting/README.md
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
Due: updated-aperture-docs

Bump FN OTEL to v0.75.0
  go.mod
  go.sum
Due: updated-aperture

Bump OTEL to v0.75.0
  go.mod
  go.sum
Due: updated-aperture

Split out watchdogconfig from watchdog package
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/api/common/common_types.go
  pkg/watchdog/cgroup_linux.go
  pkg/watchdog/config/config.go
  pkg/watchdog/config/policy.go
  pkg/watchdog/config/zz_generated.deepcopy.go
  pkg/watchdog/policy.go
  pkg/watchdog/watchdog.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Update rabbitmq-queue-buildup policy doc
  api/buf.lock
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
Due: updated-aperture, updated-aperture-docs

refactor json schema
  blueprints/blueprint-assets-generator.py
  blueprints/dashboards/signals/gen/definitions.json
  blueprints/dashboards/signals/gen/dynamic-config-definitions.json
  blueprints/policies/kubernetes-auto-scaler/config.libsonnet
  blueprints/policies/kubernetes-auto-scaler/gen/definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/dynamic-config-definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/values-required.yaml
  blueprints/policies/kubernetes-auto-scaler/gen/values.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/dynamic-config-definitions.json
  blueprints/policies/static-rate-limiting/gen/definitions.json
  blueprints/policies/static-rate-limiting/gen/dynamic-config-definitions.json
  docs/content/reference/policies/bundled-blueprints/policies/kubernetes-auto-scaler.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
Due: updated-aperture-docs

Remove unused vars from rabbitmq dashboard
  blueprints/policies/rabbitmq-queue-buildup/dashboard.libsonnet
Due: none

do not render complex definitions
  blueprints/blueprint-assets-generator.py
  blueprints/dashboards/signals/gen/definitions.json
  blueprints/dashboards/signals/gen/dynamic-config-definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/dynamic-config-definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/dynamic-config-definitions.json
  blueprints/policies/static-rate-limiting/gen/definitions.json
  blueprints/policies/static-rate-limiting/gen/dynamic-config-definitions.json
Due: none

is_complex_type
  blueprints/blueprint-assets-generator.py
Due: none

Combine baggage packages from checkhttp and envoy
  pkg/policies/flowcontrol/baggage/baggage.go
  pkg/policies/flowcontrol/baggage/baggage_suite_test.go
  pkg/policies/flowcontrol/service/checkhttp/baggage/baggage.go
  pkg/policies/flowcontrol/service/checkhttp/baggage/baggage_suite_test.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  pkg/policies/flowcontrol/service/envoy/authz.go
Due: updated-aperture

fix schema
  blueprints/blueprint-assets-generator.py
  blueprints/dashboards/signals/gen/definitions.json
  blueprints/dashboards/signals/gen/dynamic-config-definitions.json
  blueprints/policies/kubernetes-auto-scaler/config.libsonnet
  blueprints/policies/kubernetes-auto-scaler/gen/definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/dynamic-config-definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/values-required.yaml
  blueprints/policies/kubernetes-auto-scaler/gen/values.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/dynamic-config-definitions.json
  blueprints/policies/static-rate-limiting/gen/definitions.json
  blueprints/policies/static-rate-limiting/gen/dynamic-config-definitions.json
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
  docs/content/reference/policies/bundled-blueprints/policies/kubernetes-auto-scaler.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
Due: updated-aperture-docs

isolate definitions schema
  blueprints/blueprint-assets-generator.py
  blueprints/dashboards/signals/gen/definitions.json
  blueprints/dashboards/signals/gen/dynamic-config-definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/dynamic-config-definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/dynamic-config-definitions.json
  blueprints/policies/static-rate-limiting/gen/definitions.json
  blueprints/policies/static-rate-limiting/gen/dynamic-config-definitions.json
Due: none

remove aperture defs from validation as they are not needed
  cmd/aperturectl/cmd/blueprints/generate.go
Due: updated-aperture

render schemas heading only when needed
  blueprints/blueprint-assets-generator.py
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
Due: updated-aperture-docs

add required values for auto scaler
  blueprints/policies/kubernetes-auto-scaler/config.libsonnet
  blueprints/policies/kubernetes-auto-scaler/gen/definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/values-required.yaml
  blueprints/policies/kubernetes-auto-scaler/gen/values.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/README.md
Due: none

blueprints: fix rendering of array objects
  blueprints/blueprint-assets-generator.py
Due: none

update go to 1.20.3
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/graphql-demo-app/Dockerfile
  scripts/invalidate_asdf_ci_cache.sh
  sdks/aperture-go/Dockerfile
Due: updated-aperture, updated-aperture-go

Export platform logger constructor so it can be used outside of Fx
  pkg/config/log.go
  pkg/log/log.go
Due: updated-aperture

Add extra documentation and refactor config.NewLogger to drop error
  pkg/config/log.go
  pkg/log/log.go
Due: updated-aperture

Fix tilt issue, remove temporary changes, update documentation
  cmd/aperture-agent/build-config.yaml
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
  manifests/charts/aperture-agent/values.yaml
  playground/scenarios/rabbitmq_queue_buildup/metadata.json
  playground/scenarios/rabbitmq_queue_buildup/policies/rabbitmq-queue-buildup.yaml
  playground/scenarios/rabbitmq_queue_buildup/policies/service1-demoapp-rabbitmq-queue-buildup-cr.yaml
Due: updated-aperture, updated-aperture-docs, updated-aperture-charts

RabbitMQ queue buildup blueprint docs
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
Due: updated-aperture-docs

Extract kubernetes discovery config to separate package
  docs/gen/config/agent/config-swagger.yaml
  operator/api/common/common_types.go
  pkg/discovery/kubernetes/config/config.go
  pkg/discovery/kubernetes/config/zz_generated.deepcopy.go
  pkg/discovery/kubernetes/provide.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Extract config packages from distcache, etcd and peers
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/common/common_types.go
  pkg/distcache/config/config.go
  pkg/distcache/config/zz_generated.deepcopy.go
  pkg/distcache/provider.go
  pkg/etcd/client/client.go
  pkg/etcd/config.go
  pkg/etcd/zz_generated.deepcopy.go
  pkg/peers/config/config.go
  pkg/peers/config/zz_generated.deepcopy.go
  pkg/peers/peers.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Extract config packages out of agentfunctions, agentmanager and preview
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/common/common_types.go
  pkg/agentfunctions/config/config.go
  pkg/agentfunctions/config/zz_generated.deepcopy.go
  pkg/agentfunctions/preview.go
  pkg/agentfunctions/provide.go
  pkg/alertmanager/client/client.go
  pkg/alertmanager/config/config.go
  pkg/alertmanager/config/zz_generated.deepcopy.go
  pkg/policies/flowcontrol/service/preview/config/config.go
  pkg/policies/flowcontrol/service/preview/config/zz_generated.deepcopy.go
  pkg/policies/flowcontrol/service/preview/provide.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

fix tests
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/controller_suite_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  operator/controllers/namespace/namespace_suite_test.go
  operator/controllers/suite_test.go
Due: updated-aperture-operator

one more test
  operator/controllers/controller/configmaps_test.go
Due: updated-aperture-operator

Update rabbitmq blueprint config
  blueprints/policies/rabbitmq-queue-buildup/config.libsonnet
  blueprints/policies/rabbitmq-queue-buildup/dynamic-config.libsonnet
  blueprints/policies/rabbitmq-queue-buildup/gen/definitions.json
  blueprints/policies/rabbitmq-queue-buildup/gen/dynamic-config-definitions.json
  blueprints/policies/rabbitmq-queue-buildup/gen/values.yaml
  blueprints/policies/rabbitmq-queue-buildup/metadata.yaml
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
Due: updated-aperture-docs
