Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Changes required for release v0.17.x
  docs/content/introduction.md
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-docs, updated-aperture-charts

Publish . ./aperture-agent-v0.17.0-rc.1.tgz
  aperture-agent-v0.17.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.17.0-rc.1.tgz
  aperture-controller-v0.17.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.17.0-rc.1.tgz
  index.yaml
  istioconfig-v0.17.0-rc.1.tgz
Due: none

Publish . ./aperture-agent-v0.17.0-rc.2.tgz
  aperture-agent-v0.17.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.17.0-rc.2.tgz
  aperture-controller-v0.17.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.17.0-rc.2.tgz
  index.yaml
  istioconfig-v0.17.0-rc.2.tgz
Due: none

Publish . ./aperture-agent-v0.17.0-rc.3.tgz
  aperture-agent-v0.17.0-rc.3.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.17.0-rc.3.tgz
  aperture-controller-v0.17.0-rc.3.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.17.0-rc.3.tgz
  index.yaml
  istioconfig-v0.17.0-rc.3.tgz
Due: none

Fix baremetal package building
  .circleci/continue-workflows.yml
Due: none

Moved release bare metal packages to post-release pipeline
  .circleci/post-release.yaml
Due: none

Update OTEL to v0.68.0
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-controller/controller/otel-component.go
  go.mod
  go.sum
  pkg/otelcollector/alertsexporter/config.go
  pkg/otelcollector/alertsexporter/factory.go
  pkg/otelcollector/alertsreceiver/config.go
  pkg/otelcollector/alertsreceiver/factory.go
  pkg/otelcollector/enrichmentprocessor/config.go
  pkg/otelcollector/enrichmentprocessor/factory.go
  pkg/otelcollector/enrichmentprocessor/processor_test.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/otelcollector.go
  pkg/otelcollector/rollupprocessor/config.go
  pkg/otelcollector/rollupprocessor/factory.go
  pkg/otelcollector/rollupprocessor/processor.go
  pkg/otelcollector/tracestologsprocessor/config.go
  pkg/otelcollector/tracestologsprocessor/factory.go
  tools/go/go.mod
  tools/go/go.sum
Due: updated-aperture

Fixes
  pkg/discovery/kubernetes/kubernetes_discovery.go
Due: updated-aperture

Fixed the separator issue in bare metal installation docs
  .circleci/post-release.yaml
  docs/content/get-started/installation/agent/bare_metal.md
Due: updated-aperture-docs

TEST: Release Pipeline check PR
  .circleci/continue-workflows.yml
  nfpm.yaml
Due: none

test
  .circleci/continue-workflows.yml
Due: none

test
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
Due: none

Used gh instead of ghr for uploading assets
  .circleci/post-release.yaml
Due: none

Publish . ./aperture-agent-v0.17.0-rc.4.tgz
  aperture-agent-v0.17.0-rc.4.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.17.0-rc.4.tgz
  aperture-controller-v0.17.0-rc.4.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.17.0-rc.4.tgz
  index.yaml
  istioconfig-v0.17.0-rc.4.tgz
Due: none

Fix providing control point cache
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-controller/controller.go
Due: updated-aperture

Add Differentiator component
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/lib/1.0/_gen/v1/component.libsonnet
  blueprints/lib/1.0/_gen/v1/differentiator.libsonnet
  blueprints/lib/1.0/_gen/v1/differentiatorins.libsonnet
  blueprints/lib/1.0/_gen/v1/differentiatorouts.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/components/differentiator.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture, updated-aperture-docs

Fix documentation for differentiator
  pkg/policies/controlplane/components/differentiator.go
Due: updated-aperture

added preview api
  api/Makefile
  api/aperture/flowcontrol/preview/v1/preview.proto
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.json.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview_deepcopy.gen.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  pkg/net/grpc/server.go
  pkg/net/grpc/validator.go
  pkg/policies/flowcontrol/config-operations.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/iface/classifier.go
  pkg/policies/flowcontrol/iface/engine.go
  pkg/policies/flowcontrol/iface/label-preview.go
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/envoy/provide.go
  pkg/policies/flowcontrol/service/preview/label-preview.go
  pkg/policies/flowcontrol/service/preview/provide.go
  pkg/policies/flowcontrol/service/provide.go
  pkg/policies/mocks/mock_engine.go
  pkg/watchdog/policy.go
  pkg/watchdog/watchdog.go
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-js/proto/preview/v1/preview.proto
  sdks/aperture-js/sdk/consts.js
Due: updated-aperture, updated-aperture-docs

fix makefile
  api/Makefile
Due: updated-aperture

fix makefile
  api/Makefile
  api/aperture/flowcontrol/preview/v1/preview.proto
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  pkg/policies/flowcontrol/service/preview/label-preview.go
  pkg/policies/flowcontrol/service/preview/provide.go
  playground/tanka/apps/aperture-agent/mixins.libsonnet
Due: updated-aperture, updated-aperture-docs

fix operator
  docs/content/references/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/policies/flowcontrol/config-operations.go
  pkg/policies/flowcontrol/service/preview/provide.go
  pkg/policies/flowcontrol/service/preview/zz_generated.deepcopy.go
  playground/tanka/apps/aperture-agent/mixins.libsonnet
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
