Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

fix broken links
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/guides/api-quota-management/openai.md
  docs/content/introduction.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/configuration/spec.md
  docs/gen/config/agent/metadata
  docs/gen/config/controller/metadata
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs, updated-blueprints

fix broken links
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/fluxninja.md
  docs/content/self-hosting/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/setup-cli/configure-cli.md
  docs/content/setup-cli/setup-cli.md
Due: updated-aperture-docs

fix broken link
  docs/content/get-started/agent-api-keys/agent-api-keys.md
  docs/content/get-started/agent-api-keys/assets/api-keys.gif
  docs/content/get-started/set-up-application/manual-control-points.md
  docs/content/get-started/set-up-application/middleware-insertions.md
  docs/content/get-started/set-up-application/service-mesh-and-gateways.md
  docs/content/self-hosting/agent/docker.md
  docs/content/self-hosting/agent/kubernetes/namespace-scoped/namespace-scoped.md
Due: updated-aperture-docs

update get started
  .github/styles/Vocab/FluxNinja/accept.txt
  docs/content/get-started/get-started.md
Due: updated-aperture-docs

Update CRB on SA change
  operator/controllers/agent/agent_suite_test.go
  operator/controllers/mutate_func.go
Due: updated-aperture-operator

linting issues
  docs/content/get-started/get-started.md
  docs/content/guides/api-quota-management/openai.md
Due: updated-aperture-docs

Fix omitempty validation for string types
  docs/tools/swagger/process-go-tags.go
Due: updated-aperture-docs

fix link issues
  docs/content/concepts/agent-group.md
  docs/content/concepts/classifier.md
  docs/content/concepts/control-point.md
  docs/content/concepts/flow-label.md
  docs/content/faq.md
  docs/content/self-hosting/agent/kubernetes/operator/daemonset.md
  docs/content/self-hosting/agent/kubernetes/operator/sidecar.md
Due: updated-aperture-docs

update pre-commit updated docs
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
Due: updated-aperture-docs

update get started
  docs/content/architecture/architecture.md
  docs/content/get-started/get-started.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Pin java buf plugin versions
  api/buf.gen.aperture-langs.yaml
  sdks/aperture-java/settings.gradle.kts
Due: updated-aperture, updated-aperture-java

Add alerter to rate limiter policy
  blueprints/rate-limiting/base/config.libsonnet
  blueprints/rate-limiting/base/gen/definitions.json
  blueprints/rate-limiting/base/policy.libsonnet
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.md5sum
  docs/content/guides/assets/per-user-rate-limiting/graph.mmd.svg
  docs/content/guides/assets/per-user-rate-limiting/policy.yaml
  docs/content/guides/classifying-workloads/assets/graphql/graph.mmd
  docs/content/guides/classifying-workloads/assets/graphql/graph.mmd.md5sum
  docs/content/guides/classifying-workloads/assets/graphql/graph.mmd.svg
  docs/content/guides/classifying-workloads/assets/graphql/policy.yaml
  docs/content/reference/blueprints/rate-limiting/base.md
  playground/scenarios/graphql-rate-limiting/policies/graphql-rate-limiting-cr.yaml
  playground/scenarios/rate-limiting/policies/rate-limiting-cr.yaml
Due: updated-aperture-docs, updated-blueprints

Pin java buf plugin versions
  sdks/aperture-java/settings.gradle.kts
Due: updated-aperture-java

Update Java protobuf plugins and generated code
  api/buf.gen.aperture-langs.yaml
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/ClassifierInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/ClassifierInfoOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FluxMeterInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FluxMeterInfoOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecision.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecisionOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/StatusCode.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckhttpProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/DeniedHttpResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/DeniedHttpResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/OkHttpResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/OkHttpResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/SocketAddress.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/SocketAddressOrBuilder.java
Due: updated-aperture, updated-aperture-java

proposed changes by jai
  docs/content/get-started/agent-api-keys/agent-api-keys.md
  docs/content/get-started/get-started.md
  docs/content/introduction.md
  docs/content/reference/fluxninja.md
Due: updated-aperture-docs

update text
  docs/tools/aperturectl/generate-docs/generate-docs.go
Due: updated-aperture-docs

Pin protocolbuffers version as latest causes issues in SDKs
  api/buf.gen.aperture-langs.yaml
Due: updated-aperture

Generated changes
  api/buf.lock
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
Due: updated-aperture, updated-aperture-py

fix links
  .gitignore
  docs/content/concepts/infra-meter.md
  docs/content/concepts/selector.md
  docs/content/guides/api-quota-management/openai.md
  docs/content/reference/aperture-cli/aperturectl/build/agent/agent.md
  docs/content/reference/aperture-cli/aperturectl/build/build.md
  docs/content/reference/aperture-cli/aperturectl/build/controller/controller.md
  docs/content/sdk/java/armeria.md
  docs/content/sdk/java/netty.md
  sdks/aperture-js/README.md
  sdks/aperture-py/README.md
Due: updated-aperture-docs, updated-aperture-js, updated-aperture-py

fix precommit issues
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/ClassifierInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/ClassifierInfoOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FluxMeterInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FluxMeterInfoOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecision.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecisionOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/StatusCode.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckhttpProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/DeniedHttpResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/DeniedHttpResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/OkHttpResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/OkHttpResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/SocketAddress.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/SocketAddressOrBuilder.java
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
Due: updated-aperture-java, updated-aperture-py

Add nil check for InstallationModeConfig
  pkg/secretmanager/provide.go
Due: updated-aperture

Add nil check for InstallationModeConfig
  cmd/aperture-agent/agent/otel-config.go
Due: updated-aperture

merge architecture pages
  docs/content/architecture/architecture.md
  docs/content/assets/img/fully-hosted-dark.svg
  docs/content/assets/img/fully-hosted-light.svg
  docs/content/assets/img/local-agents-dark.svg
  docs/content/assets/img/local-agents-light.svg
  docs/content/assets/img/saas-dark.svg
  docs/content/assets/img/saas-light.svg
  docs/content/introduction.md
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/auto-instrumentation.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/java/springboot.md
  docs/content/sdk/java/tomcat.md
  docs/content/sdk/javascript/manual.md
  docs/content/sdk/python/manual.md
  docs/content/self-hosting/agent/kubernetes/operator/operator.md
  docs/content/self-hosting/architecture.md
  docs/content/self-hosting/controller/kubernetes/operator/operator.md
  docs/content/self-hosting/self-hosting.md
Due: updated-aperture-docs

fix broken links
  docs/content/sdk/go/manual.md
  docs/content/sdk/java/auto-instrumentation.md
  docs/content/sdk/java/manual.md
  docs/content/sdk/java/springboot.md
  docs/content/sdk/java/tomcat.md
  docs/content/sdk/javascript/manual.md
  docs/content/sdk/python/manual.md
Due: updated-aperture-docs

fix image location and create new policy doc
  docs/content/faq.md
  docs/content/get-started/assets/sign-up/console-view.png
  docs/content/get-started/assets/sign-up/create-organization.png
  docs/content/get-started/assets/sign-up/final-step.png
  docs/content/get-started/assets/sign-up/get-started.png
  docs/content/get-started/assets/sign-up/install-aperture.png
  docs/content/get-started/assets/sign-up/invite-members.png
  docs/content/get-started/assets/sign-up/project-name.png
  docs/content/get-started/assets/sign-up/select-subscription.png
  docs/content/get-started/assets/sign-up/sign-up.png
  docs/content/get-started/assets/sign-up/subscription-plan.png
  docs/content/get-started/assets/sign-up/subscription-started.png
  docs/content/get-started/assets/sign-up/thats-all.png
  docs/content/get-started/assets/sign-up/usergroups.png
  docs/content/get-started/policy.md
  docs/content/get-started/sign-up.md
  docs/content/reference/aperture-cli/personal-api-keys.md
  docs/content/reference/aperture-cli/policies/assets/blueprints.mmd
  docs/content/reference/aperture-cli/policies/assets/blueprints.mmd.md5sum
  docs/content/reference/aperture-cli/policies/assets/blueprints.mmd.svg
  docs/content/reference/aperture-cli/policies/assets/raw_values.yaml
  docs/content/reference/aperture-cli/policies/assets/validate.sh
  docs/content/reference/aperture-cli/policies/assets/values.yaml
  docs/content/reference/aperture-cli/policies/policies.md
  docs/content/reference/fluxninja.md
Due: updated-aperture-docs

fix vale issue
  .github/styles/Vocab/FluxNinja/accept.txt
Due: updated-aperture-docs

add create policy from ui doc
  docs/content/get-started/policies/assets/2-create-policy.png
  docs/content/get-started/policies/assets/3-use-case-selection.png
  docs/content/get-started/policies/assets/4-choose-blueprint.png
  docs/content/get-started/policies/assets/5-customize-blueprint.png
  docs/content/get-started/policies/assets/7-review-the-draft.png
  docs/content/get-started/policies/assets/8-policy-applied.png
  docs/content/get-started/policies/policies.md
  docs/content/get-started/policy.md
Due: updated-aperture-docs

Remove protobuf version from check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
Due: updated-aperture-py

Fix rate limiter component ID in NewRateLimiterAndOptions function and update etcd key in rateLimiter setup function.
  pkg/policies/controlplane/components/flowcontrol/rate-limiter/private.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
Due: updated-aperture

Jai Changes coderabbit
  docs/content/self-hosting/agent/kubernetes/operator/sidecar.md
  docs/content/self-hosting/architecture.md
  docs/content/self-hosting/controller/kubernetes/kubernetes.md
  docs/content/self-hosting/controller/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/self-hosting/controller/kubernetes/operator/operator.md
  docs/content/self-hosting/integrations/gateway/kong.md
  docs/content/self-hosting/integrations/gateway/nginx.md
  docs/content/self-hosting/integrations/istio/istio.md
Due: updated-aperture-docs

minor fix
  docs/content/get-started/get-started.md
  docs/content/get-started/policies/policies.md
  docs/content/reference/aperture-cli/aperturectl/aperturectl.md
  docs/content/reference/aperture-cli/aperturectl/blueprints/blueprints.md
  docs/content/reference/aperture-cli/aperturectl/blueprints/generate/generate.md
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
