Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Fixes for observations during testing
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_grpc.pb.go
  cmd/aperturectl/cmd/apply/dynamic-config.go
  cmd/aperturectl/cmd/apply/policy.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/controlplane/crwatcher/provide.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/provider.go
Due: updated-aperture, updated-aperture-docs

aperturectl delete policy command
  api/aperture/cmd/v1/cmd.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  cmd/aperturectl/cmd/delete/policy.go
  cmd/aperturectl/cmd/delete/root.go
  cmd/aperturectl/cmd/root.go
  cmd/aperturectl/cmd/utils/controller.go
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/aperturectl/delete/delete.md
  docs/content/reference/aperturectl/delete/policy/policy.md
  pkg/cmd/controller.go
Due: updated-aperture, updated-aperture-docs

Fixed error log
  cmd/aperturectl/cmd/delete/policy.go
Due: updated-aperture

Fix metrics
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture

Update log message in aperturectl delete
  cmd/aperturectl/cmd/delete/policy.go
Due: updated-aperture

playground: add back imports
  playground/scenarios/auto_scaling/load_generator/test.js
  playground/scenarios/demo-app-with-no-policy/load_generator/test.js
  playground/scenarios/feature_rollout/load_generator/test.js
  playground/scenarios/graphql_query_static_rate_limiting/load_generator/test.js
  playground/scenarios/rabbitmq_queue_buildup/load_generator/test.js
  playground/scenarios/rate_limiting_escalation/load_generator/test.js
  playground/scenarios/rate_limiting_escalation_kong/load_generator/test.js
  playground/scenarios/rate_limiting_escalation_nginx/load_generator/test.js
Due: none

Update cmd/aperture-agent/agent/otel-config.go
  cmd/aperture-agent/agent/otel-config.go
Due: updated-aperture

Update cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/generate.go
Due: updated-aperture

Update aperturectl installation files
  cmd/aperturectl/cmd/installation/install.go
  cmd/aperturectl/cmd/installation/uninstall.go
  docs/content/reference/aperturectl/install/agent/agent.md
  docs/content/reference/aperturectl/install/controller/controller.md
  docs/content/reference/aperturectl/install/install.md
  docs/content/reference/aperturectl/install/istioconfig/istioconfig.md
  docs/content/reference/aperturectl/uninstall/agent/agent.md
  docs/content/reference/aperturectl/uninstall/controller/controller.md
  docs/content/reference/aperturectl/uninstall/istioconfig/istioconfig.md
  docs/content/reference/aperturectl/uninstall/uninstall.md
Due: updated-aperture, updated-aperture-docs

Add more context to errors
  cmd/aperturectl/cmd/apply/root.go
Due: updated-aperture

Simplify policy update operations
  api/aperture/cmd/v1/cmd.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.gw.go
  api/gen/proto/go/aperture/policy/language/v1/policy_grpc.pb.go
  cmd/aperturectl/cmd/apply/policy.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/cmd/controller.go
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture, updated-aperture-docs

Update docs
  docs/content/get-started/aperture-cli/aperture-cli.md
  docs/content/get-started/installation/agent/bare_metal.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/get-started/installation/controller/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/controller/operator/operator.md
  docs/content/get-started/integrations/flow-control/envoy/istio.md
  docs/content/get-started/integrations/flow-control/gateway/kong.md
  docs/content/get-started/integrations/flow-control/gateway/nginx.md
Due: updated-aperture-docs

Update installation docs
  cmd/aperturectl/cmd/utils/controller.go
  docs/content/get-started/installation/agent/agent.md
  docs/content/reference/aperturectl/agents/agents.md
  docs/content/reference/aperturectl/apply/apply.md
  docs/content/reference/aperturectl/apply/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/apply/policy/policy.md
  docs/content/reference/aperturectl/auto-scale/auto-scale.md
  docs/content/reference/aperturectl/auto-scale/control-points/control-points.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/delete/delete.md
  docs/content/reference/aperturectl/delete/policy/policy.md
  docs/content/reference/aperturectl/discovery/discovery.md
  docs/content/reference/aperturectl/discovery/entities/entities.md
  docs/content/reference/aperturectl/flow-control/control-points/control-points.md
  docs/content/reference/aperturectl/flow-control/flow-control.md
  docs/content/reference/aperturectl/flow-control/preview/preview.md
Due: updated-aperture, updated-aperture-docs

GRPC -> gRPC
  .github/styles/Vocab/FluxNinja/accept.txt
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/flow-selector.md
  docs/content/get-started/integrations/flow-control/sdk/sdk.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/observability/prometheus-metrics/common.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  docs/tools/swagger/swagger-templates/config.gotmpl
  extensions/fluxninja/extconfig/extconfig.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/net/grpc/client.go
  pkg/net/grpc/server.go
  pkg/net/grpcgateway/grpcgateway.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

fix typo gRPC
  cmd/aperture-agent/agent/otel-component.go
  cmd/sdk-validator/README.md
  cmd/sdk-validator/main.go
  cmd/sdk-validator/validator/provide.go
  extensions/fluxninja/extconfig/extconfig.go
  extensions/fluxninja/heartbeats/heartbeats.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/agentfunctions/config/config.go
  pkg/agentfunctions/preview.go
  pkg/net/grpc/client.go
  pkg/net/grpc/server.go
  pkg/policies/flowcontrol/service/check/provide.go
  pkg/policies/flowcontrol/service/checkhttp/provide.go
  pkg/policies/flowcontrol/service/envoy/provide.go
  sdks/aperture-go/README.md
  sdks/aperture-go/example/main.go
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-py/example/main.py
Due: updated-aperture, updated-aperture-operator, updated-aperture-go, updated-aperture-java

Revert "Simplify policy update operations"
  api/aperture/cmd/v1/cmd.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.gw.go
  api/gen/proto/go/aperture/policy/language/v1/policy_grpc.pb.go
  cmd/aperturectl/cmd/apply/policy.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/cmd/controller.go
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture, updated-aperture-docs

Add update policy confirmation in aperturectl
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/tui/radio-button.go
Due: updated-aperture

Fixes suggested by openai
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperturectl/cmd/utils/controller.go
  docs/content/get-started/installation/agent/agent.md
  manifests/charts/aperture-agent/templates/_helpers.tpl
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/values.yaml
  operator/controllers/utils.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/validator.go
  pkg/webhooks/policyvalidator/provide.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

OpenAI suggestions
  cmd/aperture-agent/agent/otel-config.go
Due: updated-aperture

Fixed an issue with operator failing to set controller cert correctly in agent
  operator/api/common/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/configmaps.go
  operator/controllers/agent/reconciler.go
  operator/controllers/utils.go
Due: updated-aperture-operator

Update policy and dynamic-config APIs
  api/aperture/cmd/v1/cmd.proto
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.gw.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/policy_grpc.pb.go
  cmd/aperturectl/cmd/apply/dynamic-config.go
  cmd/aperturectl/cmd/apply/policy.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/cmd/controller.go
  pkg/policies/controlplane/policy-service.go
  pkg/utils/grpc_fieldmask.go
Due: updated-aperture, updated-aperture-docs

Fix comments in pkg/cmd/controller.go
  pkg/cmd/controller.go
Due: updated-aperture

Update error message about using UpsertPolicy with PATCH call when updating already existing policy
  cmd/aperturectl/cmd/apply/policy.go
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture

Simplify UpsertPolicy handler
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture

Fix error handling in cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/apply/policy.go
Due: updated-aperture

reviewer: remove redundant option
  .github/workflows/openai-review.yml
Due: none

add accepted words for aperture-tech-docs repo
  .github/styles/Vocab/FluxNinja/accept.txt
Due: none

remove word Kubernauts
  .github/styles/Vocab/FluxNinja/accept.txt
Due: none

fix words
  .github/styles/Vocab/FluxNinja/accept.txt
Due: none

remove `vs`
  .github/styles/Vocab/FluxNinja/accept.txt
Due: none

remove end-user word
  .github/styles/Vocab/FluxNinja/accept.txt
Due: none

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
