Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Added missing flag in the controller installation steps
  docs/content/get-started/installation/controller.md
Due: updated-aperture-docs

Cleanup statuses
  sdks/aperture-js/example/example.js
  sdks/aperture-js/routes/connected.js
  sdks/aperture-js/routes/use_aperture.js
  sdks/aperture-js/sdk/client.js
  sdks/aperture-js/sdk/flow.js
Due: none

Nodejs SDK simple grpc client
  playground/Tiltfile
  playground/tanka/apps/aperture-nodejs-example/main.jsonnet
  playground/tanka/apps/aperture-nodejs-example/mixins.libsonnet
  sdks/aperture-nodejs/.gitignore
  sdks/aperture-nodejs/Dockerfile
  sdks/aperture-nodejs/README.md
  sdks/aperture-nodejs/package-lock.json
  sdks/aperture-nodejs/package.json
  sdks/aperture-nodejs/src/client.js
  sdks/aperture-nodejs/src/consts.js
  sdks/aperture-nodejs/src/example.js
  sdks/aperture-nodejs/src/proto/flowcontrol.proto
Due: none

Repo rename, add circle ci sync job
  .circleci/config.yml
  .circleci/continue-workflows.yml
  playground/Tiltfile
  playground/tanka/apps/aperture-js-example/main.jsonnet
  playground/tanka/apps/aperture-js-example/mixins.libsonnet
  playground/tanka/apps/aperture-nodejs-example/mixins.libsonnet
  sdks/aperture-js/.gitignore
  sdks/aperture-js/Dockerfile
  sdks/aperture-js/README.md
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/src/client.js
  sdks/aperture-js/src/consts.js
  sdks/aperture-js/src/example.js
  sdks/aperture-js/src/proto/flowcontrol.proto
Due: none

Add routes, move code, add license
  api/Makefile
  sdks/aperture-js/Dockerfile
  sdks/aperture-js/LICENSE.txt
  sdks/aperture-js/example/example.js
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/proto/flowcontrol.proto
  sdks/aperture-js/routes/connected.js
  sdks/aperture-js/routes/health.js
  sdks/aperture-js/routes/use_aperture.js
  sdks/aperture-js/sdk/client.js
  sdks/aperture-js/sdk/consts.js
  sdks/aperture-js/sdk/flow.js
  sdks/aperture-js/src/example.js
Due: updated-aperture

Update aperture-ja
  sdks/aperture-js/example/example.js
  sdks/aperture-js/example/routes/connected.js
  sdks/aperture-js/example/routes/health.js
  sdks/aperture-js/example/routes/use_aperture.js
  sdks/aperture-js/sdk/client.js
  sdks/aperture-js/sdk/flow.js
Due: none

Telemetry for invalid Signals. Rename label attribute_found on FluxMeter metric to valid to be consistent with Signal metrics.
  blueprints/examples/latency-gradient/gen/dashboards/example.json
  blueprints/examples/latency-gradient/gen/graph/graph.dot
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/latency-gradient/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient/dashboard.libsonnet
  blueprints/lib/1.0/blueprints/latency-gradient/policy.libsonnet
  blueprints/lib/1.0/blueprints/signals-dashboard/dashboard.libsonnet
  docs/content/get-started/policies/assets/monitoring/signals-dashboard.json
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.yaml
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/dataplane/resources/fluxmeter/flux-meter.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

panichandler: process panic handlers in the same go routine
  pkg/panichandler/panichandler.go
Due: updated-aperture

skip sending stacktrace as a breadcrumb in sentry
  plugins/service/aperture-plugin-sentry/sentry/sentrywriter.go
Due: updated-aperture

Fixes
  blueprints/lib/1.0/blueprints/signals-dashboard/dashboard.libsonnet
  docs/content/get-started/policies/assets/monitoring/signals-dashboard.json
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture, updated-aperture-docs

Add metrics pages
  docs/content/references/metrics/_category_.yaml
  docs/content/references/metrics/agent.md
  docs/content/references/metrics/common.md
  docs/content/references/metrics/controller.md
Due: updated-aperture-docs

Tweak panel
  blueprints/lib/1.0/blueprints/signals-dashboard/dashboard.libsonnet
  docs/content/get-started/policies/assets/monitoring/signals-dashboard.json
Due: updated-aperture-docs

Added support for sidecar mode in istioconfig chart and added installation docs
  docs/content/get-started/installation/agent/envoy/istio.md
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
  manifests/charts/istioconfig/README.md
  manifests/charts/istioconfig/templates/envoy_filter.yaml
  manifests/charts/istioconfig/values.yaml
Due: updated-aperture-docs, updated-aperture-charts

Set minimum interval to 1s for timeseries in Grafana
  blueprints/examples/latency-gradient/gen/dashboards/example.json
  blueprints/lib/1.0/blueprints/latency-gradient/dashboard.libsonnet
Due: none

Corrected typo in the docs
  docs/content/get-started/installation/agent/envoy/istio.md
Due: updated-aperture-docs

Add agent metrics
  docs/content/references/metrics/agent.md
Due: updated-aperture-docs

Add controller metrics
  docs/content/references/metrics/controller.md
Due: updated-aperture-docs

Add labels for agent and controller
  docs/content/references/metrics/agent.md
  docs/content/references/metrics/controller.md
Due: updated-aperture-docs

Speed up ser/deserialization of CheckResponse in envoy authz
  pkg/flowcontrol/envoy/authz.go
  pkg/otelcollector/helpers.go
Due: updated-aperture

Return 403 forbidden instead of 400 bad request
  sdks/aperture-java/src/main/java/com/fluxninja/aperture/armeria/HttpUtils.java
  sdks/aperture-java/src/main/java/com/fluxninja/aperture/armeria/RpcUtils.java
Due: updated-aperture-java

Move all generated java code into the 'generated' package
  api/Makefile
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/CheckRequest.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/CheckRequestOrBuilder.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/CheckResponse.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/CheckResponseOrBuilder.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/ClassifierInfo.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/ClassifierInfoOrBuilder.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/ControlPointInfo.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/ControlPointInfoOrBuilder.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/FlowcontrolProto.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/FluxMeterInfo.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/FluxMeterInfoOrBuilder.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/LimiterDecision.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/LimiterDecisionOrBuilder.java
Due: updated-aperture, updated-aperture-java

Move all generated java code into the 'generated' package
  .pre-commit-config.yaml
  api/Makefile
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/CheckRequest.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/CheckRequestOrBuilder.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/CheckResponse.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/CheckResponseOrBuilder.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/ClassifierInfo.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/ClassifierInfoOrBuilder.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/ControlPointInfo.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/ControlPointInfoOrBuilder.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/FlowcontrolProto.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/FluxMeterInfo.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/FluxMeterInfoOrBuilder.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/LimiterDecision.java
  sdks/aperture-java/src/main/java/com/fluxninja/generated/aperture/flowcontrol/v1/LimiterDecisionOrBuilder.java
Due: updated-aperture, updated-aperture-java

fix test
  test/aperture_suite_test.go
Due: updated-aperture

rename common api to base api
  pkg/policies/flowcontrol/api/base/base.go
  pkg/policies/flowcontrol/api/base/base_suite_test.go
  pkg/policies/flowcontrol/api/base/base_test.go
  pkg/policies/flowcontrol/api/base/metrics.go
  pkg/policies/flowcontrol/api/base/provide.go
  pkg/policies/flowcontrol/api/envoy/authz.go
  pkg/policies/flowcontrol/api/envoy/authz_test.go
  pkg/policies/flowcontrol/api/provide.go
Due: updated-aperture

rename common to paths
  pkg/policies/common/common.go
  pkg/policies/controlplane/components/actuators/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/controlplane/components/actuators/rate/rate-limiter.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/iface/policy.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/flowcontrol/actuators/concurrency/auto-tokens.go
  pkg/policies/flowcontrol/actuators/concurrency/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency/load-actuator.go
  pkg/policies/flowcontrol/actuators/rate/rate-limiter.go
  pkg/policies/flowcontrol/resources/classifier/provide.go
  pkg/policies/flowcontrol/resources/fluxmeter/flux-meter.go
  pkg/policies/paths/paths.go
Due: updated-aperture

change resolution in signals dashboard
  blueprints/lib/1.0/blueprints/signals-dashboard/dashboard.libsonnet
  docs/content/get-started/policies/assets/monitoring/signals-dashboard.json
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
