Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app

.circleci/config.yml:

version: 2.1

# this allows to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

workflows:
  version: 2
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
        - not:
            matches:
              &is_not_empty_tag {
                value: << pipeline.git.tag >>,
                pattern: "^.+$",
              }
        - not: &scheduled
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
    jobs:
      - path-filtering/filter: &path_filtering_job
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/continue-workflows.yml
          mapping: |
            (cmd|pkg|plugins|tools|api)/.* updated-aperture true
            operator/(api|config|controllers|hack)/.*|operator/main.go updated-aperture-operator true
            (go.mod|go.sum) updated-aperture true
            docs/.* updated-aperture-docs true
            manifests/charts/.* updated-aperture-charts true
            tools/demo_app/.* updated-demo-app true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
        - not:
            matches: *is_not_empty_tag
        - not: *scheduled
    jobs:
      - path-filtering/filter:
          <<: *path_filtering_job
          base-revision: main
  release:
    when:
      matches: { value: << pipeline.git.tag >>, pattern: "^releases/.*$" }
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release.yaml

helm chart version change to v0.3.0-rc.2
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-charts

Publish . ./aperture-controller-v0.3.0-rc.2.tgz
  aperture-controller-v0.3.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v0.3.0-rc.2.tgz
  aperture-agent-v0.3.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.3.0-rc.2.tgz
  index.yaml
  istioconfig-v0.3.0-rc.2.tgz
Due: none

Upgraded Helm charts versions to 0.3.0
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-charts

Fixed pre-commit
  .circleci/post-release.yaml
Due: none

Removed Ci pipeline to tag the aperture-go repo
  .circleci/post-release.yaml
Due: none

Allow construction of OTEL collector outside of k8s environment
  pkg/k8s/provide.go
  pkg/otel/config.go
Due: updated-aperture

Publish . ./aperture-agent-v0.3.0.tgz
  aperture-agent-v0.3.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.3.0.tgz
  index.yaml
  istioconfig-v0.3.0.tgz
Due: none

Publish . ./aperture-controller-v0.3.0.tgz
  aperture-controller-v0.3.0.tgz
  index.yaml
Due: none

Remove duplicate decider from latency-gradient blueprint
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/blueprints/latency-gradient/example/gen/policies/example.yaml
  blueprints/lib/1.0/policies/latency-gradient.libsonnet
Due: none

Rename Module functions
  cmd/aperture-agent/agent.go
  pkg/config/log.go
  pkg/flowcontrol/common/provide.go
  pkg/flowcontrol/envoy/provide.go
  pkg/flowcontrol/provide.go
  pkg/net/grpc/client.go
  pkg/net/grpc/server.go
  pkg/net/health/health.go
  pkg/net/http/client.go
  pkg/net/http/server.go
  pkg/platform/platform.go
  pkg/platform/readiness.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/concurrency/provide.go
  pkg/policies/dataplane/provide.go
  pkg/policies/watcher/kubernetes/provide.go
Due: updated-aperture

Add logos to badges in README
  README.md
Due: none

Remove duplicate rollup file
  pkg/otelcollector/rollup.go
Due: updated-aperture

Rename setup functions
  pkg/config/config.go
  pkg/discovery/kubernetes/provide.go
  pkg/discovery/provide.go
  pkg/discovery/static/provide.go
  pkg/distcache/provider.go
  pkg/entitycache/entity_cache.go
  pkg/etcd/client/client.go
  pkg/etcd/watcher/provider.go
  pkg/filesystem/watcher/provider.go
  pkg/flowcontrol/common/flowcontrol_test.go
  pkg/flowcontrol/common/provide.go
  pkg/flowcontrol/envoy/provide.go
  pkg/jobs/provide.go
  pkg/k8s/provide.go
  pkg/metrics/metrics.go
  pkg/net/health/health.go
  pkg/net/http/proxy.go
  pkg/net/listener/gmux.go
  pkg/net/tlsconfig/server.go
  pkg/notifiers/provide.go
  pkg/panichandler/panichandler.go
  pkg/peers/peers.go
  pkg/profilers/profilers.go
  pkg/prometheus/client.go
  pkg/status/provide.go
  pkg/watchdog/watchdog.go
  pkg/webhooks/validation/provide.go
  pkg/webhooks/webhooks.go
Due: updated-aperture

use default formatting for console logger
  pkg/log/log.go
Due: updated-aperture

short path
  pkg/log/log.go
Due: updated-aperture

add contextual logger to load shed decision component
  pkg/policies/controlplane/components/actuators/concurrency/load-shed-actuator.go
  pkg/policies/controlplane/iface/policy.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/controlplane/validator.go
Due: updated-aperture

add contextual logger for control plane components
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/components/actuators/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/controlplane/components/actuators/rate/rate-limiter.go
  pkg/policies/controlplane/components/ema.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture

add contextual logger for data plane components
  pkg/policies/dataplane/actuators/concurrency/auto-tokens.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
Due: updated-aperture

random sample publish decision messages
  pkg/policies/controlplane/components/actuators/concurrency/load-shed-actuator.go
Due: updated-aperture

Consolidate otel into otelcollector
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/provider.go
  cmd/aperture-controller/controller.go
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/api/common/common_types.go
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/services_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/services_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  pkg/otelcollector/components/agent-component.go
  pkg/otelcollector/components/config.go
  pkg/otelcollector/components/consts.go
  pkg/otelcollector/components/controller-component.go
  pkg/otelcollector/components/zz_generated.deepcopy.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
  test/aperture_suite_test.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

generate blueprints when python requirements.txt changes
  .pre-commit-config.yaml
Due: none

Consecutiveness for Notion sync
  .github/workflows/issues-notion-sync.yml
Due: none
