Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app

.circleci/config.yml:

version: 2.1

# this allows to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

workflows:
  version: 2
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
        - not:
            matches:
              &is_not_empty_tag {
                value: << pipeline.git.tag >>,
                pattern: "^.+$",
              }
        - not: &scheduled
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
    jobs:
      - path-filtering/filter: &path_filtering_job
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/continue-workflows.yml
          mapping: |
            (cmd|pkg|plugins|tools|api)/.* updated-aperture true
            operator/(api|config|controllers|hack)/.*|operator/main.go updated-aperture-operator true
            (go.mod|go.sum) updated-aperture true
            docs/.* updated-aperture-docs true
            manifests/charts/.* updated-aperture-charts true
            tools/demo_app/.* updated-demo-app true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
        - not:
            matches: *is_not_empty_tag
        - not: *scheduled
    jobs:
      - path-filtering/filter:
          <<: *path_filtering_job
          base-revision: main
  release:
    when:
      matches: { value: << pipeline.git.tag >>, pattern: "^releases/.*$" }
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release.yaml

use correct status registry for MultiJob
  pkg/jobs/job-group.go
  pkg/jobs/jobs_test.go
  pkg/jobs/multi-job.go
  pkg/policies/controlplane/components/promql.go
  pkg/watchdog/watchdog.go
Due: updated-aperture

child node
  pkg/jobs/multi-job.go
Due: updated-aperture

Post message on Slack webhook about notion sync failure
  .github/workflows/issues-notion-sync.yml
Due: none

remove always healthy option from multi-job
  api/gen/proto/go/aperture/common/watchdog/v1/watchdog.pb.go
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  pkg/jobs/job.go
  pkg/jobs/jobs_test.go
  pkg/jobs/multi-job.go
  pkg/jobs/provide.go
  pkg/policies/controlplane/components/promql.go
  pkg/watchdog/watchdog.go
Due: updated-aperture, updated-aperture-docs

minor
  pkg/jobs/multi-job.go
Due: updated-aperture

Re-Consolidate otelcollector
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-agent/agent/provider.go
  cmd/aperture-controller/controller.go
  cmd/aperture-controller/controller/otel-component.go
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/api/common/common_types.go
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/services_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/services_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  pkg/otelcollector/components/config.go
  pkg/otelcollector/components/consts.go
  pkg/otelcollector/config.go
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/zz_generated.deepcopy.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
  test/aperture_suite_test.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Refactor multi-job
  pkg/jobs/jobs_test.go
  pkg/jobs/multi-job.go
  pkg/policies/controlplane/components/promql.go
  pkg/watchdog/watchdog.go
Due: updated-aperture

fix precommit
  api/gen/proto/go/aperture/common/watchdog/v1/watchdog.pb.go
Due: updated-aperture

set finalizer for registry in groupTracker
  pkg/jobs/job-tracker.go
Due: updated-aperture

use / separator for path in status API instead of comma separator
  api/aperture/common/status/v1/status.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/status/v1/status.pb.go
  api/gen/proto/go/aperture/common/status/v1/status.pb.gw.go
  pkg/status/status-service.go
Due: updated-aperture

Add job for generating and pushing to aperture-java repo
  .circleci/config.yml
  .circleci/continue-workflows.yml
Due: none

Revert import order change & change naming
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-controller/controller.go
  cmd/aperture-controller/controller/otel-component.go
  pkg/otelcollector/metricsprocessor/config.go
Due: updated-aperture

Clean new modules
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-controller/controller/otel-component.go
Due: updated-aperture

Fix Selector documentation misprints
  api/aperture/common/selector/v1/selector.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
Due: updated-aperture, updated-aperture-docs

Add checkStatus() & test status updates in jobs
  pkg/jobs/jobs_test.go
Due: updated-aperture

Make OTEL modules in a single call
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-controller/controller.go
  cmd/aperture-controller/controller/otel-component.go
Due: updated-aperture

Document supported Istio and Envoy versions
  docs/content/get-started/installation/agent/envoy/istio.md
  docs/content/get-started/supported-platforms.md
Due: updated-aperture-docs

Update flowcontrol.proto to trigger push job
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
Due: updated-aperture

Force trigger push-to-aperture-java workflow
  .circleci/continue-workflows.yml
Due: none

Update filter for updated-api-flowcontrol
  .circleci/config.yml
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
Due: updated-aperture

Add fingerprint for fluxninja/cloud RO
  .circleci/continue-workflows.yml
Due: none

refactor
  pkg/jobs/job-group.go
  pkg/jobs/job-tracker.go
  pkg/jobs/job.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
Due: updated-aperture

Add checkStatusBefore,AfterDeregister()"
  pkg/jobs/jobs_test.go
Due: updated-aperture

fix status api
  api/aperture/common/status/v1/status.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/status/v1/status.pb.go
  api/gen/proto/go/aperture/common/status/v1/status.pb.gw.go
  api/gen/proto/go/aperture/common/status/v1/status_grpc.pb.go
  pkg/status/status-service.go
Due: updated-aperture

Move workload latency metrics lifecycle to limiter
  pkg/otel/components.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/limiter.go
  pkg/policies/dataplane/iface/metrics-registry.go
  pkg/policies/dataplane/provide.go
  pkg/policies/dataplane/response-metrics-registry.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_limiter.go
  pkg/policies/mocks/mock_metrics-registry.go
  test/aperture_suite_test.go
Due: updated-aperture

Use aperture-java-secrets branch to test opsninja update
  .circleci/continue-workflows.yml
Due: none

Removed FOSSA from pre-commit and README
  .circleci/continue-workflows.yml
  README.md
Due: none

put specifications under spec key within main.libsonnet
  blueprints/blueprints/latency-gradient/example/example.jsonnet
  blueprints/blueprints/rate-limiter/example/example.jsonnet
  blueprints/lib/1.0/main.libsonnet
  docs/content/get-started/blueprints.md
  playground/tanka/apps/aperture-controller/mixins.libsonnet
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: updated-aperture-docs

Update fingerprint in gen-push-java-stubs job
  .circleci/continue-workflows.yml
Due: none

Move github notion sync branch to fluxninja
  .github/workflows/issues-notion-sync.yml
Due: none

update filename
  blueprints/CONTRIBUTING.md
  blueprints/blueprints/latency-gradient/README.md
  blueprints/blueprints/latency-gradient/config.libsonnet
  blueprints/blueprints/rate-limiter/README.md
  blueprints/blueprints/rate-limiter/config.libsonnet
  blueprints/lib/1.0/main.libsonnet
  blueprints/lib/1.0/policies/latency-gradient/latency-gradient.libsonnet
  blueprints/lib/1.0/policies/rate-limiter/rate-limiter.libsonnet
  blueprints/lib/1.0/spec.libsonnet
  blueprints/lib/scripts/jsonnet-lib-gen.py
Due: none
