Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

Updated demo-app scenario to use mixins
  .circleci/config.yml
  playground/scenarios/demo-app/manifests/main.jsonnet
  playground/scenarios/demo-app/manifests/mixins.libsonnet
Due: none

fix --race flag issue
  pkg/info/build.sh
  pkg/plugins/build.sh
Due: updated-aperture

Fixed issue of aperturectl failing on first execution
  cmd/aperturectl/cmd/blueprints/root.go
Due: updated-aperture

Add proto definitions and helpers for controlpoint convertions
  api/aperture/cmd/v1/cmd.proto
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/aperture/rpc/v1/rpc.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.json.go
  api/gen/proto/go/aperture/cmd/v1/cmd_deepcopy.gen.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat_deepcopy.gen.go
  api/gen/proto/go/aperture/rpc/v1/rpc.pb.go
  api/gen/proto/go/aperture/rpc/v1/rpc.pb.json.go
  api/gen/proto/go/aperture/rpc/v1/rpc_deepcopy.gen.go
  api/gen/proto/go/aperture/rpc/v1/rpc_grpc.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/flowcontrol/selectors/control-point-id.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
Due: updated-aperture, updated-aperture-docs

Add agentfunctions package and aperturectl control-points command
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  cmd/aperturectl/cmd/controlpoints/list.go
  cmd/aperturectl/cmd/controlpoints/root.go
  cmd/aperturectl/cmd/root.go
  pkg/agentfunctions/agents/agents.go
  pkg/agentfunctions/controlpoints.go
  pkg/agentfunctions/provide.go
  pkg/cmd/controller.go
  pkg/cmd/provide.go
Due: updated-aperture

Server-to-client RPC foundation
  pkg/rpc/clients.go
  pkg/rpc/doc.go
  pkg/rpc/handlers.go
  pkg/rpc/provide.go
  pkg/rpc/transport.go
Due: updated-aperture

Added pre-commit step to generate playground policies
  .pre-commit-config.yaml
  playground/scenarios/demo-app/policies/service1-demo-app-cr.yaml
  playground/scenarios/graphql-example-1/policies/graphql-static-rate-limiting-cr.yaml
  playground/scenarios/graphql-example-1/policies/graphql-static-rate-limiting.yaml
  playground/scripts/render-policy.sh
  playground/tanka/apps/policy/main.jsonnet
  playground/tanka/apps/policy/mixins.libsonnet
  scripts/precommit/generate_playground_policies.sh
Due: none

fix pre-commit
  api/buf.lock
Due: updated-aperture

playground: add yaml ls schema to values.yaml
  playground/scenarios/demo-app/policies/service1-demo-app-cr.yaml
  playground/scenarios/demo-app/policies/service1-demo-app.yaml
  playground/scenarios/graphql-example-1/policies/graphql-static-rate-limiting.yaml
Due: none

Fix failing tests
  pkg/policies/controlplane/runtime/circuit_test.go
Due: updated-aperture

gen: enrich api swagger with gotags extensions automatically
  api/Makefile
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/label_matcher.proto
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/selector.proto
  api/enrich-api-swagger.go
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/aperture-plugin-fluxninja/plugin-swagger.yaml
  docs/gen/config/aperture-plugin-sentry/plugin-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/policy/policy.yaml
  docs/tools/swagger/swagger-templates/config.gotmpl
  tools/go/go.mod
  tools/go/go.sum
Due: updated-aperture, updated-aperture-docs

Update YAML Example in Policy Api
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/label_matcher.proto
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs

translate our go validate required rules to swagger required
  Makefile
  api/Makefile
  api/enrich-api-swagger.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/gen/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values-required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  cmd/aperturectl/cmd/blueprints/generate.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/bundled-blueprints/dashboards/signals-dashboard.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  docs/content/reference/policies/spec.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/values.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/values.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/values.yaml
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/aperture-plugin-fluxninja/plugin-swagger.yaml
  docs/gen/config/aperture-plugin-sentry/plugin-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/policy/policy.yaml
  docs/tools/swagger/process-go-tags.go
  pkg/alerts/provide.go
  pkg/etcd/client/client.go
  playground/scenarios/demo-app/policies/service1-demo-app.yaml
  plugins/service/aperture-plugin-fluxninja/main.go
  plugins/service/aperture-plugin-sentry/main.go
  scripts/blueprint-assets-generator.py
  scripts/generate_blueprints.sh
  scripts/precommit/generate_blueprints.sh
Due: updated-aperture, updated-aperture-docs

translate our go validate required rules to swagger required
  api/Makefile
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/gen/policy/policy.yaml
  docs/tools/swagger/process-go-tags.go
Due: updated-aperture, updated-aperture-docs

translate our go validate required rules to swagger required
  blueprints/gen/jsonschema/_definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values-required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  blueprints/policies/static-rate-limiting/config.libsonnet
  blueprints/policies/static-rate-limiting/gen/values-required.yaml
  blueprints/policies/static-rate-limiting/gen/values.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/get-started/policies/assets/raw_values.yaml
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  docs/gen/policy/policy.yaml
Due: updated-aperture-docs

Revert "translate our go validate required rules to swagger required"
  blueprints/gen/jsonschema/_definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values-required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  blueprints/policies/static-rate-limiting/config.libsonnet
  blueprints/policies/static-rate-limiting/gen/values-required.yaml
  blueprints/policies/static-rate-limiting/gen/values.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/get-started/policies/assets/raw_values.yaml
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  docs/gen/policy/policy.yaml
Due: updated-aperture-docs

Start wavepool generator by default
  playground/scenarios/wavepool-generator/apps-v1.Deployment-wavepool-graphql-generator.yaml
Due: none

make default workload optional
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/gen/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values-required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/spec.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/values.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.jsonnet
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/values.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/values.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.jsonnet
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.yaml
  docs/gen/policy/policy.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/policies/controlplane/validator_test.go
  playground/scenarios/demo-app/policies/service1-demo-app-cr.yaml
  playground/scenarios/demo-app/policies/service1-demo-app.yaml
  playground/scripts/render-policy.sh
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

fix a bunch of stuff
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  blueprints/policies/static-rate-limiting/config.libsonnet
  blueprints/policies/static-rate-limiting/gen/definitions.json
  blueprints/policies/static-rate-limiting/gen/values.yaml
  blueprints/policies/static-rate-limiting/policy.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  docs/content/reference/policies/spec.md
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.jsonnet
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.yaml
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/values.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.yaml
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/static-rate-limiting.jsonnet
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/static-rate-limiting.yaml
  docs/gen/policy/policy.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  pkg/policies/controlplane/components/ema.go
  pkg/policies/flowcontrol/actuators/concurrency/concurrency-limiter.go
  playground/scenarios/demo-app/policies/service1-demo-app-cr.yaml
  playground/scenarios/graphql-example-1/policies/graphql-static-rate-limiting-cr.yaml
  playground/scenarios/graphql-example-1/policies/graphql-static-rate-limiting.yaml
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

get defaults for required params
  docs/content/reference/policies/bundled-blueprints/dashboards/signals-dashboard.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  scripts/blueprint-assets-generator.py
Due: updated-aperture-docs

unquote __REQUIRED_FIELD__
  blueprints/dashboards/signals-dashboard/gen/values-required.yaml
  blueprints/dashboards/signals-dashboard/gen/values.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/dynamic-config-values-required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/dynamic-config-values.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values-required.yaml
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  blueprints/policies/static-rate-limiting/gen/dynamic-config-values-required.yaml
  blueprints/policies/static-rate-limiting/gen/dynamic-config-values.yaml
  blueprints/policies/static-rate-limiting/gen/values-required.yaml
  blueprints/policies/static-rate-limiting/gen/values.yaml
  docs/content/get-started/policies/assets/raw_values.yaml
  docs/content/reference/policies/bundled-blueprints/dashboards/signals-dashboard.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  scripts/blueprint-assets-generator.py
Due: updated-aperture-docs

Use forked jsonnet-bundler
  go.mod
  go.sum
Due: updated-aperture

aperturectl: Take KUBECONFIG env var into account
  cmd/aperturectl/cmd/apply/root.go
  cmd/aperturectl/cmd/utils/utils.go
  docs/content/reference/aperturectl/apply/apply.md
Due: updated-aperture, updated-aperture-docs

fix: make confimap test more robust
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/configmaps_test.go
Due: updated-aperture-operator

aperturectl: automatically create a port-forward to controller
  cmd/aperturectl/cmd/controlpoints/list.go
  cmd/aperturectl/cmd/controlpoints/root.go
  cmd/aperturectl/cmd/utils/controller.go
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/aperturectl/experimental-control-points/experimental-control-points.md
  docs/content/reference/aperturectl/experimental-control-points/list/list.md
  go.mod
  go.sum
Due: updated-aperture, updated-aperture-docs
