Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Checkpoint all use-cases
  api/buf.lock
  docs/content/reference/policies/bundled-blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql.md
  docs/content/use-cases/alerting/detecting-overload.md
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/graph.mmd
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/graph.mmd.md5sum
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/graph.mmd.svg
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/policy.yaml
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/values.yaml
  docs/content/use-cases/auto-scale/load-based-auto-scaling/load-based-auto-scaling.md
  docs/content/use-cases/rate-limiting/assets/graphql-rate-limiting/graph.mmd
  docs/content/use-cases/rate-limiting/assets/graphql-rate-limiting/graphql-rate-limiting-counter.png
  docs/content/use-cases/rate-limiting/assets/graphql-rate-limiting/graphql-rate-limiting-demo.png
  docs/content/use-cases/rate-limiting/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.mmd.md5sum
  docs/content/use-cases/rate-limiting/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.mmd.svg
  docs/content/use-cases/rate-limiting/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.yaml
  docs/content/use-cases/rate-limiting/assets/graphql-rate-limiting/policy.yaml
  docs/content/use-cases/rate-limiting/assets/graphql-rate-limiting/validate.sh
  docs/content/use-cases/rate-limiting/assets/graphql-rate-limiting/values.yaml
  docs/content/use-cases/rate-limiting/assets/static-rate-limiting/graph.mmd
  docs/content/use-cases/rate-limiting/assets/static-rate-limiting/policy.yaml
  docs/content/use-cases/rate-limiting/assets/static-rate-limiting/static-rate-limiting-02.png
  docs/content/use-cases/rate-limiting/assets/static-rate-limiting/static-rate-limiting.mmd.md5sum
  docs/content/use-cases/rate-limiting/assets/static-rate-limiting/static-rate-limiting.mmd.svg
  docs/content/use-cases/rate-limiting/assets/static-rate-limiting/static-rate-limiting.yaml
  docs/content/use-cases/rate-limiting/assets/static-rate-limiting/validate.sh
  docs/content/use-cases/rate-limiting/assets/static-rate-limiting/values.yaml
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
  docs/content/use-cases/rate-limiting/static-rate-limiting.md
  docs/content/use-cases/service-protection/assets/prioritization/policy.yaml
  docs/content/use-cases/service-protection/assets/prioritization/values.yaml
  docs/content/use-cases/service-protection/assets/protection/policy.yaml
  docs/content/use-cases/service-protection/assets/protection/values.yaml
  docs/content/use-cases/service-protection/prioritization.md
  docs/content/use-cases/service-protection/protection.md
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-java

Fix links
  docs/content/use-cases/feature-rollout/average-latency-feedback.md
  docs/content/use-cases/quota-scheduler/client-side-rate-limiting.md
Due: updated-aperture-docs

Lang tool suggestions
  docs/content/reference/blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
  docs/content/use-cases/service-protection/protection.md
Due: updated-aperture-docs

Fix links
  docs/content/reference/blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency.md
Due: updated-aperture-docs

Fix extensions test
  extensions/fluxninja/otel/otel_test.go
Due: none

Checkpoint
  blueprints/blueprint-assets-generator.py
  blueprints/policies/service-protection/average-latency/gen/definitions.json
  blueprints/policies/service-protection/average-latency/gen/dynamic-config-definitions.json
  blueprints/policies/service-protection/average-latency/gen/dynamic-config-values-required.yaml
  blueprints/policies/service-protection/average-latency/gen/dynamic-config-values.yaml
  blueprints/policies/service-protection/average-latency/gen/values-required.yaml
  blueprints/policies/service-protection/average-latency/gen/values.yaml
  docs/content/reference/blueprints/policies/service-protection/average-latency.md
Due: updated-aperture-docs

Cleanup control points page
  docs/content/concepts/control-point.md
Due: updated-aperture-docs

Improve flow lifecycle doc
  docs/content/concepts/assets/gen/service/flow-lifecycle.mmd
  docs/content/concepts/assets/gen/service/flow-lifecycle.mmd.md5sum
  docs/content/concepts/assets/gen/service/flow-lifecycle.mmd.svg
  docs/content/concepts/flow-lifecycle.md
Due: updated-aperture-docs

Resolved review comments
  api/aperture/policy/sync/v1/infra_meter.proto
  api/gen/proto/go/aperture/policy/sync/v1/infra_meter.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/infra_meter.pb.json.go
  api/gen/proto/go/aperture/policy/sync/v1/infra_meter.pb.validate.go
  cmd/aperture-agent/agent/otel-config.go
  pkg/otelcollector/infra-meter/infra-meter.go
  pkg/policies/controlplane/crwatcher/watcher.go
Due: updated-aperture

Added metrics labels for flux meter and telemetry collectors
  api/aperture/policy/sync/v1/flux_meter.proto
  api/aperture/policy/sync/v1/telemetry_collector.proto
  api/gen/proto/go/aperture/policy/sync/v1/flux_meter.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/flux_meter.pb.validate.go
  api/gen/proto/go/aperture/policy/sync/v1/telemetry_collector.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/telemetry_collector.pb.json.go
  api/gen/proto/go/aperture/policy/sync/v1/telemetry_collector.pb.validate.go
  blueprints/policies/feature-rollout/base/policy.libsonnet
  blueprints/policies/service-protection/average-latency/dashboard.libsonnet
  blueprints/policies/service-protection/average-latency/policy.libsonnet
  blueprints/policies/service-protection/jmx/dashboard.libsonnet
  blueprints/policies/service-protection/jmx/policy.libsonnet
  cmd/aperture-agent/agent/otel-config.go
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/infra-meter/infra-meter.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/controlplane/resources/telemetry-collectors/telemetry-collectors.go
  pkg/policies/flowcontrol/resources/fluxmeter/flux-meter.go
  playground/scenarios/auto-scaling/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/feature-rollout/policies/feature-rollout-cr.yaml
  playground/scenarios/java-jmx-based-service-protection/policies/jmx-service-protection-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
Due: updated-aperture

FIx null values in json template and correctly set auto_scaling in config-defaults of service-protection
  blueprints/blueprint-assets-generator.py
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/definitions.json
  blueprints/policies/service-protection/average-latency/gen/definitions.json
  blueprints/policies/service-protection/average-latency/gen/dynamic-config-definitions.json
  blueprints/policies/service-protection/average-latency/gen/dynamic-config-values-required.yaml
  blueprints/policies/service-protection/average-latency/gen/dynamic-config-values.yaml
  blueprints/policies/service-protection/average-latency/gen/values-required.yaml
  blueprints/policies/service-protection/average-latency/gen/values.yaml
  blueprints/policies/service-protection/base/config-defaults.libsonnet
  blueprints/policies/service-protection/jmx/gen/definitions.json
  blueprints/policies/service-protection/jmx/gen/values-required.yaml
  blueprints/policies/service-protection/jmx/gen/values.yaml
  blueprints/policies/service-protection/promql/gen/definitions.json
  blueprints/policies/service-protection/promql/gen/values-required.yaml
  blueprints/policies/service-protection/promql/gen/values.yaml
  docs/content/reference/blueprints/policies/service-protection/average-latency.md
  docs/content/reference/blueprints/policies/service-protection/jmx.md
  docs/content/reference/blueprints/policies/service-protection/promql.md
Due: updated-aperture-docs

Added mutex
  cmd/aperture-agent/agent/otel-config.go
Due: updated-aperture

Fixed the auto_scaling issue in service-protection blueprints
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/config.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/config.libsonnet
  blueprints/policies/service-protection/average-latency/bundle.libsonnet
  blueprints/policies/service-protection/average-latency/dashboard.libsonnet
  blueprints/policies/service-protection/average-latency/policy.libsonnet
  blueprints/policies/service-protection/base/dashboard.libsonnet
  blueprints/policies/service-protection/base/policy.libsonnet
  blueprints/policies/service-protection/jmx/bundle.libsonnet
  blueprints/policies/service-protection/jmx/policy.libsonnet
  blueprints/policies/service-protection/promql/bundle.libsonnet
  blueprints/policies/service-protection/promql/dashboard.libsonnet
  blueprints/policies/service-protection/promql/policy.libsonnet
Due: none

Added RMutex
  cmd/aperture-agent/agent/otel-config.go
  pkg/otelcollector/infra-meter/infra-meter.go
Due: updated-aperture

Made the mutex lock the entire handler to avoid any data race
  cmd/aperture-agent/agent/otel-config.go
Due: updated-aperture

Use defer
  cmd/aperture-agent/agent/otel-config.go
Due: updated-aperture

Decrease scrape interval for FN plugin
  extensions/fluxninja/otel/otel_test.go
  extensions/fluxninja/otel/provide.go
Due: none

Fix path filters for aperture build
  .circleci/config.yml
Due: none

perf: Speed up sorting in rollupprocessor.key
  pkg/otelcollector/rollupprocessor/key.go
  pkg/otelcollector/rollupprocessor/key_test.go
Due: updated-aperture

perf: metricsprocessor: Sprintfs + Join → single Sprintf
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
Due: updated-aperture

perf: metricsprocessor: optimize AddCheckResponseBasedLabels
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels_test.go
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

perf: Simplify EnforceInclude/ExcludeList
  pkg/otelcollector/helpers.go
  pkg/otelcollector/helpers_test.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
  pkg/utils/helpers.go
Due: updated-aperture

fix typo and add issue link
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

fix SliceToSet ret type
  pkg/utils/helpers.go
Due: updated-aperture

added proxy to demo service address
  playground/resources/demo-app/ui/src/api.ts
  playground/resources/demo-app/ui/webpack.config.js
Due: none

8749 Add ts to js sdk
  sdks/aperture-js/.gitignore
  sdks/aperture-js/example/example.ts
  sdks/aperture-js/example/routes/connected.js
  sdks/aperture-js/example/routes/connected.ts
  sdks/aperture-js/example/routes/health.js
  sdks/aperture-js/example/routes/health.ts
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/consts.ts
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-js/sdk/types.ts
  sdks/aperture-js/sdk/utils.js
  sdks/aperture-js/sdk/utils.ts
  sdks/aperture-js/tsconfig.json
Due: none

8749 Fix ts. Add prepublishOnly
  sdks/aperture-js/example/routes/connected.ts
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
Due: none

8749 Add ts to js sdk
  sdks/aperture-js/package.json
Due: none

Rebase changes to try to make it build
  sdks/aperture-js/Dockerfile
  sdks/aperture-js/example/example.ts
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
Due: none

8749 Comment path to proto
  sdks/aperture-js/sdk/consts.ts
Due: none

Fix windowed counter slot duration
  pkg/policies/flowcontrol/actuators/load-scheduler/load-scheduler.go
Due: updated-aperture

Increase load_multiplier_linear_increment by a factor of 10
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/gen/definitions.json
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/gen/values-required.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/gen/values.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/gen/definitions.json
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/gen/values-required.yaml
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/gen/values.yaml
  blueprints/policies/service-protection/average-latency/gen/definitions.json
  blueprints/policies/service-protection/average-latency/gen/values-required.yaml
  blueprints/policies/service-protection/average-latency/gen/values.yaml
  blueprints/policies/service-protection/base/config-defaults.libsonnet
  blueprints/policies/service-protection/jmx/gen/definitions.json
  blueprints/policies/service-protection/jmx/gen/values-required.yaml
  blueprints/policies/service-protection/jmx/gen/values.yaml
  blueprints/policies/service-protection/promql/gen/definitions.json
  blueprints/policies/service-protection/promql/gen/values-required.yaml
  blueprints/policies/service-protection/promql/gen/values.yaml
  docs/content/reference/blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency.md
  docs/content/reference/blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql.md
  docs/content/reference/blueprints/policies/service-protection/average-latency.md
  docs/content/reference/blueprints/policies/service-protection/jmx.md
  docs/content/reference/blueprints/policies/service-protection/promql.md
  playground/scenarios/auto-scaling/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/rabbitmq-queue-buildup/policies/service1-demoapp-rabbitmq-queue-buildup-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
Due: updated-aperture-docs

Fixes after rebase
  sdks/aperture-js/sdk/flow.ts
Due: none

CI fixes
  sdks/aperture-js/.gitignore
  sdks/aperture-js/sdk/client.ts
Due: none

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
