Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app

Document Actuators
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/concepts/flow-control/actuators/actuators.md
  docs/content/concepts/flow-control/actuators/concurrency-limiter.md
  docs/content/concepts/flow-control/actuators/rate-limiter.md
  docs/content/concepts/flow-control/actuators/scheduler.md
  docs/content/concepts/flow-control/label/label.md
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
Due: updated-aperture, updated-aperture-docs

move mermaid diagrams to content:
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
Due: updated-aperture-docs

render config markdowns in content directory
  .pre-commit-config.yaml
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  docs/Makefile
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/configuration/policies.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/agent/metadata
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/config/controller/metadata
  docs/gen/policies/config-swagger.yaml
  docs/gen/policies/gen.yaml
  docs/gen/policies/metadata
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/values.yaml
Due: updated-aperture, updated-aperture-docs, updated-aperture-charts

update docusaurus and add gh dark theme css
  docs/content/assets/img/active-flow-control.jpg
  docs/content/assets/img/architecture.png
  docs/content/assets/img/control-loop.svg
  docs/content/assets/img/flowchart.png
  docs/content/assets/img/no-flow-control.jpg
  docs/content/introduction.md
Due: updated-aperture-docs

update docusaurus and add gh dark theme css
  docs/content/assets/img/active-flow-control-dark.png
  docs/content/assets/img/active-flow-control.png
  docs/content/assets/img/no-flow-control-dark.png
  docs/content/assets/img/no-flow-control.png
Due: updated-aperture-docs

Docs: revamp concepts layout
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/actuators/actuators.md
  docs/content/concepts/flow-control/actuators/concurrency-limiter.md
  docs/content/concepts/flow-control/actuators/rate-limiter.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/fluxmeter.md
  docs/content/concepts/flow-control/label/classifier.md
  docs/content/concepts/flow-control/label/label.md
  docs/content/concepts/flow-control/selector.md
  docs/content/concepts/flow-control/service.md
  docs/content/concepts/policies/policies.md
  docs/content/concepts/policies/policy-blueprints.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/policies.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/policies/gen.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/agentinfo/agent-info.go
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Docs: add missing files
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/rate-limiter.md
  docs/content/concepts/flow-control/selector/flow-label.md
  docs/content/concepts/flow-control/selector/selector.md
  docs/content/concepts/flow-control/selector/service.md
  docs/content/concepts/policy/circuit/actuators.md
  docs/content/concepts/policy/circuit/circuit.md
  docs/content/concepts/policy/circuit/controllers.md
  docs/content/concepts/policy/circuit/signal-processors.md
  docs/content/concepts/policy/circuit/sources.md
  docs/content/concepts/policy/policy.md
  docs/content/concepts/policy/resources.md
  docs/content/get-started/blueprints.md
Due: updated-aperture-docs

Fix comment
  docs/content/concepts/policy/circuit/signal-processors.md
Due: updated-aperture-docs

[ImgBot] Optimize images
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/assets/img/active-flow-control-dark.png
  docs/content/assets/img/active-flow-control.png
  docs/content/assets/img/no-flow-control-dark.png
  docs/content/assets/img/no-flow-control.png
Due: updated-aperture-docs

Policy, Circuit concepts
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/policy/circuit/circuit.md
  docs/content/concepts/policy/policy.md
  docs/content/get-started/blueprints.md
  docs/content/get-started/installation/agent/envoy/_category_.yml
  docs/content/get-started/installation/agent/envoy/istio.md
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/reference/configuration/policies.md
  docs/gen/policies/gen.yaml
Due: updated-aperture, updated-aperture-docs

small doc edits
  docs/content/cloud/cloud.md
  docs/content/developers/_category_.yml
  docs/content/developers/cla.md
  docs/content/sidebars.json
Due: updated-aperture-docs

Added pointer to install policy using blueprints under get started
  docs/content/get-started/installation/controller.md
Due: updated-aperture-docs

add contributing.md
  CONTRIBUTING.md
  README.md
  docs/content/get-started/playground.md
Due: updated-aperture-docs

change the chart version
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
Due: updated-aperture-charts

add grafana dashboard image
  README.md
  docs/content/assets/img/grafana_dashboard.png
Due: updated-aperture-docs

fix typo
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
Due: updated-aperture-charts

Publish . ./aperture-controller-v0.2.0-rc.1.tgz
  aperture-controller-v0.2.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v0.2.0-rc.1.tgz
  aperture-agent-v0.2.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.0.1.tgz
  index.yaml
  istioconfig-v0.0.1.tgz
Due: none

Move screenshot to playground
  README.md
Due: none

PR template added
  .github/pull_request_template.md
Due: none

update grafana dashboard image
  docs/content/assets/img/grafana_dashboard.png
Due: updated-aperture-docs

Updated policy link to the first page of policy section
  docs/content/get-started/installation/controller.md
Due: updated-aperture-docs

Add concept docs
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/flow-control/rate-limiter.md
  docs/content/concepts/flow-control/selector/selector.md
Due: updated-aperture-docs

Update references to flow-label.md in proto files
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher.pb.go
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/reference/configuration/policies.md
  docs/gen/policies/gen.yaml
Due: updated-aperture, updated-aperture-docs

Update reference to flow-label.md in cloud/plugin
  docs/content/cloud/plugin.md
Due: updated-aperture-docs

Use absolute reference links
  docs/content/assets/diagrams/architecture/aperture-k8s.mmd.svg
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/diagrams/ratelimit/ratelimit.mmd.svg
  docs/content/assets/diagrams/traffic-flow/traffic.mmd.svg
  docs/content/concepts/flow-control/concurrency-limiter.md
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/rate-limiter.md
  docs/content/concepts/flow-control/selector/selector.md
  docs/content/concepts/flow-control/selector/service.md
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools|api)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools|api)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: tools/demo_app/.*
