Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

Fixed incorrect agent group in playground with cloud controller
  playground/Tiltfile
Due: none

Publish . ./aperture-agent-v2.11.0-rc.2.tgz
  aperture-agent-v2.11.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.11.0-rc.2.tgz
  aperture-controller-v2.11.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.11.0-rc.2.tgz
  index.yaml
  istioconfig-v2.11.0-rc.2.tgz
Due: none

Publish . ./aperture-agent-v2.11.0.tgz
  aperture-agent-v2.11.0.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.11.0.tgz
  aperture-controller-v2.11.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.11.0.tgz
  index.yaml
  istioconfig-v2.11.0.tgz
Due: none

[ImgBot] Optimize images
  docs/content/assets/img/FluxNinja-arc-dark.svg
  docs/content/assets/img/FluxNinja-arc-light.svg
  docs/content/use-cases/adaptive-service-protection/assets/adaptive-service-protection/adaptive-service-protection.mmd.svg
  docs/content/use-cases/adaptive-service-protection/assets/average-latency-feedback/graph.mmd.svg
  docs/content/use-cases/adaptive-service-protection/assets/workload-prioritization/graph.mmd.svg
  docs/content/use-cases/alerting/assets/alerting/alerting.mmd.svg
  docs/content/use-cases/auto-scaling/assets/auto-scaling/auto-scaling.mmd.svg
  docs/content/use-cases/auto-scaling/assets/load-based-auto-scaling/graph.mmd.svg
  docs/content/use-cases/managing-quotas/assets/inter-service-rate-limiting/dashboard.png
  docs/content/use-cases/managing-quotas/assets/inter-service-rate-limiting/graph.mmd.svg
  docs/content/use-cases/managing-quotas/assets/managing-quotas/managing-quotas.mmd.svg
  docs/content/use-cases/percentage-rollouts/assets/average-latency-feedback/dashboard.png
  docs/content/use-cases/percentage-rollouts/assets/average-latency-feedback/graph.mmd.svg
  docs/content/use-cases/percentage-rollouts/assets/percentage-rollouts/percentage-rollouts.mmd.svg
  docs/content/use-cases/rate-limiting/assets/rate-limiting/rate-limiting.mmd.svg
Due: updated-aperture-docs

Fixed the error during the namespace scoped installation
  manifests/charts/aperture-agent/templates/agent-deployment.yaml
Due: updated-aperture-charts

Publish . ./aperture-agent-v2.11.1-rc.1.tgz
  aperture-agent-v2.11.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.11.1-rc.1.tgz
  aperture-controller-v2.11.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.11.1-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.11.1-rc.1.tgz
Due: none

Publish . ./aperture-agent-v2.11.1.tgz
  aperture-agent-v2.11.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.11.1.tgz
  aperture-controller-v2.11.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.11.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.11.1.tgz
Due: none

Make ETCD Client log level configurable
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/etcd/client/client.go
  pkg/etcd/config.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Fix vale
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/etcd/config.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Fix operator tests
  operator/controllers/agent/config_test.tpl
  operator/controllers/controller/config_test.tpl
Due: updated-aperture-operator

Update getting started page, change order
  docs/content/get-started/get-started.md
  docs/content/get-started/installation/installation.md
  docs/content/get-started/setting-up-your-service/setting-up-your-service.md
Due: updated-aperture-docs

Rename sections in get started
  docs/content/get-started/get-started.md
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/policies/policies.md
  docs/content/get-started/set-up-application/manual-control-points.md
  docs/content/get-started/set-up-application/middleware-insertions.md
  docs/content/get-started/set-up-application/service-mesh-and-gateways.md
  docs/content/get-started/set-up-application/set-up-application.md
  docs/content/introduction.md
Due: updated-aperture-docs

Fixes
  manifests/charts/aperture-controller/templates/_helpers.tpl
  manifests/charts/aperture-controller/templates/controller-cr.yaml
  playground/scripts/render-policy.sh
Due: updated-aperture-charts

cloud-controller tilt changes
  manifests/charts/aperture-controller/templates/_helpers.tpl
  manifests/charts/aperture-controller/templates/controller-cr.yaml
  playground/scripts/render-policy.sh
Due: updated-aperture-charts

add curly braces to variable
  playground/scripts/render-policy.sh
Due: none

Added elasticsearch in playground
  playground/Tiltfile
  playground/tanka/apps/elasticsearch/main.jsonnet
  playground/tanka/apps/elasticsearch/mixins.libsonnet
  playground/tanka/chartfile.yaml
  playground/tanka/charts/.gitignore
  playground/tanka/lib/apps/elasticsearch/main.libsonnet
Due: updated-blueprints

Added working es with client
  playground/Tiltfile
  playground/resources/demo-app/app/app.go
  playground/resources/demo-app/go.mod
  playground/resources/demo-app/go.sum
  playground/resources/demo-app/main.go
  playground/scenarios/elasticsearch-overload/dashboards/main.jsonnet
  playground/scenarios/elasticsearch-overload/load-generator/test.js
  playground/scenarios/elasticsearch-overload/metadata.json
  playground/scenarios/elasticsearch-overload/policies/elasticsearch-overload.yaml
  playground/scenarios/elasticsearch-overload/policies/service1-demoapp-elasticsearch-overload-cr.yaml
  playground/scenarios/elasticsearch-overload/values.yaml
  playground/tanka/apps/elasticsearch/mixins.libsonnet
  playground/tanka/charts/demo-app/templates/deployment.yaml
  playground/tanka/charts/demo-app/values.yaml
Due: updated-demo-app, updated-blueprints

Update documentation to mention grpc/http2 endpoint address
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/aperturectl.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/fluxninja.md
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Remove redundant phrase
  docs/content/reference/fluxninja.md
Due: updated-aperture-docs

Address reviews
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/fluxninja.md
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Fix temp directory in blueprint generate apply
  cmd/aperturectl/cmd/blueprints/generate.go
Due: updated-aperture

Change elasticsearch password
  playground/scenarios/elasticsearch-overload/policies/elasticsearch-overload.yaml
  playground/scenarios/elasticsearch-overload/policies/service1-demoapp-elasticsearch-overload-cr.yaml
  playground/scenarios/elasticsearch-overload/values.yaml
  playground/tanka/apps/elasticsearch/mixins.libsonnet
Due: updated-blueprints

CodeRabbit suggestion
  cmd/aperturectl/cmd/blueprints/common.go
  cmd/aperturectl/cmd/blueprints/generate.go
Due: updated-aperture
