Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs, updated-aperture-chart

Use test branch for release testing
  .circleci/config.yml
Due: none

Bump OTEL to 0.58.0
  go.mod
  go.sum
  pkg/otelcollector/config.go
  pkg/otelcollector/enrichmentprocessor/factory.go
  pkg/otelcollector/loggingexporter/factory.go
  pkg/otelcollector/loggingexporter/logging_exporter.go
  pkg/otelcollector/loggingexporter/logging_exporter_test.go
  pkg/otelcollector/metricsprocessor/factory.go
Due: updated-aperture

docsv1
  docs/content/Concepts/Flow-Control/Actuators/_category_.yaml
  docs/content/Concepts/Flow-Control/_category_.yaml
  docs/content/Developers/cla.md
  docs/content/faq.md
  docs/content/introduction.md
Due: updated-aperture-docs

Feedback Page
  docs/content/feedback.md
Due: updated-aperture-docs

Add status code to fluxmeter metrics
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/engine_test.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/mocks/mock_engine.go
Due: updated-aperture

Register Fluxmeter as HistogramVec
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_flux_meter.go
Due: updated-aperture

Fix tests
  pkg/policies/dataplane/engine_test.go
Due: updated-aperture

Add fluxmeter metrics to lifecycle
  pkg/policies/dataplane/fluxmeter/flux-meter.go
Due: updated-aperture

Fluxmeter's histogram vec registered in main app
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/dataplane/fluxmeter/flux-meter.go
Due: updated-aperture

Remove partial match metrics
  pkg/policies/dataplane/fluxmeter/flux-meter.go
Due: updated-aperture

Add SpanDurationLabel to otelcollector
  manifests/aperture-operator
  pkg/otelcollector/consts.go
Due: updated-aperture

update tilt deployment to use latest aperture-blueprints
  manifests/k8s/tanka/jsonnetfile.json
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: none

Fix url to aperture prometheus
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: none

Update fluxmeterName for decision dasboard
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: none

replace all instances of agent-prometheus with aperture-prometheus
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/environments/tilt/apps/aperture-grafana/dashboards/json-example.json
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
  operator/controllers/configmaps_test.go
  operator/controllers/controller_config_with_fluxninja_plugin_test.tpl
  operator/controllers/controller_config_without_fluxninja_plugin_test.tpl
Due: none

remove http from httpDurationLevel
  pkg/otelcollector/consts.go
Due: updated-aperture

Expand doc comments for policies
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/gen/policies/swagger.md
Due: updated-aperture, updated-aperture-docs

Expose k8s client HTTP client config
  cmd/aperture-agent/agent.go
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-agent/swagger.md
  pkg/k8s/provide.go
Due: updated-aperture, updated-aperture-docs

Remove sidebar.json
  docs/content/sidebars.json
Due: updated-aperture-docs

Fixed indentation issue
  docs/content/introduction.md
Due: updated-aperture-docs

Remove obsolete certs/ dir
  certs/ca.crt
  certs/ca.key
  certs/ca.srl
  certs/ca_config.txt
  certs/config.txt
  certs/crt.pem
  certs/csr.csr
  certs/gen.sh
  certs/key.pem
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
Due: updated-aperture

Expose batch configuration
  manifests/charts/agent/files/aperture-agent-config.yaml
  manifests/charts/agent/values.yaml
  pkg/otel/config.go
Due: updated-aperture, updated-aperture-chart

Add operator stuff
  manifests/charts/aperture-operator/templates/aperture.yaml
  manifests/charts/aperture-operator/values.yaml
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_apertures.yaml
  operator/controllers/agent_config.tpl
  operator/controllers/agent_config_with_fluxninja_plugin_test.tpl
  operator/controllers/configmaps.go
  operator/controllers/configmaps_test.go
Due: none

Test metrics
  pkg/otelcollector/loggingexporter/logging_exporter.go
  pkg/otelcollector/loggingexporter/otlptext/metrics.go
Due: updated-aperture

Fix controller OTEL pipelines
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

helm first release
  .tool-versions
  aperture-operator-v0.0.1.tgz
  aperture-v0.0.1.tgz
  index.yaml
Due: none

charts folder
  charts/aperture-operator-v0.0.1.tgz
  charts/aperture-v0.0.1.tgz
  charts/index.yaml
Due: none

delete chart dir
  aperture-operator-v0.0.1.tgz
  aperture-v0.0.1.tgz
  index.yaml
Due: none

Lowercase dirnames in docs and other tweaks
  docs/content/concepts/_category_.yml
  docs/content/concepts/actuators/actuators.md
  docs/content/concepts/actuators/scheduler.md
  docs/content/concepts/flow-control.md
  docs/content/developers/_category_.yml
  docs/content/developers/cla.md
  docs/content/faq.md
  docs/content/introduction.md
  docs/content/reference/_category_.yml
  docs/content/reference/configuration/_category_.yml
Due: updated-aperture-docs

Flow is not flow control
  docs/content/concepts/flow.md
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools|api)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools|api)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
  updated-aperture-chart: any of: manifests/charts/agent/.*
