Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Publish . ./aperture-agent-v2.20.1.tgz ./index.yaml
  aperture-agent-v2.20.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.20.1.tgz ./index.yaml
  aperture-controller-v2.20.1.tgz
  index.yaml
Due: none

Update Rejected Tokens Panel With New Metric
  blueprints/grafana/panels/total_rejected_tokens.libsonnet
Due: updated-blueprints

update deprecated version to 3.0.0
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture

use etcd values for agent lookup
  pkg/agent-functions/agents/agents.go
Due: updated-aperture

refactor get agents
  pkg/agent-functions/agents/agents.go
Due: updated-aperture

move constants
  pkg/agent-functions/agents/agents.go
  pkg/peers/peers.go
  pkg/policies/paths/paths.go
Due: updated-aperture

Add method and sub-commands to archive policy using aperturectl
  api/aperture/cloud/v1/blueprints.proto
  api/aperture/cloud/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/cloud/v1/blueprints.pb.go
  api/gen/proto/go/aperture/cloud/v1/blueprints.pb.gw.go
  api/gen/proto/go/aperture/cloud/v1/blueprints_grpc.pb.go
  api/gen/proto/go/aperture/cloud/v1/policy.pb.go
  api/gen/proto/go/aperture/cloud/v1/policy_grpc.pb.go
  cmd/aperturectl/cmd/cloud/blueprints/archive.go
  cmd/aperturectl/cmd/cloud/dynamicconfig/root.go
  cmd/aperturectl/cmd/cloud/policy/apply.go
  cmd/aperturectl/cmd/cloud/policy/archive.go
  cmd/aperturectl/cmd/cloud/policy/root.go
  cmd/aperturectl/cmd/cloud/utils/controller.go
  cmd/aperturectl/cmd/dynamicconfig/root.go
  cmd/aperturectl/cmd/policy/apply.go
  cmd/aperturectl/cmd/policy/root.go
  cmd/aperturectl/cmd/utils/controller-client.go
  cmd/aperturectl/cmd/utils/controller.go
  cmd/aperturectl/cmd/utils/decisions.go
  cmd/aperturectl/cmd/utils/dynamic-config.go
  cmd/aperturectl/cmd/utils/policies.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
Due: updated-aperture, updated-aperture-docs

Register archive sub-command
  cmd/aperturectl/cmd/cloud/blueprints/root.go
  cmd/aperturectl/cmd/cloud/policy/root.go
  docs/content/reference/aperturectl/cloud/blueprints/archive/archive.md
  docs/content/reference/aperturectl/cloud/blueprints/blueprints.md
  docs/content/reference/aperturectl/cloud/policy/archive/archive.md
  docs/content/reference/aperturectl/cloud/policy/policy.md
Due: updated-aperture, updated-aperture-docs

Fix typo
  cmd/aperturectl/cmd/cloud/blueprints/archive.go
  docs/content/reference/aperturectl/cloud/blueprints/archive/archive.md
  docs/content/reference/aperturectl/cloud/blueprints/blueprints.md
Due: updated-aperture, updated-aperture-docs

Add possibility to set timeouts to individual flows in go sdk
  sdks/aperture-go/example/main.go
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
Due: updated-aperture-go

Add possibility to set timeouts to individual flows in java sdk
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaClient.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/NettyServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/standalone-traffic-flow-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/ApertureSDKWrapper.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaClientAdvice.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/armeria/ArmeriaServerAdvice.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/netty/NettyServerAdvice.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClientBuilder.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPServiceBuilder.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClientBuilder.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCServiceBuilder.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/HttpUtils.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlowRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlowRequestBuilder.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/NettyUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ServletUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ServletUtils.java
Due: updated-aperture-java

rename api key to agent key
  docs/agent.md
  docs/content/get-started/installation/agent/docker.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/self-hosting/agent.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/fluxninja.md
  docs/controller.md
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  extensions/fluxninja/heartbeats/heartbeats.go
  extensions/fluxninja/heartbeats/peers-watcher.go
  extensions/fluxninja/heartbeats/provide.go
  extensions/fluxninja/otel/otel_test.go
  extensions/fluxninja/otel/provide.go
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-agent/templates/agent-deployment.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/controller/config_test.tpl
  operator/controllers/utils.go
  operator/controllers/utils_test.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Add cloud dynamic-config get/delete
  cmd/aperturectl/cmd/cloud/dynamicconfig/apply.go
  cmd/aperturectl/cmd/cloud/dynamicconfig/delete.go
  cmd/aperturectl/cmd/cloud/dynamicconfig/get.go
  cmd/aperturectl/cmd/cloud/dynamicconfig/root.go
  cmd/aperturectl/cmd/dynamicconfig/get.go
  cmd/aperturectl/cmd/utils/dynamic-config.go
  docs/content/reference/aperturectl/cloud/dynamic-config/apply/apply.md
  docs/content/reference/aperturectl/cloud/dynamic-config/delete/delete.md
  docs/content/reference/aperturectl/cloud/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/cloud/dynamic-config/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/cloud/dynamic-config/get/get.md
Due: updated-aperture, updated-aperture-docs

Skip including blueprint and uri in dynamic-config
  api/buf.lock
  blueprints/auto-scaling/pod-auto-scaler/gen/dynamic-config-definitions.json
  blueprints/auto-scaling/pod-auto-scaler/gen/dynamic-config-values.yaml
  blueprints/blueprint-assets-generator.py
  blueprints/load-ramping/base/gen/dynamic-config-definitions.json
  blueprints/load-ramping/base/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/average-latency/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/average-latency/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/elasticsearch/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/elasticsearch/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/java-gc-generic/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/java-gc-generic/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/java-gc-k8s/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/java-gc-k8s/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/postgresql/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/postgresql/gen/dynamic-config-values.yaml
  blueprints/load-scheduling/promql/gen/dynamic-config-definitions.json
  blueprints/load-scheduling/promql/gen/dynamic-config-values.yaml
  blueprints/quota-scheduling/base/gen/dynamic-config-definitions.json
  blueprints/quota-scheduling/base/gen/dynamic-config-values.yaml
  blueprints/rate-limiting/base/gen/dynamic-config-definitions.json
  blueprints/rate-limiting/base/gen/dynamic-config-values.yaml
Due: updated-aperture, updated-blueprints

Add error for invalid BoolVariable
  pkg/config/unmarshaller.go
Due: updated-aperture

Fixed tests
  pkg/config/koanf-unmarshaller_test.go
Due: updated-aperture

Fix withDatasource
  blueprints/grafana/utils/bar_chart_panel.libsonnet
  blueprints/grafana/utils/table_panel.libsonnet
Due: updated-blueprints

agent group flag for introspeciton commands
  api/aperture/cmd/v1/cmd.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.json.go
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.validate.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_vtproto.pb.go
  cmd/aperturectl/cmd/agents.go
  cmd/aperturectl/cmd/cloud/agents.go
  cmd/aperturectl/cmd/cloud/discovery/entities.go
  cmd/aperturectl/cmd/discovery/entities.go
  cmd/aperturectl/cmd/utils/agents.go
  cmd/aperturectl/cmd/utils/controller-client.go
  cmd/aperturectl/cmd/utils/discovery.go
  docs/content/reference/aperturectl/agents/agents.md
  docs/content/reference/aperturectl/cloud/agents/agents.md
  docs/content/reference/aperturectl/discovery/entities/entities.md
  pkg/agent-functions/agents/agents.go
  pkg/cmd/controller.go
Due: updated-aperture, updated-aperture-docs

flatten agents list
  cmd/aperturectl/cmd/cloud/agents.go
  pkg/agent-functions/agents/agents.go
Due: updated-aperture

update docs
  docs/content/reference/aperturectl/cloud/discovery/entities/entities.md
Due: updated-aperture-docs

update guide
  blueprints/jsonnetfile.json
  blueprints/jsonnetfile.lock.json
  docs/content/guides/api-quota-management/assets/openai/flow-analytics-dark.png
  docs/content/guides/api-quota-management/assets/openai/flow-analytics-light.png
  docs/content/guides/api-quota-management/assets/openai/priorities-dark.png
  docs/content/guides/api-quota-management/assets/openai/priorities-light.png
  docs/content/guides/api-quota-management/assets/openai/token-rate-dark.png
  docs/content/guides/api-quota-management/assets/openai/token-rate-light.png
  docs/content/guides/api-quota-management/assets/quota-scheduling-for-openai/request-in-queue-duration.png
  docs/content/guides/api-quota-management/assets/quota-scheduling-for-openai/workload-latency.png
  docs/content/guides/api-quota-management/openai.md
  docs/content/guides/api-quota-management/quota-scheduling-for-openai.md
  docs/content/integrations/sdk/java/auto-instrumentation.md
  playground/tanka/jsonnetfile.json
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/consts.ts
Due: updated-aperture-docs, updated-aperture-js, updated-aperture-java, updated-blueprints

aperturectl cloud port not needed
  cmd/aperturectl/cmd/cloud/utils/controller.go
  docs/content/get-started/installation/configure-cli.md
Due: updated-aperture, updated-aperture-docs

update guide
  docs/content/guides/api-quota-management/openai.md
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
