Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Fixes, usage replaced in ratelimiter blueprint
  blueprints/dashboards/flow-control/rate-limiter/README.md
  blueprints/dashboards/flow-control/rate-limiter/bundle.libsonnet
  blueprints/dashboards/flow-control/rate-limiter/config.libsonnet
  blueprints/dashboards/flow-control/rate-limiter/dashboard.libsonnet
  blueprints/dashboards/flow-control/rate-limiter/gen/definitions.json
  blueprints/dashboards/flow-control/rate-limiter/gen/dynamic-config-definitions.json
  blueprints/dashboards/flow-control/rate-limiter/gen/dynamic-config-values-required.yaml
  blueprints/dashboards/flow-control/rate-limiter/gen/dynamic-config-values.yaml
  blueprints/dashboards/flow-control/rate-limiter/gen/values-required.yaml
  blueprints/dashboards/flow-control/rate-limiter/gen/values.yaml
  blueprints/dashboards/flow-control/rate-limiter/metadata.yaml
  blueprints/dashboards/flow-control/rate-limiter/rate-limiter.libsonnet
  blueprints/grafana/creator.libsonnet
  blueprints/grafana/panels/signal_average.libsonnet
  blueprints/grafana/panels/signal_frequency.libsonnet
  blueprints/grafana/signals_dashboard.libsonnet
  blueprints/grafana/utils/base_dashboard.libsonnet
  blueprints/grafana/utils/variable_template.libsonnet
  blueprints/policies/rate-limiting/bundle.libsonnet
  blueprints/policies/rate-limiting/dashboard.libsonnet
  blueprints/policies/rate-limiting/metadata.yaml
  blueprints/policies/rate-limiting/rate-limiting.libsonnet
  playground/resources/grafana-dashboard/main.libsonnet
Due: updated-blueprints

Replace usage in auto-scale blueprint
  blueprints/dashboards/auto-scale/README.md
  blueprints/dashboards/auto-scale/auto-scale.libsonnet
  blueprints/dashboards/auto-scale/bundle.libsonnet
  blueprints/dashboards/auto-scale/config.libsonnet
  blueprints/dashboards/auto-scale/dashboard.libsonnet
  blueprints/dashboards/auto-scale/gen/definitions.json
  blueprints/dashboards/auto-scale/gen/dynamic-config-definitions.json
  blueprints/dashboards/auto-scale/gen/dynamic-config-values-required.yaml
  blueprints/dashboards/auto-scale/gen/dynamic-config-values.yaml
  blueprints/dashboards/auto-scale/gen/values-required.yaml
  blueprints/dashboards/auto-scale/gen/values.yaml
  blueprints/dashboards/auto-scale/metadata.yaml
  blueprints/policies/auto-scaling/base/dashboard.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/bundle.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/dashboard.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/metadata.yaml
  blueprints/policies/auto-scaling/pod-auto-scaler/pod-auto-scaler.libsonnet
Due: updated-blueprints

Replace usage for load-ramp
  blueprints/dashboards/flow-control/load-ramp/README.md
  blueprints/dashboards/flow-control/load-ramp/bundle.libsonnet
  blueprints/dashboards/flow-control/load-ramp/config.libsonnet
  blueprints/dashboards/flow-control/load-ramp/dashboard.libsonnet
  blueprints/dashboards/flow-control/load-ramp/gen/definitions.json
  blueprints/dashboards/flow-control/load-ramp/gen/dynamic-config-definitions.json
  blueprints/dashboards/flow-control/load-ramp/gen/dynamic-config-values-required.yaml
  blueprints/dashboards/flow-control/load-ramp/gen/dynamic-config-values.yaml
  blueprints/dashboards/flow-control/load-ramp/gen/values-required.yaml
  blueprints/dashboards/flow-control/load-ramp/gen/values.yaml
  blueprints/dashboards/flow-control/load-ramp/load-ramp.libsonnet
  blueprints/dashboards/flow-control/load-ramp/metadata.yaml
  blueprints/policies/feature-rollout/average-latency/metadata.yaml
  blueprints/policies/feature-rollout/base/bundle.libsonnet
  blueprints/policies/feature-rollout/base/dashboard.libsonnet
  blueprints/policies/feature-rollout/base/feature-rollout.libsonnet
  blueprints/policies/feature-rollout/base/metadata.yaml
  blueprints/policies/feature-rollout/ema-latency/metadata.yaml
  blueprints/policies/feature-rollout/percentile-latency/metadata.yaml
  blueprints/policies/feature-rollout/promql/metadata.yaml
Due: updated-blueprints

Remove old signals dashboard, replace usage in quota-scheduler
  blueprints/dashboards/dashboards.libsonnet
  blueprints/dashboards/flow-control/adaptive-load-scheduler/dashboard.libsonnet
  blueprints/dashboards/flow-control/flow-control.libsonnet
  blueprints/dashboards/flow-control/quota-scheduler/README.md
  blueprints/dashboards/flow-control/quota-scheduler/bundle.libsonnet
  blueprints/dashboards/flow-control/quota-scheduler/config.libsonnet
  blueprints/dashboards/flow-control/quota-scheduler/dashboard.libsonnet
  blueprints/dashboards/flow-control/quota-scheduler/gen/definitions.json
  blueprints/dashboards/flow-control/quota-scheduler/gen/dynamic-config-definitions.json
  blueprints/dashboards/flow-control/quota-scheduler/gen/dynamic-config-values-required.yaml
  blueprints/dashboards/flow-control/quota-scheduler/gen/dynamic-config-values.yaml
  blueprints/dashboards/flow-control/quota-scheduler/gen/values-required.yaml
  blueprints/dashboards/flow-control/quota-scheduler/gen/values.yaml
  blueprints/dashboards/flow-control/quota-scheduler/metadata.yaml
  blueprints/dashboards/flow-control/quota-scheduler/quota-scheduler.libsonnet
  blueprints/dashboards/signals/README.md
  blueprints/dashboards/signals/bundle.libsonnet
  blueprints/dashboards/signals/config.libsonnet
  blueprints/dashboards/signals/dashboard.libsonnet
  blueprints/dashboards/signals/gen/definitions.json
  blueprints/dashboards/signals/gen/dynamic-config-definitions.json
  blueprints/dashboards/signals/gen/dynamic-config-values-required.yaml
  blueprints/dashboards/signals/gen/dynamic-config-values.yaml
  blueprints/dashboards/signals/gen/values-required.yaml
  blueprints/dashboards/signals/gen/values.yaml
  blueprints/dashboards/signals/metadata.yaml
  blueprints/dashboards/signals/signals.libsonnet
  blueprints/policies/quota-scheduler/bundle.libsonnet
  blueprints/policies/quota-scheduler/dashboard.libsonnet
  blueprints/policies/quota-scheduler/metadata.yaml
  blueprints/policies/quota-scheduler/quota-scheduler.libsonnet
  docs/content/reference/blueprints/assets/monitoring/signals-dashboard.json
  docs/content/reference/blueprints/assets/monitoring/signals-dashboard.jsonnet
Due: updated-aperture-docs, updated-blueprints

Remove usage from service protection blueprints
  blueprints/dashboards/dashboards.libsonnet
  blueprints/dashboards/flow-control/adaptive-load-scheduler/README.md
  blueprints/dashboards/flow-control/adaptive-load-scheduler/adaptive-load-scheduler.libsonnet
  blueprints/dashboards/flow-control/adaptive-load-scheduler/bundle.libsonnet
  blueprints/dashboards/flow-control/adaptive-load-scheduler/config.libsonnet
  blueprints/dashboards/flow-control/adaptive-load-scheduler/dashboard.libsonnet
  blueprints/dashboards/flow-control/adaptive-load-scheduler/gen/definitions.json
  blueprints/dashboards/flow-control/adaptive-load-scheduler/gen/dynamic-config-definitions.json
  blueprints/dashboards/flow-control/adaptive-load-scheduler/gen/dynamic-config-values-required.yaml
  blueprints/dashboards/flow-control/adaptive-load-scheduler/gen/dynamic-config-values.yaml
  blueprints/dashboards/flow-control/adaptive-load-scheduler/gen/values-required.yaml
  blueprints/dashboards/flow-control/adaptive-load-scheduler/gen/values.yaml
  blueprints/dashboards/flow-control/adaptive-load-scheduler/metadata.yaml
  blueprints/dashboards/flow-control/flow-control.libsonnet
  blueprints/policies/policy-utils.libsonnet
  blueprints/policies/service-protection/average-latency/average-latency.libsonnet
  blueprints/policies/service-protection/average-latency/bundle.libsonnet
  blueprints/policies/service-protection/average-latency/dashboard.libsonnet
  blueprints/policies/service-protection/average-latency/metadata.yaml
  blueprints/policies/service-protection/base/dashboard.libsonnet
  blueprints/policies/service-protection/promql/bundle.libsonnet
  blueprints/policies/service-protection/promql/metadata.yaml
  blueprints/policies/service-protection/promql/promql.libsonnet
  playground/scenarios/java-service-protection/dashboards/main.jsonnet
  playground/scenarios/service-protection-rl-escalation-kong/dashboards/main.jsonnet
  playground/scenarios/service-protection-rl-escalation-nginx/dashboards/main.jsonnet
  playground/scenarios/service-protection-rl-escalation/dashboards/main.jsonnet
Due: updated-blueprints

Add quota scheduler panels to adaptive load scheduler
  blueprints/grafana/panels/grouped/adaptive_load_scheduler.libsonnet
  blueprints/grafana/panels/grouped/quota_scheduler.libsonnet
  blueprints/grafana/utils/time_series_panel.libsonnet
  docs/content/reference/blueprints/assets/monitoring/signals-dashboard.json
Due: updated-aperture-docs, updated-blueprints

Fixes in policy and tilt
  playground/Tiltfile
  playground/scenarios/graceful-js/metadata.json
  playground/scenarios/graceful-js/policies/feature-rollout/feature-rollout.yaml
  playground/scenarios/graceful-js/policies/rate-limiting-cr.yaml
  playground/scenarios/graceful-js/policies/rate-limiting/rate-limiting.yaml
  playground/tanka/charts/demo-ui/templates/deployment.yaml
  playground/tanka/charts/demo-ui/templates/service.yaml
Due: updated-blueprints

Add Workload-prioritization & Mofidy demo-ui
  playground/resources/demo-app/app/app.go
  playground/resources/demo-ui/package-lock.json
  playground/resources/demo-ui/package.json
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/resources/demo-ui/src/pages/home.tsx
  playground/scenarios/graceful-js/load-generator/test.js
  playground/scenarios/graceful-js/metadata.json
  playground/scenarios/graceful-js/policies/workload-prioritization-cr.yaml
  playground/scenarios/graceful-js/policies/workload-prioritization/workload-prioritization-cr.yaml
  playground/scenarios/graceful-js/policies/workload-prioritization/workload-prioritization.yaml
Due: updated-demo-app

aperturectl: remove values-required functionality
  blueprints/blueprint-assets-generator.py
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/dynamic-config-values-required.yaml
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/values-required.yaml
  blueprints/policies/feature-rollout/average-latency/gen/dynamic-config-values-required.yaml
  blueprints/policies/feature-rollout/average-latency/gen/values-required.yaml
  blueprints/policies/feature-rollout/base/gen/dynamic-config-values-required.yaml
  blueprints/policies/feature-rollout/base/gen/values-required.yaml
  blueprints/policies/feature-rollout/percentile-latency/gen/dynamic-config-values-required.yaml
  blueprints/policies/feature-rollout/percentile-latency/gen/values-required.yaml
  blueprints/policies/feature-rollout/promql/gen/dynamic-config-values-required.yaml
  blueprints/policies/feature-rollout/promql/gen/values-required.yaml
  blueprints/policies/quota-scheduler/gen/dynamic-config-values-required.yaml
  blueprints/policies/quota-scheduler/gen/values-required.yaml
  blueprints/policies/rate-limiting/gen/dynamic-config-values-required.yaml
  blueprints/policies/rate-limiting/gen/values-required.yaml
  blueprints/policies/service-protection/average-latency/gen/dynamic-config-values-required.yaml
  blueprints/policies/service-protection/average-latency/gen/values-required.yaml
  blueprints/policies/service-protection/postgresql/gen/dynamic-config-values-required.yaml
  blueprints/policies/service-protection/postgresql/gen/values-required.yaml
  blueprints/policies/service-protection/promql/gen/dynamic-config-values-required.yaml
  blueprints/policies/service-protection/promql/gen/values-required.yaml
  cmd/aperturectl/cmd/blueprints/common.go
  cmd/aperturectl/cmd/blueprints/dynamic-values.go
  cmd/aperturectl/cmd/blueprints/globals.go
  cmd/aperturectl/cmd/blueprints/values.go
  docs/content/reference/aperturectl/blueprints/dynamic-values/dynamic-values.md
  docs/content/reference/aperturectl/blueprints/values/values.md
  scripts/generate_blueprints.sh
Due: updated-aperture, updated-aperture-docs, updated-blueprints

tweak auto-scale blueprint
  blueprints/policies/auto-scaling/base/policy.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/config.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/definitions.json
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/values.yaml
  docs/content/reference/blueprints/policies/auto-scaling/pod-auto-scaler.md
Due: updated-aperture-docs, updated-blueprints

fixes and more
  playground/resources/demo-ui/src/api.ts
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/resources/demo-ui/src/pages/home.tsx
Due: none

Fixes in blueprints
  blueprints/blueprint-assets-generator.py
  blueprints/policies/auto-scaling/base/config-defaults.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/config.libsonnet
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/definitions.json
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/values.yaml
  blueprints/policies/feature-rollout/average-latency/gen/dynamic-config-definitions.json
  blueprints/policies/feature-rollout/average-latency/gen/dynamic-config-values.yaml
  blueprints/policies/feature-rollout/base/gen/definitions.json
  blueprints/policies/feature-rollout/base/gen/dynamic-config-definitions.json
  blueprints/policies/feature-rollout/base/gen/dynamic-config-values.yaml
  blueprints/policies/feature-rollout/base/gen/values.yaml
  blueprints/policies/quota-scheduler/gen/definitions.json
  blueprints/policies/quota-scheduler/gen/values.yaml
  blueprints/policies/rate-limiting/gen/definitions.json
  blueprints/policies/rate-limiting/gen/values.yaml
  blueprints/policies/service-protection/average-latency/gen/definitions.json
  blueprints/policies/service-protection/average-latency/gen/values.yaml
  blueprints/policies/service-protection/postgresql/bundle.libsonnet
  blueprints/policies/service-protection/postgresql/gen/definitions.json
  blueprints/policies/service-protection/postgresql/gen/values.yaml
  blueprints/policies/service-protection/promql/dashboard.libsonnet
  blueprints/policies/service-protection/promql/gen/definitions.json
  blueprints/policies/service-protection/promql/gen/values.yaml
  docs/content/reference/blueprints/policies/auto-scaling/pod-auto-scaler.md
  docs/content/reference/blueprints/policies/feature-rollout/average-latency.md
  docs/content/reference/blueprints/policies/feature-rollout/base.md
  docs/content/reference/blueprints/policies/quota-scheduler.md
  docs/content/reference/blueprints/policies/rate-limiting.md
  docs/content/reference/blueprints/policies/service-protection/average-latency.md
  docs/content/reference/blueprints/policies/service-protection/postgresql.md
  docs/content/reference/blueprints/policies/service-protection/promql.md
Due: updated-aperture-docs, updated-blueprints

Removed unwanted files
  blueprints/policies/service-protection/postgresql/dashboard.libsonnet
  blueprints/policies/service-protection/postgresql/metadata.yaml
Due: updated-blueprints

Removed unused fields
  blueprints/policies/service-protection/postgresql/bundle.libsonnet
  blueprints/policies/service-protection/postgresql/postgresql.libsonnet
Due: updated-blueprints

Add experimental support for managing multiple controllers
  operator/controllers/controller/configmaps.go
  operator/controllers/controller/deployment.go
  operator/controllers/controller/reconciler.go
  operator/controllers/controller/serviceaccount.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
  operator/main.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture-operator, updated-blueprints

Fixed scenarios
  playground/scenarios/service-protection-auto-scale-escalation/dashboards/main.jsonnet
Due: none

Updated list of available objects in blueprints main
  blueprints/main.libsonnet
Due: updated-blueprints

Publish . ./aperture-agent-v2.6.0-rc.2.tgz
  aperture-agent-v2.6.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.6.0-rc.2.tgz
  aperture-controller-v2.6.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.6.0-rc.2.tgz
  index.yaml
  istioconfig-v2.6.0-rc.2.tgz
Due: none

Make controller interactions with etcd and prometheus multi-tenant aware
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  go.mod
  go.sum
  operator/api/common/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/etcd/client/client.go
  pkg/etcd/config.go
  pkg/policies/controlplane/components/query/promql/promql.go
  pkg/prometheus/alert-query.go
  pkg/prometheus/client.go
  pkg/prometheus/config/config.go
  pkg/prometheus/config/zz_generated.deepcopy.go
  pkg/prometheus/enforcer.go
  pkg/prometheus/prom-query.go
  pkg/prometheus/scalar-query.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Added step to copy tools-version
  .circleci/config.yml
  .circleci/post-release.yaml
Due: none

Publish . ./aperture-agent-v2.6.0-rc.3.tgz
  aperture-agent-v2.6.0-rc.3.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.6.0-rc.3.tgz
  aperture-controller-v2.6.0-rc.3.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.6.0-rc.3.tgz
  index.yaml
  istioconfig-v2.6.0-rc.3.tgz
Due: none

Fixed ordering issue with asdf installation
  .tool-versions
  scripts/install_asdf_tools.sh
Due: none

Publish . ./aperture-agent-v2.6.0-rc.4.tgz
  aperture-agent-v2.6.0-rc.4.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.6.0-rc.4.tgz
  aperture-controller-v2.6.0-rc.4.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.6.0-rc.4.tgz
  index.yaml
  istioconfig-v2.6.0-rc.4.tgz
Due: none

rate-limit demo ready
  playground/resources/demo-ui/package-lock.json
  playground/resources/demo-ui/package.json
  playground/resources/demo-ui/src/app.tsx
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/resources/demo-ui/src/index.tsx
  playground/resources/demo-ui/src/k-api.ts
  playground/resources/demo-ui/src/pages/home.tsx
Due: none

Publish . ./aperture-agent-v2.6.0.tgz
  aperture-agent-v2.6.0.tgz
  index.yaml
Due: none

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
