Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Made operator certificates persistent
  operator/controllers/constants.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
  operator/main.go
Due: updated-aperture-operator

Removed owner references so that the certs are not deleted on controller delete
  operator/controllers/agent/secrets.go
  operator/controllers/controller/configmaps.go
  operator/controllers/controller/secrets.go
  operator/controllers/controller/secrets_test.go
  operator/controllers/controller/validating_webhook_configuration_test.go
  operator/controllers/mutate_func.go
  operator/controllers/mutate_func_test.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
  operator/main.go
Due: updated-aperture-operator

Made controller certificate persistent on operator restarts
  cmd/aperturectl/cmd/installation/utils.go
  operator/api/controller/v1alpha1/controller_types.go
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/controller/reconciler.go
  operator/controllers/utils.go
Due: updated-aperture, updated-aperture-operator

Updated docs for deletion steps of certs as part of uninstallation
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/installation/controller/operator/operator.md
  operator/controllers/controller/configmaps.go
  operator/controllers/controller/secrets.go
Due: updated-aperture-operator, updated-aperture-docs

Fixed controller client cert issue in agent sidecar mode
  operator/api/common/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/reconciler.go
  operator/controllers/namespace/reconciler.go
Due: updated-aperture-operator

Fixed issue with operator certificate updation
  operator/controllers/utils.go
Due: updated-aperture-operator

OpenAI suggestions
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  operator/controllers/utils.go
Due: updated-aperture-operator, updated-aperture-docs

Language tool suggestions
  .circleci/continue-workflows.yml
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/installation/controller/operator/operator.md
Due: updated-aperture-docs

Minor change in agent cert
  operator/controllers/agent/reconciler.go
  operator/controllers/namespace/reconciler.go
Due: updated-aperture-operator

Fixed operator tests
  .circleci/continue-workflows.yml
  operator/controllers/controller/secrets_test.go
Due: updated-aperture-operator

Fixed gitignore
  .circleci/config.yml
  .gitignore
Due: none

Corrected the controller service name in certificate generation
  cmd/aperturectl/cmd/utils/controller.go
  operator/controllers/utils.go
Due: updated-aperture, updated-aperture-operator

Drop circleci token from build status badge to fix it
  README.md
Due: none

Don't pass metric deletion error in circuit
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture

Remove commented line
  pkg/policies/controlplane/components/sma.go
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture

Fix rendering default values for boolean type in docs
  api/aperture/policy/language/v1/std_components.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  docs/tools/swagger/generate_config_markdown.sh
  docs/tools/swagger/swagger-templates/config.gotmpl
Due: updated-aperture, updated-aperture-docs

reduce number of locks needed and address openai review
  pkg/policies/flowcontrol/actuators/concurrency/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/rate/rate-limiter.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/label/flow-label.go
Due: updated-aperture

fix typo
  pkg/policies/flowcontrol/resources/classifier/classifier_test.go
Due: updated-aperture

small tweak to the docs
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs

Update input message field
  api/aperture/policy/language/v1/std_components.proto
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.validate.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/smains.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs

disable docker layer caching in base-machine-executor
  .circleci/continue-workflows.yml
  .pre-commit-config.yaml
Due: none

remove redundant packages from asdf install step
  .circleci/scripts/asdf_install.sh
Due: none

Use gradlew instead of gradle in aperture-java CI checks
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  sdks/aperture-java/.circleci/config.yml
  sdks/aperture-java/.circleci/continue-workflows.yml
  sdks/aperture-java/dockerfiles/aperture-java-all/Dockerfile
  sdks/aperture-java/dockerfiles/example/Dockerfile
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/version.gradle.kts
Due: updated-aperture-java

Handle null checkResponse in feature flow
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
Due: updated-aperture-java

Change aperture spring example grpc timeout to match other examples
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/SpringBootApp.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/controller/AppController.java
Due: updated-aperture-java

Simplify SMA component's `Execute` method
  pkg/policies/controlplane/components/sma.go
Due: updated-aperture

Add tests for SMA component
  pkg/policies/controlplane/components/logical_test.go
  pkg/policies/controlplane/components/sma.go
  pkg/policies/controlplane/components/sma_test.go
Due: updated-aperture

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
