Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

languagetool action
  test.md
Due: none

langaugetool dict test
  test.md
Due: none

spelling file
  .github/styles/Vocab/FluxNinja/accept.txt
  test.md
Due: none

test
  .github/styles/Vocab/FluxNinja/accept.txt
  test.md
Due: none

test spelling file
  .github/styles/Vocab/FluxNinja/accept.txt
  .github/workflows/languagetool.yaml
Due: none

Tutorial and other fixes
  .github/styles/Vocab/FluxNinja/accept.txt
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/blueprint-assets-generator.py
  blueprints/custom/port.libsonnet
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/_category_.yaml
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/average-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/base.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/ema-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/percentile-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/promql.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  docs/content/reference/policies/spec.md
  docs/content/tutorials/flow-control/concurrency-limiting/basic-concurrency-limiting.md
  docs/content/tutorials/flow-control/feature-rollout/_category_.yml
  docs/content/tutorials/flow-control/feature-rollout/assets/with-average-latency-feedback/dashboard.png
  docs/content/tutorials/flow-control/feature-rollout/assets/with-average-latency-feedback/graph.mmd
  docs/content/tutorials/flow-control/feature-rollout/assets/with-average-latency-feedback/graph.mmd.md5sum
  docs/content/tutorials/flow-control/feature-rollout/assets/with-average-latency-feedback/graph.mmd.svg
  docs/content/tutorials/flow-control/feature-rollout/assets/with-average-latency-feedback/policy.yaml
  docs/content/tutorials/flow-control/feature-rollout/assets/with-average-latency-feedback/validate.sh
  docs/content/tutorials/flow-control/feature-rollout/assets/with-average-latency-feedback/values.yaml
  docs/content/tutorials/flow-control/feature-rollout/with-average-latency-feedback.md
  docs/gen/policy/policy.yaml
  docs/tools/aperturectl/validate_common.sh
  pkg/policies/autoscale/kubernetes/discovery/autoscale-control-points.go
Due: updated-aperture, updated-aperture-docs

disable typos (vale is already catching them)
  .github/styles/Vocab/FluxNinja/accept.txt
  .github/workflows/languagetool.yaml
  test.md
Due: none

OpenAI Suggestions
  pkg/policies/controlplane/components/signal-generator.go
  pkg/policies/controlplane/runtime/ports.go
  pkg/policies/controlplane/runtime/reading.go
  pkg/policies/flowcontrol/service/envoy/authz.go
Due: updated-aperture

fix precommit
  docs/content/reference/policies/spec.md
Due: updated-aperture-docs

update params
  .github/workflows/languagetool.yaml
  test.md
Due: none

update params
  .github/workflows/languagetool.yaml
Due: none

update params
  test.md
Due: none

blueprints: tweak doc rendering
  blueprints/blueprint-assets-generator.py
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/average-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/base.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/ema-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/percentile-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/promql.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
Due: updated-aperture-docs

playground: downgrade tilt to 0.32.0
  .tool-versions
Due: none

blueprints: improve rendering of arrays
  blueprints/blueprint-assets-generator.py
  blueprints/policies/feature-rollout/average-latency/gen/values-required.yaml
  blueprints/policies/feature-rollout/average-latency/gen/values.yaml
  blueprints/policies/feature-rollout/base/gen/values-required.yaml
  blueprints/policies/feature-rollout/base/gen/values.yaml
  blueprints/policies/feature-rollout/ema-latency/gen/values-required.yaml
  blueprints/policies/feature-rollout/ema-latency/gen/values.yaml
  blueprints/policies/feature-rollout/percentile-latency/gen/values-required.yaml
  blueprints/policies/feature-rollout/percentile-latency/gen/values.yaml
  blueprints/policies/feature-rollout/promql/gen/values-required.yaml
  blueprints/policies/feature-rollout/promql/gen/values.yaml
Due: none

Non admin installation for controller
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/_helpers.tpl
  manifests/charts/aperture-controller/templates/controller-cm.yaml
  manifests/charts/aperture-controller/templates/controller-cr.yaml
  manifests/charts/aperture-controller/templates/controller-deployment.yaml
  manifests/charts/aperture-controller/templates/controller-secret.yaml
  manifests/charts/aperture-controller/templates/controller-service.yaml
  manifests/charts/aperture-controller/templates/ingress.yaml
  manifests/charts/aperture-controller/templates/operator-deployment.yaml
  manifests/charts/aperture-controller/templates/operator-mutatingwebhook.yaml
  manifests/charts/aperture-controller/templates/operator-pre-delete-hook.yaml
  manifests/charts/aperture-controller/templates/operator-rbac.yaml
  manifests/charts/aperture-controller/templates/operator-service.yaml
  manifests/charts/aperture-controller/values.yaml
  operator/controllers/controller/deployment_test.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
Due: updated-aperture-operator, updated-aperture-charts

Non admin installation for agent
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/_helpers.tpl
  manifests/charts/aperture-agent/templates/agent-cm.yaml
  manifests/charts/aperture-agent/templates/agent-cr.yaml
  manifests/charts/aperture-agent/templates/agent-deployment.yaml
  manifests/charts/aperture-agent/templates/agent-rbac.yaml
  manifests/charts/aperture-agent/templates/agent-secret.yaml
  manifests/charts/aperture-agent/templates/agent-service.yaml
  manifests/charts/aperture-agent/templates/operator-deployment.yaml
  manifests/charts/aperture-agent/templates/operator-mutatingwebhook.yaml
  manifests/charts/aperture-agent/templates/operator-pre-delete-hook.yaml
  manifests/charts/aperture-agent/templates/operator-rbac.yaml
  manifests/charts/aperture-agent/templates/operator-service.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/controller-deployment.yaml
  manifests/charts/aperture-controller/templates/controller-rbac.yaml
  manifests/charts/aperture-controller/values.yaml
  playground/Tiltfile
Due: updated-aperture-charts

Adding support to generate Controller cert in aperturectl
  cmd/aperturectl/cmd/installation/controller.go
  cmd/aperturectl/cmd/installation/install.go
  cmd/aperturectl/cmd/installation/uninstall.go
  cmd/aperturectl/cmd/installation/utils.go
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/agent-cm.yaml
  manifests/charts/aperture-agent/templates/agent-cr.yaml
  manifests/charts/aperture-agent/templates/agent-deployment.yaml
  manifests/charts/aperture-agent/templates/agent-rbac.yaml
  manifests/charts/aperture-agent/templates/agent-secret.yaml
  manifests/charts/aperture-agent/templates/agent-service.yaml
  manifests/charts/aperture-agent/templates/operator-deployment.yaml
  manifests/charts/aperture-agent/templates/operator-mutatingwebhook.yaml
  manifests/charts/aperture-agent/templates/operator-pre-delete-hook.yaml
  manifests/charts/aperture-agent/templates/operator-rbac.yaml
  manifests/charts/aperture-agent/templates/operator-service.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/Chart.lock
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/controller-cm.yaml
  manifests/charts/aperture-controller/templates/controller-cr.yaml
  manifests/charts/aperture-controller/templates/controller-deployment.yaml
  manifests/charts/aperture-controller/templates/controller-rbac.yaml
  manifests/charts/aperture-controller/templates/controller-secret.yaml
  manifests/charts/aperture-controller/templates/controller-service.yaml
  manifests/charts/aperture-controller/templates/operator-deployment.yaml
  manifests/charts/aperture-controller/templates/operator-mutatingwebhook.yaml
  manifests/charts/aperture-controller/templates/operator-pre-delete-hook.yaml
  manifests/charts/aperture-controller/templates/operator-rbac.yaml
  manifests/charts/aperture-controller/templates/operator-service.yaml
  manifests/charts/aperture-controller/values.yaml
  operator/controllers/controller/secrets.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-charts

Added changes to disable CR watcher in controller
  docs/content/reference/aperturectl/install/agent/agent.md
  docs/content/reference/aperturectl/install/controller/controller.md
  docs/content/reference/aperturectl/install/install.md
  docs/content/reference/aperturectl/install/istioconfig/istioconfig.md
  docs/content/reference/aperturectl/uninstall/agent/agent.md
  docs/content/reference/aperturectl/uninstall/controller/controller.md
  docs/content/reference/aperturectl/uninstall/istioconfig/istioconfig.md
  docs/content/reference/aperturectl/uninstall/uninstall.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/controller/config-swagger.yaml
  manifests/charts/aperture-agent/templates/_helpers.tpl
  manifests/charts/aperture-agent/templates/agent-service.yaml
  manifests/charts/aperture-controller/templates/_helpers.tpl
  operator/api/controller/v1alpha1/controller_types.go
  operator/api/controller/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/controller/reconciler.go
  pkg/policies/controlplane/crwatcher/provide.go
  pkg/policies/controlplane/crwatcher/zz_generated.deepcopy.go
  pkg/policies/controlplane/provider.go
  pkg/policies/controlplane/validator.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Added post and delete APIs for policy in controller
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.gw.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/policy_grpc.pb.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  manifests/charts/aperture-agent/templates/agent-cr.yaml
  manifests/charts/aperture-controller/templates/controller-cr.yaml
  pkg/policies/controlplane/crwatcher/provide.go
  pkg/policies/controlplane/crwatcher/watcher.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/provider.go
  pkg/policies/controlplane/validator.go
  pkg/policies/paths/paths.go
  pkg/webhooks/policyvalidator/provide.go
Due: updated-aperture, updated-aperture-docs, updated-aperture-charts

Removed changes added for test and added openai suggestions
  cmd/aperturectl/cmd/installation/utils.go
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/values.yaml
  operator/controllers/controller/config_test.tpl
  pkg/policies/controlplane/provider.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-charts

Added patch call for policy API
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.gw.go
  api/gen/proto/go/aperture/policy/language/v1/policy_grpc.pb.go
  cmd/aperturectl/cmd/installation/utils.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/values.yaml
  pkg/policies/controlplane/crwatcher/provide.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/provider.go
Due: updated-aperture, updated-aperture-docs, updated-aperture-charts

Added support for uploading policy using API in aperturectl
  api/aperture/cmd/v1/cmd.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.gw.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/policy_grpc.pb.go
  cmd/aperturectl/cmd/apply/dynamic-config.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/apply/root.go
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/globals.go
  cmd/aperturectl/cmd/utils/controller.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/cmd/controller.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture, updated-aperture-docs

Fixes as per the observation during testing
  cmd/aperturectl/cmd/installation/utils.go
  manifests/charts/aperture-agent/templates/agent-deployment.yaml
  manifests/charts/aperture-controller/templates/controller-deployment.yaml
Due: updated-aperture, updated-aperture-charts

Remove policy from dynamic config tracker on delete
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture

Fixed OTEL overwrite kubeletstats metrics
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperture-agent/config/types.go
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/templates/_helpers.tpl
  manifests/charts/aperture-agent/templates/agent-cm.yaml
  manifests/charts/aperture-agent/templates/agent-deployment.yaml
  manifests/charts/aperture-agent/templates/agent-rbac.yaml
  manifests/charts/aperture-agent/templates/agent-secret.yaml
  manifests/charts/aperture-agent/templates/agent-service.yaml
  manifests/charts/aperture-controller/templates/controller-cm.yaml
  manifests/charts/aperture-controller/templates/controller-deployment.yaml
  manifests/charts/aperture-controller/templates/controller-rbac.yaml
  manifests/charts/aperture-controller/templates/controller-secret.yaml
  manifests/charts/aperture-controller/templates/controller-service.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Disabled OTEL Kubernetes discovery and controller certificate in agent
  cmd/aperture-agent/agent/otel-config.go
  cmd/aperture-agent/config/types.go
  cmd/aperturectl/cmd/installation/install.go
  cmd/aperturectl/cmd/installation/uninstall.go
  cmd/aperturectl/cmd/installation/utils.go
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/_helpers.tpl
  manifests/charts/aperture-agent/templates/agent-cm.yaml
  manifests/charts/aperture-agent/templates/agent-deployment.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/_helpers.tpl
  manifests/charts/aperture-controller/templates/controller-cm.yaml
  manifests/charts/aperture-controller/values.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/api/common/common_types.go
  operator/api/common/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps.go
  operator/controllers/agent/reconciler.go
  operator/controllers/constants.go
  operator/controllers/controller/configmaps.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/reconciler.go
  operator/controllers/namespace/reconciler.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
  pkg/policies/controlplane/crwatcher/provide.go
  playground/Tiltfile
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Fixed the aperturectl issue to find controller certificate
  cmd/aperturectl/cmd/apply/dynamic-config.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/apply/root.go
  cmd/aperturectl/cmd/installation/utils.go
  cmd/aperturectl/cmd/utils/controller.go
  cmd/aperturectl/cmd/utils/utils.go
Due: updated-aperture

Added documentation for aperture controller namespace scoped installation
  cmd/aperturectl/cmd/installation/utils.go
  docs/content/get-started/installation/controller/controller.md
  docs/content/get-started/installation/controller/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/controller/operator/operator.md
  docs/content/reference/kubernetes-operator/agent.md
  docs/content/reference/kubernetes-operator/controller.md
Due: updated-aperture, updated-aperture-docs

Uncomment code
  cmd/aperturectl/cmd/installation/install.go
  cmd/aperturectl/cmd/installation/uninstall.go
Due: updated-aperture

Agent namespace scoped installation docs
  cmd/aperturectl/cmd/installation/utils.go
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/_category_.yml
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/operator.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/get-started/installation/controller/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/controller/operator/operator.md
  docs/content/reference/aperturectl/agents/agents.md
  docs/content/reference/aperturectl/apply/apply.md
  docs/content/reference/aperturectl/apply/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/apply/policy/policy.md
  docs/content/reference/aperturectl/auto-scale/auto-scale.md
  docs/content/reference/aperturectl/auto-scale/control-points/control-points.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/discovery/discovery.md
  docs/content/reference/aperturectl/discovery/entities/entities.md
  docs/content/reference/aperturectl/flow-control/control-points/control-points.md
  docs/content/reference/aperturectl/flow-control/flow-control.md
  docs/content/reference/aperturectl/flow-control/preview/preview.md
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  pkg/agentfunctions/config/config.go
Due: updated-aperture, updated-aperture-docs

Updated comment on field
  pkg/policies/paths/paths.go
Due: updated-aperture

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
