Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

Fixup cp proto validation
  api/gen/proto/go/aperture/flowcontrol/controlpoints/v1/controlpoints.pb.validate.go
Due: updated-aperture

Add missing omitempty annotations
  cmd/aperture-agent/config/types.go
  docs/gen/config/agent/config-swagger.yaml
Due: updated-aperture, updated-aperture-docs

Tweak custom metric component name normalization to avoid `//`
  cmd/aperture-agent/agent/otel-config.go
Due: updated-aperture

Fix calling Start on wrong receiver
  pkg/otelcollector/leaderonlyreceiver/receiver.go
Due: updated-aperture

Make coverage run on xlarge machine
  .circleci/continue-workflows.yml
Due: none

Remove temporary logs
  pkg/otelcollector/leaderonlyreceiver/receiver.go
Due: updated-aperture

Add docs on metrics integrations in get-started
  docs/content/get-started/integrations/metrics/metrics.md
  docs/content/get-started/integrations/metrics/rabbitmq.md
Due: updated-aperture-docs

Increase coverage timeout
  .circleci/continue-workflows.yml
Due: none

backlink from reference
  cmd/aperture-agent/config/types.go
  docs/content/get-started/integrations/metrics/rabbitmq.md
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Use DocCardList in metrics.md
  docs/content/get-started/integrations/metrics/metrics.md
Due: updated-aperture-docs

Fix metrics processor test
  pkg/otelcollector/metricsprocessor/processor_test.go
Due: updated-aperture

Create proper cache
  test/aperture_suite_test.go
Due: updated-aperture

Revert "Increase coverage timeout"
  .circleci/continue-workflows.yml
Due: none

Publish . ./aperture-agent-v1.2.0-rc.2.tgz
  aperture-agent-v1.2.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v1.2.0-rc.2.tgz
  aperture-controller-v1.2.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v1.2.0-rc.2.tgz
  index.yaml
  istioconfig-v1.2.0-rc.2.tgz
Due: none

Publish . ./aperture-agent-v1.2.0.tgz
  aperture-agent-v1.2.0.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v1.2.0.tgz
  aperture-controller-v1.2.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v1.2.0.tgz
  index.yaml
  istioconfig-v1.2.0.tgz
Due: none

Rename GlobalCP to TypedGlobalCP and UntypedGlobalCP to GlobalCP
  pkg/cmd/controller.go
  pkg/policies/flowcontrol/selectors/control-point-id.go
Due: updated-aperture

8749 Fix ts. Add prepublishOnly
  sdks/aperture-js/example/routes/connected.ts
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
Due: none

8749 Comment path to proto
  sdks/aperture-js/sdk/consts.ts
Due: none

blueprints
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/policies/policies.libsonnet
  blueprints/policies/rabbitmq-queue-buildup/README.md
  blueprints/policies/rabbitmq-queue-buildup/bundle.libsonnet
  blueprints/policies/rabbitmq-queue-buildup/config.libsonnet
  blueprints/policies/rabbitmq-queue-buildup/dashboard.libsonnet
  blueprints/policies/rabbitmq-queue-buildup/dynamic-config.libsonnet
  blueprints/policies/rabbitmq-queue-buildup/metadata.yaml
  blueprints/policies/rabbitmq-queue-buildup/policy.libsonnet
  blueprints/policies/rabbitmq-queue-buildup/rabbitmq-queue-buildup.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  playground/resources/demo-app/app/app.go
  playground/resources/demo-app/go.mod
  playground/resources/demo-app/go.sum
  playground/scenarios/rabbitmq_queue_buildup/dashboards/main.jsonnet
  playground/scenarios/rabbitmq_queue_buildup/load_generator/test.js
  playground/scenarios/rabbitmq_queue_buildup/metadata.json
  playground/scenarios/rabbitmq_queue_buildup/policies/rabbitmq-queue-buildup.yaml
  playground/tanka/apps/demo-app/mixins.libsonnet
  playground/tanka/charts/demo-app/templates/deployment.yaml
  playground/tanka/charts/demo-app/values.yaml
Due: updated-aperture, updated-aperture-docs

Update agent config
  manifests/charts/aperture-agent/values.yaml
Due: updated-aperture-charts

Update aperturectl build example text
  cmd/aperturectl/cmd/build/build.go
Due: updated-aperture

Small fixes
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/std_components.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/flowcontrol/flowregulator/load-shaper.go
Due: updated-aperture, updated-aperture-docs

Fix duplicate prometheus vector registeration
  pkg/policies/flowcontrol/actuators/flowregulator/flow-regulator.go
Due: updated-aperture

Add rabbitmq queue buildup blueprint and scenario
  blueprints/policies/rabbitmq-queue-buildup/bundle.libsonnet
  blueprints/policies/rabbitmq-queue-buildup/config.libsonnet
  blueprints/policies/rabbitmq-queue-buildup/dashboard.libsonnet
  blueprints/policies/rabbitmq-queue-buildup/gen/definitions.json
  blueprints/policies/rabbitmq-queue-buildup/gen/dynamic-config-definitions.json
  blueprints/policies/rabbitmq-queue-buildup/gen/dynamic-config-values-required.yaml
  blueprints/policies/rabbitmq-queue-buildup/gen/dynamic-config-values.yaml
  blueprints/policies/rabbitmq-queue-buildup/gen/values-required.yaml
  blueprints/policies/rabbitmq-queue-buildup/gen/values.yaml
  blueprints/policies/rabbitmq-queue-buildup/policy.libsonnet
  docs/content/get-started/integrations/metrics/rabbitmq.md
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  pkg/otelcollector/leaderonlyreceiver/receiver.go
  playground/scenarios/rabbitmq_queue_buildup/load_generator/test.js
  playground/scenarios/rabbitmq_queue_buildup/metadata.json
  playground/scenarios/rabbitmq_queue_buildup/policies/rabbitmq-queue-buildup-cr.yaml
  playground/scenarios/rabbitmq_queue_buildup/policies/rabbitmq-queue-buildup.yaml
Due: updated-aperture, updated-aperture-docs

Fixes: Flow Regulator and Load Shaper working
  api/aperture/flowcontrol/check/v1/check.proto
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/std_components.proto
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/autoscale/kubernetes/discovery/autoscale-control-points.go
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/circuitfactory/flow-control-components.go
  pkg/policies/controlplane/components/signal-generator.go
  pkg/policies/flowcontrol/actuators/flowregulator/flow-regulator.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
Due: updated-aperture, updated-aperture-docs, updated-aperture-go, updated-aperture-java

Fix Flow Regulator Counter metrics
  pkg/policies/flowcontrol/actuators/flowregulator/flow-regulator.go
Due: updated-aperture

Fix Flow Regulator Counter metrics
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

Bug fix
  pkg/policies/flowcontrol/engine.go
Due: updated-aperture

Fixes. Remember to revert the traffic scenario before merging with main
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/std_components.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.validate.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/loadshaperouts.libsonnet
  blueprints/gen/v1/signalgeneratorouts.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/flow-control-components.go
  pkg/policies/controlplane/components/flowcontrol/flowregulator/load-shaper.go
  pkg/policies/controlplane/components/signal-generator.go
  playground/scenarios/rate_limiting_escalation/load_generator/test.js
Due: updated-aperture, updated-aperture-docs

Fix panic in leader-only receiver Shutdown
  pkg/otelcollector/leaderonlyreceiver/receiver.go
Due: updated-aperture

PodAutoScaler component for Kubernetes auto scaler
  api/aperture/policy/language/v1/autoscale.proto
  api/gen/proto/go/aperture/policy/language/v1/autoscale.pb.go
  api/gen/proto/go/aperture/policy/language/v1/autoscale.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/autoscale.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/autoscale_deepcopy.gen.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/autoscale.libsonnet
  blueprints/gen/v1/decreasinggradient.libsonnet
  blueprints/gen/v1/decreasinggradientins.libsonnet
  blueprints/gen/v1/decreasinggradientparameters.libsonnet
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/increasinggradient.libsonnet
  blueprints/gen/v1/increasinggradientins.libsonnet
  blueprints/gen/v1/increasinggradientparameters.libsonnet
  blueprints/gen/v1/kubernetesreplicas.libsonnet
  blueprints/gen/v1/podautoscaler.libsonnet
  blueprints/gen/v1/podautoscalerouts.libsonnet
  blueprints/gen/v1/scaleincontroller.libsonnet
  blueprints/gen/v1/scaleincontrollercontroller.libsonnet
  blueprints/gen/v1/scaleoutcontroller.libsonnet
  blueprints/gen/v1/scaleoutcontrollercontroller.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/content/tutorials/auto-scale/load-based-auto-scaling/assets/load-based-auto-scale.jsonnet
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/auto-scale-components.go
  pkg/policies/controlplane/components/autoscale/auto-scaler.go
  pkg/policies/controlplane/components/autoscale/pod-auto-scaler.go
  playground/scenarios/auto_scaling/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/auto_scaling/policies/load-based-auto-scale.yaml
Due: updated-aperture, updated-aperture-docs

Added dashboard panel and corrections in policy
  api/aperture/policy/language/v1/autoscale.proto
  api/gen/proto/go/aperture/policy/language/v1/autoscale.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/policies/kubernetes-auto-scaler/config.libsonnet
  blueprints/policies/kubernetes-auto-scaler/dashboard.libsonnet
  blueprints/policies/kubernetes-auto-scaler/gen/definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/values.yaml
  blueprints/policies/kubernetes-auto-scaler/policy.libsonnet
  cmd/aperturectl/cmd/blueprints/generate.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/bundled-blueprints/policies/kubernetes-auto-scaler.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  scripts/blueprint-assets-generator.py
Due: updated-aperture, updated-aperture-docs

Added blueprint for Kubernetes Auto scaler
  blueprints/policies/kubernetes-auto-scaler/README.md
  blueprints/policies/kubernetes-auto-scaler/bundle.libsonnet
  blueprints/policies/kubernetes-auto-scaler/config.libsonnet
  blueprints/policies/kubernetes-auto-scaler/dashboard.libsonnet
  blueprints/policies/kubernetes-auto-scaler/gen/definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/dynamic-config-definitions.json
  blueprints/policies/kubernetes-auto-scaler/gen/dynamic-config-values-required.yaml
  blueprints/policies/kubernetes-auto-scaler/gen/dynamic-config-values.yaml
  blueprints/policies/kubernetes-auto-scaler/gen/values-required.yaml
  blueprints/policies/kubernetes-auto-scaler/gen/values.yaml
  blueprints/policies/kubernetes-auto-scaler/kubernetes-auto-scaler.libsonnet
  blueprints/policies/kubernetes-auto-scaler/metadata.yaml
  blueprints/policies/kubernetes-auto-scaler/policy.libsonnet
  blueprints/policies/policies.libsonnet
  docs/content/reference/policies/bundled-blueprints/policies/kubernetes-auto-scaler.md
  scripts/blueprint-assets-generator.py
Due: updated-aperture-docs
