Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Fixed deployment sync issue for CRDs
  .circleci/config.yml
Due: none

Update blueprints
  blueprints/examples/graphql-rate-limiter/example.jsonnet
  blueprints/examples/graphql-rate-limiter/gen/graph/graph.dot
  blueprints/examples/graphql-rate-limiter/gen/graph/graph.svg
  blueprints/examples/graphql-rate-limiter/gen/policies/example.yaml
  blueprints/examples/rate-limiter/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/rate-limiter/config.libsonnet
  blueprints/lib/1.0/blueprints/rate-limiter/policy.libsonnet
Due: none

Add graphql-demoapp
  playground/Tiltfile
  playground/graphql_demo_app/Dockerfile
  playground/graphql_demo_app/go.mod
  playground/graphql_demo_app/go.sum
  playground/graphql_demo_app/gqlgen.yml
  playground/graphql_demo_app/graph/generated/generated.go
  playground/graphql_demo_app/graph/model/models_gen.go
  playground/graphql_demo_app/graph/model/todo.go
  playground/graphql_demo_app/graph/resolver.go
  playground/graphql_demo_app/graph/schema.graphqls
  playground/graphql_demo_app/graph/schema.resolvers.go
  playground/graphql_demo_app/server.go
  playground/graphql_demo_app/tools/tools.go
  playground/load_generator/scenarios/graphql_load_test.js
  playground/tanka/apps/graphql-demoapp/main.jsonnet
  playground/tanka/apps/graphql-demoapp/mixins.libsonnet
  playground/tanka/charts/graphql-demo-app/.helmignore
  playground/tanka/charts/graphql-demo-app/Chart.yaml
  playground/tanka/charts/graphql-demo-app/templates/_helpers.tpl
  playground/tanka/charts/graphql-demo-app/templates/deployment.yaml
  playground/tanka/charts/graphql-demo-app/templates/service.yaml
  playground/tanka/charts/graphql-demo-app/templates/serviceaccount.yaml
  playground/tanka/charts/graphql-demo-app/values.yaml
  playground/tanka/lib/apps/graphql-demoapp/main.libsonnet
Due: none

Remove log from graphql-demoapp
  playground/graphql_demo_app/graph/schema.resolvers.go
Due: none

Add DecisionType label to rate_limit_counter metric
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/flowcontrol/actuators/rate/rate-limiter.go
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/iface/limiter.go
  pkg/policies/mocks/mock_limiter.go
Due: updated-aperture

Fix pre-commit issue
  playground/graphql_demo_app/graph/schema.resolvers.go
Due: none

Prepare for release 0.10.0
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-charts

Fixed Helm version check error on release
  .circleci/scripts/helm_release.sh
Due: none

Publish . ./aperture-controller-v0.10.0-rc.1.tgz
  aperture-controller-v0.10.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v0.10.0-rc.1.tgz
  aperture-agent-v0.10.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.10.0-rc.1.tgz
  index.yaml
  istioconfig-v0.10.0-rc.1.tgz
Due: none

Fix metricsprocessor test
  pkg/otelcollector/metricsprocessor/processor_test.go
Due: updated-aperture

Export the version variables from introduction.md. Other pages can import from here.
  docs/content/get-started/policies/blueprints.md
  docs/content/introduction.md
Due: updated-aperture-docs

Enable race detector for agent and controller
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  pkg/info/build.sh
  pkg/plugins/build.sh
  playground/Tiltfile
Due: updated-aperture

Fixed multiple definition error on build
  .circleci/config.yml
Due: none

Publish . ./aperture-agent-v0.10.0-rc.2.tgz
  aperture-agent-v0.10.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.10.0-rc.2.tgz
  aperture-controller-v0.10.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.10.0-rc.2.tgz
  index.yaml
  istioconfig-v0.10.0-rc.2.tgz
Due: none

Publish . ./aperture-agent-v0.10.0.tgz
  aperture-agent-v0.10.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.10.0.tgz
  index.yaml
  istioconfig-v0.10.0.tgz
Due: none

Publish . ./aperture-controller-v0.10.0.tgz
  aperture-controller-v0.10.0.tgz
  index.yaml
Due: none

Make otel debug and healthcheck ports configurable
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/config_test.tpl
  operator/controllers/controller/configmaps_test.go
  pkg/otelcollector/config.go
  pkg/otelcollector/zz_generated.deepcopy.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Define otel ports as container ports as well
  manifests/charts/aperture-agent/templates/deployment.yaml
  manifests/charts/aperture-controller/templates/deployment.yaml
Due: updated-aperture-charts

Docs: Fix version used for link templating; Fix Introduction heading displaying twice
  docs/content/introduction.md
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.svg
Due: updated-aperture-docs

Update graphQL rate limiting policy
  blueprints/examples/graphql-rate-limiter/gen/graph/graph.dot
  blueprints/examples/graphql-rate-limiter/gen/graph/graph.svg
  blueprints/examples/graphql-rate-limiter/gen/policies/example.yaml
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting-counter.png
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.jsonnet
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.yaml
  docs/content/tutorials/flow-control/graphql-rate-limiting.md
  playground/load_generator/scenarios/graphql_load_test.js
Due: updated-aperture-docs

Make gradle generate a JAR file with all dependencies included
  sdks/aperture-java/build.gradle.kts
  sdks/aperture-java/gradle/wrapper/gradle-wrapper.jar
  sdks/aperture-java/gradle/wrapper/gradle-wrapper.properties
  sdks/aperture-java/gradlew
  sdks/aperture-java/gradlew.bat
  sdks/aperture-java/settings.gradle.kts
Due: updated-aperture-java

Update base machine executor
  .circleci/continue-workflows.yml
Due: none

Workaround for expired Heroku apt key
  .circleci/continue-workflows.yml
Due: none

Improve visibility of sampled logs
  pkg/alerts/alert.go
  pkg/log/log.go
  pkg/log/samplers.go
  pkg/otelcollector/alertsreceiver/processor.go
  pkg/otelcollector/helpers.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/sdk_labels.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
  pkg/policies/flowcontrol/actuators/concurrency/load-actuator.go
  pkg/policies/flowcontrol/resources/classifier/classification-engine.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  pkg/watchdog/watchdog.go
  playground/demo_app/app/app.go
  playground/demo_app/go.mod
Due: updated-aperture, updated-demo-app

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
