Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app

.circleci/config.yml:

version: 2.1

# this allows to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

workflows:
  version: 2
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
        - not:
            matches:
              &is_not_empty_tag {
                value: << pipeline.git.tag >>,
                pattern: "^.+$",
              }
        - not: &scheduled
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
    jobs:
      - path-filtering/filter: &path_filtering_job
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/continue-workflows.yml
          mapping: |
            (cmd|pkg|plugins|tools|api)/.* updated-aperture true
            operator/(api|config|controllers|hack)/.*|operator/main.go updated-aperture-operator true
            (go.mod|go.sum) updated-aperture true
            docs/.* updated-aperture-docs true
            manifests/charts/.* updated-aperture-charts true
            tools/demo_app/.* updated-demo-app true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
        - not:
            matches: *is_not_empty_tag
        - not: *scheduled
    jobs:
      - path-filtering/filter:
          <<: *path_filtering_job
          base-revision: main
  release:
    when:
      matches: { value: << pipeline.git.tag >>, pattern: "^releases/.*$" }
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release.yaml

Remove unused imports in aperture-java
  sdks/aperture-java/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
Due: none

checkpoint
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/blueprints/latency-gradient/main.libsonnet
  blueprints/lib/1.0/_gen/v1/component.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  blueprints/lib/1.0/_gen/v1/sink.libsonnet
  blueprints/lib/1.0/_gen/v1/sinkins.libsonnet
  blueprints/lib/1.0/dashboards/signals/signals.libsonnet
  blueprints/scripts/aperture-generate.py
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/policies/blueprints.md
  docs/content/policies/tutorial/assets/signal-processing/signal-processing.jsonnet
  docs/content/policies/tutorial/assets/signal-processing/signal-processing.mmd
  docs/content/policies/tutorial/assets/signal-processing/signal-processing.mmd.md5sum
  docs/content/policies/tutorial/assets/signal-processing/signal-processing.mmd.png
  docs/content/policies/tutorial/assets/signal-processing/signal-processing.mmd.svg
  docs/content/policies/tutorial/assets/signal-processing/signal-processing.yaml
  docs/content/policies/tutorial/assets/signal-processing/signals-dashboard.json
  docs/content/policies/tutorial/assets/signal-processing/signals-dashboard.jsonnet
  docs/content/policies/tutorial/assets/static-rate-limiting/static-rate-limiting.jsonnet
  docs/content/policies/tutorial/assets/static-rate-limiting/static-rate-limiting.yaml
  docs/content/policies/tutorial/signal-processing.md
  docs/content/policies/tutorial/static-rate-limiting.md
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/components/sink.go
Due: updated-aperture, updated-aperture-docs

Missing files
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
  pkg/policies/dataplane/actuators/concurrency/load-actuator.go
  pkg/policies/dataplane/actuators/concurrency/scheduler/token-bucket-load-multiplier.go
Due: updated-aperture

add screenshots
  docs/content/policies/tutorial/assets/signal-processing/is_overload_switch.png
  docs/content/policies/tutorial/assets/signal-processing/latency.png
  docs/content/policies/tutorial/assets/signal-processing/latency_ema.png
  docs/content/policies/tutorial/assets/signal-processing/latency_setpoint.png
  docs/content/policies/tutorial/signal-processing.md
Due: updated-aperture-docs

fix test
  pkg/policies/dataplane/actuators/concurrency/scheduler/wfq_test.go
Due: updated-aperture

Run jb install also in generate-doc-assets hook
  docs/tools/jsonnet/generate_jsonnet.sh
Due: updated-aperture-docs

rollupprocessor: Apply per-batch attribute cardinality limit
  cmd/aperture-agent/agent/otel-component.go
  docs/content/concepts/flow-control/flow-label.md
  pkg/otelcollector/rollupprocessor/config.go
  pkg/otelcollector/rollupprocessor/factory.go
  pkg/otelcollector/rollupprocessor/processor.go
  pkg/otelcollector/rollupprocessor/processor_test.go
Due: updated-aperture, updated-aperture-docs

Parse map to check defualts/validation
  pkg/policies/controlplane/validator_test.go
Due: updated-aperture

Job metrics rework
  pkg/jobs/job-group.go
  pkg/jobs/job-tracker.go
  pkg/jobs/job.go
  pkg/jobs/jobs_test.go
  pkg/jobs/multi-job.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/actuators/rate/ratetracker/rate-tracker_test.go
  pkg/watchdog/watchdog.go
Due: updated-aperture

Add jobs for building aperture-java
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .pre-commit-config.yaml
Due: none

Update aperture-java example
  sdks/aperture-java/src/main/java/com/fluxninja/aperture/example/App.java
Due: none

Fix paths for aperture-java
  .circleci/config.yml
  .circleci/continue-workflows.yml
Due: none

Fix cache names for aperture-java
  .circleci/continue-workflows.yml
Due: none

Use -p for running npm package when using npx
  manifests/charts/Makefile
Due: updated-aperture-charts

Update protoc-gen-go-deepcopy and copy go stubs to sdks/aperture-go
  api/Makefile
  api/buf.gen.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_deepcopy.gen.go
  api/gen/proto/go/aperture/common/info/v1/info_deepcopy.gen.go
  api/gen/proto/go/aperture/common/labelmatcher/v1/labelmatcher_deepcopy.gen.go
  api/gen/proto/go/aperture/common/peers/v1/peers_deepcopy.gen.go
  api/gen/proto/go/aperture/common/selector/v1/selector_deepcopy.gen.go
  api/gen/proto/go/aperture/common/status/v1/status_deepcopy.gen.go
  api/gen/proto/go/aperture/common/watchdog/v1/watchdog_deepcopy.gen.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/decisions/v1/decisions_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/classifier_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/policy_view_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/signal_metrics_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/wrappers/v1/common_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/wrappers/v1/config_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/wrappers/v1/decisions_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/wrappers/v1/policy_deepcopy.gen.go
  sdks/aperture-go/gen/proto/flowcontrol/v1/flowcontrol.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/v1/flowcontrol.pb.json.go
  sdks/aperture-go/gen/proto/flowcontrol/v1/flowcontrol_deepcopy.gen.go
  sdks/aperture-go/gen/proto/flowcontrol/v1/flowcontrol_grpc.pb.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
Due: updated-aperture

Update go.mod
  go.mod
Due: updated-aperture

Policy to map[string]interface{} & clean up
  go.mod
  go.sum
  pkg/policies/controlplane/validator_test.go
Due: updated-aperture

Remove comments
  pkg/policies/controlplane/validator_test.go
Due: updated-aperture

Fix go-mod-tidy
  go.mod
Due: updated-aperture

Clean up
  pkg/policies/controlplane/validator_test.go
Due: updated-aperture

Add send_batch_max_size option
  cmd/aperture-agent/agent/otel-component.go
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/config_test.tpl
  operator/controllers/controller/configmaps_test.go
  pkg/otelcollector/config.go
  pkg/otelcollector/zz_generated.deepcopy.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Publish . ./aperture-agent-v0.6.1-rc.1.tgz
  aperture-agent-v0.6.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.6.1-rc.1.tgz
  aperture-controller-v0.6.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.6.1-rc.1.tgz
  index.yaml
  istioconfig-v0.6.1-rc.1.tgz
Due: none

Publish . ./aperture-agent-v0.6.1.tgz
  aperture-agent-v0.6.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.6.1.tgz
  index.yaml
  istioconfig-v0.6.1.tgz
Due: none

Publish . ./aperture-controller-v0.6.1.tgz
  aperture-controller-v0.6.1.tgz
  index.yaml
Due: none
