Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app

.circleci/config.yml:

version: 2.1

# this allows to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

workflows:
  version: 2
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
        - not:
            matches:
              &is_not_empty_tag {
                value: << pipeline.git.tag >>,
                pattern: "^.+$",
              }
        - not: &scheduled
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
    jobs:
      - path-filtering/filter: &path_filtering_job
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/continue-workflows.yml
          mapping: |
            (cmd|pkg|plugins|tools|api)/.* updated-aperture true
            operator/(api|config|controllers|hack)/.*|operator/main.go updated-aperture-operator true
            (go.mod|go.sum) updated-aperture true
            docs/.* updated-aperture-docs true
            manifests/charts/.* updated-aperture-charts true
            tools/demo_app/.* updated-demo-app true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
        - not:
            matches: *is_not_empty_tag
        - not: *scheduled
    jobs:
      - path-filtering/filter:
          <<: *path_filtering_job
          base-revision: main
  release:
    when:
      matches: { value: << pipeline.git.tag >>, pattern: "^releases/.*$" }
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release.yaml

Add validation for ApertureWorkloadStartTimestampLabel and fail upon error
  cmd/sdk-validator/main.go
  cmd/sdk-validator/validator/trace.go
Due: updated-aperture

add to signal dashboard
  blueprints/lib/1.0/dashboards/signals/signals.libsonnet
Due: none

add signals dashboard to the blueprint
  blueprints/blueprints/latency-gradient/README.md
  blueprints/blueprints/latency-gradient/config.libsonnet
  blueprints/blueprints/latency-gradient/example/example.jsonnet
  blueprints/blueprints/latency-gradient/example/gen/dashboards/example-signals.json
  blueprints/blueprints/latency-gradient/main.libsonnet
  blueprints/blueprints/latency-gradient/metadata.yaml
  blueprints/lib/1.0/dashboards/signals/signals.libsonnet
  blueprints/scripts/blueprint-readme-generator.py
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: none

Add aperture-go sdk
  .codespellignore
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/LICENSE
  sdks/aperture-go/README.md
  sdks/aperture-go/example/main.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/scripts/golangci_lint.sh
  sdks/aperture-go/scripts/manage_tools.sh
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/const.go
  sdks/aperture-go/sdk/flow-status-string.go
  sdks/aperture-go/sdk/flow.go
Due: none

Return error in status service
  pkg/status/status-service.go
Due: updated-aperture

Checkpoint Concurrency Actuator
  api/aperture/policy/decisions/v1/decisions.proto
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/wrappers/v1/decisions.proto
  api/gen/proto/go/aperture/policy/decisions/v1/decisions.pb.go
  api/gen/proto/go/aperture/policy/decisions/v1/decisions.pb.json.go
  api/gen/proto/go/aperture/policy/decisions/v1/decisions_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/wrappers/v1/decisions.pb.go
  api/gen/proto/go/aperture/policy/wrappers/v1/decisions.pb.json.go
  api/gen/proto/go/aperture/policy/wrappers/v1/decisions_deepcopy.gen.go
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  blueprints/lib/1.0/_gen/v1/concurrencyactuator.libsonnet
  blueprints/lib/1.0/_gen/v1/concurrencyactuatorins.libsonnet
  blueprints/lib/1.0/_gen/v1/concurrencylimiter.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.md5sum
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.png
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.svg
  docs/content/references/configuration/policies.md
  docs/gen/policies/gen.yaml
  pkg/metrics/schema.go
  pkg/otelcollector/config.go
  pkg/policies/common/paths.go
  pkg/policies/controlplane/components/actuators/concurrency/concurrency-actuator.go
  pkg/policies/controlplane/components/actuators/concurrency/load-shed-actuator.go
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-actuator.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/concurrency/scheduler/token-bucket.go
  playground/load_generator/scenarios/load_test.js
Due: updated-aperture, updated-aperture-docs

Start checking for plugin build errors in Dockerfiles 🙃
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  playground/Tiltfile
Due: updated-aperture

Embed grpcui module & Add flag enabling grpcui
  go.mod
  go.sum
  pkg/net/grpc/server.go
  pkg/net/grpcui/provide.go
  pkg/platform/platform.go
Due: updated-aperture

Fix go-mod-tidy
  go.mod
  go.sum
Due: updated-aperture

Stop watching code directly from Tiltfile
  playground/Tiltfile
Due: none

Add opsninja repository configuration for deployment pipeline
  .opsninja.yaml
Due: none

Add Validation tests for latencyGradientPolicy
  pkg/policies/controlplane/validator_test.go
Due: updated-aperture

Close grpc connection onStop
  pkg/net/grpcui/provide.go
Due: updated-aperture

Clean up & fix duplicate metrics delete
  pkg/jobs/job-group.go
  pkg/jobs/job-metrics.go
  pkg/jobs/jobs_test.go
  pkg/jobs/multi-job.go
Due: updated-aperture

Unregister metrics & verification
  pkg/jobs/multi-job.go
Due: updated-aperture

Minor clean up
  pkg/jobs/multi-job.go
Due: updated-aperture

Revert metrics unregister in multi-job
  pkg/jobs/multi-job.go
Due: updated-aperture

add lock when updating auto-tokens
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.dot
  blueprints/blueprints/latency-gradient/example/gen/graph/graph.svg
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.md5sum
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.png
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.svg
  pkg/policies/controlplane/circuit-graph.go
  pkg/policies/dataplane/actuators/concurrency/auto-tokens.go
Due: updated-aperture, updated-aperture-docs

undo
  pkg/policies/dataplane/actuators/concurrency/auto-tokens.go
Due: updated-aperture

Checkpoint
  pkg/net/grpc/server.go
  pkg/net/grpcui/provide.go
Due: updated-aperture

Add job for running sdk validator
  .circleci/config.yml
  .circleci/continue-workflows.yml
  cmd/sdk-validator/main.go
Due: updated-aperture

Update comment on Flow interface in aperture-go
  sdks/aperture-go/sdk/flow.go
Due: none

Fix when condition for aperture-go workflow
  .circleci/continue-workflows.yml
Due: none

Fix validate-sdk parameters
  .circleci/continue-workflows.yml
Due: none

Add parameters to validate-sdk job and pass them in aperture-go workflow
  .circleci/continue-workflows.yml
Due: none

Fix parameters in aperture-go workflow
  .circleci/continue-workflows.yml
Due: none

Fix missing parameters in aperture-go workflow
  .circleci/continue-workflows.yml
Due: none
