Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Rework Elasticsearch query and java gc blueprints
  blueprints/load-scheduling/elasticsearch/bundle.libsonnet
  blueprints/load-scheduling/java-gc-generic/utils.libsonnet
  blueprints/load-scheduling/java-gc-k8s/utils.libsonnet
  playground/scenarios/elasticsearch-overload/policies/service1-demoapp-elasticsearch-overload-cr.yaml
  playground/scenarios/java-gc-service-protection/policies/java-gc-service-protection-cr.yaml
Due: updated-blueprints

update olric
  go.mod
  go.sum
  pkg/rate-limiter/test/rate-limiter_test.go
Due: updated-aperture

logging: add log when new token buckets are instantiated
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Due: updated-aperture

update text and remove extra the
  docs/content/get-started/installation/aperture-cli/aperture-cli.md
Due: updated-aperture-docs

Minor improvement
  blueprints/grafana/creator.libsonnet
Due: updated-blueprints

Publish . ./istioconfig-v2.19.1-rc.1.tgz
  index.yaml
  istioconfig-v2.19.1-rc.1.tgz
Due: none

Publish . ./aperture-agent-v2.19.1-rc.1.tgz ./index.yaml
  aperture-agent-v2.19.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.19.1-rc.1.tgz ./index.yaml
  aperture-controller-v2.19.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v2.19.1.tgz
  aperture-agent-v2.19.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.19.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.19.1.tgz
Due: none

Publish . ./aperture-controller-v2.19.1.tgz ./index.yaml
  aperture-controller-v2.19.1.tgz
  index.yaml
Due: none

Add policy hash to UpsertPolicy response
  api/aperture/cloud/v1/policy.proto
  api/aperture/cmd/v1/cmd.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/cloud/v1/policy.pb.go
  api/gen/proto/go/aperture/cloud/v1/policy_grpc.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy_vtproto.pb.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/cloud/apply/policy.go
  cmd/aperturectl/cmd/utils/controller-client.go
  cmd/aperturectl/cmd/utils/policies.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/cmd/controller.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/policy.go
  pkg/utils/grpc_fieldmask.go
Due: updated-aperture, updated-aperture-docs

Add basic readme for python SDK
  sdks/aperture-py/README.md
  sdks/aperture-py/pyproject.toml
Due: updated-aperture-py

Warn instead of throwing exception when ending an already ended flow
  sdks/aperture-py/aperture_sdk/flow.py
Due: updated-aperture-py

Python SDK: make check timeout configurable at flow level
  docs/content/integrations/sdk/python/manual.md
  sdks/aperture-py/aperture_sdk/client.py
Due: updated-aperture-docs, updated-aperture-py

Set keepalive options
  sdks/aperture-py/README.md
  sdks/aperture-py/aperture_sdk/client.py
Due: updated-aperture-py

readme updates
  sdks/aperture-py/README.md
Due: updated-aperture-py

Add inframeter to missing receiver dashboard queries
  blueprints/grafana/panels/elasticsearch/es_time_series.libsonnet
  blueprints/grafana/panels/pgsql/pgsql_static.libsonnet
  blueprints/grafana/panels/pgsql/pgsql_time_series.libsonnet
  blueprints/grafana/panels/rabbitmq/rmq_static.libsonnet
  blueprints/grafana/panels/rabbitmq/rmq_time_series.libsonnet
Due: updated-blueprints

Update introduction
  README.md
  docs/content/introduction.md
Due: updated-aperture-docs

update architecture image
  docs/content/assets/img/aperture-architecture-dark.svg
  docs/content/assets/img/aperture-architecture-light.svg
Due: updated-aperture-docs

Add support for personal api-key in tilt
  playground/Tiltfile
  playground/scripts/render-policy.sh
Due: none

grpc: add server keepalive parameters
  pkg/net/grpc/server.go
Due: updated-aperture

Add cloud blueprints CRUD support
  api/aperture/cloud/v1/blueprints.proto
  api/buf.lock
  api/gen/proto/go/aperture/cloud/v1/blueprints.pb.go
  api/gen/proto/go/aperture/cloud/v1/blueprints.pb.gw.go
  api/gen/proto/go/aperture/cloud/v1/blueprints.pb.json.go
  api/gen/proto/go/aperture/cloud/v1/blueprints.pb.validate.go
  api/gen/proto/go/aperture/cloud/v1/blueprints_grpc.pb.go
  api/gen/proto/go/aperture/cloud/v1/blueprints_vtproto.pb.go
  cmd/aperturectl/cmd/cloud/blueprints/apply.go
  cmd/aperturectl/cmd/cloud/blueprints/common.go
  cmd/aperturectl/cmd/cloud/blueprints/delete.go
  cmd/aperturectl/cmd/cloud/blueprints/get.go
  cmd/aperturectl/cmd/cloud/blueprints/list.go
  cmd/aperturectl/cmd/cloud/blueprints/root.go
  cmd/aperturectl/cmd/cloud/root.go
  cmd/aperturectl/cmd/cloud/utils/controller.go
  cmd/aperturectl/cmd/utils/controller-client.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/aperturectl/cloud/blueprints/Apply/Apply.md
  docs/content/reference/aperturectl/cloud/blueprints/blueprints.md
  docs/content/reference/aperturectl/cloud/blueprints/delete/delete.md
  docs/content/reference/aperturectl/cloud/blueprints/get/get.md
  docs/content/reference/aperturectl/cloud/blueprints/list/list.md
  docs/content/reference/aperturectl/cloud/cloud.md
Due: updated-aperture, updated-aperture-docs

lint fixes
  cmd/aperture-controller/controller.go
  pkg/agent-functions/agents/agents.go
  pkg/agent-functions/flowcontrol-controlpoints.go
  pkg/agent-functions/preview.go
  pkg/agent-functions/provide.go
  pkg/discovery/entities/entities-service.go
  pkg/etcd/transport/client.go
  pkg/etcd/transport/server.go
  pkg/policies/autoscale/kubernetes/service/controlpoints/control-points.go
Due: updated-aperture

register discovery functions
  pkg/cmd/controller.go
  pkg/discovery/entities/entities-service.go
  pkg/etcd/transport/server.go
Due: updated-aperture

better error message
  pkg/etcd/transport/server.go
Due: updated-aperture

remove client watch timeout
  pkg/etcd/transport/client.go
  pkg/etcd/transport/server.go
Due: updated-aperture

handler non-recovarable watch failures
  pkg/agent-functions/agents/agents.go
  pkg/etcd/transport/client.go
  pkg/etcd/transport/server.go
Due: updated-aperture

etcd based rpc
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  pkg/agent-functions/agents/agents.go
  pkg/agent-functions/flowcontrol-controlpoints.go
  pkg/agent-functions/preview.go
  pkg/agent-functions/provide.go
  pkg/etcd/transport/client.go
  pkg/etcd/transport/paths.go
  pkg/etcd/transport/server.go
  pkg/policies/autoscale/kubernetes/service/controlpoints/control-points.go
Due: updated-aperture

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
