Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

update OpenAI Guide
  docs/content/guides/api-quota-management/assets/openai/quota-scheduler-blueprint.png
  docs/content/guides/api-quota-management/openai.md
Due: updated-aperture-docs

update openAI guide code snippet
  docs/content/guides/api-quota-management/openai.md
Due: updated-aperture-docs

fix vale issues
  docs/content/guides/api-quota-management/openai.md
Due: updated-aperture-docs

Fixes
  api/aperture/policy/language/v1/label_matcher.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/selector.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/selectors/selector.go
Due: updated-aperture, updated-aperture-docs, updated-blueprints

Add python docs generation to pre-commit
  .pre-commit-config.yaml
  requirements.txt
  scripts/precommit/generate_aperturepy_docs.sh
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/docs/all-documents.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlService.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceServicer.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceStub.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.html
  sdks/aperture-py/docs/aperture_sdk._gen.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyDeleteResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyLookupResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyUpsertResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.LookupStatus.html
  sdks/aperture-py/docs/aperture_sdk.cache.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureClient.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureCloudAuthMetadataPlugin.html
  sdks/aperture-py/docs/aperture_sdk.client.FlowParams.html
  sdks/aperture-py/docs/aperture_sdk.client.html
  sdks/aperture-py/docs/aperture_sdk.const.html
  sdks/aperture-py/docs/aperture_sdk.flow.Flow.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowDecision.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowStatus.html
  sdks/aperture-py/docs/aperture_sdk.flow.html
  sdks/aperture-py/docs/aperture_sdk.utils.html
  sdks/aperture-py/docs/classIndex.html
  sdks/aperture-py/docs/fullsearchindex.json
  sdks/aperture-py/docs/index.html
  sdks/aperture-py/docs/moduleIndex.html
  sdks/aperture-py/docs/nameIndex.html
  sdks/aperture-py/docs/objects.inv
  sdks/aperture-py/docs/searchindex.json
  sdks/aperture-py/docs/undoccedSummary.html
  sdks/aperture-py/pyproject.toml
Due: updated-aperture-py

Make python docs look a bit better
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlService.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceServicer.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.FlowControlServiceStub.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.check_pb2_grpc.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.check.v1.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.flowcontrol.html
  sdks/aperture-py/docs/aperture_sdk._gen.aperture.html
  sdks/aperture-py/docs/aperture_sdk._gen.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyDeleteResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyLookupResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.KeyUpsertResponse.html
  sdks/aperture-py/docs/aperture_sdk.cache.LookupStatus.html
  sdks/aperture-py/docs/aperture_sdk.cache.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureClient.html
  sdks/aperture-py/docs/aperture_sdk.client.ApertureCloudAuthMetadataPlugin.html
  sdks/aperture-py/docs/aperture_sdk.client.FlowParams.html
  sdks/aperture-py/docs/aperture_sdk.client.html
  sdks/aperture-py/docs/aperture_sdk.const.html
  sdks/aperture-py/docs/aperture_sdk.flow.Flow.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowDecision.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowStatus.html
  sdks/aperture-py/docs/aperture_sdk.flow.html
  sdks/aperture-py/docs/aperture_sdk.utils.html
  sdks/aperture-py/docs/classIndex.html
  sdks/aperture-py/docs/index.html
  sdks/aperture-py/docs/moduleIndex.html
  sdks/aperture-py/docs/nameIndex.html
  sdks/aperture-py/docs/undoccedSummary.html
  sdks/aperture-py/pyproject.toml
Due: updated-aperture-py

Update label_matcher.proto and label_matcher.pb.go
  api/aperture/policy/language/v1/label_matcher.proto
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs, updated-blueprints

Update CircleCI orbs and job names
  .circleci/continue-workflows.yml
Due: none

Update deprecated field names in flowcontrol.proto and label_matcher.proto
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/label_matcher.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs, updated-blueprints

Update OpenAI Guide with form builder screenshots
  docs/content/guides/api-quota-management/assets/openai/gpt-4-rpm.png
  docs/content/guides/api-quota-management/assets/openai/gpt-4-tpm.png
  docs/content/guides/api-quota-management/openai.md
Due: updated-aperture-docs

Publish . ./aperture-controller-v2.26.0-rc.1.tgz
  aperture-controller-v2.26.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.26.0-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.26.0-rc.1.tgz
Due: none

Publish . ./aperture-agent-v2.26.0-rc.1.tgz ./index.yaml
  aperture-agent-v2.26.0-rc.1.tgz
  index.yaml
Due: none

Update Termination Grace Period Seconds from operator
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/deployment.go
  operator/controllers/controller/deployment.go
Due: updated-aperture-operator

Add event based Olric metrics
  pkg/dist-cache/dist-cache-metrics.go
  pkg/dist-cache/dist-cache.go
  pkg/dist-cache/provider.go
  pkg/metrics/schema.go
Due: updated-aperture

Fix typo
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-controller/crds/fluxninja.com_controllers.yaml
  operator/api/common/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture-operator, updated-aperture-charts

Review fixes
  pkg/dist-cache/dist-cache.go
  pkg/dist-cache/provider.go
Due: updated-aperture

Enable cluster events channel
  pkg/dist-cache/provider.go
Due: updated-aperture

Change TTL in aperturectl to be seconds instead of millis
  cmd/aperturectl/cmd/cloud/globalcache/set.go
  cmd/aperturectl/cmd/cloud/resultcache/set.go
  cmd/aperturectl/cmd/globalcache/set.go
  cmd/aperturectl/cmd/resultcache/set.go
  docs/content/reference/aperture-cli/aperturectl/cloud/global-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/cloud/result-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/global-cache/set/set.md
  docs/content/reference/aperture-cli/aperturectl/result-cache/set/set.md
Due: updated-aperture, updated-aperture-docs

restore yaml and fix issues
  docs/content/guides/api-quota-management/openai.md
Due: updated-aperture-docs

Export CacheEntry members and fix a crash in SetResultCache
  sdks/aperture-go/sdk/flow.go
Due: updated-aperture-go

remove form screenshots and agent group
  docs/content/guides/api-quota-management/assets/openai/gpt-4-rpm.png
  docs/content/guides/api-quota-management/assets/openai/gpt-4-tpm.png
  docs/content/guides/api-quota-management/openai.md
Due: updated-aperture-docs

Minor fomatting and link fixes in docs
  docs/content/concepts/advanced/agent-group.md
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
Due: updated-aperture-docs

last fix
  docs/content/guides/api-quota-management/openai.md
Due: updated-aperture-docs

fix vale
  docs/content/guides/api-quota-management/openai.md
Due: updated-aperture-docs

Support caching in java sdk
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/FeatureFlowParameters.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/KeyDeleteResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/KeyLookupResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/KeyUpsertResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/LookupStatus.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/cache/Utils.java
Due: updated-aperture-java

Add Caching to introduction and readme
  README.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/introduction.md
Due: updated-aperture-docs

Add Executable Examples in Typescript SDK
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
  sdks/aperture-js/example/quota_scheduler_example.ts
  sdks/aperture-js/example/rate_limit_example.ts
Due: updated-aperture-js

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
