Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

aperture-js: fix json convertion of all duration fields
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture-js

Avoid controller depending on agentinfo
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/election.go
  docs/content/reference/configuration/controller.md
  docs/gen/config/controller/config-swagger.yaml
  pkg/etcd/election/agent/agentelection.go
  pkg/etcd/election/election.go
Due: updated-aperture, updated-aperture-docs

Update traffic pattern in graceful-js scenario
  playground/scenarios/graceful-js/load-generator/test.js
Due: none

aperture-js: fix json convertion of all duration fields
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture-js

Convert `AdaptiveLoadScheduler` into `AIMDLoadScheduler` in factory layer
  pkg/policies/controlplane/circuitfactory/flow-control-components.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/adaptive-load-scheduler.go
Due: updated-aperture

final clean ups
  blueprints/grafana/panels/grouped/pgsql.libsonnet
  blueprints/grafana/panels/pgsql/active_connections.libsonnet
  blueprints/grafana/panels/pgsql/backends.libsonnet
  blueprints/grafana/panels/pgsql/bgwriter_signals.libsonnet
  blueprints/grafana/panels/pgsql/cache_hit_idx.libsonnet
  blueprints/grafana/panels/pgsql/cache_hit_table.libsonnet
  blueprints/grafana/panels/pgsql/checkpoint_comparison.libsonnet
  blueprints/grafana/panels/pgsql/commits_vs_rollbacks.libsonnet
  blueprints/grafana/panels/pgsql/db_count.libsonnet
  blueprints/grafana/panels/pgsql/db_size.libsonnet
  blueprints/grafana/panels/pgsql/heap_vs_index.libsonnet
  blueprints/grafana/panels/pgsql/max_connections.libsonnet
  blueprints/grafana/panels/pgsql/operations.libsonnet
  blueprints/grafana/panels/pgsql/table_count.libsonnet
  blueprints/grafana/panels/pgsql/table_size.libsonnet
  blueprints/grafana/panels/pgsql/top_tables_disk.libsonnet
  blueprints/grafana/panels/pgsql/top_tables_rows.libsonnet
  blueprints/grafana/panels/wfq_scheduler_flows.libsonnet
  blueprints/grafana/panels/wfq_scheduler_heap_requests.libsonnet
  blueprints/grafana/utils/bar_chart_panel.libsonnet
  blueprints/grafana/utils/bar_gauge_panel.libsonnet
Due: updated-blueprints

Add filters to postgres promql query
  blueprints/load-scheduling/postgresql/policy.libsonnet
  playground/scenarios/graceful-js/policies/postgres-connections-cr.yaml
Due: updated-blueprints

aperture-js: set additional grpc options
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: updated-aperture-js

Ignore `overload_condition` field values from language check
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs, updated-blueprints

Create Dashboards per receiver in inframeter
  blueprints/grafana/creator.libsonnet
  blueprints/grafana/dashboard_group.libsonnet
  blueprints/grafana/panel_library.libsonnet
  blueprints/grafana/pgsql_dashboard.libsonnet
  blueprints/load-scheduling/postgresql/bundle.libsonnet
  cmd/aperturectl/cmd/blueprints/generate.go
  playground/resources/grafana-dashboard/main.libsonnet
Due: updated-aperture, updated-blueprints

check if inframeters is not null
  blueprints/grafana/creator.libsonnet
Due: updated-blueprints

Create Receiver Dashboard Array
  blueprints/grafana/creator.libsonnet
  blueprints/grafana/dashboard_group.libsonnet
  blueprints/grafana/panel_library.libsonnet
  blueprints/grafana/panels/pgsql/commits_vs_rollbacks.libsonnet
  blueprints/grafana/panels/pgsql/max_connections.libsonnet
  blueprints/load-scheduling/postgresql/bundle.libsonnet
  cmd/aperturectl/cmd/blueprints/generate.go
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/elasticsearch-overload/policies/service1-demoapp-elasticsearch-overload-cr.yaml
  playground/scenarios/feature-rollout/policies/load-ramping-cr.yaml
  playground/scenarios/graceful-js/policies/postgres-connections-cr.yaml
  playground/scenarios/graphql-rate-limiting/policies/graphql-rate-limiting-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/jmx-service-protection/policies/jmx-service-protection-cr.yaml
  playground/scenarios/pod-auto-scale/policies/pod-auto-scaler-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/rabbitmq-queue-buildup/policies/service1-demoapp-rabbitmq-queue-buildup-cr.yaml
  playground/scenarios/rate-limiting/policies/rate-limiting-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
Due: updated-aperture, updated-blueprints

Upgrade to go v1.21.1
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  go.sum
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/demo-app/go.mod
  playground/resources/demo-app/go.sum
  playground/resources/graphql-demo-app/Dockerfile
  playground/resources/graphql-demo-app/go.mod
  scripts/go_mod_tidy.sh
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  tools/go/go.mod
  tools/go/go.sum
Due: updated-aperture, updated-demo-app, updated-aperture-go

Updated golangci-lint
  .tool-versions
Due: none

fix typo
  blueprints/grafana/panels/pgsql/max_connections.libsonnet
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/elasticsearch-overload/policies/service1-demoapp-elasticsearch-overload-cr.yaml
  playground/scenarios/feature-rollout/policies/load-ramping-cr.yaml
  playground/scenarios/graceful-js/policies/postgres-connections-cr.yaml
  playground/scenarios/graphql-rate-limiting/policies/graphql-rate-limiting-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/jmx-service-protection/policies/jmx-service-protection-cr.yaml
  playground/scenarios/pod-auto-scale/policies/pod-auto-scaler-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/rabbitmq-queue-buildup/policies/service1-demoapp-rabbitmq-queue-buildup-cr.yaml
  playground/scenarios/rate-limiting/policies/rate-limiting-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
Due: updated-blueprints

macos: fix run_parallel script
  scripts/precommit/generate_playground_policies.sh
  scripts/run_parallel.sh
Due: none

Revert "Upgrade to go v1.21.1 (#2650)"
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  go.sum
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/demo-app/go.mod
  playground/resources/demo-app/go.sum
  playground/resources/graphql-demo-app/Dockerfile
  playground/resources/graphql-demo-app/go.mod
  scripts/go_mod_tidy.sh
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  tools/go/go.mod
  tools/go/go.sum
Due: updated-aperture, updated-demo-app, updated-aperture-go

Fixed the nfpm version
  .circleci/scripts/install_nfpm.sh
Due: none

Add more logs when applying/deleting policies
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture

Added request in queue duration metrics
  blueprints/grafana/panels/grouped/quota_scheduler.libsonnet
  blueprints/grafana/panels/request_in_queue_duration.libsonnet
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
Due: updated-aperture, updated-blueprints

Corrections
  blueprints/grafana/panels/request_in_queue_duration.libsonnet
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
Due: updated-aperture, updated-blueprints

etcd transport for reverse rpc
  pkg/agent-functions/provide.go
  pkg/policies/paths/paths.go
  pkg/rpc/etcd_transport.go
  pkg/rpc/provide.go
Due: updated-aperture

lint fixes
  pkg/rpc/etcd_transport.go
Due: updated-aperture
