Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-api, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-playground-policies, updated-aperture-csharp, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Publish . ./istioconfig-v2.34.0-rc.2.tgz
  index.yaml
  istioconfig-v2.34.0-rc.2.tgz
Due: none

Publish . ./aperture-agent-v2.34.0-rc.2.tgz
  aperture-agent-v2.34.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.34.0-rc.2.tgz ./index.yaml
  aperture-controller-v2.34.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v2.34.0.tgz
  aperture-agent-v2.34.0.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.34.0.tgz ./index.yaml
  aperture-controller-v2.34.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.34.0.tgz ./index.yaml
  index.yaml
  istioconfig-v2.34.0.tgz
Due: none

Making Controller and Agent charts GitOps-friendlier
  manifests/charts/aperture-agent/templates/operator-mutatingwebhook.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/templates/operator-mutatingwebhook.yaml
  manifests/charts/aperture-controller/templates/post-install-hook.yaml
  manifests/charts/aperture-controller/values.yaml
Due: updated-aperture-charts

Do not cache respone in the marshalled check response from aperture-go
  sdks/aperture-go/sdk/flow.go
Due: updated-aperture-go

Fix concurrency limiter and scheduler request ID check
  sdks/aperture-go/sdk/flow.go
Due: updated-aperture-go

Fix cache lookup response serialization issue
  sdks/aperture-go/sdk/flow.go
Due: updated-aperture-go

Add Concurrency Schedulers to OLAP telemetry
  pkg/otelcollector/consts/consts.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels_test.go
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
Due: updated-aperture, updated-aperture-operator

Add release CI for csharp SDK
  sdks/aperture-csharp/.circleci/config.yml
  sdks/aperture-csharp/.circleci/continue-workflows.yml
  sdks/aperture-csharp/.github/workflows/create_release.yaml
Due: updated-aperture-csharp

Release csharp with aperture release
  .circleci/config.yml
  sdks/aperture-csharp/.circleci/config.yml
Due: updated-aperture-csharp

readme: add use cases section in sdk readme
  sdks/aperture-js/README.md
Due: updated-aperture-js

Fix pre-commit
  sdks/aperture-js/README.md
Due: updated-aperture-js

Fix pre-commit
  api/buf.lock
Due: updated-aperture, updated-aperture-api

Upgraded OTEL to v0.93.0
  go.mod
  go.sum
Due: updated-aperture

Revert go-quartz upgrade
  go.mod
  go.sum
Due: updated-aperture

Update go to 1.21.6
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  operator/Dockerfile
  playground/resources/demo-app/Dockerfile
  playground/resources/graphql-demo-app/Dockerfile
  sdks/aperture-go/Dockerfile
Due: updated-aperture, updated-demo-app, updated-aperture-go

Remove agent address & api key
  sdks/aperture-py/example/caching.py
  sdks/aperture-py/example/concurrency_limit.py
  sdks/aperture-py/example/concurrency_scheduler.py
  sdks/aperture-py/example/quota_scheduler.py
  sdks/aperture-py/example/rate_limit.py
Due: updated-aperture-py

update acquisition notice
  README.md
  docs/content/get-started/get-started.md
  docs/content/introduction.md
Due: updated-aperture-docs

circleci: xlarge -> large instances
  .circleci/continue-workflows.yml
  docs/content/reference/cloud-ui/sign-up.md
Due: updated-aperture-docs

aperture-js: update grpc-js
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
Due: updated-aperture-js

opsyaml update
  .opsninja.yaml
Due: none

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-api: any of: api/.*
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go|pkg/.*
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-playground-policies: any of: playground/scenarios/service-protection-rl-escalation/policies/.*-cr.yaml
  updated-aperture-csharp: any of: sdks/aperture-csharp/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|dashboards/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
