Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-api, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-playground-policies, updated-aperture-csharp, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Typo and vale fixes
  docs/content/aperture-for-infra/guides/api-quota-management/api-quota-management.md
  docs/content/guides/api-quota-management.md
  docs/content/guides/concurrency-control-and-prioritization.md
  docs/content/guides/mistral.md
  docs/content/guides/per-user-concurrency-limiting.md
  docs/content/guides/per-user-rate-limiting.md
Due: updated-aperture-docs

Allow productizing word
  .github/styles/Vocab/FluxNinja/accept.txt
Due: updated-aperture-docs

Publish . ./aperture-agent-v2.30.1-rc.1.tgz
  aperture-agent-v2.30.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.30.1-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.30.1-rc.1.tgz
Due: none

Publish . ./aperture-controller-v2.30.1-rc.1.tgz ./index.yaml
  aperture-controller-v2.30.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.30.1.tgz
  index.yaml
  istioconfig-v2.30.1.tgz
Due: none

Publish . ./aperture-controller-v2.30.1.tgz
  aperture-controller-v2.30.1.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v2.30.1.tgz ./index.yaml
  aperture-agent-v2.30.1.tgz
  index.yaml
Due: none

[ImgBot] Optimize images
  docs/content/concepts/assets/gen/flow-lifecycle/flow-lifecycle.mmd.svg
  docs/content/guides/assets/concurrency-control-and-prioritization/concurrency-scheduling-test.png
  docs/content/guides/assets/mistral/after-aperture.png
  docs/content/guides/assets/mistral/before-aperture.png
  docs/content/guides/assets/mistral/graph.mmd.svg
  docs/content/guides/assets/mistral/mistral-policy.png
  docs/content/guides/assets/mistral/mistral-queue.png
  docs/content/guides/assets/mistral/mistral.mmd.svg
  docs/content/guides/assets/per-user-concurrency-limiting/concurrency-limit-test.png
  docs/content/guides/assets/per-user-concurrency-limiting/graph.mmd.svg
  sdks/aperture-py/docs/fonts/info.svg
  sdks/aperture-py/docs/fonts/x-circle.svg
Due: updated-aperture-docs, updated-aperture-py

Fix pre-commit
  sdks/aperture-py/docs/fonts/info.svg
  sdks/aperture-py/docs/fonts/x-circle.svg
Due: updated-aperture-py

Update load generator target duration and add missing primary key constraint
  playground/scenarios/postgres-concurrency/load-generator/test.js
  sdks/aperture-go/examples/manual/init.sql
Due: updated-aperture-go

readme: add concurrency limiting announcement
  README.md
Due: none

text update
  docs/content/guides/mistral.md
Due: updated-aperture-docs

Fix formatting in README.md
  README.md
Due: none

update mistral guide
  docs/content/guides/mistral.md
Due: updated-aperture-docs

fix vale issues
  docs/content/guides/mistral.md
Due: updated-aperture-docs

Checkpoint fairness
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/scheduler.libsonnet
  dashboards/grafana/dashboards/summary/scheduler/rows-fn.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/content/reference/observability/prometheus-metrics/agent.md
  docs/gen/policy/policy.yaml
  go.mod
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/request.go
  pkg/scheduler/wfq.go
Due: updated-aperture, updated-aperture-api, updated-aperture-operator, updated-aperture-docs, updated-blueprints

Update pkg/scheduler/wfq.go
  pkg/scheduler/wfq.go
Due: updated-aperture, updated-aperture-operator

Vale fix
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-api, updated-aperture-docs, updated-blueprints

Keep reference to the storage client so that we can close it during Stop()
  pkg/objectstorage/object-storage.go
Due: updated-aperture, updated-aperture-operator

fix pre-commit
  api/buf.lock
Due: updated-aperture, updated-aperture-api

Add SetCapacity method to ConcurrencyLimiter interface
  pkg/dmap-funcs/concurrency-limiter/iface.go
  pkg/policies/flowcontrol/actuators/concurrency-limiter/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
Due: updated-aperture, updated-aperture-operator

Unit test for fairness
  pkg/scheduler/scheduler.go
  pkg/scheduler/wfq.go
  pkg/scheduler/wfq_test.go
Due: updated-aperture, updated-aperture-operator

Fairness preemption metrics
  docs/content/reference/observability/prometheus-metrics/agent.md
  pkg/metrics/schema.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/scheduler/wfq.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Vale fix
  .github/styles/config/vocabularies/FluxNinja/accept.txt
  .github/styles/config/vocabularies/FluxNinja/reject.txt
  .pre-commit-config.yaml
  api/buf.lock
Due: updated-aperture, updated-aperture-api

Fix preemption metrics
  pkg/scheduler/wfq.go
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
Due: updated-aperture, updated-aperture-operator, updated-aperture-go

Fix pre-commit
  sdks/aperture-go/examples/manual/go.mod
  sdks/aperture-go/examples/manual/go.sum
Due: updated-aperture-go

Update Go SDK examples go mod on API version change
  .circleci/scripts/update_api_go_sdk.sh
Due: none

Update scheduler dashboard with new panel: tokens adjusted to maintain fairness
  api/aperture/policy/private/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/private/v1/flowcontrol_vtproto.pb.go
  dashboards/grafana/dashboards/summary/concurrency-scheduler/rows.libsonnet
  dashboards/grafana/dashboards/summary/load-actuator/rows.libsonnet
  dashboards/grafana/dashboards/summary/quota-scheduler/rows.libsonnet
  dashboards/grafana/dashboards/summary/scheduler/rows-fn.libsonnet
  pkg/policies/controlplane/components/flowcontrol/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/load-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/quota-scheduler.go
Due: updated-aperture, updated-aperture-api, updated-aperture-operator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-api: any of: api/.*
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go|pkg/.*
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-playground-policies: any of: playground/scenarios/service-protection-rl-escalation/policies/.*-cr.yaml
  updated-aperture-csharp: any of: sdks/aperture-csharp/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|dashboards/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
