Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Extract ObjectStorage to separate file
  pkg/objectstorage/object-storage.go
  pkg/objectstorage/provide.go
Due: updated-aperture

Set correct timestamp and ttl on put
  pkg/objectstorage/object-storage.go
  pkg/objectstorage/persistent-dmap.go
Due: updated-aperture

Add operation duration metrics
  pkg/metrics/schema.go
  pkg/objectstorage/persistent-dmap.go
Due: updated-aperture

Make sure all newEnv calls are updated
  go.mod
  go.sum
  pkg/dist-cache/dist-cache.go
  pkg/objectstorage/object-storage.go
  pkg/objectstorage/persistent-dmap.go
  pkg/policies/flowcontrol/cache.go
Due: updated-aperture

Fix delete timestamp check
  pkg/objectstorage/object-storage.go
Due: updated-aperture

Do not fail on not enabled object storage
  pkg/dist-cache/dist-cache.go
Due: updated-aperture

Fix linter
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/controllers/agent/configmaps_test.go
  pkg/objectstorage/config/config.go
  pkg/objectstorage/config/zz_generated.deepcopy.go
  pkg/objectstorage/provide.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Implement missing methods in peristent entry
  pkg/objectstorage/object-storage.go
  pkg/objectstorage/persistent-entry.go
Due: updated-aperture

Update SDKs section in sdk.md
  docs/content/sdk/sdk.md
Due: updated-aperture-docs

Update flowcontrol.proto, flowcontrol.pb.go, aperture-controller.swagger.yaml, and aperture.swagger.yaml
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs, updated-blueprints

Add expectEnd flag to ApertureClient request
  sdks/aperture-js/sdk/client.ts
Due: updated-aperture-js

Update FlowEnd support in end
  sdks/aperture-js/docs/interfaces/Flow.md
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture-js

Update flow.end() response handling in example
  sdks/aperture-js/example/routes/use_aperture.ts
Due: updated-aperture-js

Fix concurrency scheduler issue
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture-js

Refactor forEach loop in _Flow class
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture-js

Refactor flow start and end logic
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture-js

Add logging statements for limiter creation and finished creation Add logging statements for timeout and workload timeout
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/engine.go
Due: updated-aperture

Add FlowEnd support in SDKs (#3069)
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/dmap-funcs/concurrency-limiter/global-token-counter.go
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/flowcontrol/actuators/concurrency-scheduler/concurrency-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/engine.go
  sdks/aperture-js/docs/interfaces/Flow.md
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture, updated-aperture-docs, updated-aperture-js, updated-blueprints

Make channel size configurable
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/config_test.tpl
  pkg/objectstorage/config/config.go
  pkg/objectstorage/provide.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Move bucket init to Start()
  pkg/objectstorage/object-storage.go
  pkg/objectstorage/provide.go
Due: updated-aperture

Notify about disabled object storage once
  pkg/dist-cache/dist-cache.go
  pkg/objectstorage/provide.go
Due: updated-aperture

Merge Provide and Invoke
  cmd/aperture-agent/agent.go
  pkg/objectstorage/provide.go
Due: updated-aperture

Import fix
  cmd/aperture-agent/agent.go
Due: updated-aperture

Add agent group to the object name prefix
  pkg/objectstorage/provide.go
Due: updated-aperture

Add timeout and backoff retry to object storage operations
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/objectstorage/config/config.go
  pkg/objectstorage/config/zz_generated.deepcopy.go
  pkg/objectstorage/object-storage.go
  pkg/objectstorage/persistent-dmap.go
  pkg/objectstorage/provide.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Rename config structs
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/objectstorage/config/config.go
  pkg/objectstorage/config/zz_generated.deepcopy.go
  pkg/objectstorage/object-storage.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Add FlowEnd call in the go SDK
  sdks/aperture-go/examples/manual_flow/main.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/flow.go
Due: updated-aperture-go

Add FlowEnd call in the java SDK
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/EndResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
Due: updated-aperture-java

Add FlowEnd call in the python SDK
  playground/Tiltfile
  playground/tanka/apps/aperture-python-example/main.jsonnet
  playground/tanka/apps/aperture-python-example/mixins.libsonnet
  sdks/aperture-py/aperture_sdk/client.py
  sdks/aperture-py/aperture_sdk/flow.py
  sdks/aperture-py/docs/all-documents.html
  sdks/aperture-py/docs/aperture_sdk._gen.html
  sdks/aperture-py/docs/aperture_sdk.cache.html
  sdks/aperture-py/docs/aperture_sdk.client.html
  sdks/aperture-py/docs/aperture_sdk.const.html
  sdks/aperture-py/docs/aperture_sdk.flow.EndResponse.html
  sdks/aperture-py/docs/aperture_sdk.flow.Flow.html
  sdks/aperture-py/docs/aperture_sdk.flow.FlowDecision.html
  sdks/aperture-py/docs/aperture_sdk.flow.html
  sdks/aperture-py/docs/aperture_sdk.utils.html
  sdks/aperture-py/docs/classIndex.html
  sdks/aperture-py/docs/fullsearchindex.json
  sdks/aperture-py/docs/index.html
  sdks/aperture-py/docs/nameIndex.html
  sdks/aperture-py/docs/objects.inv
  sdks/aperture-py/docs/searchindex.json
  sdks/aperture-py/docs/undoccedSummary.html
  sdks/aperture-py/example/manual_flow.py
Due: updated-aperture-py, updated-blueprints

Make vale happy
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/config/duration.go
  pkg/config/timestamp.go
  pkg/objectstorage/config/config.go
  pkg/objectstorage/config/zz_generated.deepcopy.go
  pkg/objectstorage/object-storage.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Add FlowEnd call in the csharp SDK
  playground/Tiltfile
  playground/tanka/apps/aperture-csharp-example/main.jsonnet
  playground/tanka/apps/aperture-csharp-example/mixins.libsonnet
  sdks/aperture-csharp/.gitignore
  sdks/aperture-csharp/Core/ApertureSdk.cs
  sdks/aperture-csharp/Core/FeatureFlow.cs
  sdks/aperture-csharp/Core/FeatureFlowEndResponse.cs
  sdks/aperture-csharp/Core/FeatureFlowParams.cs
  sdks/aperture-csharp/Core/IFlow.cs
  sdks/aperture-csharp/Examples/Program.cs
  sdks/aperture-go/examples/manual_flow/main.go
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
Due: updated-aperture-go, updated-blueprints

Add cache support in the csharp SDK
  sdks/aperture-csharp/Core/ApertureSdk.cs
  sdks/aperture-csharp/Core/Cache.cs
  sdks/aperture-csharp/Core/FeatureFlow.cs
  sdks/aperture-csharp/Core/FeatureFlowParams.cs
  sdks/aperture-csharp/Examples/Program.cs
Due: none

Fix bucket name and stuff
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  pkg/objectstorage/config/config.go
  pkg/objectstorage/provide.go
Due: updated-aperture, updated-aperture-docs

Fixes in csharp caching
  sdks/aperture-csharp/Core/ApertureSdk.cs
  sdks/aperture-csharp/Core/FeatureFlow.cs
  sdks/aperture-csharp/Core/FeatureFlowParams.cs
  sdks/aperture-csharp/Core/IFlow.cs
  sdks/aperture-csharp/Examples/Program.cs
Due: none

checkpoint with new concurrency limiter blueprint
  blueprints/concurrency-limiting/base/README.md
  blueprints/concurrency-limiting/base/bundle.libsonnet
  blueprints/concurrency-limiting/base/concurrency-limiting.libsonnet
  blueprints/concurrency-limiting/base/config.libsonnet
  blueprints/concurrency-limiting/base/gen/definitions.json
  blueprints/concurrency-limiting/base/gen/dynamic-config-definitions.json
  blueprints/concurrency-limiting/base/gen/dynamic-config-values.yaml
  blueprints/concurrency-limiting/base/gen/values.yaml
  blueprints/concurrency-limiting/base/metadata.yaml
  blueprints/concurrency-limiting/base/policy.libsonnet
  docs/content/reference/blueprints/auto-scaling/pod-auto-scaler.md
  docs/content/reference/blueprints/concurrency-limiting.md
  docs/content/reference/blueprints/load-ramping/base.md
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/blueprints/load-scheduling/cpu-overload-protection-k8s.md
  docs/content/reference/blueprints/load-scheduling/elasticsearch.md
  docs/content/reference/blueprints/load-scheduling/java-gc-generic.md
  docs/content/reference/blueprints/load-scheduling/java-gc-k8s.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
  docs/content/reference/blueprints/load-scheduling/promql.md
  docs/content/reference/blueprints/quota-scheduling/base.md
  docs/content/reference/blueprints/rate-limiting/base.md
  playground/scenarios/concurreny-limiter/load-generator/test.js
  playground/scenarios/concurreny-limiter/metadata.json
  playground/scenarios/concurreny-limiter/policies/concurrency-limiting-cr.yaml
  playground/scenarios/concurreny-limiter/policies/concurrency-limiting.yaml
Due: updated-aperture-docs, updated-blueprints

Use tagged Olric version
  go.mod
  go.sum
Due: updated-aperture

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
