Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools|api)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools|api)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*

Extent FluxMeter interface
  pkg/policies/dataplane/iface/flux-meter.go
  pkg/policies/mocks/mock_flux_meter.go
Due: updated-aperture

Remove fluxMeterID
  api/aperture/flowcontrol/v1/flowcontrol.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/flowcontrol/v1/flowcontrol.pb.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/dataplane/engine.go
Due: updated-aperture

Add Multi Value fields const
  pkg/otelcollector/consts.go
Due: updated-aperture

Fix lint issue and generate docs
  docs/gen/policies/swagger.md
  pkg/otelcollector/consts.go
  pkg/policies/dataplane/engine.go
Due: updated-aperture, updated-aperture-docs

Add FeatureIDLabel const
  pkg/otelcollector/consts.go
Due: updated-aperture

Update go_generate.sh
  scripts/go_generate.sh
Due: none

Use ENUM_ZERO_VALUE_SUFFIX in buf lint exception
  api/buf.yaml
Due: updated-aperture

Send whole checkResponse
  docs/content/Reference/Config-Spec/istio.md
  docs/diagrams/architecture/architecture-simple.mmd.png
  docs/diagrams/architecture/architecture.mmd.png
  docs/diagrams/traffic-flow/traffic.mmd.png
  pkg/authz/authz.go
  pkg/otelcollector/consts.go
  pkg/otelcollector/helpers.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
Due: updated-aperture, updated-aperture-docs

Add ENUM_FIRST_VALUE_ZERO to buf lint exceptions
  api/buf.lock
  api/buf.yaml
Due: updated-aperture

Update go_generate_swagger.sh
  scripts/go_generate_swagger.sh
Due: none

Populate decision_{type,reason}
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
Due: updated-aperture

Cleanup
  manifests/charts/agent/templates/envoy_filter.yaml
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

Update comment
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

Update Go to 1.19
  .circleci/continue-workflows.yml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
Due: updated-aperture

Add gcloud to .tool-versions
  .tool-versions
Due: none

Provide crashwriter within sentry
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-controller/config-swagger.yaml
  pkg/config/log.go
  pkg/platform/platform.go
  plugins/service/sentry-plugin/sentry/crashwriter.go
  plugins/service/sentry-plugin/sentry/crashwriter_suite_test.go
  plugins/service/sentry-plugin/sentry/crashwriter_test.go
Due: updated-aperture, updated-aperture-docs

Drop unused tools from release jobs
  .circleci/config.yml
Due: none

Install opsninja from cloud repository
  .circleci/config.yml
Due: none

Address golangci-lint issues
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  pkg/authz/provide.go
  pkg/classification/classifier.go
  pkg/config/defaults.go
  pkg/jobs/http-job.go
  pkg/net/tlsconfig/client.go
  pkg/net/tlsconfig/server.go
  pkg/platform/platform.go
  pkg/utils/http_helpers.go
  pkg/webhooks/validation/validator.go
  pkg/webhooks/webhooks.go
  test/harness/etcd.go
  test/harness/prometheus.go
Due: updated-aperture

Update asdf cache name
  .circleci/config.yml
  .circleci/continue-workflows.yml
Due: none

Install golangci-lint from source instead of asdf
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .tool-versions
Due: none

Write Crashlog from SentryWriter
  docs/gen/config/aperture-agent/config-swagger.yaml
  docs/gen/config/aperture-controller/config-swagger.yaml
  pkg/platform/platform.go
  plugins/service/sentry-plugin/sentry/crashwriter.go
  plugins/service/sentry-plugin/sentry/sentry.go
  plugins/service/sentry-plugin/sentry/sentrywriter.go
Due: updated-aperture, updated-aperture-docs

Change position of golanci-lint install step
  .circleci/config.yml
  .circleci/continue-workflows.yml
Due: none

Install golangci-lint after go is installed
  .circleci/config.yml
  .circleci/continue-workflows.yml
Due: none

Change circle cache name
  .circleci/config.yml
  .circleci/continue-workflows.yml
Due: none

golangci-lint install
  .circleci/config.yml
  .circleci/continue-workflows.yml
Due: none

Print go env after installing golangci-lint
  .circleci/config.yml
  .circleci/continue-workflows.yml
  go.mod
  go.sum
Due: updated-aperture

Move golangci-lint binary to a directory already in path
  .circleci/continue-workflows.yml
Due: none

Bring back golangci-lint as part of asdf
  .circleci/continue-workflows.yml
  .tool-versions
Due: none

Update golangci.yaml config file
  .golangci.yaml
Due: none

Use go v1.19 in golangci-lint run config
  .golangci.yaml
Due: none

Fix strings in circleci config
  .circleci/config.yml
  .circleci/continue-workflows.yml
Due: none

Checkpoint
  plugins/service/sentry-plugin/main.go
  plugins/service/sentry-plugin/sentry/crashwriter.go
  plugins/service/sentry-plugin/sentry/sentry.go
  plugins/service/sentry-plugin/sentry/sentrywriter.go
Due: updated-aperture

Save FQDNs instead of simple names of services to the entity cache
  .gitignore
  pkg/discovery/kubernetes/kubernetes_discovery.go
Due: updated-aperture

Replaced the fn-tk tool with tk
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/vendored.json
Due: none

Added tilt environment setup for agent and grafana
  manifests/charts/agent/Chart.lock
  manifests/k8s/Tiltfile
  manifests/k8s/tanka/.gitignore
  manifests/k8s/tanka/chartfile.yaml
  manifests/k8s/tanka/charts/.gitignore
  manifests/k8s/tanka/charts/agent
  manifests/k8s/tanka/environments/tilt/apps/agent/main.jsonnet
  manifests/k8s/tanka/environments/tilt/apps/agent/mixins.libsonnet
  manifests/k8s/tanka/environments/tilt/apps/aperture-grafana/dashboards/json-example.json
  manifests/k8s/tanka/environments/tilt/apps/aperture-grafana/main.jsonnet
  manifests/k8s/tanka/environments/tilt/apps/aperture-grafana/mixins.libsonnet
  manifests/k8s/tanka/jsonnetfile.json
  manifests/k8s/tanka/jsonnetfile.lock.json
  manifests/k8s/tanka/lib/apps/agent/main.libsonnet
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
  manifests/k8s/tanka/lib/apps/grafana-operator/main.libsonnet
  manifests/k8s/tanka/lib/apps/k.libsonnet
  manifests/k8s/tanka/lib/apps/tanka-util.libsonnet
  manifests/k8s/tanka/lib/ninja/helpers.libsonnet
  manifests/k8s/tanka/vendored.json
Due: none
