Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

Use circuit evaluation interval for promql query intervals as well
  api/buf.lock
  blueprints/policies/auto-scaling/base/policy.libsonnet
  blueprints/policies/feature-rollout/base/policy.libsonnet
  blueprints/policies/service-protection/average-latency/policy.libsonnet
  blueprints/policies/service-protection/base/policy.libsonnet
  blueprints/policies/service-protection/jmx/policy.libsonnet
  blueprints/policies/service-protection/promql/policy.libsonnet
Due: updated-aperture, updated-blueprints

OpenAI and language tool fixes
  blueprints/policies/service-protection/postgresql/config.libsonnet
  blueprints/policies/service-protection/postgresql/gen/definitions.json
  blueprints/policies/service-protection/postgresql/gen/values-required.yaml
  blueprints/policies/service-protection/postgresql/gen/values.yaml
  docs/content/reference/blueprints/policies/service-protection/postgresql.md
Due: updated-aperture-docs, updated-blueprints

Fixed config parsing
  blueprints/policies/service-protection/postgresql/bundle.libsonnet
  blueprints/policies/service-protection/postgresql/config.libsonnet
  blueprints/policies/service-protection/postgresql/gen/definitions.json
  blueprints/policies/service-protection/postgresql/gen/values-required.yaml
  blueprints/policies/service-protection/postgresql/gen/values.yaml
  docs/content/reference/blueprints/policies/service-protection/postgresql.md
Due: updated-aperture-docs, updated-blueprints

Fixes based on testing
  blueprints/policies/service-protection/base/config-defaults.libsonnet
  blueprints/policies/service-protection/postgresql/bundle.libsonnet
  blueprints/policies/service-protection/postgresql/config.libsonnet
  blueprints/policies/service-protection/postgresql/gen/definitions.json
  blueprints/policies/service-protection/postgresql/gen/values-required.yaml
  blueprints/policies/service-protection/postgresql/gen/values.yaml
  docs/content/reference/blueprints/policies/service-protection/postgresql.md
Due: updated-aperture-docs, updated-blueprints

OpenAI suggestions
  blueprints/blueprint-assets-generator.py
  blueprints/policies/service-protection/base/policy.libsonnet
Due: updated-blueprints

Fixed pre-commit
  blueprints/policies/service-protection/postgresql/gen/definitions.json
  blueprints/policies/service-protection/postgresql/gen/values-required.yaml
  blueprints/policies/service-protection/postgresql/gen/values.yaml
  docs/content/reference/blueprints/policies/service-protection/postgresql.md
Due: updated-aperture-docs, updated-blueprints

OpenAI suggestions
  pkg/policies/controlplane/policy.go
  pkg/policies/paths/paths.go
Due: updated-aperture

Made blueprints backward compatible for infra_meters
  blueprints/policies/auto-scaling/base/policy.libsonnet
  blueprints/policies/feature-rollout/base/policy.libsonnet
  blueprints/policies/quota-scheduler/policy.libsonnet
  blueprints/policies/rate-limiting/policy.libsonnet
  blueprints/policies/service-protection/average-latency/policy.libsonnet
  blueprints/policies/service-protection/base/policy.libsonnet
  blueprints/policies/service-protection/jmx/policy.libsonnet
  blueprints/policies/service-protection/postgresql/bundle.libsonnet
  blueprints/utils/utils.libsonnet
Due: updated-blueprints

Corrected format
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs, updated-blueprints

Fixed adding of kubeletstat infra_meter
  blueprints/dashboards/flow-control/adaptive-load-scheduler/dashboard.libsonnet
  blueprints/policies/service-protection/base/config-defaults.libsonnet
  blueprints/policies/service-protection/postgresql/bundle.libsonnet
Due: updated-blueprints

Publish . ./aperture-agent-v2.6.0-rc.1.tgz
  aperture-agent-v2.6.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.6.0-rc.1.tgz
  aperture-controller-v2.6.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.6.0-rc.1.tgz
  index.yaml
  istioconfig-v2.6.0-rc.1.tgz
Due: none

change jsonnet to go-jsonnet
  .tool-versions
Due: none

add go-jsonnet to workflow.yaml file
  .circleci/continue-workflows.yml
Due: none

checking the home dir
  .circleci/continue-workflows.yml
Due: none

copy .tool-versions in home dir
  .circleci/continue-workflows.yml
Due: none

moved ui to resources folder and added dockerfile
  playground/resources/demo-ui/.eslintrc.json
  playground/resources/demo-ui/.gitignore
  playground/resources/demo-ui/.prettierignore
  playground/resources/demo-ui/.prettierrc
  playground/resources/demo-ui/Dockerfile
  playground/resources/demo-ui/package-lock.json
  playground/resources/demo-ui/package.json
  playground/resources/demo-ui/public/favicon.ico
  playground/resources/demo-ui/public/index.html
  playground/resources/demo-ui/src/api.ts
  playground/resources/demo-ui/src/app.tsx
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/resources/demo-ui/src/index.tsx
  playground/resources/demo-ui/src/k-api.ts
  playground/resources/demo-ui/src/pages/home.tsx
  playground/resources/demo-ui/src/pages/index.ts
  playground/resources/demo-ui/src/theme/index.ts
  playground/resources/demo-ui/src/theme/theme-provider.tsx
  playground/resources/demo-ui/tsconfig.json
  playground/resources/demo-ui/webpack.config.js
Due: none

Update aperture-grafana interval
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: updated-blueprints

gitignore and build script fix
  playground/resources/demo-ui/.gitignore
  playground/resources/demo-ui/package.json
Due: none

Revert "Fixes in blueprints generator and auto-scaling defaults in service-protection (#2182)"
  blueprints/blueprint-assets-generator.py
  blueprints/policies/auto-scaling/pod-auto-scaler/gen/definitions.json
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency/config.libsonnet
  blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql/config.libsonnet
  blueprints/policies/service-protection/average-latency/bundle.libsonnet
  blueprints/policies/service-protection/average-latency/dashboard.libsonnet
  blueprints/policies/service-protection/average-latency/gen/definitions.json
  blueprints/policies/service-protection/average-latency/gen/values-required.yaml
  blueprints/policies/service-protection/average-latency/gen/values.yaml
  blueprints/policies/service-protection/average-latency/policy.libsonnet
  blueprints/policies/service-protection/base/config-defaults.libsonnet
  blueprints/policies/service-protection/base/dashboard.libsonnet
  blueprints/policies/service-protection/base/policy.libsonnet
  blueprints/policies/service-protection/jmx/bundle.libsonnet
  blueprints/policies/service-protection/jmx/gen/definitions.json
  blueprints/policies/service-protection/jmx/gen/values-required.yaml
  blueprints/policies/service-protection/jmx/gen/values.yaml
  blueprints/policies/service-protection/jmx/policy.libsonnet
  blueprints/policies/service-protection/postgresql/gen/definitions.json
  blueprints/policies/service-protection/postgresql/gen/values-required.yaml
  blueprints/policies/service-protection/postgresql/gen/values.yaml
  blueprints/policies/service-protection/promql/bundle.libsonnet
  blueprints/policies/service-protection/promql/dashboard.libsonnet
  blueprints/policies/service-protection/promql/gen/definitions.json
  blueprints/policies/service-protection/promql/gen/values-required.yaml
  blueprints/policies/service-protection/promql/gen/values.yaml
  blueprints/policies/service-protection/promql/policy.libsonnet
  docs/content/reference/blueprints/policies/service-protection/average-latency.md
  docs/content/reference/blueprints/policies/service-protection/jmx.md
  docs/content/reference/blueprints/policies/service-protection/postgresql.md
  docs/content/reference/blueprints/policies/service-protection/promql.md
Due: updated-aperture-docs, updated-blueprints

remove use-case
  docs/content/get-started/policies/policies.md
  docs/content/use-cases/auto-scale/auto-scale.md
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/dashboard.png
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/graph.mmd
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/graph.mmd.md5sum
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/graph.mmd.svg
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/policy.yaml
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/validate.sh
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/values.yaml
  docs/content/use-cases/auto-scale/load-based-auto-scaling/load-based-auto-scaling.md
Due: updated-aperture-docs

added ui to tilt
  playground/Tiltfile
  playground/resources/demo-ui/Dockerfile
  playground/resources/demo-ui/package-lock.json
  playground/resources/demo-ui/package.json
  playground/resources/demo-ui/src/api.ts
  playground/resources/demo-ui/src/pages/home.tsx
  playground/resources/demo-ui/webpack.config.js
  playground/scenarios/graceful-js/metadata.json
  playground/tanka/apps/demo-ui/main.jsonnet
  playground/tanka/apps/demo-ui/mixins.libsonnet
  playground/tanka/charts/demo-ui/Chart.yaml
  playground/tanka/charts/demo-ui/templates/deployment.yaml
  playground/tanka/charts/demo-ui/templates/service.yaml
  playground/tanka/charts/demo-ui/values.yaml
Due: updated-blueprints

remove links
  docs/content/integrations/auto-scale/auto-scale.md
  docs/content/integrations/auto-scale/kubernetes/kubernetes.md
  docs/content/introduction.md
Due: updated-aperture-docs

Added use-case and scenario for auto scaling escalation
  blueprints/dashboards/auto-scale/dashboard.libsonnet
  blueprints/policies/service-protection/base/dashboard.libsonnet
  blueprints/policies/service-protection/postgresql/bundle.libsonnet
  docs/content/get-started/policies/policies.md
  docs/content/use-cases/auto-scale/auto-scale.md
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/dashboard.png
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/graph.mmd
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/graph.mmd.md5sum
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/graph.mmd.svg
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/policy.yaml
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/validate.sh
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/values.yaml
  docs/content/use-cases/auto-scale/load-based-auto-scaling/load-based-auto-scaling.md
  playground/scenarios/service-protection-auto-scale-escalation/dashboards/main.jsonnet
  playground/scenarios/service-protection-auto-scale-escalation/load-generator/test.js
  playground/scenarios/service-protection-auto-scale-escalation/metadata.json
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale.yaml
Due: updated-aperture-docs, updated-blueprints

Fixes in kubeletstats_infra_meter
  blueprints/policies/service-protection/postgresql/bundle.libsonnet
Due: updated-blueprints
