Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

Fix config with missing agent_functions.endpoints not applying
  docs/gen/config/agent/config-swagger.yaml
  pkg/agentfunctions/provide.go
Due: updated-aperture, updated-aperture-docs

Move plugin/service -> plugin/common
  docs/gen/config/aperture-plugin-fluxninja/plugin-swagger.yaml
  docs/gen/config/aperture-plugin-sentry/plugin-swagger.yaml
  operator/api/common/common_types.go
  operator/controllers/agent/configmaps_test.go
  plugins/common/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/common/aperture-plugin-fluxninja/heartbeats/heartbeats_suite_test.go
  plugins/common/aperture-plugin-fluxninja/heartbeats/peers-watcher.go
  plugins/common/aperture-plugin-fluxninja/heartbeats/provide.go
  plugins/common/aperture-plugin-fluxninja/heartbeats/services.go
  plugins/common/aperture-plugin-fluxninja/heartbeats/services_test.go
  plugins/common/aperture-plugin-fluxninja/main.go
  plugins/common/aperture-plugin-fluxninja/otel/otel_suite_test.go
  plugins/common/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/common/aperture-plugin-fluxninja/otel/provide.go
  plugins/common/aperture-plugin-fluxninja/pluginconfig/config-operations.go
  plugins/common/aperture-plugin-fluxninja/pluginconfig/pluginconfig.go
  plugins/common/aperture-plugin-fluxninja/pluginconfig/zz_generated.deepcopy.go
  plugins/common/aperture-plugin-sentry/config-operations.go
  plugins/common/aperture-plugin-sentry/main.go
  plugins/common/aperture-plugin-sentry/sentry/crashwriter.go
  plugins/common/aperture-plugin-sentry/sentry/crashwriter_suite_test.go
  plugins/common/aperture-plugin-sentry/sentry/crashwriter_test.go
  plugins/common/aperture-plugin-sentry/sentry/sentry.go
  plugins/common/aperture-plugin-sentry/sentry/sentrywriter.go
  plugins/common/aperture-plugin-sentry/sentry/zz_generated.deepcopy.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Update agent and controller Dockerfiles
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
Due: updated-aperture

Add comments
  cmd/aperture-agent/agent/provider.go
Due: updated-aperture

Tune autoscale scenario. Fix incorrect defaults for max scale in vs scale out percentage, rename parameters for readability
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/autoscaler.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/autoscale/autoscaler.go
  playground/scenarios/autoscaling/policies/load-based-autoscale-service1-cr.yaml
  playground/scenarios/autoscaling/policies/load-based-autoscale-service1.yaml
Due: updated-aperture, updated-aperture-docs

Add comments to aperture-plugin-sentry
  plugins/common/aperture-plugin-sentry/main.go
  plugins/common/aperture-plugin-sentry/sentry/crashwriter_test.go
Due: updated-aperture

update aperture intro
  docs/content/assets/img/circuit.png
  docs/content/concepts/integrations/flow-control/assets/img/active-flow-control-dark.png
  docs/content/concepts/integrations/flow-control/assets/img/active-flow-control.png
  docs/content/concepts/integrations/flow-control/assets/img/no-flow-control-dark.png
  docs/content/concepts/integrations/flow-control/assets/img/no-flow-control.png
  docs/content/concepts/integrations/flow-control/flow-control.md
  docs/content/introduction.md
Due: updated-aperture-docs

update aperture architecture
  docs/content/architecture/architecture.md
Due: updated-aperture-docs

Update tags for processors
  plugins/agent/aperture-plugin-attributesprocessor/main.go
  plugins/agent/aperture-plugin-batchprocessor/main.go
  plugins/agent/aperture-plugin-cumulativetodeltaprocessor/main.go
  plugins/agent/aperture-plugin-datadogprocessor/main.go
  plugins/agent/aperture-plugin-deltatorateprocessor/main.go
  plugins/agent/aperture-plugin-filterprocessor/main.go
  plugins/agent/aperture-plugin-groupbyattrsprocessor/main.go
  plugins/agent/aperture-plugin-groupbytraceprocessor/main.go
  plugins/agent/aperture-plugin-k8sattributesprocessor/main.go
  plugins/agent/aperture-plugin-memorylimiterprocessor/main.go
  plugins/agent/aperture-plugin-metricsgenerationprocessor/main.go
  plugins/agent/aperture-plugin-metricstransformprocessor/main.go
  plugins/agent/aperture-plugin-probabilisticsamplerprocessor/main.go
  plugins/agent/aperture-plugin-resourcedetectionprocessor/main.go
  plugins/agent/aperture-plugin-resourceprocessor/main.go
  plugins/agent/aperture-plugin-routingprocessor/main.go
  plugins/agent/aperture-plugin-servicegraphprocessor/main.go
  plugins/agent/aperture-plugin-spanmetricsprocessor/main.go
  plugins/agent/aperture-plugin-spanprocessor/main.go
  plugins/agent/aperture-plugin-tailsamplingprocessor/main.go
  plugins/agent/aperture-plugin-transformprocessor/main.go
Due: updated-aperture

Make feature name configurable in the feature example
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
Due: updated-aperture-java

Remove error causing plugins
  plugins/agent/aperture-plugin-filterprocessor/main.go
  plugins/agent/aperture-plugin-routingprocessor/main.go
  plugins/agent/aperture-plugin-spanprocessor/main.go
  plugins/agent/aperture-plugin-transformprocessor/main.go
Due: updated-aperture

Run go mod tidy
  go.mod
  go.sum
Due: updated-aperture

update flow control concepts and fix playground
  Makefile
  api/aperture/policy/language/v1/selector.proto
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/integrations/flow-control/components/_category_.yml
  docs/content/concepts/integrations/flow-control/control-point.md
  docs/content/concepts/integrations/flow-control/flow-classifier.md
  docs/content/concepts/integrations/flow-control/flow-control.md
  docs/content/concepts/integrations/flow-control/flow-label.md
  docs/content/concepts/integrations/flow-control/flow-selector.md
  docs/content/concepts/integrations/flow-control/flux-meter.md
  docs/content/concepts/integrations/flow-control/service.md
  docs/content/get-started/integrations/flow-control/envoy/istio.md
  docs/content/get-started/playground/playground.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  playground/resources/demo-app/Dockerfile
  playground/resources/demo-app/app/app.go
  playground/resources/demo-app/go.mod
  playground/resources/demo-app/main.go
  playground/resources/graphql-demo-app/Dockerfile
  playground/resources/graphql-demo-app/go.mod
  playground/resources/graphql-demo-app/go.sum
  playground/resources/graphql-demo-app/gqlgen.yml
  playground/resources/graphql-demo-app/graph/generated/generated.go
  playground/resources/graphql-demo-app/graph/model/models_gen.go
  playground/resources/graphql-demo-app/graph/model/todo.go
  playground/resources/graphql-demo-app/graph/resolver.go
  playground/resources/graphql-demo-app/graph/schema.graphqls
  playground/resources/graphql-demo-app/graph/schema.resolvers.go
  playground/resources/graphql-demo-app/server.go
  playground/resources/graphql-demo-app/tools/tools.go
  playground/scenarios/graphql-example-1/metadata.json
Due: updated-aperture, updated-aperture-docs

slightly update rate limit doc
  docs/content/concepts/integrations/flow-control/components/rate-limiter.md
Due: updated-aperture-docs

fix signals dashboard generator
  blueprints/dashboards/dashboards.libsonnet
  blueprints/dashboards/signals-dashboard/README.md
  blueprints/dashboards/signals-dashboard/gen/dynamic-config-values-required.yaml
  blueprints/dashboards/signals-dashboard/gen/dynamic-config-values.yaml
  blueprints/dashboards/signals-dashboard/metadata.yaml
  blueprints/dashboards/signals/README.md
  blueprints/dashboards/signals/bundle.libsonnet
  blueprints/dashboards/signals/config.libsonnet
  blueprints/dashboards/signals/dashboard.libsonnet
  blueprints/dashboards/signals/gen/definitions.json
  blueprints/dashboards/signals/gen/dynamic-config-definitions.json
  blueprints/dashboards/signals/gen/dynamic-config-values-required.yaml
  blueprints/dashboards/signals/gen/dynamic-config-values.yaml
  blueprints/dashboards/signals/gen/values-required.yaml
  blueprints/dashboards/signals/gen/values.yaml
  blueprints/dashboards/signals/metadata.yaml
  blueprints/dashboards/signals/signals.libsonnet
  docs/content/get-started/policies/policies.md
  docs/content/reference/policies/assets/monitoring/signals-dashboard.jsonnet
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: updated-aperture-docs

support min tag in swagger
  docs/tools/swagger/process-go-tags.go
Due: updated-aperture-docs

support min tag in swagger
  docs/content/assets/openapiv2/aperture.swagger.yaml
Due: updated-aperture-docs

ask for confirmation when overwriting values file or making output dir
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/gen/definitions.json
  blueprints/policies/latency-aimd-concurrency-limiting/gen/values.yaml
  cmd/aperturectl/cmd/blueprints/generate.go
  cmd/aperturectl/cmd/blueprints/globals.go
  cmd/aperturectl/cmd/blueprints/values.go
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/blueprints/values/values.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.yaml
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  playground/scenarios/autoscaling/policies/load-based-autoscale-service1-cr.yaml
  playground/scenarios/demo-app/policies/service1-demo-app-cr.yaml
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Robust scale fetching
  api/aperture/policy/sync/v1/pod_scaler.proto
  api/gen/proto/go/aperture/policy/sync/v1/pod_scaler.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/pod_scaler.pb.json.go
  api/gen/proto/go/aperture/policy/sync/v1/pod_scaler_deepcopy.gen.go
  go.mod
  go.sum
  pkg/discovery/kubernetes/control-point-cache.go
  pkg/prometheus/prom-query.go
Due: updated-aperture

Robust scale actuation
  pkg/policies/infra/actuators/podscaler/pod-scaler.go
Due: updated-aperture

Publish . ./aperture-agent-v0.25.1-rc.1.tgz
  aperture-agent-v0.25.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.25.1-rc.1.tgz
  aperture-controller-v0.25.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.25.1-rc.1.tgz
  index.yaml
  istioconfig-v0.25.1-rc.1.tgz
Due: none

Publish . ./aperture-agent-v0.25.1.tgz
  aperture-agent-v0.25.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.25.1.tgz
  aperture-controller-v0.25.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.25.1.tgz
  index.yaml
  istioconfig-v0.25.1.tgz
Due: none

docs: gen: Tweaks to policy documentation generation
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/spec.md
  docs/gen/config/agent/metadata
  docs/gen/config/controller/metadata
  docs/gen/policy/metadata
  docs/tools/swagger/swagger-templates/config.gotmpl
Due: updated-aperture-docs
