Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

decouple mermaid image generator
  docs/Makefile
  docs/tools/mermaid/generate_all.sh
  docs/tools/mermaid/generate_mermaid.sh
Due: updated-aperture-docs

fix otel docs generator
  docs/Makefile
  docs/content/integrations/flow-control/sdk/java/armeria.md
  docs/content/integrations/flow-control/sdk/java/netty.md
  docs/tools/otel_collectors/generate_otel_docs.sh
Due: updated-aperture-docs

fix link
  docs/content/get-started/setting-up-application/manual-control-points.md
  docs/content/integrations/flow-control/sdk/java/armeria.md
  docs/content/integrations/flow-control/sdk/java/auto-instrumentation.md
  docs/content/integrations/flow-control/sdk/java/netty.md
Due: updated-aperture-docs

docs: fix link
  docs/content/get-started/setting-up-application/manual-control-points.md
  docs/content/integrations/flow-control/sdk/java/armeria.md
  docs/content/integrations/flow-control/sdk/java/auto-instrumentation.md
  docs/content/integrations/flow-control/sdk/java/netty.md
Due: updated-aperture-docs

Update README.md
  README.md
Due: none

Update introduction.md
  docs/content/introduction.md
Due: updated-aperture-docs

fix description and heading
  docs/content/applying-policies/quota-scheduler/external-rate-limiting.md
  docs/content/introduction.md
Due: updated-aperture-docs

LT and vale lint fixes
  docs/content/applying-policies/quota-scheduler/external-rate-limiting.md
  docs/content/introduction.md
Due: updated-aperture-docs

Added steps for using workloadSelector in istioconfig chart
  docs/content/integrations/flow-control/envoy/istio.md
  manifests/charts/istioconfig/README.md
  manifests/charts/istioconfig/values.yaml
Due: updated-aperture-docs, updated-aperture-charts

Language tool fixes
  docs/content/integrations/flow-control/envoy/istio.md
  manifests/charts/istioconfig/README.md
  manifests/charts/istioconfig/values.yaml
Due: updated-aperture-docs, updated-aperture-charts

Vale suggestions
  docs/content/integrations/flow-control/envoy/istio.md
Due: updated-aperture-docs

fix introduction doc
  docs/content/introduction.md
Due: updated-aperture-docs

fix playground diagrams
  docs/content/assets/diagrams/playground/playground-app.mmd
  docs/content/assets/diagrams/playground/playground-app.mmd.md5sum
  docs/content/assets/diagrams/playground/playground-app.mmd.svg
  docs/content/playground/playground.md
Due: updated-aperture-docs

move playground doc to playground dir
  playground/README.md
  playground/assets/dashboard.png
  playground/assets/stop-traffic.png
Due: none

fix Admonitions
  playground/README.md
Due: none

remove playground from doc and update sidebar order
  docs/content/applying-policies/alerting/detecting-overload.md
  docs/content/applying-policies/applying-policies.md
  docs/content/arc/arc.md
  docs/content/architecture/architecture.md
  docs/content/concepts/concepts.md
  docs/content/faq.md
  docs/content/get-started/get-started.md
  docs/content/integrations/integrations.md
  docs/content/playground/playground.md
  docs/content/reference/_category_.yml
Due: updated-aperture-docs

update broken links
  docs/content/applying-policies/auto-scale/load-based-auto-scaling/load-based-auto-scaling.md
  docs/content/applying-policies/feature-rollout/with-average-latency-feedback.md
  docs/content/applying-policies/quota-scheduler/with-external-api-calls-prioritization.md
  docs/content/applying-policies/service-protection/basic-service-protection.md
  docs/content/applying-policies/service-protection/workload-prioritization.md
Due: updated-aperture-docs

update intro
  README.md
Due: none

Added installation docs for Aperture on Docker
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/agent/docker.md
  docs/content/get-started/installation/controller/controller.md
  docs/content/get-started/installation/controller/docker.md
  docs/content/get-started/installation/controller/kubernetes/kubernetes.md
  docs/content/get-started/installation/controller/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/controller/kubernetes/operator/operator.md
Due: updated-aperture-docs

vale corrections
  .github/styles/Vocab/FluxNinja/accept.txt
  docs/content/get-started/installation/controller/docker.md
Due: updated-aperture-docs

Language tool fixes
  docs/content/get-started/installation/controller/controller.md
Due: updated-aperture-docs

update/add playground link
  README.md
  docs/content/sidebars.json
Due: updated-aperture-docs

use relative url
  README.md
Due: none

update quota scheduler
  docs/content/applying-policies/quota-scheduler/external-rate-limiting.md
Due: updated-aperture-docs

remove from sidebar
  docs/content/sidebars.json
Due: updated-aperture-docs

LT fixes
  docs/content/applying-policies/quota-scheduler/external-rate-limiting.md
Due: updated-aperture-docs

fix grammar
  docs/content/applying-policies/quota-scheduler/external-rate-limiting.md
Due: updated-aperture-docs
