Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

unify dictionaries
  .github/styles/Vocab/FluxNinja/accept.txt
  .gitignore
  .pre-commit-config.yaml
  .vscode/ltex.dictionary.en-US.txt
  .vscode/ltex.hiddenFalsePositives.en-US.txt
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/get-started/integrations/metrics/rabbitmq.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture-docs

Change dynamic config schema to be blueprint friendly. Spec out a basic feature rollout dashboard.
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/flowregulator.libsonnet
  blueprints/gen/v1/flowregulatorparameters.libsonnet
  blueprints/gen/v1/loadshaper.libsonnet
  blueprints/policies/feature-rollout/README.md
  blueprints/policies/feature-rollout/bundle.libsonnet
  blueprints/policies/feature-rollout/config.libsonnet
  blueprints/policies/feature-rollout/dashboard.libsonnet
  blueprints/policies/feature-rollout/dynamic-config.libsonnet
  blueprints/policies/feature-rollout/gen/definitions.json
  blueprints/policies/feature-rollout/gen/dynamic-config-definitions.json
  blueprints/policies/feature-rollout/gen/dynamic-config-values-required.yaml
  blueprints/policies/feature-rollout/gen/dynamic-config-values.yaml
  blueprints/policies/feature-rollout/gen/values-required.yaml
  blueprints/policies/feature-rollout/gen/values.yaml
  blueprints/policies/feature-rollout/metadata.yaml
  blueprints/policies/feature-rollout/policy.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/bundle.libsonnet
  blueprints/policies/rabbitmq-queue-buildup/bundle.libsonnet
  blueprints/policies/static-rate-limiting/bundle.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/flowcontrol/flowregulator/flow-regulator.go
  pkg/policies/flowcontrol/actuators/flowregulator/flow-regulator.go
Due: updated-aperture, updated-aperture-docs

sanitize policy spec
  .github/styles/Vocab/FluxNinja/accept.txt
  .vale.ini
  api/aperture/policy/language/v1/autoscale.proto
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/label_matcher.proto
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/query.proto
  api/aperture/policy/language/v1/std_components.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/autoscale.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/query.pb.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/spec.md
  docs/gen/config/agent/metadata
  docs/gen/config/controller/metadata
  docs/gen/policy/metadata
  docs/gen/policy/policy.yaml
  docs/tools/swagger/swagger-templates/config.gotmpl
Due: updated-aperture, updated-aperture-docs

Blueprint assets generator: Handle missing gen directory
  blueprints/blueprint-assets-generator.py
Due: none

Feature Rollout Scenario
  blueprints/policies/feature-rollout/average-latency/config.libsonnet
  blueprints/policies/feature-rollout/average-latency/gen/definitions.json
  blueprints/policies/feature-rollout/average-latency/gen/values-required.yaml
  blueprints/policies/feature-rollout/base/policy.libsonnet
  blueprints/policies/feature-rollout/ema-latency/config.libsonnet
  blueprints/policies/feature-rollout/ema-latency/gen/definitions.json
  blueprints/policies/feature-rollout/ema-latency/gen/values-required.yaml
  blueprints/policies/feature-rollout/ema-latency/gen/values.yaml
  blueprints/policies/feature-rollout/percentile-latency/config.libsonnet
  blueprints/policies/feature-rollout/percentile-latency/gen/definitions.json
  blueprints/policies/feature-rollout/percentile-latency/gen/values-required.yaml
  blueprints/policies/feature-rollout/percentile-latency/gen/values.yaml
  blueprints/policies/feature-rollout/promql/config.libsonnet
  blueprints/policies/feature-rollout/promql/gen/definitions.json
  blueprints/policies/feature-rollout/promql/gen/values-required.yaml
  blueprints/policies/feature-rollout/promql/gen/values.yaml
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/average-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/ema-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/percentile-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/feature-rollout/promql.md
  pkg/policies/mocks/mock_engine.go
  playground/scenarios/feature_rollout/dashboards/main.jsonnet
  playground/scenarios/feature_rollout/load_generator/test.js
  playground/scenarios/feature_rollout/metadata.json
  playground/scenarios/feature_rollout/policies/feature-rollout-cr.yaml
  playground/scenarios/feature_rollout/policies/feature-rollout.yaml
Due: updated-aperture, updated-aperture-docs

Metrics documentation
  docs/content/get-started/integrations/metrics/metrics.md
  docs/content/reference/observability/prometheus-metrics/agent.md
Due: updated-aperture-docs

Concepts section for Flow Regulator
  docs/content/concepts/flow-control/components/flow-regulator.md
Due: updated-aperture-docs

vale off in blueprints url
  .github/styles/Vocab/FluxNinja/accept.txt
  .vale.ini
  blueprints/blueprint-assets-generator.py
  docs/content/get-started/integrations/flow-control/sdk/java/springboot.md
  docs/content/get-started/integrations/flow-control/sdk/java/tomcat.md
  docs/content/reference/policies/bundled-blueprints/dashboards/signals.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
Due: updated-aperture-docs

remove 'we'
  docs/content/tutorials/signal-processing/detecting-overload.md
Due: updated-aperture-docs

Publish . ./aperture-agent-v1.4.0-rc.1.tgz
  aperture-agent-v1.4.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v1.4.0-rc.1.tgz
  aperture-controller-v1.4.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v1.4.0-rc.1.tgz
  index.yaml
  istioconfig-v1.4.0-rc.1.tgz
Due: none

Use new official remote plugins
  api/buf.gen.aperture.yaml
  api/buf.gen.envoy.yaml
  api/buf.lock
  api/gen/proto/java`/com/fluxninja/generated/aperture/autoscale/kubernetes/controlpoints/v1/AutoScaleKubernetesControlPointsServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/cmd/v1/ControllerGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/discovery/entities/v1/EntitiesServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/distcache/v1/DistCacheServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/flowcontrol/controlpoints/v1/FlowControlPointsServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/flowcontrol/preview/v1/FlowPreviewServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/fluxninja/v1/ControllerInfoServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/fluxninja/v1/FluxNinjaServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/info/v1/InfoServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/peers/v1/PeerDiscoveryServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/policy/language/v1/PolicyServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/rpc/v1/CoordinatorGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/status/v1/StatusServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/ClassifierInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FluxMeterInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecision.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecisionOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckhttpProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/DeniedHttpResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/DeniedHttpResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/OkHttpResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/OkHttpResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/SocketAddress.java
Due: updated-aperture, updated-aperture-java

Fix java protobuf generation
  api/buf.gen.aperture.yaml
  api/gen/proto/java`/com/fluxninja/generated/aperture/autoscale/kubernetes/controlpoints/v1/AutoScaleKubernetesControlPointsServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/cmd/v1/ControllerGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/discovery/entities/v1/EntitiesServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/distcache/v1/DistCacheServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/flowcontrol/controlpoints/v1/FlowControlPointsServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/flowcontrol/preview/v1/FlowPreviewServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/fluxninja/v1/ControllerInfoServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/fluxninja/v1/FluxNinjaServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/info/v1/InfoServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/peers/v1/PeerDiscoveryServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/policy/language/v1/PolicyServiceGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/rpc/v1/CoordinatorGrpc.java
  api/gen/proto/java`/com/fluxninja/generated/aperture/status/v1/StatusServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: updated-aperture, updated-aperture-java

Update com.google.protobuf version
  sdks/aperture-java/lib/core/build.gradle.kts
  sdks/aperture-java/settings.gradle.kts
Due: updated-aperture-java

Update com.google.protobuf version
  sdks/aperture-java/lib/core/build.gradle.kts
Due: updated-aperture-java

Update io.grpc:grpc-netty-shaded version
  sdks/aperture-java/lib/core/build.gradle.kts
Due: updated-aperture-java

Revert io.grpc versions
  sdks/aperture-java/lib/core/build.gradle.kts
Due: updated-aperture-java

Use new official remote plugins (#1739)
  api/buf.gen.aperture.yaml
  api/buf.gen.envoy.yaml
  sdks/aperture-java/lib/core/build.gradle.kts
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/ClassifierInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FluxMeterInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecision.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecisionOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckHTTPResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/CheckhttpProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/DeniedHttpResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/DeniedHttpResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/OkHttpResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/OkHttpResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/SocketAddress.java
  sdks/aperture-java/settings.gradle.kts
Due: updated-aperture, updated-aperture-java

vale/openai: follow up suggestions incorporated
  .github/styles/Vocab/FluxNinja/accept.txt
  .tool-versions
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/policy/circuit.md
  docs/content/get-started/installation/agent/bare_metal.md
  docs/content/get-started/integrations/flow-control/sdk/go/manual.md
  docs/content/get-started/integrations/flow-control/sdk/java/armeria.md
  docs/content/get-started/integrations/flow-control/sdk/java/manual.md
  docs/content/get-started/integrations/flow-control/sdk/javascript/manual.md
  docs/content/get-started/integrations/flow-control/sdk/python/manual.md
  docs/content/get-started/integrations/flow-control/sdk/sdk.md
  docs/content/introduction.md
  docs/content/reference/observability/prometheus-metrics/agent.md
  docs/content/reference/observability/prometheus-metrics/common.md
  docs/content/reference/observability/prometheus-metrics/controller.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/rabbitmq-queue-buildup.md
  docs/content/reference/policies/mixin.md
  docs/content/reference/policies/monitoring.md
  docs/content/tutorials/auto-scale/load-based-auto-scaling/load-based-auto-scaling.md
  docs/content/tutorials/flow-control/concurrency-limiting/basic-concurrency-limiting.md
  docs/content/tutorials/tutorials.md
  pkg/otelcollector/config/config.go
Due: updated-aperture, updated-aperture-docs

incorporate suggestions
  .tool-versions
  docs/content/get-started/installation/agent/bare_metal.md
  docs/content/get-started/integrations/flow-control/sdk/go/manual.md
  docs/content/get-started/integrations/flow-control/sdk/java/armeria.md
  docs/content/get-started/integrations/flow-control/sdk/java/manual.md
  docs/content/get-started/integrations/flow-control/sdk/java/springboot.md
  docs/content/get-started/integrations/flow-control/sdk/java/tomcat.md
  docs/content/get-started/integrations/flow-control/sdk/javascript/manual.md
  docs/content/get-started/integrations/flow-control/sdk/python/manual.md
  docs/content/get-started/integrations/flow-control/sdk/sdk.md
  docs/content/reference/observability/prometheus-metrics/agent.md
  docs/content/reference/observability/prometheus-metrics/common.md
  docs/content/reference/observability/prometheus-metrics/controller.md
  docs/content/tutorials/tutorials.md
Due: updated-aperture-docs

fix
  .tool-versions
Due: none

checkpoint
  .vale.ini
  .vscode/ltex.hiddenFalsePositives.en-US.txt
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/label_matcher.proto
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/ports.proto
  api/aperture/policy/language/v1/std_components.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/label_matcher.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/ports.pb.go
  api/gen/proto/go/aperture/policy/language/v1/std_components.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/get-started/aperture-cli/aperture-cli.md
  docs/content/get-started/integrations/flow-control/envoy/istio.md
  docs/content/get-started/integrations/flow-control/gateway/kong.md
  docs/content/get-started/integrations/flow-control/gateway/nginx.md
  docs/content/get-started/playground/playground.md
  docs/content/introduction.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs

Switch from math/crypto to math/rand since it is non-blocking
  pkg/policies/flowcontrol/actuators/flowregulator/flow-regulator.go
Due: updated-aperture

fix warnings
  api/aperture/discovery/entities/v1/entities.proto
  api/gen/proto/go/aperture/discovery/entities/v1/entities.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/flow-control/components/concurrency-limiter.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/resources/classifier.md
  docs/content/concepts/policy/dynamic-configuration.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/playground/playground.md
  docs/content/reference/aperturectl/completion/bash/bash.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/mixin.md
  docs/content/tutorials/auto-scale/auto-scale.md
  docs/content/tutorials/flow-control/classification/graphql-rate-limiting.md
  docs/content/tutorials/flow-control/concurrency-limiting/basic-concurrency-limiting.md
  docs/content/tutorials/flow-control/concurrency-limiting/workload-prioritization.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  docs/tools/aperturectl/generate-docs/generate-docs.go
  extensions/fluxninja/extconfig/extconfig.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

remove keywords from accept.txt
  .github/styles/Vocab/FluxNinja/accept.txt
  api/aperture/discovery/entities/v1/entities.proto
  api/gen/proto/go/aperture/discovery/entities/v1/entities.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/policy/circuit.md
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/integrations/metrics/kubelet-stats.md
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

languagetool action
  .github/workflows/languagetool.yaml
  test.md
Due: none

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
