Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

update links in intro
  docs/content/introduction.md
Due: updated-aperture-docs

update link
  docs/content/get-started/installation/agent/agent.md
Due: updated-aperture-docs

fix casing
  docs/content/get-started/setting-up-your-service/setting-up-your-service.md
Due: updated-aperture-docs

Update graceful-js demo scenario
  playground/resources/demo-app/app/app.go
  playground/resources/demo-ui/src/pages/home.tsx
  playground/scenarios/graceful-js/load-generator/test.js
Due: updated-demo-app

improved request logic and other fixes
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/resources/demo-ui/src/hooks/tab-change.ts
  playground/resources/demo-ui/src/hooks/use-request-to-endpoint.ts
  playground/resources/demo-ui/src/pages/home.tsx
Due: none

cloud controller on tilt
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/_helpers.tpl
  manifests/charts/aperture-controller/templates/controller-cr.yaml
  manifests/charts/aperture-controller/values.yaml
Due: updated-aperture-charts

Fixed missing config fields of Prometheus in Controller helm chart
  manifests/charts/aperture-controller/templates/controller-cm.yaml
  manifests/charts/aperture-controller/templates/controller-cr.yaml
Due: updated-aperture-charts

docs: Split Architecture page into Cloud-first and Aperture-only
  docs/content/architecture/architecture.md
  docs/content/introduction.md
  docs/content/self-hosting/agent.md
  docs/content/self-hosting/architecture.md
  docs/content/self-hosting/controller/controller.md
  docs/content/self-hosting/k8s-objects.md
Due: updated-aperture-docs

Suggestions
  docs/content/architecture/architecture.md
  docs/content/faq.md
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/agent/bare-metal.md
  docs/content/get-started/installation/aperture-cli/aperture-cli.md
  docs/content/reference/fluxninja.md
  docs/content/self-hosting/k8s-objects.md
Due: updated-aperture-docs

Mention cloud controller in FAQ
  docs/content/faq.md
Due: updated-aperture-docs

fix links
  docs/content/architecture/architecture.md
  docs/content/self-hosting/k8s-objects.md
Due: updated-aperture-docs

english: architecture
  docs/content/architecture/architecture.md
Due: updated-aperture-docs

link PromQL syntax
  docs/content/architecture/architecture.md
Due: updated-aperture-docs

add `rollup` to dict
  .github/styles/Vocab/FluxNinja/accept.txt
Due: updated-aperture-docs

docs: Document .aperturectl/config better
  cmd/aperturectl/cmd/utils/controller.go
  docs/content/get-started/installation/configure-cli.md
  docs/content/reference/aperturectl/agents/agents.md
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/aperturectl/apply/apply.md
  docs/content/reference/aperturectl/apply/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/apply/policy/policy.md
  docs/content/reference/aperturectl/auto-scale/auto-scale.md
  docs/content/reference/aperturectl/auto-scale/control-points/control-points.md
  docs/content/reference/aperturectl/blueprints/generate/generate.md
  docs/content/reference/aperturectl/decisions/decisions.md
  docs/content/reference/aperturectl/delete/delete.md
  docs/content/reference/aperturectl/delete/policy/policy.md
  docs/content/reference/aperturectl/discovery/discovery.md
  docs/content/reference/aperturectl/discovery/entities/entities.md
  docs/content/reference/aperturectl/flow-control/control-points/control-points.md
  docs/content/reference/aperturectl/flow-control/flow-control.md
  docs/content/reference/aperturectl/flow-control/preview/preview.md
  docs/content/reference/aperturectl/policies/policies.md
  docs/content/reference/aperturectl/status/status.md
  docs/content/reference/configuration/aperturectl.md
  docs/tools/aperturectl/generate-docs/generate-docs.go
Due: updated-aperture, updated-aperture-docs

english and some clarifications
  docs/content/reference/configuration/aperturectl.md
Due: updated-aperture-docs

vale?
  docs/content/reference/configuration/aperturectl.md
Due: updated-aperture-docs

vale??
  docs/content/reference/configuration/aperturectl.md
Due: updated-aperture-docs

vale???
  docs/content/reference/configuration/aperturectl.md
Due: updated-aperture-docs

vale!
  docs/content/reference/configuration/aperturectl.md
Due: updated-aperture-docs

clarify
  docs/content/reference/configuration/aperturectl.md
Due: updated-aperture-docs

import zoom component
  docs/content/architecture/architecture.md
  docs/content/concepts/auto-scale.md
  docs/content/concepts/flow-label.md
  docs/content/concepts/flow-lifecycle.md
  docs/content/concepts/flux-meter.md
  docs/content/integrations/auto-scale/auto-scale.md
  docs/content/integrations/gateway/gateway.md
  docs/content/integrations/gateway/kong.md
  docs/content/integrations/gateway/nginx.md
  docs/content/integrations/istio/istio.md
  docs/content/integrations/sdk/sdk.md
  docs/content/introduction.md
  docs/content/use-cases/adaptive-service-protection/adaptive-service-protection.md
  docs/content/use-cases/alerting/alerting.md
  docs/content/use-cases/auto-scaling/auto-scaling.md
  docs/content/use-cases/managing-quotas/managing-quotas.md
  docs/content/use-cases/percentage-rollouts/percentage-rollouts.md
  docs/content/use-cases/rate-limiting/rate-limiting.md
Due: updated-aperture-docs

Rename the use-case for client-side rate limiting to inter-service rate limiting
  docs/content/use-cases/managing-quotas/assets/inter-service-rate-limiting/dashboard.png
  docs/content/use-cases/managing-quotas/assets/inter-service-rate-limiting/graph.mmd
  docs/content/use-cases/managing-quotas/assets/inter-service-rate-limiting/graph.mmd.md5sum
  docs/content/use-cases/managing-quotas/assets/inter-service-rate-limiting/graph.mmd.svg
  docs/content/use-cases/managing-quotas/assets/inter-service-rate-limiting/policy.yaml
  docs/content/use-cases/managing-quotas/assets/inter-service-rate-limiting/validate.sh
  docs/content/use-cases/managing-quotas/assets/inter-service-rate-limiting/values.yaml
  docs/content/use-cases/managing-quotas/inter-service-rate-limiting.md
Due: updated-aperture-docs

fix pre-commit
  api/buf.lock
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: updated-aperture, updated-aperture-java

remove zoom components for png/jpg/svg images
  docs/content/self-hosting/architecture.md
  docs/content/use-cases/adaptive-service-protection/average-latency-feedback.md
  docs/content/use-cases/adaptive-service-protection/workload-prioritization.md
  docs/content/use-cases/alerting/alerting.md
  docs/content/use-cases/alerting/detecting-overload.md
  docs/content/use-cases/auto-scaling/load-based-auto-scaling.md
  docs/content/use-cases/managing-quotas/client-side-rate-limiting.md
  docs/content/use-cases/percentage-rollouts/average-latency-feedback.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
  docs/content/use-cases/rate-limiting/static-rate-limiting.md
Due: updated-aperture-docs

Added info labels for cluster-level permissions in installation
  docs/content/get-started/installation/agent/agent.md
  docs/content/get-started/installation/agent/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/operator.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/self-hosting/controller/kubernetes/kubernetes.md
  docs/content/self-hosting/controller/kubernetes/namespace-scoped/namespace-scoped.md
  docs/content/self-hosting/controller/kubernetes/operator/operator.md
Due: updated-aperture-docs

Revert OTEL
  go.mod
  go.sum
Due: updated-aperture

Publish . ./aperture-agent-v2.11.0-rc.1.tgz
  aperture-agent-v2.11.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.11.0-rc.1.tgz
  aperture-controller-v2.11.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.11.0-rc.1.tgz
  index.yaml
  istioconfig-v2.11.0-rc.1.tgz
Due: none

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
