Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Publish . ./aperture-controller-v0.11.1-rc.1.tgz
  aperture-controller-v0.11.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.11.1-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v0.11.1-rc.1.tgz
Due: none

Publish . ./aperture-agent-v0.11.1.tgz
  aperture-agent-v0.11.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.11.1.tgz
  index.yaml
  istioconfig-v0.11.1.tgz
Due: none

Publish . ./aperture-controller-v0.11.1.tgz ./index.yaml
  aperture-controller-v0.11.1.tgz
  index.yaml
Due: none

Upgrade OTEL to v0.64.0
  go.mod
  go.sum
Due: updated-aperture

Add control points handling
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/buf.lock
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.json.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat_deepcopy.gen.go
  cmd/aperture-agent/agent.go
  cmd/aperture-agent/agent/otel-component.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/controlpointcache/control_point_cache.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
Due: updated-aperture, updated-aperture-docs

Add Alertmanager Exporter
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-controller/controller/otel-component.go
  go.mod
  go.sum
  pkg/alertmanager/client/client.go
  pkg/alertmanager/provide.go
  pkg/net/http/client.go
  pkg/otelcollector/alertsexporter/config.go
  pkg/otelcollector/alertsexporter/exporter.go
  pkg/otelcollector/alertsexporter/factory.go
  pkg/platform/platform.go
Due: updated-aperture

Rework provides
  operator/api/common/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/alertmanager/client/client.go
  pkg/alertmanager/provide.go
  pkg/net/http/client.go
  pkg/otelcollector/alertsexporter/exporter.go
  pkg/platform/platform.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture, updated-aperture-operator

Add alertmanagers configuration
  operator/api/common/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/alertmanager/provide.go
  pkg/otelcollector/config.go
  pkg/otelcollector/consts.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture, updated-aperture-operator

Setup prometheus alertmanager clients
  pkg/alertmanager/client/client.go
  pkg/otelcollector/alertsexporter/exporter.go
Due: updated-aperture

Review fixes
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  test/aperture_suite_test.go
Due: updated-aperture

Fixes
  go.mod
  operator/api/common/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/alertmanager/client/client.go
  pkg/otelcollector/alertsexporter/exporter.go
Due: updated-aperture, updated-aperture-operator

Don't use deprecated stuff from OTEL
  pkg/otelcollector/alertsreceiver/config.go
  pkg/otelcollector/alertsreceiver/factory.go
  pkg/otelcollector/enrichmentprocessor/factory.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/rollupprocessor/config.go
  pkg/otelcollector/rollupprocessor/factory.go
  pkg/otelcollector/tracestologsprocessor/config.go
  pkg/otelcollector/tracestologsprocessor/factory.go
  pkg/otelcollector/tracestologsprocessor/processor.go
Due: updated-aperture

Review fixes
  cmd/aperture-controller/controller.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  test/aperture_suite_test.go
Due: updated-aperture

Upgrade OTEL to v0.66.0
  go.mod
  go.sum
  pkg/otelcollector/alertsreceiver/factory.go
  pkg/otelcollector/enrichmentprocessor/factory.go
  pkg/otelcollector/enrichmentprocessor/processor_test.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/rollupprocessor/factory.go
  pkg/otelcollector/tracestologsprocessor/factory.go
Due: updated-aperture

Review fixes
  cmd/aperture-agent/agent.go
  cmd/aperture-controller/controller.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  test/aperture_suite_test.go
Due: updated-aperture

Prepare for release v.0.12.x
  docs/content/introduction.md
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-docs, updated-aperture-charts

Publish . ./aperture-agent-v0.12.0-rc.1.tgz
  aperture-agent-v0.12.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.12.0-rc.1.tgz
  aperture-controller-v0.12.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.12.0-rc.1.tgz
  index.yaml
  istioconfig-v0.12.0-rc.1.tgz
Due: none

Update Golang deps
  go.mod
  go.sum
  pkg/policies/flowcontrol/service/envoy/authz.go
Due: updated-aperture

Update Golang deps
  go.mod
  go.sum
  operator/controllers/agent/mutating_webhook_configuration.go
  operator/controllers/controller/validating_webhook_configuration.go
  operator/controllers/mutatingwebhook/mutating_webhook_configuration.go
  operator/controllers/utils.go
  pkg/policies/flowcontrol/service/envoy/authz.go
Due: updated-aperture, updated-aperture-operator

Update opa to 0.46 and fix Rego cookie example
  api/aperture/policy/language/v1/classifier.proto
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  go.mod
  go.sum
  pkg/policies/controlplane/validator_test.go
Due: updated-aperture, updated-aperture-docs

Publish . ./aperture-agent-v0.12.0-rc.2.tgz
  aperture-agent-v0.12.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.12.0-rc.2.tgz
  aperture-controller-v0.12.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.12.0-rc.2.tgz
  index.yaml
  istioconfig-v0.12.0-rc.2.tgz
Due: none

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
