Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app

Rollup based on source and metrics Closes: GH-515
  pkg/otelcollector/rollupprocessor/processor.go
  pkg/otelcollector/rollupprocessor/processor_test.go
Due: updated-aperture

move around some directories
  blueprints/examples/latency-gradient/example.jsonnet
  blueprints/examples/latency-gradient/gen/dashboards/example-signals.json
  blueprints/examples/rate-limiter/example.jsonnet
  blueprints/lib/1.0/blueprints.libsonnet
  blueprints/lib/1.0/blueprints/blueprints.libsonnet
  blueprints/lib/1.0/blueprints/latency-gradient/README.md
  blueprints/lib/1.0/blueprints/latency-gradient/bundle.libsonnet
  blueprints/lib/1.0/blueprints/latency-gradient/config.libsonnet
  blueprints/lib/1.0/blueprints/latency-gradient/dashboard.libsonnet
  blueprints/lib/1.0/blueprints/latency-gradient/latency-gradient.libsonnet
  blueprints/lib/1.0/blueprints/latency-gradient/metadata.yaml
  blueprints/lib/1.0/blueprints/latency-gradient/policy.libsonnet
  blueprints/lib/1.0/blueprints/rate-limiter/README.md
  blueprints/lib/1.0/blueprints/rate-limiter/bundle.libsonnet
  blueprints/lib/1.0/blueprints/rate-limiter/config.libsonnet
  blueprints/lib/1.0/blueprints/rate-limiter/metadata.yaml
  blueprints/lib/1.0/blueprints/rate-limiter/policy.libsonnet
  blueprints/lib/1.0/blueprints/rate-limiter/rate-limiter.libsonnet
  blueprints/lib/1.0/blueprints/signals-dashboard/README.md
  blueprints/lib/1.0/blueprints/signals-dashboard/bundle.libsonnet
  blueprints/lib/1.0/blueprints/signals-dashboard/config.libsonnet
  blueprints/lib/1.0/blueprints/signals-dashboard/dashboard.libsonnet
  blueprints/lib/1.0/blueprints/signals-dashboard/metadata.yaml
  blueprints/lib/1.0/blueprints/signals-dashboard/signals-dashboard.libsonnet
  blueprints/lib/1.0/dashboards/dashboards.libsonnet
  blueprints/lib/1.0/main.libsonnet
  blueprints/lib/1.0/policies/latency-gradient/bundle.libsonnet
  blueprints/lib/1.0/policies/latency-gradient/metadata.yaml
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.jsonnet
  docs/content/policies/blueprints.md
  docs/content/policies/tutorial/assets/signal-processing/signals-dashboard.jsonnet
  playground/tanka/apps/aperture-controller/mixins.libsonnet
  playground/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: updated-aperture-docs

update docs for latency gradient
  blueprints/lib/1.0/blueprints/latency-gradient/README.md
  blueprints/lib/1.0/blueprints/latency-gradient/config.libsonnet
  blueprints/lib/1.0/blueprints/latency-gradient/dashboard.libsonnet
Due: none

update helm readme generator command
  manifests/charts/Makefile
Due: updated-aperture-charts

[ImgBot] Optimize images
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/rate-limiter/gen/graph/graph.svg
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.png
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.svg
  docs/content/policies/tutorial/assets/signal-processing/is_overload_switch.png
  docs/content/policies/tutorial/assets/signal-processing/latency.png
  docs/content/policies/tutorial/assets/signal-processing/latency_ema.png
  docs/content/policies/tutorial/assets/signal-processing/latency_setpoint.png
  docs/content/policies/tutorial/assets/signal-processing/signal-processing.mmd.png
  docs/content/policies/tutorial/assets/signal-processing/signal-processing.mmd.svg
Due: updated-aperture-docs

blueprints: tweak defaults
  blueprints/examples/latency-gradient/gen/graph/graph.dot
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/latency-gradient/gen/policies/example.yaml
  blueprints/examples/rate-limiter/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient/README.md
  blueprints/lib/1.0/blueprints/latency-gradient/config.libsonnet
  blueprints/lib/1.0/blueprints/rate-limiter/README.md
  blueprints/lib/1.0/blueprints/rate-limiter/config.libsonnet
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.md5sum
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.png
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.svg
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
Due: updated-aperture-operator, updated-aperture-docs

Add authzHandler to sdk-validator's grpc server
  cmd/sdk-validator/main.go
  cmd/sdk-validator/validator/common.go
  cmd/sdk-validator/validator/flowcontrol.go
Due: updated-aperture

Trigger aperture-go, aperture-java workflows upon flowcontrol proto change too
  .circleci/config.yml
  .circleci/continue-workflows.yml
Due: none

Improve latency gradient blueprint param naming and documentation
  blueprints/examples/latency-gradient/gen/graph/graph.dot
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/latency-gradient/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient/README.md
  blueprints/lib/1.0/blueprints/latency-gradient/config.libsonnet
  blueprints/lib/1.0/blueprints/latency-gradient/policy.libsonnet
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.md5sum
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.png
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.svg
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
Due: updated-aperture-operator, updated-aperture-docs

Java SDK: Accept flow in case of unresponsive agent
  sdks/aperture-java/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
Due: none

Typo and elaborate more about scheduler output signals
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs

Update CommonHandler
  cmd/sdk-validator/validator/common.go
Due: updated-aperture

Fix Concurrency Multiplier defaults
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
Due: updated-aperture

Un-tested checkpoint
  blueprints/examples/latency-gradient/gen/graph/graph.dot
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/latency-gradient/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient/policy.libsonnet
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.md5sum
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.png
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.svg
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
Due: updated-aperture-operator, updated-aperture-docs

api: fix generator on macOS
  api/Makefile
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/common/info/v1/info.pb.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.go
  api/gen/proto/go/aperture/common/status/v1/status.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/CheckRequest.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/CheckRequestOrBuilder.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/CheckResponse.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/CheckResponseOrBuilder.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/ClassifierInfo.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/ClassifierInfoOrBuilder.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/ControlPointInfo.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/ControlPointInfoOrBuilder.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/FlowControlServiceGrpc.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/FlowcontrolProto.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/FluxMeterInfo.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/FluxMeterInfoOrBuilder.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/LimiterDecision.java
  api/gen/proto/java/com/fluxninja/aperture/flowcontrol/v1/LimiterDecisionOrBuilder.java
Due: updated-aperture

Remove entities from tracker
  pkg/discovery/kubernetes/kubernetes_discovery.go
Due: updated-aperture

docs: move blueprints doc to get-started
  blueprints/README.md
  docs/content/concepts/policy/policy.md
  docs/content/get-started/installation/controller.md
  docs/content/get-started/policies/assets/gen/blueprints/jsonnet/blueprints_0.jsonnet
  docs/content/get-started/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd
  docs/content/get-started/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.md5sum
  docs/content/get-started/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.png
  docs/content/get-started/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.svg
  docs/content/get-started/policies/assets/gen/blueprints/jsonnet/blueprints_0.yaml
  docs/content/get-started/policies/blueprints.md
Due: updated-aperture-docs

Refactor KubernetesDiscovery and groups methods together
  pkg/discovery/kubernetes/kubernetes_discovery.go
Due: updated-aperture

Address lint issue and format file
  pkg/notifiers/notifier_test.go
Due: updated-aperture

restructure docs
  docs/content/get-started/policies/_category_.yml
  docs/content/get-started/policies/assets/monitoring/signals-dashboard.json
  docs/content/get-started/policies/assets/monitoring/signals-dashboard.jsonnet
  docs/content/get-started/policies/monitoring.md
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.jsonnet
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.md5sum
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.png
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.svg
  docs/content/policies/assets/gen/blueprints/jsonnet/blueprints_0.yaml
  docs/content/policies/blueprints.md
  docs/content/policies/tutorial/tutorial.md
  docs/content/tutorial/_category_.yml
  docs/content/tutorial/basic-flow-control/_category_.yml
  docs/content/tutorial/basic-flow-control/assets/static-rate-limiting/static-rate-limiting.jsonnet
  docs/content/tutorial/basic-flow-control/assets/static-rate-limiting/static-rate-limiting.mmd
  docs/content/tutorial/basic-flow-control/assets/static-rate-limiting/static-rate-limiting.mmd.md5sum
  docs/content/tutorial/basic-flow-control/assets/static-rate-limiting/static-rate-limiting.mmd.png
  docs/content/tutorial/basic-flow-control/assets/static-rate-limiting/static-rate-limiting.mmd.svg
  docs/content/tutorial/basic-flow-control/assets/static-rate-limiting/static-rate-limiting.yaml
  docs/content/tutorial/basic-flow-control/static-rate-limiting.md
  docs/content/tutorial/signal-processing/_category_.yml
  docs/content/tutorial/signal-processing/assets/detecting-overload/detecting-overload.jsonnet
  docs/content/tutorial/signal-processing/assets/detecting-overload/detecting-overload.mmd
  docs/content/tutorial/signal-processing/assets/detecting-overload/detecting-overload.mmd.md5sum
  docs/content/tutorial/signal-processing/assets/detecting-overload/detecting-overload.mmd.png
  docs/content/tutorial/signal-processing/assets/detecting-overload/detecting-overload.mmd.svg
  docs/content/tutorial/signal-processing/assets/detecting-overload/detecting-overload.yaml
  docs/content/tutorial/signal-processing/assets/detecting-overload/is_overload_switch.png
  docs/content/tutorial/signal-processing/assets/detecting-overload/latency.png
  docs/content/tutorial/signal-processing/assets/detecting-overload/latency_ema.png
  docs/content/tutorial/signal-processing/assets/detecting-overload/latency_setpoint.png
  docs/content/tutorial/signal-processing/detecting-overload.md
Due: updated-aperture-docs

checkpoint
  docs/content/tutorial/basic-flow-control/concurrency-limiting.md
Due: updated-aperture-docs

checkpoint
  docs/content/get-started/installation/agent/supported-platforms.md
  docs/content/get-started/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.md5sum
  docs/content/get-started/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.png
  docs/content/get-started/policies/assets/gen/blueprints/jsonnet/blueprints_0.mmd.svg
  docs/content/get-started/policies/blueprints.md
  docs/content/tutorial/basic-flow-control/concurrency-limiting.md
  docs/content/tutorials/_category_.yml
  docs/content/tutorials/basic-flow-control/_category_.yml
  docs/content/tutorials/basic-flow-control/assets/concurrency-limiting/concurrency-limiting.jsonnet
  docs/content/tutorials/basic-flow-control/assets/concurrency-limiting/concurrency-limiting.mmd
  docs/content/tutorials/basic-flow-control/assets/concurrency-limiting/concurrency-limiting.mmd.md5sum
  docs/content/tutorials/basic-flow-control/assets/concurrency-limiting/concurrency-limiting.mmd.png
  docs/content/tutorials/basic-flow-control/assets/concurrency-limiting/concurrency-limiting.mmd.svg
  docs/content/tutorials/basic-flow-control/assets/concurrency-limiting/concurrency-limiting.yaml
  docs/content/tutorials/basic-flow-control/assets/static-rate-limiting/static-rate-limiting.jsonnet
  docs/content/tutorials/basic-flow-control/assets/static-rate-limiting/static-rate-limiting.mmd
  docs/content/tutorials/basic-flow-control/assets/static-rate-limiting/static-rate-limiting.mmd.md5sum
  docs/content/tutorials/basic-flow-control/assets/static-rate-limiting/static-rate-limiting.mmd.png
  docs/content/tutorials/basic-flow-control/assets/static-rate-limiting/static-rate-limiting.mmd.svg
  docs/content/tutorials/basic-flow-control/assets/static-rate-limiting/static-rate-limiting.yaml
  docs/content/tutorials/basic-flow-control/concurrency-limiting.md
  docs/content/tutorials/basic-flow-control/static-rate-limiting.md
  docs/content/tutorials/signal-processing/_category_.yml
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.jsonnet
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.md5sum
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.png
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.svg
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.yaml
  docs/content/tutorials/signal-processing/assets/detecting-overload/is_overload_switch.png
  docs/content/tutorials/signal-processing/assets/detecting-overload/latency.png
  docs/content/tutorials/signal-processing/assets/detecting-overload/latency_ema.png
  docs/content/tutorials/signal-processing/assets/detecting-overload/latency_setpoint.png
  docs/content/tutorials/signal-processing/detecting-overload.md
Due: updated-aperture-docs

checkpoint
  docs/content/get-started/policies/blueprints.md
  docs/content/tutorials/flow-control/_category_.yml
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/concurrency-limiting.jsonnet
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/concurrency-limiting.mmd
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/concurrency-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/concurrency-limiting.yaml
  docs/content/tutorials/flow-control/assets/static-rate-limiting/static-rate-limiting.jsonnet
  docs/content/tutorials/flow-control/assets/static-rate-limiting/static-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/static-rate-limiting/static-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/static-rate-limiting/static-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/static-rate-limiting/static-rate-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/static-rate-limiting/static-rate-limiting.yaml
  docs/content/tutorials/flow-control/basic-concurrency-limiting.md
  docs/content/tutorials/flow-control/static-rate-limiting.md
  docs/content/tutorials/signal-processing/detecting-overload.md
  playground/load_generator/scenarios/load_test.js
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture-docs

Remove entities from tracker correctly upon modify event
  pkg/discovery/kubernetes/kubernetes_discovery.go
Due: updated-aperture

Do not get entity from tracker before updating it
  pkg/discovery/kubernetes/kubernetes_discovery.go
Due: updated-aperture

add graph
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.png
  docs/content/tutorials/flow-control/basic-concurrency-limiting.md
Due: updated-aperture-docs

tweak doc headers
  docs/content/tutorials/flow-control/basic-concurrency-limiting.md
  docs/content/tutorials/flow-control/static-rate-limiting.md
  docs/content/tutorials/signal-processing/detecting-overload.md
Due: updated-aperture-docs

playground: revert scenario changes
  playground/load_generator/scenarios/load_test.js
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: none

docs: add scheduler tutorial
  blueprints/examples/latency-gradient/gen/graph/graph.dot
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/latency-gradient/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient/README.md
  blueprints/lib/1.0/blueprints/latency-gradient/config.libsonnet
  docs/content/get-started/policies/blueprints.md
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting-playground.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.jsonnet
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/concurrency-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization-playground.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.jsonnet
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.yaml
  docs/content/tutorials/flow-control/basic-concurrency-limiting.md
  docs/content/tutorials/flow-control/workload-prioritization.md
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools|api)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools|api)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: tools/demo_app/.*
