Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

Fixed issue with sentry processing logs
  pkg/config/log.go
Due: updated-aperture

Removed map sorting from ConfigMap tests
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/utils.go
Due: updated-aperture-operator

Fixed pre-commit failures on main
  scripts/precommit/generate_playground_policies.sh
Due: none

use secure connection to port-forwarded controller
  cmd/aperturectl/cmd/utils/controller.go
  docs/content/reference/aperturectl/agents/agents.md
  docs/content/reference/aperturectl/flow-control/control-points/control-points.md
  docs/content/reference/aperturectl/flow-control/flow-control.md
Due: updated-aperture, updated-aperture-docs

unhardcode agent→controller connection; add hack to inject cert
  api/buf.lock
  docs/gen/config/agent/config-swagger.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/configmaps.go
  operator/controllers/agent/reconciler.go
  operator/controllers/namespace/reconciler.go
  pkg/agentfunctions/provide.go
  pkg/agentfunctions/zz_generated.deepcopy.go
  playground/tanka/apps/aperture-agent/mixins.libsonnet
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Fixed format issues of installation pages
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller/controller.md
Due: updated-aperture-docs

Make few adjustments to examples
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/fluxmeter.proto
Due: updated-aperture

Make agent_functions.{endpoints,client} fields optional
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/agentfunctions/provide.go
Due: updated-aperture, updated-aperture-operator

Move Optional annotation to package
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/agentfunctions/provide.go
Due: updated-aperture, updated-aperture-operator

api docs: remove gotags if they are in the title in addition to description
  .gitignore
  api/aperture/flowcontrol/preview/v1/preview.proto
  api/aperture/policy/language/v1/policy.proto
  api/enrich-api-swagger.go
  api/gen/proto/go/aperture/flowcontrol/preview/v1/preview.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/CONTRIBUTING.md
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/get-started/policies/assets/validate.sh
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  docs/tools/aperturectl/validate_all.sh
  docs/tools/aperturectl/validate_common.sh
  docs/tools/jsonnet/generate_jsonnet.sh
  scripts/build_aperturectl.sh
  scripts/precommit/generate_playground_policies.sh
Due: updated-aperture, updated-aperture-docs

bump cache
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
Due: none

add buf to circleci cache
  .circleci/continue-workflows.yml
Due: none

aperturectl flow-control preview and agent group awareness
  api/aperture/cmd/v1/cmd.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.json.go
  api/gen/proto/go/aperture/cmd/v1/cmd_deepcopy.gen.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  cmd/aperturectl/cmd/flowcontrol/list.go
  cmd/aperturectl/cmd/flowcontrol/preview.go
  cmd/aperturectl/cmd/flowcontrol/root.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/aperturectl/flow-control/flow-control.md
  docs/content/reference/aperturectl/flow-control/preview/preview.md
  pkg/agentfunctions/agents/agents.go
  pkg/agentfunctions/controlpoints.go
  pkg/agentfunctions/preview.go
  pkg/agentfunctions/provide.go
  pkg/cmd/controller.go
  pkg/policies/flowcontrol/selectors/control-point-id.go
  pkg/policies/flowcontrol/service/preview/provide.go
Due: updated-aperture, updated-aperture-docs

Generic Autoscaler instead of Pods specific
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/autoscale.libsonnet
  blueprints/gen/v1/autoscaler.libsonnet
  blueprints/gen/v1/autoscalerdecreasinggradient.libsonnet
  blueprints/gen/v1/autoscalerdecreasinggradientins.libsonnet
  blueprints/gen/v1/autoscalerdecreasinggradientparameters.libsonnet
  blueprints/gen/v1/autoscalerincreasinggradient.libsonnet
  blueprints/gen/v1/autoscalerincreasinggradientins.libsonnet
  blueprints/gen/v1/autoscalerincreasinggradientparameters.libsonnet
  blueprints/gen/v1/autoscalerkubernetesreplicas.libsonnet
  blueprints/gen/v1/autoscalerouts.libsonnet
  blueprints/gen/v1/autoscalerscaleincontroller.libsonnet
  blueprints/gen/v1/autoscalerscaleincontrollercontroller.libsonnet
  blueprints/gen/v1/autoscalerscaleoutcontroller.libsonnet
  blueprints/gen/v1/autoscalerscaleoutcontrollercontroller.libsonnet
  blueprints/gen/v1/autoscalerscaler.libsonnet
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/podautoscalerouts.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/auto-scale-components.go
  pkg/policies/controlplane/components/autoscale/autoscaler.go
Due: updated-aperture, updated-aperture-docs

fix playground and build plugins on builder base
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  playground/Tiltfile
Due: updated-aperture

remove additional plugin-builder stage
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
Due: updated-aperture

Synced build flags
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  pkg/info/build.sh
  pkg/plugins/build.sh
  plugins/service/aperture-plugin-fluxninja/main.go
  plugins/service/aperture-plugin-sentry/main.go
Due: updated-aperture

Revert "Bump Golang to 1.20 (#1372)"
  .circleci/continue-workflows.yml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  go.sum
  operator/Dockerfile
  playground/scenarios/demo-app/application/Dockerfile
  playground/scenarios/demo-app/application/go.mod
  playground/scenarios/graphql-example-1/application/graphql_demo_app/Dockerfile
  playground/scenarios/graphql-example-1/application/graphql_demo_app/go.mod
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  tools/go/go.mod
Due: updated-aperture, updated-aperture-go

kube-openapi
  go.mod
  go.sum
Due: updated-aperture

cleanup go mod file
  go.mod
  go.sum
Due: updated-aperture

Increased default no output timeout for CircleCI image build
  .circleci/continue-workflows.yml
Due: none

Fixed limit_reset_interval not getting added in values.yaml
  blueprints/policies/static-rate-limiting/config.libsonnet
  blueprints/policies/static-rate-limiting/gen/definitions.json
  blueprints/policies/static-rate-limiting/gen/values-required.yaml
  blueprints/policies/static-rate-limiting/gen/values.yaml
  docs/content/get-started/policies/assets/raw_values.yaml
  docs/content/get-started/policies/assets/validate.sh
  docs/content/get-started/policies/policies.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
Due: updated-aperture-docs

Changes for release 0.25.x
  cmd/aperturectl/cmd/apply/policy.go
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture, updated-aperture-charts

Publish . ./aperture-agent-v0.25.0-rc.1.tgz
  aperture-agent-v0.25.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.25.0-rc.1.tgz
  aperture-controller-v0.25.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.25.0-rc.1.tgz
  index.yaml
  istioconfig-v0.25.0-rc.1.tgz
Due: none
