Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

Make otel debug and healthcheck ports configurable
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/controller/config_test.tpl
  operator/controllers/controller/configmaps_test.go
  pkg/otelcollector/config.go
  pkg/otelcollector/zz_generated.deepcopy.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Define otel ports as container ports as well
  operator/controllers/agent/daemonset.go
  operator/controllers/constants.go
  operator/controllers/controller/deployment.go
  pkg/otelcollector/config.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture, updated-aperture-operator

Fixed the operator tests getting skipped issue
  operator/controllers/agent/agent_suite_test.go
  operator/controllers/agent/config_test.tpl
  operator/controllers/controller/config_test.tpl
  operator/controllers/controller/controller_suite_test.go
  operator/controllers/mutatingwebhook/mutatingwebhook_suite_test.go
  operator/controllers/mutatingwebhook/reconciler_test.go
  operator/controllers/namespace/namespace_suite_test.go
  operator/controllers/namespace/reconciler_test.go
Due: updated-aperture-operator

Improve visibility of sampled logs
  pkg/alerts/alert.go
  pkg/log/log.go
  pkg/log/log_suite_test.go
  pkg/log/samplers.go
  pkg/log/samplers_test.go
  pkg/otelcollector/alertsreceiver/processor.go
  pkg/otelcollector/helpers.go
  pkg/otelcollector/metricsprocessor/internal/check_response_labels.go
  pkg/otelcollector/metricsprocessor/internal/sdk_labels.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
  pkg/policies/flowcontrol/actuators/concurrency/load-actuator.go
  pkg/policies/flowcontrol/resources/classifier/classification-engine.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  pkg/watchdog/watchdog.go
Due: updated-aperture

Add operator tests
  operator/controllers/agent/daemonset_test.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/mutatingwebhook/agent_pod.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
Due: updated-aperture-operator

Make Gradle build java SDK compatible with JDK 11
  sdks/aperture-java/build.gradle.kts
Due: updated-aperture-java

Update opentelemetry exporter dependency
  sdks/aperture-java/build.gradle.kts
Due: updated-aperture-java

Added the functionality to check for the minimum supported kubernetes version
  operator/controllers/agent/reconciler.go
  operator/controllers/constants.go
  operator/controllers/controller/reconciler.go
  operator/main.go
Due: updated-aperture-operator

Move aperture-java publishing jobs to SDK
  .circleci/continue-workflows.yml
  sdks/aperture-java/.circleci/config.yml
  sdks/aperture-java/.circleci/continue-workflows.yml
Due: updated-aperture-java

Update Java SDK snapshot version to 0.4.0
  sdks/aperture-java/version.gradle.kts
Due: updated-aperture-java

Fixed comment on exported var as per the golangci-lint requirement
  operator/controllers/constants.go
Due: updated-aperture-operator

Add libsonnet for alerter
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  blueprints/lib/1.0/_gen/v1/alerter.libsonnet
  blueprints/lib/1.0/_gen/v1/alerterins.libsonnet
  blueprints/lib/1.0/_gen/v1/component.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  pkg/alerts/alert.go
  pkg/policies/controlplane/components/alerter.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture

Alerter component
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-factory_test.go
  pkg/policies/controlplane/components/alerter.go
Due: updated-aperture, updated-aperture-docs

Pass alerter pointer to policy fx app
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-factory_test.go
  pkg/policies/controlplane/components/alerter.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture

Fix failing to start flow when passing null labels map
  sdks/aperture-java/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
Due: updated-aperture-java

Downgrade slf4j dependency
  sdks/aperture-java/build.gradle.kts
Due: updated-aperture-java

Relocate all packages when creating a shadow jar
  sdks/aperture-java/build.gradle.kts
Due: updated-aperture-java

Fixed pre-commit lint issue
  operator/controllers/agent/reconciler.go
  operator/controllers/constants.go
  operator/controllers/controller/reconciler.go
  operator/main.go
Due: updated-aperture-operator

Make Gradle build java SDK compatible with JDK 1.8
  sdks/aperture-java/build.gradle.kts
Due: updated-aperture-java

Added functionality to check for minimum supported kubernetes version using apimachinery Version package
  .codespellignore
  operator/controllers/agent/reconciler.go
  operator/controllers/constants.go
  operator/controllers/controller/reconciler.go
  operator/main.go
Due: updated-aperture-operator

Start warning on entity lookup failure in authz and flowcontrol
  pkg/log/log.go
  pkg/log/samplers.go
  pkg/net/grpc/helpers.go
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/envoy/authz.go
  pkg/policies/flowcontrol/service/envoy/authz_test.go
Due: updated-aperture
