Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app

Remove commented out code
  pkg/discovery/kubernetes/kubernetes_discovery.go
Due: updated-aperture

Merge multiple release workflows into a singular one
  .circleci/config.yml
Due: none

Publish . ./aperture-agent-v0.7.0-rc.2.tgz
  aperture-agent-v0.7.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.7.0-rc.2.tgz
  aperture-controller-v0.7.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.7.0-rc.2.tgz
  index.yaml
  istioconfig-v0.7.0-rc.2.tgz
Due: none

Publish . ./aperture-agent-v0.7.0.tgz
  aperture-agent-v0.7.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.7.0.tgz
  index.yaml
  istioconfig-v0.7.0.tgz
Due: none

Publish . ./aperture-controller-v0.7.0.tgz
  aperture-controller-v0.7.0.tgz
  index.yaml
Due: none

Move java SDK release job to a workload triggered on semver tags
  .circleci/config.yml
  .circleci/post-release.yaml
Due: none

docs: annotate grafana dashboard image
  docs/content/assets/img/grafana_dashboard.png
Due: updated-aperture-docs

[ImgBot] Optimize images
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  docs/content/assets/img/grafana_dashboard.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting-playground.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.svg
Due: updated-aperture-docs

docs: add dynamic rate limiting tutorial
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.jsonnet
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.yaml
  docs/content/tutorials/flow-control/dynamic-rate-limiting.md
  docs/content/tutorials/flow-control/workload-prioritization.md
Due: updated-aperture-docs

add chart
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.png
Due: updated-aperture-docs

docs: add dynamic rate limiting tutorial
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting-playground.png
  docs/content/tutorials/flow-control/dynamic-rate-limiting.md
  docs/content/tutorials/flow-control/workload-prioritization.md
Due: updated-aperture-docs

Nodejs SDK simple grpc client
  playground/Tiltfile
  playground/tanka/apps/aperture-nodejs-example/main.jsonnet
  playground/tanka/apps/aperture-nodejs-example/mixins.libsonnet
  sdks/aperture-nodejs/.gitignore
  sdks/aperture-nodejs/Dockerfile
  sdks/aperture-nodejs/README.md
  sdks/aperture-nodejs/package-lock.json
  sdks/aperture-nodejs/package.json
  sdks/aperture-nodejs/src/client.js
  sdks/aperture-nodejs/src/consts.js
  sdks/aperture-nodejs/src/example.js
  sdks/aperture-nodejs/src/proto/flowcontrol.proto
Due: none

Repo rename, add circle ci sync job
  .circleci/config.yml
  .circleci/continue-workflows.yml
  playground/Tiltfile
  playground/tanka/apps/aperture-nodejs-example/main.jsonnet
  playground/tanka/apps/aperture-nodejs-example/mixins.libsonnet
  sdks/aperture-js/.gitignore
  sdks/aperture-js/Dockerfile
  sdks/aperture-js/README.md
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/src/client.js
  sdks/aperture-js/src/consts.js
  sdks/aperture-js/src/example.js
  sdks/aperture-js/src/proto/flowcontrol.proto
Due: none

Fix nil pointer error in runDockerContainer
  cmd/sdk-validator/main.go
Due: updated-aperture

maint: move demo_app to playground
  .circleci/config.yml
  .circleci/continue-workflows.yml
  docs/content/get-started/assets/playground/playground-app.mmd
  docs/content/get-started/assets/playground/playground-app.mmd.md5sum
  docs/content/get-started/playground.md
  go.mod
  go.sum
  playground/Tiltfile
  playground/browser/go.mod
  playground/browser/go.sum
  playground/browser/main.go
  playground/demo_app/Dockerfile
  playground/demo_app/README.md
  playground/demo_app/app/app.go
  playground/demo_app/app/app_test.go
  playground/demo_app/go.mod
  playground/demo_app/go.sum
  playground/demo_app/main.go
Due: updated-aperture, updated-aperture-docs

bump istio and other tools
  .tool-versions
  docs/content/get-started/playground.md
  playground/tanka/chartfile.yaml
Due: updated-aperture-docs

update playground documentation
  docs/content/assets/gen/introduction/architecture_simple.mmd
  docs/content/assets/gen/introduction/architecture_simple.mmd.md5sum
  docs/content/assets/gen/introduction/architecture_simple.mmd.png
  docs/content/assets/gen/introduction/architecture_simple.mmd.svg
  docs/content/get-started/assets/playground/playground-app.mmd
  docs/content/get-started/assets/playground/playground-app.mmd.md5sum
  docs/content/get-started/assets/playground/playground-app.mmd.png
  docs/content/get-started/assets/playground/playground-app.mmd.svg
  docs/content/get-started/playground.md
  docs/content/introduction.md
Due: updated-aperture-docs

update mermaid
  docs/content/get-started/assets/playground/playground-app.mmd
  docs/content/get-started/assets/playground/playground-app.mmd.md5sum
  docs/content/get-started/assets/playground/playground-app.mmd.png
  docs/content/get-started/assets/playground/playground-app.mmd.svg
Due: updated-aperture-docs

pre-commit hook
  api/aperture/common/entitycache/v1/entitycache.proto
  api/aperture/common/info/v1/info.proto
  api/aperture/common/labelmatcher/v1/labelmatcher.proto
  api/aperture/common/peers/v1/peers.proto
  api/aperture/common/selector/v1/selector.proto
  api/aperture/common/status/v1/status.proto
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/policy.proto
  api/buf.lock
  docs/content/get-started/playground.md
  go.mod
  go.sum
Due: updated-aperture, updated-aperture-docs

update readme
  README.md
Due: none

[ImgBot] Optimize images
  docs/content/assets/gen/introduction/architecture_simple.mmd.png
  docs/content/assets/gen/introduction/architecture_simple.mmd.svg
  docs/content/get-started/assets/playground/playground-app.mmd.png
  docs/content/get-started/assets/playground/playground-app.mmd.svg
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting-playground.png
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
Due: updated-aperture-docs

Rollup based on source and metrics Closes: GH-515
  pkg/otelcollector/rollupprocessor/processor.go
  pkg/otelcollector/rollupprocessor/processor_test.go
  pkg/otelcollector/rollupprocessor/rollup.go
Due: updated-aperture

Additional UT
  pkg/otelcollector/rollupprocessor/processor_test.go
Due: updated-aperture

FluxMeter --> Flux Meter
  api/aperture/common/selector/v1/selector.proto
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/common/selector/v1/selector.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  docs/content/assets/diagrams/architecture/aperture.mmd
  docs/content/assets/diagrams/architecture/aperture.mmd.md5sum
  docs/content/assets/diagrams/architecture/aperture.mmd.png
  docs/content/assets/diagrams/architecture/aperture.mmd.svg
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/flow-control/flux-meter.md
  docs/content/concepts/policy/resources.md
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/policy.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/policy/policy.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/agentinfo/agent-info.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

FluxMeter --> Flux Meter
  docs/content/references/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/agentinfo/agent-info.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

playground: minor tweaks in Tiltfile
  playground/Tiltfile
Due: none

Fix sentences in tutorials
  docs/content/tutorials/flow-control/basic-concurrency-limiting.md
  docs/content/tutorials/flow-control/workload-prioritization.md
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools|api)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools|api)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: tools/demo_app/.*
