Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

aperture-js: serialize wait time as json correctly
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture-js

fix
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture-js

export fewer items
  sdks/aperture-js/sdk/index.ts
Due: updated-aperture-js

refactor rate limiter policy spec
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/ratelimiter.libsonnet
  blueprints/gen/v1/ratelimiterparameters.libsonnet
  blueprints/gen/v1/ratelimiterrequestparameters.libsonnet
  blueprints/rate-limiting/base/config.libsonnet
  blueprints/rate-limiting/base/gen/definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/blueprints/rate-limiting/base.md
  docs/content/reference/configuration/spec.md
  docs/content/use-cases/adaptive-service-protection/assets/workload-prioritization/policy.yaml
  docs/content/use-cases/adaptive-service-protection/assets/workload-prioritization/values.yaml
  docs/content/use-cases/percentage-rollouts/assets/average-latency-feedback/values.yaml
  docs/gen/policy/policy.yaml
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/rate-limiter/rate-limiter.go
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
Due: updated-aperture, updated-aperture-docs, updated-blueprints

refactor rate limiter policy spec
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app.yaml
Due: none

refactor rate limiter policy spec
  blueprints/rate-limiting/base/policy.libsonnet
  docs/content/use-cases/rate-limiting/assets/graphql-rate-limiting/policy.yaml
  docs/content/use-cases/rate-limiting/assets/static-rate-limiting/policy.yaml
  playground/scenarios/graphql-rate-limiting/policies/graphql-rate-limiting-cr.yaml
  playground/scenarios/rate-limiting/policies/rate-limiting-cr.yaml
Due: updated-aperture-docs, updated-blueprints

replace limit_jobs with run_parallel script
  docs/content/use-cases/percentage-rollouts/assets/average-latency-feedback/graph.mmd
  docs/content/use-cases/percentage-rollouts/assets/average-latency-feedback/graph.mmd.md5sum
  docs/content/use-cases/percentage-rollouts/assets/average-latency-feedback/graph.mmd.svg
  docs/content/use-cases/percentage-rollouts/assets/average-latency-feedback/policy.yaml
  docs/content/use-cases/percentage-rollouts/assets/average-latency-feedback/validate.sh
  docs/tools/aperturectl/validate_all.sh
  docs/tools/jsonnet/generate_jsonnet.sh
  docs/tools/mermaid/generate_all.sh
  scripts/generate_blueprints.sh
  scripts/limit_jobs.sh
  scripts/precommit/generate_playground_policies.sh
  scripts/run_parallel.sh
Due: updated-aperture-docs

Revert "Added metrics for Flow Duration (#2625)"
  blueprints/grafana/panels/flow_duration.libsonnet
  blueprints/grafana/panels/grouped/quota_scheduler.libsonnet
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/flowcontrol/actuators/quota-scheduler/quota-scheduler.go
  pkg/policies/flowcontrol/actuators/workload-scheduler/scheduler.go
  pkg/policies/flowcontrol/iface/limiter.go
  pkg/policies/mocks/mock_limiter.go
Due: updated-aperture, updated-blueprints

aperture-js: add tryConnect flag
  playground/scenarios/rate-limiting/load-generator/test.js
  playground/scenarios/rate-limiting/policies/rate-limiting-cr.yaml
  playground/scenarios/rate-limiting/policies/rate-limiting.yaml
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: updated-aperture-js

update architecture image
  docs/content/assets/img/aperture-architecture-dark.svg
  docs/content/assets/img/aperture-architecture-light.svg
Due: updated-aperture-docs

Publish . ./aperture-agent-v2.16.0-rc.1.tgz
  aperture-agent-v2.16.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.16.0-rc.1.tgz
  index.yaml
  istioconfig-v2.16.0-rc.1.tgz
Due: none

Publish . ./aperture-controller-v2.16.0-rc.1.tgz ./index.yaml
  aperture-controller-v2.16.0-rc.1.tgz
  index.yaml
Due: none

cover the tabs sections to detail sections
  docs/content/use-cases/adaptive-service-protection/message-queue/rabbitmq.md
  docs/content/use-cases/adaptive-service-protection/service/average-latency-feedback.md
  docs/content/use-cases/auto-scaling/load-based-auto-scaling.md
  docs/content/use-cases/managing-quotas/inter-service-rate-limiting.md
  docs/content/use-cases/percentage-rollouts/average-latency-feedback.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
  docs/content/use-cases/rate-limiting/static-rate-limiting.md
Due: updated-aperture-docs

Publish . ./aperture-agent-v2.16.0.tgz
  aperture-agent-v2.16.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.16.0.tgz ./index.yaml
  index.yaml
  istioconfig-v2.16.0.tgz
Due: none

Publish . ./aperture-controller-v2.16.0.tgz
  aperture-controller-v2.16.0.tgz
  index.yaml
Due: none

Revert "cover the tabs sections to detail sections"
  docs/content/use-cases/adaptive-service-protection/message-queue/rabbitmq.md
  docs/content/use-cases/adaptive-service-protection/service/average-latency-feedback.md
  docs/content/use-cases/auto-scaling/load-based-auto-scaling.md
  docs/content/use-cases/managing-quotas/inter-service-rate-limiting.md
  docs/content/use-cases/percentage-rollouts/average-latency-feedback.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
  docs/content/use-cases/rate-limiting/static-rate-limiting.md
Due: updated-aperture-docs

Set log timestamp format to include nanoseconds
  pkg/log/log.go
Due: updated-aperture

hide yaml into detailed section
  docs/content/use-cases/adaptive-service-protection/message-queue/rabbitmq.md
  docs/content/use-cases/adaptive-service-protection/service/average-latency-feedback.md
  docs/content/use-cases/auto-scaling/load-based-auto-scaling.md
  docs/content/use-cases/managing-quotas/inter-service-rate-limiting.md
  docs/content/use-cases/percentage-rollouts/average-latency-feedback.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
  docs/content/use-cases/rate-limiting/static-rate-limiting.md
Due: updated-aperture-docs

Always use etcd in GetPolicies
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/sync/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/sync/v1/policy_vtproto.pb.go
  cmd/aperturectl/cmd/apply/policy.go
  cmd/aperturectl/cmd/policies.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/adaptive-load-scheduler.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/provider.go
Due: updated-aperture, updated-aperture-docs

Fix Start→Stop typo
  pkg/policies/controlplane/provider.go
Due: updated-aperture

relax requirements for PostDynamicConfig
  pkg/policies/controlplane/policy-service.go
Due: updated-aperture

add words related to blog in accepted
  .github/styles/Vocab/FluxNinja/accept.txt
Due: updated-aperture-docs

AIADLoadScheduler
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/aiadloadscheduler.libsonnet
  blueprints/gen/v1/aiadloadschedulerins.libsonnet
  blueprints/gen/v1/aiadloadschedulerouts.libsonnet
  blueprints/gen/v1/aiadloadschedulerparameters.libsonnet
  blueprints/gen/v1/flowcontrol.libsonnet
  blueprints/gen/v1/gen.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/flow-control-components.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/aiad-load-scheduler.go
Due: updated-aperture, updated-aperture-docs, updated-blueprints

AIAD checkpoint
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/aiad-load-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/load-scheduler-variants.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/range-load-scheduler.go
  playground/scenarios/graceful-js/load-generator/test.js
Due: updated-aperture

refactor: Simplify Election: remove Trackers
  pkg/etcd/election/election.go
  pkg/etcd/watcher/watcher.go
  pkg/notifiers/tracker.go
  pkg/otelcollector/leaderonlyreceiver/receiver.go
  pkg/otelcollector/otelcollector.go
  pkg/panic-handler/waitgroup.go
  pkg/policies/autoscale/kubernetes/actuators/podscaler/pod-scaler.go
  pkg/policies/autoscale/kubernetes/discovery/autoscale-control-points.go
  pkg/policies/autoscale/kubernetes/discovery/autoscale-discovery.go
  pkg/policies/autoscale/kubernetes/discovery/provide.go
  pkg/policies/controlplane/crwatcher/watcher.go
Due: updated-aperture

enforce single controller via etcd election
  cmd/aperture-controller/controller.go
  cmd/aperture-controller/election.go
  docs/content/reference/configuration/controller.md
  docs/gen/config/controller/config-swagger.yaml
  pkg/etcd/election/election.go
Due: updated-aperture, updated-aperture-docs
