Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

review comment
  sdks/aperture-js/example/routes/use_aperture.ts
Due: updated-aperture-js

Refactor StartFlow method in ApertureClient
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/client.ts
Due: updated-aperture-js

Refactor middlewareParams in main.go and client.go
  sdks/aperture-go/example/main.go
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
  sdks/aperture-go/sdk/middleware/utils.go
Due: updated-aperture-go

Refactor middleware to precompile ignored path regex patterns
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/middleware/http.go
Due: updated-aperture-go

Refactor middleware creation in main.go
  sdks/aperture-go/example/main.go
  sdks/aperture-go/sdk/middleware/http.go
Due: updated-aperture-go

Add regex pattern compilation for ignored paths in GRPC middleware
  sdks/aperture-go/sdk/middleware/grpc.go
Due: updated-aperture-go

Fix GRPC flow control bug
  sdks/aperture-go/sdk/middleware/grpc.go
Due: updated-aperture-go

final fixes
  docs/content/get-started/assets/sign-up/console-view.png
  docs/content/get-started/assets/sign-up/create-org.png
  docs/content/get-started/assets/sign-up/get-started.png
  docs/content/get-started/assets/sign-up/install-aperture.png
  docs/content/get-started/assets/sign-up/invite-members.png
  docs/content/get-started/assets/sign-up/project-name.png
  docs/content/get-started/assets/sign-up/select-subscription.png
  docs/content/get-started/assets/sign-up/sign-up.png
  docs/content/get-started/assets/sign-up/subscribe.png
  docs/content/get-started/assets/sign-up/subscription-plan.png
  docs/content/get-started/assets/sign-up/subscription-started.png
  docs/content/get-started/assets/sign-up/thats-all.png
  docs/content/get-started/assets/sign-up/usergroups.png
  docs/content/get-started/define-control-points.md
  docs/content/get-started/sign-up.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/sdk/javascript/manual.md
Due: updated-aperture-docs

Fix prepareCheckHTTPRequestForGRPC parameter order
  sdks/aperture-go/sdk/middleware/grpc.go
Due: updated-aperture-go

Refactor cache.ts and flow.ts in aperture-js/sdk
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/cache.ts
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture-js

Update @fluxninja/aperture-js version to 2.3.3
  sdks/aperture-js/.gitignore
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
Due: updated-aperture-js

Refactor Aperture flow control logic
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/client.ts
Due: updated-aperture-js

Update Aperture agent address in use_aperture.ts
  sdks/aperture-js/example/routes/use_aperture.ts
Due: updated-aperture-js

Add support for cache (#2937)
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-js/.gitignore
  sdks/aperture-js/Dockerfile
  sdks/aperture-js/example/package-lock.json
  sdks/aperture-js/example/package.json
  sdks/aperture-js/example/routes/connected.ts
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/cache.ts
  sdks/aperture-js/sdk/client.ts
  sdks/aperture-js/sdk/flow.ts
Due: updated-aperture-go, updated-aperture-js

Fix logging import and error handling in GRPC and HTTP middleware
  sdks/aperture-go/sdk/middleware/grpc.go
  sdks/aperture-go/sdk/middleware/http.go
Due: updated-aperture-go

Add CacheKey to FlowParams and implement cache-related methods in Flow interface
  sdks/aperture-go/sdk/client.go
  sdks/aperture-go/sdk/flow.go
Due: updated-aperture-go

Add Aperture .NET SDK
  .circleci/config.yml
  .circleci/continue-workflows.yml
  api/Makefile
  api/buf.gen.aperture-langs2.yaml
  docs/content/sdk/dotnet/dotnet.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/sdk.md
  sdks/aperture-csharp/.gitignore
  sdks/aperture-csharp/ApertureSDK.csproj
  sdks/aperture-csharp/ApertureSDK.sln
  sdks/aperture-csharp/Core/ApertureSdk.cs
  sdks/aperture-csharp/Core/ApertureSdkBuilder.cs
  sdks/aperture-csharp/Core/Constants.cs
  sdks/aperture-csharp/Core/FeatureFlow.cs
  sdks/aperture-csharp/Core/FeatureFlowParams.cs
  sdks/aperture-csharp/Core/FlowDecision.cs
  sdks/aperture-csharp/Core/FlowStatus.cs
  sdks/aperture-csharp/Core/IApertureSdk.cs
  sdks/aperture-csharp/Core/IFlow.cs
  sdks/aperture-csharp/Core/Utils.cs
  sdks/aperture-csharp/Dockerfile
  sdks/aperture-csharp/Examples/Examples.csproj
  sdks/aperture-csharp/Examples/Program.cs
  sdks/aperture-csharp/Examples/log4net.config
  sdks/aperture-csharp/Generated/Aperture/Flowcontrol/V1/Check.cs
  sdks/aperture-csharp/Generated/Aperture/Flowcontrol/V1/CheckGrpc.cs
  sdks/aperture-csharp/LICENSE.txt
  sdks/aperture-csharp/README.md
Due: updated-aperture, updated-aperture-docs

Java SDK: Make startFlow argument a struct
  docs/content/sdk/java/manual.md
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/FeatureFlowParameters.java
  sdks/aperture-java/version.gradle.kts
Due: updated-aperture-docs, updated-aperture-java

Fix unit test
  pkg/policies/flowcontrol/service/check/check.go
  pkg/policies/flowcontrol/service/check/provide.go
Due: updated-aperture

Improved Code Examples in the Docs
  docs/content/get-started/define-control-points.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/sdk/dotnet/manual.md
  docs/content/sdk/javascript/manual.md
Due: updated-aperture-docs

Improvements to sdk api's
  api/aperture/flowcontrol/check/v1/check.proto
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.validate.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_vtproto.pb.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/policies/flowcontrol/engine.go
  pkg/policies/flowcontrol/service/check/check.go
  sdks/aperture-csharp/Generated/Aperture/Flowcontrol/V1/Check.cs
  sdks/aperture-csharp/Generated/Aperture/Flowcontrol/V1/CheckGrpc.cs
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.validate.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_vtproto.pb.go
  sdks/aperture-go/sdk/cache.go
  sdks/aperture-go/sdk/flow.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheDeleteResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheDeleteResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheLookupStatus.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheOperationStatus.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheUpsertResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CacheUpsertResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CachedValue.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CachedValueOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-js/sdk/cache.ts
  sdks/aperture-js/sdk/flow.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheDeleteResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheLookupStatus.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheOperationStatus.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CacheUpsertResponse.ts
  sdks/aperture-js/sdk/gen/aperture/flowcontrol/check/v1/CachedValue.ts
  sdks/aperture-js/sdk/gen/check.ts
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
Due: updated-aperture, updated-aperture-docs, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py

Update sdks/aperture-js/example/routes/connected.ts
  sdks/aperture-js/example/routes/connected.ts
Due: updated-aperture-js

fixes
  sdks/aperture-js/sdk/cache.ts
Due: updated-aperture-js

style and formatting
  sdks/aperture-go/sdk/flow.go
Due: updated-aperture-go

Update ssh keys for aperture-csharp
  .circleci/continue-workflows.yml
  sdks/aperture-csharp/README.md
Due: none

Add circleci config for aperture-csharp
  sdks/aperture-csharp/.circleci/config.yml
  sdks/aperture-csharp/.circleci/continue-workflows.yml
Due: none

Fix playground SDK examples
  playground/tanka/lib/apps/aperture-sdk-example/aperture-sdk-example.libsonnet
Due: updated-blueprints

Update Agent API key creation instructions in manual.md
  docs/content/sdk/dotnet/manual.md
Due: updated-aperture-docs

Update docs with caching example and aperture-js sdk example
  docs/content/get-started/define-control-points.md
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/sdk/cache.ts
  sdks/aperture-js/sdk/index.ts
Due: updated-aperture-docs, updated-aperture-js

minor issue
  docs/content/sdk/dotnet/manual.md
Due: updated-aperture-docs

revert the change
  docs/content/sdk/dotnet/manual.md
Due: updated-aperture-docs

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
