Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Publish . ./aperture-controller-v2.3.2-rc.1.tgz
  aperture-controller-v2.3.2-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.3.2-rc.1.tgz
  index.yaml
  istioconfig-v2.3.2-rc.1.tgz
Due: none

docs: remove Cards
  docs/content/get-started/setting-up-application/manual-control-points.md
  docs/content/get-started/setting-up-application/middleware-insertions.md
  docs/content/get-started/setting-up-application/service-mesh-and-gateways.md
  docs/content/introduction.md
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler.yaml
Due: updated-aperture-docs

Publish . ./aperture-agent-v2.3.2-rc.2.tgz
  aperture-agent-v2.3.2-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.3.2-rc.2.tgz
  aperture-controller-v2.3.2-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.3.2-rc.2.tgz
  index.yaml
  istioconfig-v2.3.2-rc.2.tgz
Due: none

docs: fix mermaid generation script
  README.md
  docs/tools/mermaid/generate_all.sh
Due: updated-aperture-docs

Add diagrams for each use case
  docs/content/introduction.md
  docs/content/use-cases/alerting/alerting.md
  docs/content/use-cases/alerting/detecting-overload.md
  docs/content/use-cases/assets/alerting.mmd
  docs/content/use-cases/assets/alerting.mmd.md5sum
  docs/content/use-cases/assets/alerting.mmd.svg
  docs/content/use-cases/assets/auto-scaling.mmd
  docs/content/use-cases/assets/auto-scaling.mmd.md5sum
  docs/content/use-cases/assets/auto-scaling.mmd.svg
  docs/content/use-cases/assets/feature-rollout.mmd
  docs/content/use-cases/assets/feature-rollout.mmd.md5sum
  docs/content/use-cases/assets/feature-rollout.mmd.svg
  docs/content/use-cases/assets/quota-scheduler.mmd
  docs/content/use-cases/assets/quota-scheduler.mmd.md5sum
  docs/content/use-cases/assets/quota-scheduler.mmd.svg
  docs/content/use-cases/assets/rate-limiting.mmd
  docs/content/use-cases/assets/rate-limiting.mmd.md5sum
  docs/content/use-cases/assets/rate-limiting.mmd.svg
  docs/content/use-cases/assets/service-protection.mmd
  docs/content/use-cases/assets/service-protection.mmd.md5sum
  docs/content/use-cases/assets/service-protection.mmd.svg
  docs/content/use-cases/auto-scale/auto-scale.md
  docs/content/use-cases/auto-scale/load-based-auto-scaling/load-based-auto-scaling.md
  docs/content/use-cases/feature-rollout/feature-rollout.md
  docs/content/use-cases/quota-scheduler/quota-scheduler.md
  docs/content/use-cases/rate-limiting/rate-limiting.md
  docs/content/use-cases/service-protection/prioritization.md
  docs/content/use-cases/service-protection/protection.md
  docs/content/use-cases/service-protection/service-protection.md
Due: updated-aperture-docs

global token bucket: remove key lock
  go.mod
  go.sum
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Due: updated-aperture

add replication mode configuration
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/dist-cache/config/config.go
  pkg/dist-cache/provider.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs

Publish . ./aperture-agent-v2.3.2-rc.3.tgz
  aperture-agent-v2.3.2-rc.3.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.3.2-rc.3.tgz
  aperture-controller-v2.3.2-rc.3.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.3.2-rc.3.tgz
  index.yaml
  istioconfig-v2.3.2-rc.3.tgz
Due: none

Publish . ./aperture-agent-v2.3.2.tgz
  aperture-agent-v2.3.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.3.2.tgz
  aperture-controller-v2.3.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.3.2.tgz
  index.yaml
  istioconfig-v2.3.2.tgz
Due: none

Fix DistCache timeout error
  pkg/dist-cache/provider.go
  pkg/dist-cache/service-discovery.go
Due: updated-aperture

fix broken links
  docs/content/reference/policies/bundled-blueprints/policies/service-protection/average-latency.md
Due: updated-aperture-docs

Do not get stats in ProvideDistCache
  pkg/dist-cache/provider.go
Due: updated-aperture

Move shutdown correctly
  pkg/dist-cache/provider.go
Due: updated-aperture

Update quota scheduler policy
  playground/scenarios/quota-scheduler/policies/quota-scheduler-cr.yaml
  playground/scenarios/quota-scheduler/policies/quota-scheduler.yaml
Due: none

Refactor each use case policy section
  docs/content/use-cases/alerting/detecting-overload.md
  docs/content/use-cases/auto-scale/load-based-auto-scaling/load-based-auto-scaling.md
  docs/content/use-cases/feature-rollout/with-average-latency-feedback.md
  docs/content/use-cases/quota-scheduler/external-rate-limiting.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
  docs/content/use-cases/rate-limiting/static-rate-limiting.md
  docs/content/use-cases/service-protection/prioritization.md
  docs/content/use-cases/service-protection/protection.md
Due: updated-aperture-docs

Support policies metadata for policies created by api
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/provider.go
  pkg/policies/paths/paths.go
Due: updated-aperture

Rename Bundled-Blueprints to Blueprints only
  docs/content/reference/blueprints/blueprints.md
  docs/content/reference/blueprints/dashboards/_category_.yaml
  docs/content/reference/blueprints/dashboards/signals.md
  docs/content/reference/blueprints/policies/_category_.yaml
  docs/content/reference/blueprints/policies/auto-scaling/auto-scaling.md
  docs/content/reference/blueprints/policies/auto-scaling/pod-auto-scaler.md
  docs/content/reference/blueprints/policies/feature-rollout/average-latency.md
  docs/content/reference/blueprints/policies/feature-rollout/base.md
  docs/content/reference/blueprints/policies/feature-rollout/ema-latency.md
  docs/content/reference/blueprints/policies/feature-rollout/feature-rollout.md
  docs/content/reference/blueprints/policies/feature-rollout/percentile-latency.md
  docs/content/reference/blueprints/policies/feature-rollout/promql.md
  docs/content/reference/blueprints/policies/quota-scheduler.md
  docs/content/reference/blueprints/policies/rate-limiting.md
  docs/content/reference/blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency.md
  docs/content/reference/blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql.md
  docs/content/reference/blueprints/policies/service-protection-with-load-based-pod-auto-scaler/service-protection-with-load-based-pod-auto-scaler.md
  docs/content/reference/blueprints/policies/service-protection/average-latency.md
  docs/content/reference/blueprints/policies/service-protection/promql.md
  docs/content/reference/blueprints/policies/service-protection/service-protection.md
Due: updated-aperture-docs

Shift Integrations below Use Cases and flatten part of concepts section
  docs/content/arc/extension.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/resources/flux-meter.md
  docs/content/concepts/flow-label.md
  docs/content/concepts/policy/dynamic-configuration.md
  docs/content/concepts/policy/policy.md
  docs/content/concepts/selector.md
  docs/content/get-started/get-started.md
  docs/content/get-started/policies/assets/values.yaml
  docs/content/get-started/policies/policies.md
  docs/content/integrations/integrations.md
  docs/content/introduction.md
  docs/content/reference/blueprints/dashboards/signals.md
  docs/content/reference/blueprints/policies/auto-scaling/pod-auto-scaler.md
  docs/content/reference/blueprints/policies/feature-rollout/average-latency.md
  docs/content/reference/blueprints/policies/feature-rollout/base.md
  docs/content/reference/blueprints/policies/feature-rollout/ema-latency.md
  docs/content/reference/blueprints/policies/feature-rollout/percentile-latency.md
  docs/content/reference/blueprints/policies/feature-rollout/promql.md
  docs/content/reference/blueprints/policies/quota-scheduler.md
  docs/content/reference/blueprints/policies/rate-limiting.md
  docs/content/reference/blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency.md
  docs/content/reference/blueprints/policies/service-protection-with-load-based-pod-auto-scaler/promql.md
  docs/content/reference/blueprints/policies/service-protection/average-latency.md
  docs/content/reference/blueprints/policies/service-protection/promql.md
  docs/content/reference/policies/spec.md
  docs/content/use-cases/alerting/detecting-overload.md
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/values.yaml
  docs/content/use-cases/auto-scale/load-based-auto-scaling/load-based-auto-scaling.md
  docs/content/use-cases/feature-rollout/assets/with-average-latency-feedback/values.yaml
  docs/content/use-cases/feature-rollout/with-average-latency-feedback.md
  docs/content/use-cases/quota-scheduler/assets/with-external-api-calls-prioritization/values.yaml
  docs/content/use-cases/quota-scheduler/external-rate-limiting.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
  docs/content/use-cases/service-protection/assets/basic-service-protection/values.yaml
  docs/content/use-cases/service-protection/assets/workload-prioritization/values.yaml
  docs/content/use-cases/service-protection/basic-service-protection.md
  docs/content/use-cases/use-cases.md
Due: updated-aperture-docs

Java SDK: Rename methods to be more descriptive
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaClient.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureHTTPService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClient.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCService.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/HttpUtils.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/RpcUtils.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDK.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/FlowDecision.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
  sdks/aperture-java/lib/netty/src/main/java/com/fluxninja/aperture/netty/ApertureServerHandler.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ServletUtils.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ServletUtils.java
Due: updated-aperture-java

Java SDK: Add shouldRun() method to Flow classes
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Flow.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/TrafficFlow.java
Due: updated-aperture-java

Java SDK: Enable creation of Aperture SDK without specifying Agent host/port
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
Due: updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
