Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

fixes and improvements
  playground/resources/demo-ui/package-lock.json
  playground/resources/demo-ui/package.json
  playground/resources/demo-ui/src/app.tsx
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/resources/demo-ui/src/hooks/index.ts
  playground/resources/demo-ui/src/hooks/tab-change.ts
  playground/resources/demo-ui/src/pages/home.tsx
  playground/resources/demo-ui/src/pages/success-icon.tsx
Due: none

deleted build pack
  playground/resources/demo-app/Dockerfile
  playground/resources/demo-app/app/app.go
  playground/resources/demo-app/public/favicon.ico
  playground/resources/demo-app/public/index.html
  playground/resources/demo-app/public/main.js
  playground/resources/demo-app/public/main.js.LICENSE.txt
Due: updated-demo-app

fixed issues and bugs
  playground/resources/demo-ui/src/api.ts
  playground/resources/demo-ui/src/pages/home.tsx
  playground/resources/demo-ui/webpack.config.js
  playground/scenarios/graceful-js/policies/feature-rollout.yaml
Due: none

changed heading on panel
  playground/resources/demo-ui/src/components/monitor-request.tsx
  playground/resources/demo-ui/src/pages/home.tsx
Due: none

error component fix and refactor
  playground/resources/demo-ui/package-lock.json
  playground/resources/demo-ui/package.json
  playground/resources/demo-ui/src/hooks/index.ts
  playground/resources/demo-ui/src/hooks/use-request-to-endpoint.ts
  playground/resources/demo-ui/src/pages/home.tsx
Due: none

Corrected grafana field names
  blueprints/grafana/utils/bar_gauge_panel.libsonnet
  blueprints/grafana/utils/stat_panel.libsonnet
Due: updated-blueprints

Use forked version of opentelemetry-collector-contrib repo
  go.mod
  go.sum
Due: updated-aperture

Updated config format for the kubelet infra_meter
  blueprints/auto-scaling/common/config-defaults.libsonnet
  blueprints/auto-scaling/common/policy.libsonnet
  blueprints/auto-scaling/pod-auto-scaler/bundle.libsonnet
  blueprints/auto-scaling/pod-auto-scaler/config.libsonnet
  blueprints/auto-scaling/pod-auto-scaler/gen/definitions.json
  blueprints/auto-scaling/pod-auto-scaler/gen/values.yaml
  blueprints/common/config-defaults.libsonnet
  blueprints/load-scheduling/average-latency/gen/definitions.json
  blueprints/load-scheduling/average-latency/gen/values.yaml
  blueprints/load-scheduling/common/config-defaults.libsonnet
  blueprints/load-scheduling/common/policy.libsonnet
  blueprints/load-scheduling/postgresql/config.libsonnet
  blueprints/load-scheduling/postgresql/gen/definitions.json
  blueprints/load-scheduling/postgresql/gen/values.yaml
  blueprints/load-scheduling/promql/gen/definitions.json
  blueprints/load-scheduling/promql/gen/values.yaml
  blueprints/utils/utils.libsonnet
  docs/content/get-started/policies/assets/raw_values.yaml
  docs/content/reference/blueprints/auto-scaling/pod-auto-scaler.md
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
  docs/content/reference/blueprints/load-scheduling/promql.md
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
Due: updated-aperture-docs, updated-blueprints

Corrected name missmatch
  blueprints/auto-scaling/pod-auto-scaler/config.libsonnet
  blueprints/auto-scaling/pod-auto-scaler/gen/definitions.json
  blueprints/auto-scaling/pod-auto-scaler/gen/values.yaml
  docs/content/reference/blueprints/auto-scaling/pod-auto-scaler.md
Due: updated-aperture-docs, updated-blueprints

Make EnforceLabels return early if there are no labels to enforce
  pkg/prometheus/enforcer.go
Due: updated-aperture

Change how local prometheus otel pipeline is disabled
  cmd/aperture-controller/controller/otel-config.go
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  extensions/fluxninja/otel/provide.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  pkg/otelcollector/config/config.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Added kubelet overload confirmation in load scheduling blueprint
  blueprints/auto-scaling/pod-auto-scaler/config.libsonnet
  blueprints/load-scheduling/average-latency/bundle.libsonnet
  blueprints/load-scheduling/average-latency/gen/definitions.json
  blueprints/load-scheduling/average-latency/gen/values.yaml
  blueprints/load-scheduling/common/config-defaults.libsonnet
  blueprints/load-scheduling/common/utils.libsonnet
  blueprints/load-scheduling/postgresql/bundle.libsonnet
  blueprints/load-scheduling/postgresql/config.libsonnet
  blueprints/load-scheduling/postgresql/gen/definitions.json
  blueprints/load-scheduling/postgresql/gen/values.yaml
  blueprints/load-scheduling/promql/bundle.libsonnet
  blueprints/load-scheduling/promql/gen/definitions.json
  blueprints/load-scheduling/promql/gen/values.yaml
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
  docs/content/reference/blueprints/load-scheduling/promql.md
  docs/content/use-cases/adaptive-service-protection/assets/average-latency-feedback/policy.yaml
  docs/content/use-cases/adaptive-service-protection/assets/workload-prioritization/policy.yaml
  docs/content/use-cases/auto-scaling/assets/load-based-auto-scaling/policy.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  playground/scenarios/basic-service-protection/policies/basic-service-protection-cr.yaml
  playground/scenarios/demo-app-fan-in/policies/weighted-service-protection-cr.yaml
  playground/scenarios/java-service-protection/policies/service-protection-cr.yaml
  playground/scenarios/prometheus-workload-prioritization/policies/prometheus-workload-prioritization-cr.yaml
  playground/scenarios/service-protection-auto-scale-escalation/policies/load-based-auto-scale-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/workload-prioritization/policies/workload-prioritization-cr.yaml
Due: updated-aperture-operator, updated-aperture-docs, updated-blueprints

Added kubelet_metrics in load ramping
  blueprints/auto-scaling/pod-auto-scaler/bundle.libsonnet
  blueprints/load-ramping/base/bundle.libsonnet
  blueprints/load-ramping/base/config.libsonnet
  blueprints/load-ramping/base/gen/definitions.json
  blueprints/load-ramping/base/gen/values.yaml
  blueprints/load-ramping/base/policy.libsonnet
  blueprints/load-scheduling/common/utils.libsonnet
  blueprints/load-scheduling/postgresql/bundle.libsonnet
  docs/content/reference/blueprints/load-ramping/base.md
  playground/scenarios/feature-rollout/policies/load-ramping-cr.yaml
Due: updated-aperture-docs, updated-blueprints

Don't shadow error declaration
  operator/controllers/controller/reconciler.go
Due: updated-aperture-operator

Properly remove otel pipeline and keep the receiver
  extensions/fluxninja/otel/provide.go
Due: updated-aperture

Publish . ./aperture-agent-v2.7.0-rc.2.tgz
  aperture-agent-v2.7.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.7.0-rc.2.tgz
  aperture-controller-v2.7.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.7.0-rc.2.tgz
  index.yaml
  istioconfig-v2.7.0-rc.2.tgz
Due: none

Publish . ./aperture-agent-v2.7.0.tgz
  aperture-agent-v2.7.0.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.7.0.tgz
  aperture-controller-v2.7.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.7.0.tgz
  index.yaml
  istioconfig-v2.7.0.tgz
Due: none

Add `decisions` subcommand to `aperturectl`
  cmd/aperturectl/cmd/decisions/root.go
  cmd/aperturectl/cmd/root.go
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/aperturectl/decisions/decisions.md
  pkg/etcd/writer/writer.go
Due: updated-aperture, updated-aperture-docs

Fix decisions unmarshaling
  cmd/aperturectl/cmd/decisions/root.go
Due: updated-aperture

Add missing labels to label whitelist
  pkg/otelcollector/metricsprocessor/internal/labels_filter.go
Due: updated-aperture

Fix pre commit issue & update policy
  .pre-commit-config.yaml
  playground/resources/demo-app/app/app.go
  playground/scenarios/graceful-js/metadata.json
  playground/scenarios/graceful-js/policies/load-ramping-cr.yaml
  playground/scenarios/graceful-js/policies/load-ramping.yaml
Due: updated-demo-app

Query controller instead of etcd directly for decisions
  api/aperture/cmd/v1/cmd.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/cmd/v1/cmd.pb.go
  api/gen/proto/go/aperture/cmd/v1/cmd_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.gw.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/policy_grpc.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy_vtproto.pb.go
  cmd/aperturectl/cmd/decisions/root.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/aperturectl/decisions/decisions.md
  pkg/cmd/controller.go
  pkg/policies/controlplane/policy-service.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: updated-aperture, updated-aperture-docs, updated-aperture-java

Tune Guest and Subscriber in prioritization policy
  playground/scenarios/graceful-js/policies/workload-prioritization-cr.yaml
  playground/scenarios/graceful-js/policies/workload-prioritization.yaml
Due: none

documentation: minor fixes
  README.md
  docs/content/introduction.md
  docs/content/use-cases/adaptive-service-protection/assets/average-latency-feedback/values.yaml
Due: updated-aperture-docs

Infra Meter concept and other improvements
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/architecture/architecture.md
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/advanced/advanced.md
  docs/content/concepts/auto-scale.md
  docs/content/concepts/flow-label.md
  docs/content/concepts/flux-meter.md
  docs/content/concepts/infra-meter.md
  docs/content/concepts/load-ramp.md
  docs/content/concepts/rate-limiter.md
  docs/content/concepts/scheduler/load-scheduler.md
  docs/content/concepts/scheduler/scheduler.md
  docs/content/get-started/policies/policies.md
  docs/content/integrations/auto-scale/kubernetes/kubernetes.md
  docs/content/reference/blueprints/load-ramping/base.md
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/configuration/spec.md
  docs/content/use-cases/adaptive-service-protection/average-latency-feedback.md
  docs/content/use-cases/adaptive-service-protection/workload-prioritization.md
  docs/content/use-cases/alerting/detecting-overload.md
  docs/content/use-cases/auto-scaling/load-based-auto-scaling.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
  docs/content/use-cases/rate-limiting/static-rate-limiting.md
  docs/content/use-cases/use-cases.md
  docs/gen/policy/policy.yaml
  pkg/metrics/schema.go
  pkg/otelcollector/infra-meter/infra-meter.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: updated-aperture, updated-aperture-docs, updated-aperture-java, updated-blueprints

Re-word architecture
  docs/content/architecture/architecture.md
Due: updated-aperture-docs

Improve agent installation text
  docs/content/get-started/installation/agent/agent.md
Due: updated-aperture-docs

Fix vale error
  docs/content/concepts/flux-meter.md
  docs/content/concepts/scheduler/quota-scheduler.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
Due: updated-aperture-docs

Fix links
  docs/content/concepts/advanced/dynamic-configuration.md
  docs/content/concepts/infra-meter.md
  docs/content/concepts/scheduler/load-scheduler.md
Due: updated-aperture-docs
