Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Added quotes around image tag in agent and controller CR
  manifests/charts/aperture-agent/templates/agent.yaml
  manifests/charts/aperture-controller/templates/controller.yaml
Due: updated-aperture-charts

Fixes in aperture lua module installation docs
  .circleci/post-release.yaml
  docs/content/get-started/integrations/flow-control/gateway/kong.md
  docs/content/get-started/integrations/flow-control/gateway/nginx.md
Due: updated-aperture-docs

Overhaul policy graph implementation and proto
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/monitoring/v1/policy_view.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/monitoring/v1/policy_view.pb.go
  api/gen/proto/go/aperture/policy/monitoring/v1/policy_view.pb.json.go
  api/gen/proto/go/aperture/policy/monitoring/v1/policy_view_deepcopy.gen.go
  blueprints/gen/jsonschema/_definitions.json
  cmd/aperturectl/cmd/utils/utils.go
  docs/Makefile
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/tutorials/integrations/auto-scale/assets/graph_config.yaml
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd.md5sum
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd.svg
  docs/gen/policy/policy.yaml
  docs/tools/aperturectl/generate-docs/generate-docs.go
  docs/tools/aperturectl/generate-policy-graphs/generate-policy-graphs.go
  pkg/policies/controlplane/circuitfactory/auto-scale-components.go
  pkg/policies/controlplane/circuitfactory/circuit.go
  pkg/policies/controlplane/circuitfactory/compile.go
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/circuitfactory/flow-control-components.go
  pkg/policies/controlplane/circuitfactory/graph.go
  pkg/policies/controlplane/circuitfactory/nested-circuit.go
  pkg/policies/controlplane/circuitfactory/provide.go
  pkg/policies/controlplane/circuitfactory/tree.go
  pkg/policies/controlplane/components/variable.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
  pkg/policies/controlplane/runtime/compile.go
  pkg/policies/controlplane/runtime/component-id.go
  pkg/policies/controlplane/runtime/ports.go
  pkg/policies/controlplane/sim/circuit.go
  pkg/policies/controlplane/sim/components.go
Due: updated-aperture, updated-aperture-docs

Actuators in policy view
  api/aperture/policy/monitoring/v1/policy_view.proto
  api/gen/proto/go/aperture/policy/monitoring/v1/policy_view.pb.go
  pkg/policies/controlplane/circuitfactory/tree.go
  pkg/policies/controlplane/components/alerter.go
  pkg/policies/controlplane/components/arithmetic-combinator.go
  pkg/policies/controlplane/components/autoscale/podscaler/scale-actuator.go
  pkg/policies/controlplane/components/autoscale/podscaler/scale-reporter.go
  pkg/policies/controlplane/components/controller/controller-component.go
  pkg/policies/controlplane/components/decider.go
  pkg/policies/controlplane/components/differentiator.go
  pkg/policies/controlplane/components/ema.go
  pkg/policies/controlplane/components/extrapolator.go
  pkg/policies/controlplane/components/first-valid.go
  pkg/policies/controlplane/components/flowcontrol/concurrency/load-actuator.go
  pkg/policies/controlplane/components/flowcontrol/concurrency/scheduler.go
  pkg/policies/controlplane/components/flowcontrol/rate/rate-limiter.go
  pkg/policies/controlplane/components/holder.go
  pkg/policies/controlplane/components/integrator.go
  pkg/policies/controlplane/components/logical.go
  pkg/policies/controlplane/components/max.go
  pkg/policies/controlplane/components/min.go
  pkg/policies/controlplane/components/noop.go
  pkg/policies/controlplane/components/pulse-generator.go
  pkg/policies/controlplane/components/query/promql/promql.go
  pkg/policies/controlplane/components/switcher.go
  pkg/policies/controlplane/components/unary-operator.go
  pkg/policies/controlplane/components/variable.go
  pkg/policies/controlplane/runtime/component.go
  pkg/policies/controlplane/sim/components.go
Due: updated-aperture

Fix
  pkg/policies/controlplane/runtime/ports.go
Due: updated-aperture

Publish . ./aperture-agent-v1.1.0-rc.2.tgz
  aperture-agent-v1.1.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v1.1.0-rc.2.tgz
  aperture-controller-v1.1.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v1.1.0-rc.2.tgz
  index.yaml
  istioconfig-v1.1.0-rc.2.tgz
Due: none

Minor corrections in Lua module installation docs
  .circleci/post-release.yaml
  docs/content/get-started/integrations/flow-control/gateway/kong.md
  docs/content/get-started/integrations/flow-control/gateway/nginx.md
Due: updated-aperture-docs

Moved control-point as CheckHTTPRequest field instead of header
  api/aperture/flowcontrol/checkhttp/v1/checkhttp.proto
  api/buf.lock
  api/gen/proto/go/aperture/flowcontrol/checkhttp/v1/checkhttp.pb.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  gateways/lua/aperture-plugin/access.lua
  pkg/net/grpcgateway/grpcgateway.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp.go
  pkg/policies/flowcontrol/service/checkhttp/checkhttp_test.go
  playground/resources/kong/Dockerfile
  playground/resources/nginx/Dockerfile
Due: updated-aperture, updated-aperture-docs

Publish . ./aperture-controller-v1.1.0-rc.3.tgz
  aperture-controller-v1.1.0-rc.3.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v1.1.0-rc.3.tgz ./index.yaml
  aperture-agent-v1.1.0-rc.3.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v1.1.0-rc.3.tgz
  index.yaml
  istioconfig-v1.1.0-rc.3.tgz
Due: none

Publish . ./aperture-agent-v1.1.0.tgz
  aperture-agent-v1.1.0.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v1.1.0.tgz
  aperture-controller-v1.1.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v1.1.0.tgz ./index.yaml
  index.yaml
  istioconfig-v1.1.0.tgz
Due: none

Refactor installation mode
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  extensions/fluxninja/extconfig/extconfig.go
  extensions/fluxninja/heartbeats/heartbeats.go
  extensions/fluxninja/heartbeats/provide.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/hook.go
  operator/controllers/agent/hook_sidecar_test.tpl
  operator/controllers/agent/hook_test.go
  operator/controllers/agent/reconciler.go
  operator/controllers/agent/reconciler_test.go
  operator/controllers/controller/config_test.tpl
Due: updated-aperture-operator, updated-aperture-docs

Add rabbitmq support to demoapp
  playground/resources/demo-app/app/app.go
  playground/resources/demo-app/go.mod
  playground/resources/demo-app/go.sum
  playground/resources/demo-app/main.go
Due: none

add rabbitmq chart
  playground/resources/demo-app/main.go
  playground/scenarios/rabbitmq-demo-app/metadata.json
  playground/tanka/apps/demo-app/mixins.libsonnet
  playground/tanka/chartfile.yaml
  playground/tanka/charts/.gitignore
  playground/tanka/charts/demo-app/templates/deployment.yaml
  playground/tanka/charts/demo-app/values.yaml
Due: none

remove values fallback from aperturectl
  cmd/aperturectl/cmd/blueprints/values.go
Due: updated-aperture

use remote buf plugin for java
  api/buf.gen.aperture.yaml
  api/buf.gen.envoy.yaml
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequest.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckRequestOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/ClassifierInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FluxMeterInfo.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecision.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecisionOrBuilder.java
Due: updated-aperture, updated-aperture-java

add flowcontrolresources and add deprecation tooling
  .pre-commit-config.yaml
  api/aperture/policy/language/v1/flowcontrol.proto
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.validate.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/flowcontrolresources.libsonnet
  blueprints/gen/v1/gen.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/validator.go
  scripts/check_deprecated.sh
  scripts/latest_aperture_version.sh
Due: updated-aperture, updated-aperture-docs

Specs for SignalGenerator, FluxRegulator, LoadShaper. SignalGenerator implementation.
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/component.libsonnet
  blueprints/gen/v1/flowcontrol.libsonnet
  blueprints/gen/v1/fluxregulator.libsonnet
  blueprints/gen/v1/fluxregulatordynamicconfig.libsonnet
  blueprints/gen/v1/fluxregulatorins.libsonnet
  blueprints/gen/v1/fluxregulatorparameters.libsonnet
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/loadshaper.libsonnet
  blueprints/gen/v1/loadshaperins.libsonnet
  blueprints/gen/v1/loadshaperouts.libsonnet
  blueprints/gen/v1/loadshaperparameters.libsonnet
  blueprints/gen/v1/loadshaperparametersstep.libsonnet
  blueprints/gen/v1/signalgenerator.libsonnet
  blueprints/gen/v1/signalgeneratorins.libsonnet
  blueprints/gen/v1/signalgeneratorouts.libsonnet
  blueprints/gen/v1/signalgeneratorparameters.libsonnet
  blueprints/gen/v1/signalgeneratorparametersstep.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/components/signal-generator.go
Due: updated-aperture, updated-aperture-docs

[ImgBot] Optimize images
  docs/content/concepts/integrations/auto-scale/assets/insertion.mmd.svg
  docs/content/get-started/policies/assets/blueprints.mmd.svg
  docs/content/tutorials/integrations/auto-scale/assets/auto-scale-playground.png
  docs/content/tutorials/integrations/auto-scale/assets/load-based-auto-scale.mmd.svg
  docs/content/tutorials/integrations/flow-control/classification/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/rate-limiting-escalation/rate-limiting-escalation.mmd.svg
  docs/content/tutorials/integrations/flow-control/concurrency-limiting/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/integrations/flow-control/rate-limiting/assets/static-rate-limiting/static-rate-limiting.mmd.svg
  docs/content/tutorials/signal-processing/assets/detecting-overload/detecting-overload.mmd.svg
Due: updated-aperture-docs

Add control_point type
  api/aperture/flowcontrol/controlpoints/v1/controlpoints.proto
  api/gen/proto/go/aperture/flowcontrol/controlpoints/v1/controlpoints.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
Due: updated-aperture, updated-aperture-docs

Switch to TypedControlPointID/UntypedGlobalControlPoint
  cmd/aperture-agent/agent/otel-component.go
  cmd/aperture-agent/extensions.go
  cmd/aperture-agent/extensions.go.md5sum
  cmd/aperturectl/cmd/build/build.go
  docs/content/reference/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  extensions/fluxninja/heartbeats/heartbeats.go
  extensions/fluxninja/heartbeats/provide.go
  pkg/agentfunctions/flowcontrol-controlpoints.go
  pkg/cmd/controller.go
  pkg/otelcollector/metricsprocessor/config.go
  pkg/otelcollector/metricsprocessor/factory.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/otelcollector/metricsprocessor/processor_test.go
  pkg/policies/flowcontrol/selectors/control-point-id.go
  pkg/policies/flowcontrol/service/controlpoints/controlpoints.go
Due: updated-aperture, updated-aperture-docs

Extract type from otel attributes
  docs/gen/config/agent/config-swagger.yaml
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture, updated-aperture-docs

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
