Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Publish . ./aperture-controller-v2.1.1-rc.1.tgz
  aperture-controller-v2.1.1-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.1.1-rc.1.tgz
  index.yaml
  istioconfig-v2.1.1-rc.1.tgz
Due: none

Fix bad blueprints repo path
  cmd/aperturectl/cmd/blueprints/root.go
  docs/content/reference/aperturectl/blueprints/blueprints.md
  docs/content/reference/aperturectl/blueprints/dynamic-values/dynamic-values.md
Due: updated-aperture, updated-aperture-docs

Pass whether to build dynamic config or not in `createValuesFile` helper function
  cmd/aperturectl/cmd/blueprints/common.go
  cmd/aperturectl/cmd/blueprints/dynamic-values.go
  cmd/aperturectl/cmd/blueprints/globals.go
  cmd/aperturectl/cmd/blueprints/values.go
  docs/content/reference/aperturectl/blueprints/values/values.md
Due: updated-aperture, updated-aperture-docs

Update values file creation operation
  cmd/aperturectl/cmd/blueprints/common.go
  cmd/aperturectl/cmd/blueprints/dynamic-values.go
  cmd/aperturectl/cmd/blueprints/values.go
Due: updated-aperture

Update olric to use fluxninja/olric fork
  api/aperture/flowcontrol/check/v1/check.proto
  api/buf.lock
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  go.mod
  go.sum
  pkg/policies/flowcontrol/actuators/rate/rate-limiter.go
  pkg/policies/flowcontrol/actuators/rate/ratetracker/basic-limit-checker.go
  pkg/policies/flowcontrol/actuators/rate/ratetracker/distcache-rate-tracker.go
  pkg/policies/flowcontrol/actuators/rate/ratetracker/lazy-sync-rate-tracker.go
  pkg/policies/flowcontrol/actuators/rate/ratetracker/rate-tracker.go
  pkg/policies/flowcontrol/actuators/rate/ratetracker/rate-tracker_test.go
  pkg/policies/flowcontrol/iface/limiter.go
  pkg/policies/mocks/mock_limiter.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecision.java
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
Due: updated-aperture, updated-aperture-docs, updated-aperture-go, updated-aperture-java

update olric
  go.mod
  go.sum
Due: updated-aperture

openai review suggestion
  pkg/policies/flowcontrol/actuators/rate/ratetracker/basic-limit-checker.go
Due: updated-aperture

update output: aperturectl blueprint list
  docs/content/get-started/policies/policies.md
Due: updated-aperture-docs

fix lint issues
  docs/content/get-started/get-started.md
Due: updated-aperture-docs

Fixed aperturectl install istioconfig
  cmd/aperturectl/cmd/installation/utils.go
Due: updated-aperture

Publish . ./aperture-agent-v2.1.1-rc.2.tgz
  aperture-agent-v2.1.1-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.1.1-rc.2.tgz
  aperture-controller-v2.1.1-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.1.1-rc.2.tgz
  index.yaml
  istioconfig-v2.1.1-rc.2.tgz
Due: none

Publish . ./aperture-agent-v2.1.1.tgz
  aperture-agent-v2.1.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.1.1.tgz
  aperture-controller-v2.1.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.1.1.tgz
  index.yaml
  istioconfig-v2.1.1.tgz
Due: none

playground: update rate limit policies
  go.mod
  go.sum
  pkg/policies/controlplane/validator_test.go
  playground/scenarios/java_rate_limiting_escalation/policies/rate-limit-escalation-cr.yaml
  playground/scenarios/java_rate_limiting_escalation/policies/rate-limit-escalation.yaml
  playground/scenarios/rate_limiting_escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation/policies/service1-demo-app.yaml
  playground/scenarios/rate_limiting_escalation_kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation_kong/policies/service1-demo-app.yaml
  playground/scenarios/rate_limiting_escalation_nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation_nginx/policies/service1-demo-app.yaml
Due: updated-aperture

update test
  pkg/policies/flowcontrol/actuators/rate/ratetracker/rate-tracker_test.go
Due: updated-aperture

feat: Integrate Traefik API proxy with Aperture
  integrations/traefik-config/dynamic-rule-config.yaml
  integrations/traefik-config/static-config.yaml
  integrations/traefik-plugin/.traefik.yml
  integrations/traefik-plugin/go.mod
  integrations/traefik-plugin/go.sum
  integrations/traefik-plugin/traefik.go
  integrations/traefik-plugin/utils.go
Due: none

Rework Docs Architecture page
  docs/content/applying-policies/alerting/assets/detecting-overload/detecting-overload.json
  docs/content/applying-policies/rate-limiting/assets/graphql-rate-limiting/graphql-rate-limiting-jwt.json
  docs/content/applying-policies/rate-limiting/assets/static-rate-limiting/static-rate-limiting.json
  docs/content/architecture/architecture.md
  docs/content/reference/policies/assets/monitoring/signals-dashboard.json
Due: updated-aperture-docs

remove lock
  pkg/policies/flowcontrol/rate-limiter/leaky-bucket/leaky-bucket.go
Due: updated-aperture

rename test file
  pkg/policies/flowcontrol/rate-limiter/rate-tracker/rate-tracker_test.go
Due: updated-aperture

update and add gateway section
  docs/content/concepts/flow-control/flow-control.md
  docs/content/get-started/integrations/flow-control/flow-control.md
Due: updated-aperture-docs

Publish . ./aperture-agent-v2.2.0-rc.1.tgz
  aperture-agent-v2.2.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.2.0-rc.1.tgz
  aperture-controller-v2.2.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.2.0-rc.1.tgz
  index.yaml
  istioconfig-v2.2.0-rc.1.tgz
Due: none

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
