Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Changed default etcd log level to error
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/config/controller/config-swagger.yaml
  pkg/etcd/config.go
Due: updated-aperture, updated-aperture-docs

Corrected the operator test
  operator/controllers/agent/config_test.tpl
  operator/controllers/controller/config_test.tpl
Due: updated-aperture-operator

Publish . ./aperture-agent-v2.12.2-rc.1.tgz
  aperture-agent-v2.12.2-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.12.2-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.12.2-rc.1.tgz
Due: none

Publish . ./aperture-controller-v2.12.2-rc.1.tgz ./index.yaml
  aperture-controller-v2.12.2-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v2.12.2.tgz
  aperture-agent-v2.12.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.12.2.tgz
  index.yaml
  istioconfig-v2.12.2.tgz
Due: none

Publish . ./aperture-controller-v2.12.2.tgz ./index.yaml
  aperture-controller-v2.12.2.tgz
  index.yaml
Due: none

Add ability to add tags for kubectl images in pre-delete and post-install hooks
  manifests/charts/aperture-agent/README.md
  manifests/charts/aperture-agent/templates/operator-pre-delete-hook.yaml
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/operator-pre-delete-hook.yaml
  manifests/charts/aperture-controller/templates/post-install-hook.yaml
  manifests/charts/aperture-controller/values.yaml
Due: updated-aperture-charts

Patched the aperture-js SDK version
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
Due: updated-aperture-js

Skip PR when updating manifests post release
  .circleci/post-release.yaml
Due: none

add rate limiting matrix guide
  docs/content/guides/assets/adaptive-service-limits.svg
  docs/content/guides/assets/per-user-limits.svg
  docs/content/guides/guides.md
  docs/content/guides/rate-limiting.md
Due: updated-aperture-docs

fix typo
  docs/content/guides/rate-limiting.md
Due: updated-aperture-docs

update text
  docs/content/guides/rate-limiting.md
Due: updated-aperture-docs

fix text
  docs/content/guides/rate-limiting.md
Due: updated-aperture-docs

remove vale comment
  .github/styles/Vocab/FluxNinja/accept.txt
  docs/content/guides/rate-limiting.md
Due: updated-aperture-docs

update dictionary
  .github/styles/Vocab/FluxNinja/accept.txt
Due: updated-aperture-docs

fix
  docs/content/integrations/metrics/collectd.md
Due: updated-aperture-docs

Fixed pre-commit
  docs/tools/otel_collectors/metadata.yaml
Due: updated-aperture-docs

Fixes for CI failures
  api/aperture/flowcontrol/check/v1/check.proto
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.validate.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check_vtproto.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.validate.go
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol_vtproto.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.validate.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check_vtproto.pb.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecision.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecisionOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/StatusCode.java
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
Due: updated-aperture, updated-aperture-docs, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-blueprints

Fixed the aperture-py sdk validator
  api/aperture/flowcontrol/check/v1/check.proto
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.go
  api/gen/proto/go/aperture/flowcontrol/check/v1/check.pb.validate.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.go
  sdks/aperture-go/gen/proto/flowcontrol/check/v1/check.pb.validate.go
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckProto.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponse.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/CheckResponseOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecision.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/LimiterDecisionOrBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/StatusCode.java
  sdks/aperture-js/proto/flowcontrol/check/v1/check.proto
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.py
  sdks/aperture-py/aperture_sdk/_gen/aperture/flowcontrol/check/v1/check_pb2.pyi
Due: updated-aperture, updated-aperture-docs, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-blueprints

Fix aperture-js types
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/index.ts
Due: updated-aperture-js

Fix sdk package configuration
  sdks/aperture-js/package.json
Due: updated-aperture-js

Create empty compiledCircuit before returning from compilePolicyWrapper
  pkg/policies/controlplane/circuitfactory/circuit.go
  pkg/policies/controlplane/circuitfactory/tree.go
  pkg/policies/controlplane/policy-service.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/validator.go
Due: updated-aperture

Fix sdk package name in the lockfile
  sdks/aperture-js/package-lock.json
Due: updated-aperture-js

Add repository field
  sdks/aperture-js/package.json
Due: updated-aperture-js

Bump sdk version to v1.1.0
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
Due: updated-aperture-js

Remove scripts temporarily
  sdks/aperture-js/package.json
Due: updated-aperture-js

Temporary dockerfile fix
  sdks/aperture-js/Dockerfile
Due: updated-aperture-js

Add scripts back
  sdks/aperture-js/Dockerfile
  sdks/aperture-js/package.json
Due: updated-aperture-js

Test CMD
  sdks/aperture-js/Dockerfile
Due: updated-aperture-js

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*
