Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

Refactor dynamic-config
  cmd/aperturectl/cmd/cloud/apply/dynamic-config.go
  cmd/aperturectl/cmd/cloud/policies.go
  cmd/aperturectl/cmd/cloud/policy/root.go
  cmd/aperturectl/cmd/cloud/root.go
  cmd/aperturectl/cmd/compile.go
  cmd/aperturectl/cmd/dynamicconfig/apply.go
  cmd/aperturectl/cmd/dynamicconfig/root.go
  cmd/aperturectl/cmd/policies.go
  cmd/aperturectl/cmd/policy/apply.go
  cmd/aperturectl/cmd/policy/root.go
  cmd/aperturectl/cmd/root.go
  docs/content/get-started/policies/policies.md
  docs/content/reference/aperturectl/aperturectl.md
  docs/content/reference/aperturectl/cloud/apply/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/cloud/cloud.md
  docs/content/reference/aperturectl/cloud/policies/policies.md
  docs/content/reference/aperturectl/cloud/policy/policy.md
  docs/content/reference/aperturectl/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/dynamic-config/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/policy/delete/delete.md
  docs/content/reference/aperturectl/policy/get/get.md
  docs/content/reference/aperturectl/policy/list/list.md
  docs/content/reference/aperturectl/policy/policy.md
  docs/content/reference/aperturectl/policy/policy/policy.md
  playground/scripts/render-policy.sh
Due: updated-aperture, updated-aperture-docs

Refactor cloud dynamic-config
  cmd/aperturectl/cmd/cloud/apply/root.go
  cmd/aperturectl/cmd/cloud/blueprints/apply.go
  cmd/aperturectl/cmd/cloud/blueprints/delete.go
  cmd/aperturectl/cmd/cloud/blueprints/get.go
  cmd/aperturectl/cmd/cloud/blueprints/list.go
  cmd/aperturectl/cmd/cloud/dynamicconfig/apply.go
  cmd/aperturectl/cmd/cloud/dynamicconfig/root.go
  cmd/aperturectl/cmd/cloud/policy/apply.go
  cmd/aperturectl/cmd/cloud/policy/delete.go
  cmd/aperturectl/cmd/cloud/policy/get.go
  cmd/aperturectl/cmd/cloud/policy/list.go
  cmd/aperturectl/cmd/cloud/root.go
  docs/content/reference/aperturectl/cloud/apply/apply.md
  docs/content/reference/aperturectl/cloud/apply/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/cloud/blueprints/apply/apply.md
  docs/content/reference/aperturectl/cloud/blueprints/delete/delete.md
  docs/content/reference/aperturectl/cloud/blueprints/get/get.md
  docs/content/reference/aperturectl/cloud/blueprints/list/list.md
  docs/content/reference/aperturectl/cloud/cloud.md
  docs/content/reference/aperturectl/cloud/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/cloud/dynamic-config/dynamic-config/dynamic-config.md
  docs/content/reference/aperturectl/cloud/policy/apply/apply.md
  docs/content/reference/aperturectl/cloud/policy/delete/delete.md
  docs/content/reference/aperturectl/cloud/policy/get/get.md
  docs/content/reference/aperturectl/cloud/policy/list/list.md
Due: updated-aperture, updated-aperture-docs

Fix policy apply command
  cmd/aperturectl/cmd/policy/apply.go
  docs/content/reference/aperturectl/policy/apply/apply.md
  docs/content/reference/aperturectl/policy/policy.md
Due: updated-aperture, updated-aperture-docs

Fix dynamic-config apply command
  cmd/aperturectl/cmd/dynamicconfig/apply.go
  cmd/aperturectl/cmd/dynamicconfig/root.go
  docs/content/reference/aperturectl/dynamic-config/apply/apply.md
  docs/content/reference/aperturectl/dynamic-config/dynamic-config.md
Due: updated-aperture, updated-aperture-docs

Fix docs
  blueprints/blueprint-assets-generator.py
  docs/content/concepts/advanced/dynamic-configuration.md
  docs/content/reference/blueprints/auto-scaling/pod-auto-scaler.md
  docs/content/reference/blueprints/load-ramping/base.md
  docs/content/reference/blueprints/load-scheduling/average-latency.md
  docs/content/reference/blueprints/load-scheduling/elasticsearch.md
  docs/content/reference/blueprints/load-scheduling/java-gc-generic.md
  docs/content/reference/blueprints/load-scheduling/java-gc-k8s.md
  docs/content/reference/blueprints/load-scheduling/postgresql.md
  docs/content/reference/blueprints/load-scheduling/promql.md
Due: updated-aperture-docs, updated-blueprints

Use deepest level of components
  blueprints/grafana/panel_library.libsonnet
  blueprints/grafana/summary_dashboard.libsonnet
  blueprints/grafana/utils/unwrap_panels.libsonnet
  cmd/aperturectl/cmd/utils/utils.go
Due: updated-aperture, updated-blueprints

quota scheduling guide draft
  docs/content/guides/api-quota-management/quota-scheduling-for-openai.md
Due: updated-aperture-docs

aperture-js: expose grpc channel and call options
  sdks/aperture-js/Dockerfile
  sdks/aperture-js/example/example.ts
  sdks/aperture-js/example/routes/use_aperture.ts
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: updated-aperture-js

aperture-js: expose grpc channel and call options
  sdks/aperture-js/sdk/client.ts
Due: updated-aperture-js

aperture-js: expose grpc channel and call options
  sdks/aperture-js/example/routes/use_aperture.ts
Due: updated-aperture-js

Coderabbit suggestions
  cmd/aperturectl/cmd/cloud/blueprints/apply.go
  cmd/aperturectl/cmd/cloud/blueprints/delete.go
  cmd/aperturectl/cmd/cloud/blueprints/get.go
  cmd/aperturectl/cmd/cloud/blueprints/globals.go
  cmd/aperturectl/cmd/cloud/blueprints/list.go
  cmd/aperturectl/cmd/cloud/policy/delete.go
  cmd/aperturectl/cmd/cloud/policy/get.go
  cmd/aperturectl/cmd/cloud/policy/list.go
  cmd/aperturectl/cmd/policy/delete.go
  cmd/aperturectl/cmd/policy/get.go
  cmd/aperturectl/cmd/policy/list.go
  docs/content/reference/aperturectl/cloud/blueprints/blueprints.md
  docs/content/reference/aperturectl/cloud/blueprints/delete/delete.md
  docs/content/reference/aperturectl/cloud/blueprints/get/get.md
  docs/content/reference/aperturectl/cloud/blueprints/list/list.md
  docs/content/reference/aperturectl/cloud/policy/delete/delete.md
  docs/content/reference/aperturectl/cloud/policy/get/get.md
  docs/content/reference/aperturectl/policy/delete/delete.md
Due: updated-aperture, updated-aperture-docs

Fix typo
  cmd/aperturectl/cmd/cloud/blueprints/list.go
Due: updated-aperture

Bump FN OTel
  go.mod
  go.sum
Due: updated-aperture

Update OTel fix
  go.mod
  go.sum
Due: updated-aperture

Made version mandatory for aperturectl install and uninstall
  cmd/aperturectl/cmd/installation/install.go
  cmd/aperturectl/cmd/installation/uninstall.go
  docs/content/reference/aperturectl/install/agent/agent.md
  docs/content/reference/aperturectl/install/controller/controller.md
  docs/content/reference/aperturectl/install/install.md
  docs/content/reference/aperturectl/install/istioconfig/istioconfig.md
  docs/content/reference/aperturectl/uninstall/agent/agent.md
  docs/content/reference/aperturectl/uninstall/controller/controller.md
  docs/content/reference/aperturectl/uninstall/istioconfig/istioconfig.md
  docs/content/reference/aperturectl/uninstall/uninstall.md
Due: updated-aperture, updated-aperture-docs

Publish . ./istioconfig-v2.19.4-rc.1.tgz
  index.yaml
  istioconfig-v2.19.4-rc.1.tgz
Due: none

Publish . ./aperture-agent-v2.19.4-rc.1.tgz ./index.yaml
  aperture-agent-v2.19.4-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.19.4-rc.1.tgz ./index.yaml
  aperture-controller-v2.19.4-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.19.4.tgz
  index.yaml
  istioconfig-v2.19.4.tgz
Due: none

Publish . ./aperture-agent-v2.19.4.tgz ./index.yaml
  aperture-agent-v2.19.4.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.19.4.tgz ./index.yaml
  aperture-controller-v2.19.4.tgz
  index.yaml
Due: none

Delete policy as Custom Resource when on kube
  cmd/aperturectl/cmd/policy/delete.go
Due: updated-aperture

Fix Bar Chart Panel & Update Grafana Version
  blueprints/grafana/panels/request_queue_duration_bar.libsonnet
  blueprints/grafana/utils/bar_chart_panel.libsonnet
  blueprints/grafana/utils/time_series_panel.libsonnet
  blueprints/jsonnetfile.json
  playground/tanka/jsonnetfile.json
Due: updated-blueprints

aperture-js: do not keep alive by default
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: updated-aperture-js

peers: fix peer deletion issue
  pkg/dist-cache/service-discovery.go
  pkg/net/grpc/server.go
  pkg/peers/peers.go
Due: updated-aperture

peers: fix peer deletion issue
  pkg/peers/peers.go
  pkg/peers/peers_test.go
Due: updated-aperture

Update controller on blueprints update
  .circleci/continue-workflows.yml
Due: none
