Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Replace Optimizer sub circuit logic with Integrator component
  blueprints/examples/latency-gradient/gen/graph/graph.dot
  blueprints/examples/latency-gradient/gen/graph/graph.svg
  blueprints/examples/latency-gradient/gen/policies/example.yaml
  blueprints/lib/1.0/blueprints/latency-gradient/policy.libsonnet
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/basic-concurrency-limiting/basic-concurrency-limiting.yaml
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/dynamic-rate-limiting/dynamic-rate-limiting.yaml
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.md5sum
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.png
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.mmd.svg
  docs/content/tutorials/flow-control/assets/workload-prioritization/workload-prioritization.yaml
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
Due: updated-aperture-operator, updated-aperture-docs

Re-order tabs
  docs/content/tutorials/flow-control/basic-concurrency-limiting.md
  docs/content/tutorials/flow-control/dynamic-rate-limiting.md
  docs/content/tutorials/flow-control/graphql-rate-limiting.md
  docs/content/tutorials/flow-control/static-rate-limiting.md
  docs/content/tutorials/flow-control/workload-prioritization.md
  docs/content/tutorials/signal-processing/detecting-overload.md
Due: updated-aperture-docs

Applying Policies section
  docs/content/assets/scripts/version-code.js
  docs/content/get-started/policies/applying-policies.md
  docs/content/get-started/policies/blueprints.md
  docs/content/get-started/policies/dynamic-configuration.md
  docs/content/get-started/policies/monitoring.md
Due: updated-aperture-docs

copy button
  docs/content/assets/scripts/version-code.js
Due: updated-aperture-docs

Added support for changing agent installation mode without re-creation of CR
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/hook.go
  operator/controllers/agent/hook_test.go
  operator/controllers/agent/old_hook_test.tpl
  operator/controllers/agent/reconciler.go
  operator/controllers/agent/reconciler_test.go
  operator/controllers/constants.go
Due: updated-aperture-operator, updated-aperture-docs

parent 102e8ca94249daa9e5ff45ed1b05ba8df7bf5b64 author slayer321 <sachin.maurya@fluxninja.com> 1673245113 +0530 committer slayer321 <sachin.maurya@fluxninja.com> 1673355798 +0530
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .circleci/scripts/update_environment.sh
  .opsninja.yaml
Due: none

Corrected static rate limiting policy on docs
  docs/content/get-started/policies/applying-policies.md
  docs/content/tutorials/flow-control/assets/static-rate-limiting/static-rate-limiting.jsonnet
  docs/content/tutorials/flow-control/assets/static-rate-limiting/static-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/static-rate-limiting/static-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/static-rate-limiting/static-rate-limiting.yaml
Due: updated-aperture-docs

Cleaned up RBAC permissions in operator for agent and controller
  manifests/charts/aperture-agent/templates/rbac.yaml
  manifests/charts/aperture-controller/templates/rbac.yaml
  operator/config/rbac/role.yaml
  operator/controllers/agent/clusterrole.go
  operator/controllers/agent/clusterrole_test.go
  operator/controllers/agent/config_test.tpl
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/reconciler.go
  operator/controllers/agent/reconciler_test.go
  operator/controllers/controller/clusterrole.go
  operator/controllers/controller/clusterrole_test.go
  operator/controllers/controller/reconciler.go
  operator/controllers/controller/reconciler_test.go
Due: updated-aperture-operator, updated-aperture-charts

Add Differentiator component
  api/aperture/policy/language/v1/policy.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  blueprints/lib/1.0/_gen/v1/component.libsonnet
  blueprints/lib/1.0/_gen/v1/differentiator.libsonnet
  blueprints/lib/1.0/_gen/v1/differentiatorins.libsonnet
  blueprints/lib/1.0/_gen/v1/differentiatorouts.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/components/differentiator.go
  playground/tanka/apps/aperture-controller/mixins.libsonnet
Due: updated-aperture, updated-aperture-docs

Fix documentation for differentiator
  pkg/policies/controlplane/components/differentiator.go
Due: updated-aperture

Add Flow Control section under Getting Started in docs
  docs/content/get-started/flow-control/_category_.yaml
  docs/content/get-started/flow-control/envoy/_category_.yaml
  docs/content/get-started/flow-control/envoy/istio.md
  docs/content/get-started/flow-control/sdks/_category_.yaml
  docs/content/get-started/policies/_category_.yml
Due: updated-aperture-docs

Update references to envoy page
  api/aperture/policy/language/v1/fluxmeter.proto
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/get-started/installation/agent/envoy/_category_.yml
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs

Review fixes
  pkg/policies/controlplane/components/differentiator.go
  pkg/utils/helpers.go
Due: updated-aperture

Update graphql rate limiting tutorial and remove old assets
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting-counter.png
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting-demo.png
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.jsonnet
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.mmd
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.mmd.md5sum
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.mmd.png
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.mmd.svg
  docs/content/tutorials/flow-control/assets/graphql-rate-limiting/graphql-rate-limiting.yaml
  docs/content/tutorials/flow-control/graphql-rate-limiting.md
Due: updated-aperture-docs

Add SDKs under Flow Control in Getting Started
  docs/content/get-started/flow-control/sdk/_category_.yaml
  docs/content/get-started/flow-control/sdk/aperture-java.md
  docs/content/get-started/flow-control/sdk/aperture-js.md
  docs/content/get-started/flow-control/sdk/apeture-go.md
Due: updated-aperture-docs

Points about Policy metrics and Policy deletion
  docs/content/get-started/policies/applying-policies.md
Due: updated-aperture-docs

Added support for changing agent installation mode without re-creation of CR
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/hook.go
  operator/controllers/agent/hook_test.go
  operator/controllers/agent/old_hook_test.tpl
  operator/controllers/agent/reconciler.go
  operator/controllers/agent/reconciler_test.go
  operator/controllers/constants.go
Due: updated-aperture-operator, updated-aperture-docs

Updated apply policy section on controller installation page
  docs/content/get-started/installation/controller.md
  docs/content/get-started/policies/applying-policies.md
Due: updated-aperture-docs

K8s Control Point Discovery initial commit
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/aperture/policy/language/v1/selector.proto
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.json.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  cmd/aperture-agent/agent.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/discovery/kubernetes/control-point-cache.go
  pkg/discovery/kubernetes/control-point-discovery.go
  pkg/discovery/kubernetes/provide.go
  pkg/discovery/kubernetes/service-discovery.go
  pkg/discovery/provide.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
Due: updated-aperture, updated-aperture-docs

Permissions working. Discovery of Scalable Resources working
  api/aperture/policy/language/v1/selector.proto
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  docs/content/references/configuration/agent.md
  docs/gen/config/agent/config-swagger.yaml
  manifests/charts/aperture-agent/templates/rbac.yaml
  operator/controllers/agent/clusterrole.go
  operator/controllers/agent/clusterrole_test.go
  operator/controllers/controller/clusterrole.go
  pkg/discovery/kubernetes/auto-scaler.go
  pkg/discovery/kubernetes/control-point-cache.go
  pkg/discovery/kubernetes/control-point-discovery.go
  pkg/discovery/kubernetes/provide.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Send Kubernetes Control Points in Heartbeat
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/buf.lock
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat.pb.json.go
  api/gen/proto/go/aperture/plugins/fluxninja/v1/heartbeat_deepcopy.gen.go
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/discovery/kubernetes/auto-scaler.go
  pkg/discovery/kubernetes/control-point-discovery.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
Due: updated-aperture, updated-aperture-docs

Checkpoint event writer in auto-scaler
  api/aperture/policy/sync/v1/kubernetes_auto_sclaer.proto
  api/gen/proto/go/aperture/policy/sync/v1/kubernetes_auto_sclaer.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/kubernetes_auto_sclaer.pb.json.go
  api/gen/proto/go/aperture/policy/sync/v1/kubernetes_auto_sclaer_deepcopy.gen.go
  pkg/discovery/kubernetes/auto-scaler.go
  pkg/discovery/kubernetes/control-point-discovery.go
  pkg/discovery/kubernetes/provide.go
  pkg/policies/controlplane/components/actuators/concurrency/concurrency-limiter.go
  pkg/policies/controlplane/components/actuators/concurrency/load-actuator.go
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/controlplane/components/actuators/rate/rate-limiter.go
  pkg/policies/flowcontrol/actuators/concurrency/auto-tokens.go
  pkg/policies/flowcontrol/actuators/concurrency/load-actuator.go
  pkg/policies/flowcontrol/actuators/rate/rate-limiter.go
  pkg/policies/paths/paths.go
Due: updated-aperture

Checkpoint Autoscaler interfaces
  api/aperture/entitycache/v1/entitycache.proto
  api/aperture/flowcontrol/preview/v1/preview.proto
  api/aperture/info/v1/info.proto
  api/aperture/peers/v1/peers.proto
  api/aperture/plugins/fluxninja/v1/heartbeat.proto
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/label_matcher.proto
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/selector.proto
  api/aperture/policy/sync/v1/kubernetes_auto_sclaer.proto
  api/aperture/policy/sync/v1/kubernetes_pod_autoscaler.proto
  api/aperture/status/v1/status.proto
  api/buf.lock
  api/envoy/service/auth/v3/authz_stripped.proto
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  api/gen/proto/go/aperture/policy/language/v1/policy_deepcopy.gen.go
  api/gen/proto/go/aperture/policy/sync/v1/kubernetes_auto_sclaer.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/kubernetes_pod_autoscaler.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/kubernetes_pod_autoscaler.pb.json.go
  api/gen/proto/go/aperture/policy/sync/v1/kubernetes_pod_autoscaler_deepcopy.gen.go
  blueprints/lib/1.0/_gen/v1/component.libsonnet
  blueprints/lib/1.0/_gen/v1/gen.libsonnet
  blueprints/lib/1.0/_gen/v1/kubernetespodautoscaler.libsonnet
  blueprints/lib/1.0/_gen/v1/kubernetesselector.libsonnet
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/references/configuration/policy.md
  docs/gen/policy/policy.yaml
  pkg/discovery/kubernetes/auto-scaler.go
  pkg/discovery/kubernetes/control-point-discovery.go
  pkg/discovery/kubernetes/provide.go
  pkg/policies/controlplane/components/actuators/concurrency/scheduler.go
  pkg/policies/paths/paths.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/provide.go
Due: updated-aperture, updated-aperture-docs

Fixed the reconciler errors in operator due to ClusterRole name change
  operator/controllers/agent/reconciler.go
  operator/controllers/controller/reconciler.go
Due: updated-aperture-operator

Updated deprecated methods in operator
  operator/controllers/agent/configmaps_test.go
  operator/controllers/agent/daemonset_test.go
  operator/controllers/agent/mutating_webhook_configuration_test.go
  operator/controllers/agent/secrets_test.go
  operator/controllers/agent/serviceaccount_test.go
  operator/controllers/agent/services_test.go
  operator/controllers/controller/configmaps_test.go
  operator/controllers/controller/deployment_test.go
  operator/controllers/controller/secrets_test.go
  operator/controllers/controller/serviceaccount_test.go
  operator/controllers/controller/services_test.go
  operator/controllers/controller/validating_webhook_configuration_test.go
  operator/controllers/mutate_func_test.go
  operator/controllers/mutatingwebhook/agent_pod_test.go
  operator/controllers/mutatingwebhook/mutating_webhook_configuration_test.go
  operator/controllers/mutatingwebhook/reconciler_test.go
  operator/controllers/utils_test.go
Due: updated-aperture-operator

Renamed cloud to ARC and added plugin config example
  api/aperture/policy/language/v1/classifier.proto
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  docs/content/arc/_category_.yml
  docs/content/arc/arc.md
  docs/content/arc/plugin.md
  docs/content/assets/diagrams/architecture/fluxninja.mmd
  docs/content/assets/diagrams/architecture/fluxninja.mmd.md5sum
  docs/content/assets/diagrams/architecture/fluxninja.mmd.png
  docs/content/assets/diagrams/architecture/fluxninja.mmd.svg
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/cloud/plugin.md
  docs/content/concepts/flow-control/flow-classifier.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/get-started/installation/agent/bare_metal.md
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
  docs/content/get-started/installation/controller.md
  docs/content/references/configuration/agent.md
  docs/content/references/configuration/controller.md
  docs/content/references/configuration/policy.md
  docs/content/references/flow-events/flow-events.md
  docs/gen/config/aperture-plugin-fluxninja/plugin-swagger.yaml
  docs/gen/policy/policy.yaml
  manifests/charts/aperture-agent/templates/_helpers.tpl
  manifests/charts/aperture-agent/values.yaml
  manifests/charts/aperture-controller/templates/_helpers.tpl
  manifests/charts/aperture-controller/values.yaml
  operator/api/common/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  plugins/service/aperture-plugin-fluxninja/main.go
  plugins/service/aperture-plugin-fluxninja/pluginconfig/pluginconfig.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
