Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

spec: change the naming strategy
  api/Makefile
  api/aperture/policy/language/v1/policy.proto
  api/aperture/policy/language/v1/selector.proto
  api/buf.gen.aperture.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  api/rewrite-swagger-definitions.go
  blueprints/gen/jsonschema/_definitions.json
  blueprints/gen/v1/gen.libsonnet
  blueprints/gen/v1/ratelimiterparameterslazysync.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/values.yaml
  blueprints/policies/static-rate-limiting/config.libsonnet
  blueprints/policies/static-rate-limiting/values.yaml
  cmd/aperturectl/cmd/blueprints/generate.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/integrations/flow-control/components/concurrency-limiter.md
  docs/content/concepts/integrations/flow-control/components/rate-limiter.md
  docs/content/concepts/integrations/flow-control/flow-classifier.md
  docs/content/concepts/integrations/flow-control/flow-label.md
  docs/content/concepts/integrations/flow-control/flow-selector.md
  docs/content/concepts/integrations/flow-control/flux-meter.md
  docs/content/concepts/policy/circuit.md
  docs/content/concepts/policy/policy.md
  docs/content/concepts/policy/resources.md
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/config-swagger.yaml
  docs/gen/policy/metadata
  docs/gen/policy/policy.yaml
  scripts/blueprint-readme-generator.py
  scripts/jsonnet-lib-gen.py
Due: updated-aperture, updated-aperture-docs

spec: change the naming strategy
  api/rewrite-swagger-definitions.go
Due: updated-aperture

dive into arrays during ref rewrite
  api/rewrite-swagger-definitions.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
Due: updated-aperture, updated-aperture-docs

rename param names in docs
  blueprints/policies/latency-aimd-concurrency-limiting/config.libsonnet
  blueprints/policies/latency-aimd-concurrency-limiting/values.yaml
  blueprints/policies/static-rate-limiting/config.libsonnet
  blueprints/policies/static-rate-limiting/values.yaml
  docs/content/reference/policies/bundled-blueprints/policies/latency-aimd-concurrency-limiting.md
  docs/content/reference/policies/bundled-blueprints/policies/static-rate-limiting.md
Due: updated-aperture-docs

Replaced runtime bool readings to tristate bool
  pkg/policies/controlplane/components/alerter.go
  pkg/policies/controlplane/components/arithmetic-combinator.go
  pkg/policies/controlplane/components/decider.go
  pkg/policies/controlplane/components/differentiator.go
  pkg/policies/controlplane/components/ema.go
  pkg/policies/controlplane/components/extrapolator.go
  pkg/policies/controlplane/components/first-valid.go
  pkg/policies/controlplane/components/integrator.go
  pkg/policies/controlplane/components/max.go
  pkg/policies/controlplane/components/min.go
  pkg/policies/controlplane/components/sqrt.go
  pkg/policies/controlplane/components/switcher.go
Due: updated-aperture

Revert "Replaced runtime bool readings to tristate bool"
  pkg/policies/controlplane/components/alerter.go
  pkg/policies/controlplane/components/arithmetic-combinator.go
  pkg/policies/controlplane/components/decider.go
  pkg/policies/controlplane/components/differentiator.go
  pkg/policies/controlplane/components/ema.go
  pkg/policies/controlplane/components/extrapolator.go
  pkg/policies/controlplane/components/first-valid.go
  pkg/policies/controlplane/components/integrator.go
  pkg/policies/controlplane/components/max.go
  pkg/policies/controlplane/components/min.go
  pkg/policies/controlplane/components/sqrt.go
  pkg/policies/controlplane/components/switcher.go
Due: updated-aperture

Revert prev commit & shift tristate to runtime
  pkg/policies/controlplane/components/alerter.go
  pkg/policies/controlplane/components/integrator.go
  pkg/policies/controlplane/components/switcher.go
  pkg/policies/controlplane/runtime/reading.go
Due: updated-aperture

Added helpers for middleware in Go SDK
  sdks/aperture-go/example/main.go
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
Due: updated-aperture-go

Made the maps write safe in SDK middle-ware helpers
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
Due: updated-aperture-go

Update OTEL to v0.71.0
  go.mod
  go.sum
Due: updated-aperture

Run `go mod tidy`
  go.mod
  go.sum
Due: updated-aperture

Update FN OTEL to v0.71.0
  go.mod
  go.sum
Due: updated-aperture

Update FN OTEL to v0.71.0-fn.patch.3
  go.mod
  go.sum
Due: updated-aperture

Update FN OTEL to v0.71.0-fn.patch.2
  go.mod
  go.sum
Due: updated-aperture

Don't use removed map.Sort()
  cmd/sdk-validator/main.go
  pkg/otelcollector/rollupprocessor/key.go
Due: updated-aperture

Support nested components in graph converter
  api/aperture/policy/monitoring/v1/policy_view.proto
  api/gen/proto/go/aperture/policy/monitoring/v1/policy_view.pb.go
  api/gen/proto/go/aperture/policy/monitoring/v1/policy_view.pb.json.go
  api/gen/proto/go/aperture/policy/monitoring/v1/policy_view_deepcopy.gen.go
  cmd/aperturectl/cmd/utils/utils.go
  pkg/policies/controlplane/circuitfactory/graph.go
Due: updated-aperture

Used zerolog in Go SDK instead of aperture log
  api/buf.lock
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
Due: updated-aperture, updated-aperture-go

Add option to skip building plugins in playground
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  playground/Tiltfile
Due: updated-aperture

Rename pluginless stages
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  playground/Tiltfile
Due: updated-aperture

Add Test and updated location of tristate pkg
  pkg/policies/controlplane/circuitfactory/component-factory_test.go
  pkg/policies/controlplane/components/alerter.go
  pkg/policies/controlplane/components/integrator.go
  pkg/policies/controlplane/components/logical.go
  pkg/policies/controlplane/components/switcher.go
  pkg/policies/controlplane/runtime/reading.go
  pkg/policies/controlplane/runtime/tristate/tristate.go
Due: updated-aperture

Update docs of component whose logic changed
  docs/content/reference/policies/spec.md
Due: updated-aperture-docs

Update docs
  docs/content/reference/policies/spec.md
Due: updated-aperture-docs

blueprints: fix readme links
  blueprints/README.md
Due: none

replace > 0 with tristate.True
  pkg/policies/controlplane/components/alerter.go
  pkg/policies/controlplane/components/integrator.go
  pkg/policies/controlplane/components/logical.go
  pkg/policies/controlplane/components/switcher.go
  pkg/policies/controlplane/runtime/tristate/tristate.go
Due: updated-aperture

increase PV to 10Gi for aperture controller
  playground/tanka/lib/apps/aperture-controller/main.libsonnet
Due: none

Replaced zerolog with logr in Go SDK
  sdks/aperture-go/go.mod
  sdks/aperture-go/go.sum
  sdks/aperture-go/sdk/client.go
Due: updated-aperture-go

Corrected aperturectl brew install command for linux
  docs/content/get-started/aperture-cli/aperture-cli.md
Due: updated-aperture-docs
