Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-docs, updated-aperture-chart

add libsonnet
  docs/gen/policies/config-swagger.yaml
  docs/gen/policies/gen.yaml
  docs/gen/policies/swagger.md
Due: updated-aperture-docs

add pre-commit hook for libsonnet
  .pre-commit-config.yaml
  libsonnet/Makefile
  scripts/manage_tools.sh
  scripts/precommit/generate_api.sh
Due: none

precommit for libsonnet
  Makefile
  cmd/aperture-controller/controller.go
  cmd/aperture-controller/controller/config-operations.go
  scripts/precommit/generate_api.sh
  scripts/precommit/generate_docs.sh
Due: updated-aperture

precommit for libsonnet
  .pre-commit-config.yaml
Due: none

precommit for libsonnet
  .pre-commit-config.yaml
  libsonnet/Makefile
Due: none

fix precommit hook
  libsonnet/Makefile
Due: none

update circleci python
  .circleci/continue-workflows.yml
  .tool-versions
Due: none

freeze pip requirements
  docs/content/concepts/policies/policy-blueprints.md
  libsonnet/requirements.txt
  manifests/k8s/tanka/jsonnetfile.lock.json
Due: updated-aperture-docs

update pip
  scripts/manage_tools.sh
Due: none

requirements
  libsonnet/requirements.txt
Due: none

requirements
  libsonnet/1.0/main.libsonnet
  libsonnet/requirements.txt
  libsonnet/scripts/jsonnet-lib-gen.py
Due: none

precommit fix
  .pre-commit-config.yaml
  manifests/k8s/tanka/jsonnetfile.lock.json
Due: none

remove decisionDashboard in aperture-grafana for now
  manifests/k8s/tanka/lib/apps/aperture-grafana/main.libsonnet
Due: none

improve python tools install
  Makefile
  requirements.txt
  scripts/manage_tools.sh
Due: none

add libsonnet step instead of using docs step
  .pre-commit-config.yaml
  scripts/precommit/generate_docs.sh
  scripts/precommit/generate_libsonnet.sh
Due: none

Remove duplicate policylangv1 import
  cmd/aperture-controller/controller/provider.go
Due: updated-aperture

rename some fields
  api/aperture/policy/language/v1/policy.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.go
  api/gen/proto/go/aperture/policy/language/v1/policy.pb.json.go
  docs/gen/policies/gen.yaml
  docs/gen/policies/policy.md
  libsonnet/1.0/_gen/v1/gen.libsonnet
  libsonnet/1.0/_gen/v1/languagev1ratelimiter.libsonnet
  libsonnet/1.0/_gen/v1/ratelimiterlazysync.libsonnet
  libsonnet/1.0/_gen/v1/ratelimiteroverride.libsonnet
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
Due: updated-aperture, updated-aperture-docs

add dependabot for pip
  .github/dependabot.yml
Due: none

fix tools install
  scripts/manage_tools.sh
Due: none

Parse span status and add to metric attributes
  pkg/otelcollector/consts.go
  pkg/otelcollector/metricsprocessor/processor.go
Due: updated-aperture

Enhance Policy Compiler for Circuit Graph creation
  pkg/policies/controlplane/circuit-factory.go
  pkg/policies/controlplane/component-factory.go
  pkg/policies/controlplane/component-stack-factory.go
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/runtime/circuit.go
Due: updated-aperture

Skip nil component for runtime
  pkg/policies/controlplane/policy.go
Due: updated-aperture

create empty index.yaml file
  index.yaml
Due: none

Synced operator repo changes
  manifests/charts/aperture-operator/README.md
  manifests/charts/aperture-operator/templates/agent.yaml
  manifests/charts/aperture-operator/templates/rbac.yaml
  manifests/charts/aperture-operator/values.yaml
  manifests/k8s/Tiltfile
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/common_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_controllers.yaml
  operator/controllers/agent_config.tpl
  operator/controllers/agent_config_with_fluxninja_plugin_test.tpl
  operator/controllers/agent_daemonset_test.go
  operator/controllers/agent_pod_test.go
  operator/controllers/configmaps.go
  operator/controllers/configmaps_test.go
  operator/controllers/controller_deployment_test.go
Due: none

change index
  index.yaml
Due: none

add config.yaml for themes
  _config.yml
Due: none

add Readme
  README.md
Due: none

Added installation steps in docs
  docs/content/setup/_category_.yml
  docs/content/setup/installation/_category_.yml
  docs/content/setup/installation/agent/_category_.yml
  docs/content/setup/installation/agent/agent.md
  docs/content/setup/installation/agent/daemonset.md
  docs/content/setup/installation/agent/sidecar.md
  docs/content/setup/installation/controller.md
  docs/content/setup/installation/installation.md
  docs/content/setup/istio.md
  docs/content/setup/supported-platforms.md
Due: updated-aperture-docs

Expose batch configuration
  manifests/charts/agent/files/aperture-agent-config.yaml
  manifests/charts/agent/values.yaml
  pkg/otel/config.go
Due: updated-aperture, updated-aperture-chart

Synced operator changes as discussed
  operator/api/v1alpha1/agent_types.go
  operator/api/v1alpha1/common_types.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/configmaps_test.go
  pkg/otel/config.go
Due: updated-aperture

Fixed DockerHub latest tag issue
  .circleci/continue-workflows.yml
Due: none

Path conditions:
  updated-aperture: (((any of: (cmd|pkg|plugins|tools|api)/.*) or (any of: (go.mod|go.sum))) or (any of: (cmd|pkg|plugins|tools|api)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-docs: any of: docs/.*
  updated-aperture-chart: any of: manifests/charts/agent/.*
