Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*

add dir structure
  docs/content/concepts/integrations/auto-scale/auto-scale.md
  docs/content/concepts/integrations/flow-control/flow-control.md
  docs/content/get-started/integrations/auto-scale/auto-scale.md
  docs/content/tutorials/integrations/auto-scale/auto-scale.md
  docs/content/tutorials/integrations/flow-control/_category_.yml
  docs/content/tutorials/signal-processing/signal-processing.md
Due: updated-aperture-docs

refactor playground scenarios same as what we have in docs tutorials
  playground/Tiltfile
  playground/scenarios/basic_concurrency_limiting/dashboards/main.jsonnet
  playground/scenarios/basic_concurrency_limiting/load_generator
  playground/scenarios/basic_concurrency_limiting/metadata.json
  playground/scenarios/basic_concurrency_limiting/policies/basic-concurrency-limiting-cr.yaml
  playground/scenarios/basic_concurrency_limiting/policies/basic-concurrency-limiting.yaml
  playground/scenarios/graphql_query_static_rate_limiting/dashboards/main.jsonnet
  playground/scenarios/graphql_query_static_rate_limiting/load_generator/test.js
  playground/scenarios/graphql_query_static_rate_limiting/metadata.json
  playground/scenarios/graphql_query_static_rate_limiting/policies/graphql-static-rate-limiting-cr.yaml
  playground/scenarios/graphql_query_static_rate_limiting/policies/graphql-static-rate-limiting.yaml
  playground/scenarios/rate_limiting_escalation/dashboards/main.jsonnet
  playground/scenarios/rate_limiting_escalation/load_generator/test.js
  playground/scenarios/rate_limiting_escalation/metadata.json
  playground/scenarios/rate_limiting_escalation/policies/service1-demo-app-cr.yaml
  playground/scenarios/rate_limiting_escalation/policies/service1-demo-app.yaml
  playground/scenarios/static_rate_limiting/dashboards/main.jsonnet
  playground/scenarios/static_rate_limiting/load_generator
  playground/scenarios/static_rate_limiting/metadata.json
  playground/scenarios/static_rate_limiting/policies/static-rate-limiting-cr.yaml
  playground/scenarios/static_rate_limiting/policies/static-rate-limiting.yaml
  playground/scenarios/workload_prioritization/dashboards/main.jsonnet
  playground/scenarios/workload_prioritization/load_generator
  playground/scenarios/workload_prioritization/metadata.json
  playground/scenarios/workload_prioritization/policies/workload-prioritization-cr.yaml
  playground/scenarios/workload_prioritization/policies/workload-prioritization.yaml
Due: none

add auto scale category
  docs/content/concepts/integrations/auto-scale/_category_.yml
Due: updated-aperture-docs

add auto scale category
  docs/content/concepts/integrations/auto-scale/assets/img/auto-scaling.svg
  docs/content/concepts/integrations/auto-scale/auto-scale.md
Due: updated-aperture-docs

add tutorial and concepts for auto scaler
  docs/content/concepts/integrations/auto-scale/assets/img/auto-scaling.png
  docs/content/concepts/integrations/auto-scale/assets/img/auto-scaling.svg
  docs/content/concepts/integrations/auto-scale/auto-scale.md
  docs/content/tutorials/integrations/auto-scale/assets/auto-scale-playground.png
  docs/content/tutorials/integrations/auto-scale/assets/load-based-autoscale-service1-cr.mmd
  docs/content/tutorials/integrations/auto-scale/assets/load-based-autoscale-service1-cr.yaml
  docs/content/tutorials/integrations/auto-scale/assets/load-based-autoscale-service1.yaml
  docs/content/tutorials/integrations/auto-scale/auto-scale.md
Due: updated-aperture-docs

docs: add horizontal rule to generator
  api/buf.lock
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/policies/spec.md
  docs/gen/config/agent/config-swagger.yaml
  docs/tools/swagger/swagger-templates/config.gotmpl
  pkg/agentinfo/agent-info.go
  pkg/peers/peers.go
Due: updated-aperture, updated-aperture-docs

update tools
  .tool-versions
Due: none

fix auto-scale concepts
  docs/content/concepts/integrations/auto-scale/auto-scale.md
Due: updated-aperture-docs

Update k8s service discovery
  api/aperture/flowcontrol/entitycache/v1/entitycache.proto
  api/buf.lock
  api/gen/proto/go/aperture/flowcontrol/entitycache/v1/entitycache.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/discovery/kubernetes/provide.go
  pkg/discovery/kubernetes/service-discovery.go
  pkg/entitycache/entity_cache.go
  pkg/policies/flowcontrol/servicegetter/servicegetter.go
Due: updated-aperture, updated-aperture-docs

modify description
  docs/content/concepts/integrations/auto-scale/auto-scale.md
Due: updated-aperture-docs

remove image
  docs/content/concepts/integrations/auto-scale/assets/img/auto-scaling.png
Due: updated-aperture-docs

modify intro
  docs/content/get-started/integrations/auto-scale/auto-scale.md
Due: updated-aperture-docs

fix tutorials intro
  docs/content/tutorials/integrations/auto-scale/_category_.yml
  docs/content/tutorials/integrations/auto-scale/auto-scale.md
  docs/content/tutorials/integrations/auto-scale/load-based-auto-scaling.md
Due: updated-aperture-docs

fix pargraph
  docs/content/tutorials/integrations/auto-scale/load-based-auto-scaling.md
Due: updated-aperture-docs

Changes for release 0.26.x
  manifests/charts/aperture-agent/Chart.yaml
  manifests/charts/aperture-controller/Chart.yaml
  manifests/charts/istioconfig/Chart.yaml
Due: updated-aperture-charts

Publish . ./aperture-agent-v0.26.0-rc.1.tgz
  aperture-agent-v0.26.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.26.0-rc.1.tgz
  aperture-controller-v0.26.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.26.0-rc.1.tgz
  index.yaml
  istioconfig-v0.26.0-rc.1.tgz
Due: none

simplify service discovery
  api/aperture/flowcontrol/entitycache/v1/entitycache.proto
  api/buf.lock
  api/gen/proto/go/aperture/flowcontrol/entitycache/v1/entitycache.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/discovery/kubernetes/service-discovery.go
  pkg/mocks/mock-trackers.go
  pkg/notifiers/tracker.go
  pkg/utils/helpers.go
Due: updated-aperture, updated-aperture-docs

remove version check
  pkg/discovery/kubernetes/service-discovery.go
Due: updated-aperture

cluster IP
  pkg/discovery/kubernetes/service-discovery.go
  pkg/entitycache/entity_cache.go
Due: updated-aperture

Move entitycache data model outside of flowcontrol
  api/aperture/entitycache/v1/entitycache.proto
  api/aperture/flowcontrol/entitycache/v1/entitycache.proto
  api/buf.lock
  api/gen/proto/go/aperture/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/entitycache/v1/entitycache.pb.json.go
  api/gen/proto/go/aperture/entitycache/v1/entitycache_deepcopy.gen.go
  api/gen/proto/go/aperture/flowcontrol/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/flowcontrol/entitycache/v1/entitycache_deepcopy.gen.go
  api/gen/proto/go/aperture/flowcontrol/entitycache/v1/entitycache_grpc.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/discovery/kubernetes/service-discovery.go
  pkg/discovery/static/static_discovery.go
  pkg/discovery/static/static_discovery_test.go
  pkg/entitycache/cache_test.go
  pkg/entitycache/entity_cache-service.go
  pkg/entitycache/entity_cache.go
  pkg/policies/flowcontrol/service/check/check_test.go
  pkg/policies/flowcontrol/service/envoy/authz_test.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/services.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/services_test.go
Due: updated-aperture, updated-aperture-docs

Update generated openapiv2 docs
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
Due: updated-aperture-docs

fix: make the symlink path relative in playground scenarios
  playground/scenarios/basic_concurrency_limiting/load_generator
  playground/scenarios/static_rate_limiting/load_generator
  playground/scenarios/workload_prioritization/load_generator
Due: none

refactor notifiers a bit
  pkg/config/koanf-unmarshaller.go
  pkg/config/protobuf-unmarshaller.go
  pkg/config/unmarshaller.go
  pkg/etcd/notifier/prefix.go
  pkg/filesystem/notifier/directory.go
  pkg/notifiers/basic-notifier.go
  pkg/notifiers/fx-driver.go
  pkg/notifiers/notifier.go
  pkg/notifiers/notifier_test.go
  pkg/notifiers/tracker.go
  pkg/notifiers/unmarshal-notifier.go
Due: updated-aperture

fix
  pkg/config/protobuf-unmarshaller.go
  pkg/notifiers/fx-driver.go
  pkg/notifiers/tracker.go
Due: updated-aperture

refactor notifier interfaces
  pkg/entitycache/entity_cache.go
  pkg/etcd/notifier/key.go
  pkg/etcd/notifier/prefix.go
  pkg/filesystem/notifier/directory.go
  pkg/filesystem/notifier/file.go
  pkg/notifiers/basic-notifier.go
  pkg/notifiers/fx-driver.go
  pkg/notifiers/notifier.go
  pkg/notifiers/notifier_test.go
  pkg/notifiers/unmarshal-notifier.go
  pkg/peers/peers.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/flowcontrol/actuators/concurrency/concurrency-limiter.go
  pkg/policies/flowcontrol/actuators/rate/rate-limiter.go
  pkg/policies/flowcontrol/resources/classifier/provide.go
  pkg/policies/flowcontrol/resources/fluxmeter/flux-meter.go
  pkg/policies/infra/actuators/podscaler/pod-scaler.go
Due: updated-aperture

refactor notifier interfaces
  pkg/notifiers/fx-driver.go
  pkg/notifiers/unmarshal-notifier.go
Due: updated-aperture

Add pod informer
  api/aperture/entitycache/v1/entitycache.proto
  api/buf.lock
  api/gen/proto/go/aperture/entitycache/v1/entitycache.pb.go
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  pkg/discovery/kubernetes/service-discovery.go
Due: updated-aperture, updated-aperture-docs

refactor notifier interfaces
  pkg/etcd/notifier/key.go
  pkg/etcd/notifier/prefix.go
  pkg/filesystem/notifier/directory.go
  pkg/notifiers/basic-notifier.go
  pkg/notifiers/fx-driver.go
  pkg/notifiers/notifier_test.go
  pkg/notifiers/unmarshal-notifier.go
  pkg/policies/controlplane/components/autoscale/podscaler/scale-reporter.go
  pkg/policies/controlplane/policy.go
  pkg/policies/flowcontrol/actuators/concurrency/auto-tokens.go
  pkg/policies/flowcontrol/actuators/concurrency/load-actuator.go
  pkg/policies/flowcontrol/actuators/rate/rate-limiter.go
  pkg/policies/infra/actuators/podscaler/pod-scaler.go
  test/etcd_watcher_test.go
Due: updated-aperture

do not delete trigger only jobs
  pkg/jobs/job.go
Due: updated-aperture
