Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app

.circleci/config.yml:

version: 2.1

# this allows to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

workflows:
  version: 2
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
        - not:
            matches:
              &is_not_empty_tag {
                value: << pipeline.git.tag >>,
                pattern: "^.+$",
              }
        - not: &scheduled
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
    jobs:
      - path-filtering/filter: &path_filtering_job
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/continue-workflows.yml
          mapping: |
            (cmd|pkg|plugins|tools|api)/.* updated-aperture true
            operator/(api|config|controllers|hack)/.*|operator/main.go updated-aperture-operator true
            (go.mod|go.sum) updated-aperture true
            docs/.* updated-aperture-docs true
            manifests/charts/.* updated-aperture-charts true
            tools/demo_app/.* updated-demo-app true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
        - not:
            matches: *is_not_empty_tag
        - not: *scheduled
    jobs:
      - path-filtering/filter:
          <<: *path_filtering_job
          base-revision: main
  release:
    when:
      matches: { value: << pipeline.git.tag >>, pattern: "^releases/.*$" }
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release.yaml

Publish . ./aperture-agent-v0.4.0-rc.2.tgz
  aperture-agent-v0.4.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.4.0-rc.2.tgz
  index.yaml
  istioconfig-v0.4.0-rc.2.tgz
Due: none

Publish . ./aperture-controller-v0.4.0-rc.2.tgz
  aperture-controller-v0.4.0-rc.2.tgz
  index.yaml
Due: none

Move removeMetrics() to job-metrics & clean up
  pkg/jobs/job-group.go
  pkg/jobs/job-metrics.go
  pkg/jobs/job.go
  pkg/jobs/jobs_test.go
Due: updated-aperture

Add rate limiter metrics in logs processor
  pkg/metrics/schema.go
  pkg/otelcollector/metricsprocessor/processor.go
  pkg/policies/dataplane/actuators/concurrency/concurrency-limiter.go
  pkg/policies/dataplane/actuators/rate/rate-limiter.go
  pkg/policies/dataplane/engine.go
  pkg/policies/dataplane/iface/engine.go
  pkg/policies/dataplane/iface/limiter.go
  pkg/policies/mocks/mock_engine.go
  pkg/policies/mocks/mock_limiter.go
Due: updated-aperture

Add tests for rate limiter metrics
  pkg/otelcollector/metricsprocessor/processor_test.go
Due: updated-aperture

Publish . ./aperture-agent-v0.4.0.tgz
  aperture-agent-v0.4.0.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.4.0.tgz
  aperture-controller-v0.4.0.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v0.4.0-rc.3.tgz
  aperture-agent-v0.4.0-rc.3.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.4.0-rc.3.tgz
  index.yaml
  istioconfig-v0.4.0-rc.3.tgz
Due: none

Publish . ./aperture-controller-v0.4.0-rc.3.tgz
  aperture-controller-v0.4.0-rc.3.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.4.0.tgz
  index.yaml
  istioconfig-v0.4.0.tgz
Due: none

Create OlricMetrics & register via distcache
  pkg/distcache/olric-metrics.go
  pkg/distcache/provider.go
  pkg/metrics/schema.go
Due: updated-aperture

Checkpoint
  cmd/sdk-validator/main.go
  cmd/sdk-validator/validator/provide.go
  cmd/sdk-validator/validator/validator.go
  test/aperture_suite_test.go
  test/info_test.go
  test/sdk_validation_test.go
Due: updated-aperture

Rename demo_app to demoapp-go
  .circleci/config.yml
  .circleci/continue-workflows.yml
  docs/content/get-started/playground.md
  playground/Tiltfile
  tools/demoapp-go/Dockerfile
  tools/demoapp-go/README.md
  tools/demoapp-go/app/app.go
  tools/demoapp-go/app/app_test.go
  tools/demoapp-go/main.go
Due: updated-aperture, updated-aperture-docs

Update demoapp-go jsonnet files and references to demoapp-go
  playground/Tiltfile
  playground/load_generator/scenarios/load_test.js
  playground/tanka/apps/demoapp-go/main.jsonnet
  playground/tanka/apps/demoapp-go/mixins.libsonnet
  playground/tanka/charts/demo-app/Chart.yaml
  playground/tanka/charts/demo-app/templates/service.yaml
  playground/tanka/charts/demoapp-go/.helmignore
  playground/tanka/charts/demoapp-go/Chart.yaml
  playground/tanka/charts/demoapp-go/templates/_helpers.tpl
  playground/tanka/charts/demoapp-go/templates/deployment.yaml
  playground/tanka/charts/demoapp-go/templates/service.yaml
  playground/tanka/charts/demoapp-go/templates/serviceaccount.yaml
  playground/tanka/charts/demoapp-go/values.yaml
  playground/tanka/lib/apps/demoapp/main.libsonnet
Due: none

Add skeleton for demoapp-kotlin
  .pre-commit-config.yaml
  tools/demoapp-kotlin/.gitignore
  tools/demoapp-kotlin/build.gradle.kts
  tools/demoapp-kotlin/gradle.properties
  tools/demoapp-kotlin/gradle/wrapper/gradle-wrapper.jar
  tools/demoapp-kotlin/gradle/wrapper/gradle-wrapper.properties
  tools/demoapp-kotlin/gradlew
  tools/demoapp-kotlin/gradlew.bat
  tools/demoapp-kotlin/settings.gradle.kts
  tools/demoapp-kotlin/src/main/kotlin/com/fluxninja/Application.kt
  tools/demoapp-kotlin/src/main/kotlin/com/fluxninja/plugins/Routing.kt
  tools/demoapp-kotlin/src/main/kotlin/com/fluxninja/plugins/Serialization.kt
  tools/demoapp-kotlin/src/main/resources/logback.xml
  tools/demoapp-kotlin/src/test/kotlin/com/fluxninja/ApplicationTest.kt
Due: updated-aperture

Add /request endpoint
  tools/demoapp-kotlin/build.gradle.kts
  tools/demoapp-kotlin/gradle.properties
  tools/demoapp-kotlin/src/main/kotlin/com/fluxninja/plugins/Routing.kt
  tools/demoapp-kotlin/src/main/kotlin/com/fluxninja/plugins/Serialization.kt
  tools/demoapp-kotlin/src/main/kotlin/com/fluxninja/routes/RequestRoutes.kt
  tools/demoapp-kotlin/src/test/kotlin/com/fluxninja/ApplicationTest.kt
Due: updated-aperture

Fixed controller init container image issue
  manifests/charts/aperture-controller/README.md
  manifests/charts/aperture-controller/templates/controller.yaml
  manifests/charts/aperture-controller/values.yaml
Due: updated-aperture-charts

Updated PR template for blueprint changes
  .github/pull_request_template.md
Due: none

Add JobMetrics for Job Framework
  pkg/jobs/basic-job.go
  pkg/jobs/http-job.go
  pkg/jobs/job-metrics.go
  pkg/jobs/job.go
  pkg/jobs/jobs_test.go
  pkg/jobs/multi-job.go
  pkg/jobs/provide.go
  pkg/metrics/schema.go
  pkg/policies/controlplane/components/promql.go
  pkg/policies/controlplane/policy.go
  pkg/policies/dataplane/actuators/rate/ratetracker/lazy-sync-rate-tracker.go
  pkg/watchdog/watchdog.go
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
Due: updated-aperture

Mentioned docs path for the example
  .github/pull_request_template.md
Due: none

Fixed the blueprint example
  docs/content/get-started/blueprints.md
Due: updated-aperture-docs

Checkpoint
  tools/demoapp-kotlin/gradle.properties
  tools/demoapp-kotlin/src/main/kotlin/com/fluxninja/Application.kt
  tools/demoapp-kotlin/src/main/kotlin/com/fluxninja/models/SimpleService.kt
  tools/demoapp-kotlin/src/main/kotlin/com/fluxninja/plugins/Routing.kt
  tools/demoapp-kotlin/src/main/kotlin/com/fluxninja/routes/RequestRoutes.kt
  tools/demoapp-kotlin/src/main/kotlin/com/fluxninja/routes/SimpleServiceRoutes.kt
  tools/demoapp-kotlin/src/test/kotlin/com/fluxninja/ApplicationTest.kt
Due: updated-aperture

Checkpoint
  tools/demoapp-kotlin/build.gradle.kts
  tools/demoapp-kotlin/src/main/kotlin/com/fluxninja/plugins/Serialization.kt
  tools/demoapp-kotlin/src/main/kotlin/com/fluxninja/routes/SimpleServiceRoutes.kt
  tools/demoapp-kotlin/src/test/kotlin/com/fluxninja/ApplicationTest.kt
Due: updated-aperture

Provide prometheus registry to JobGroup
  pkg/jobs/job-group.go
  pkg/jobs/job.go
Due: updated-aperture

Fix for the case job gets deregistered multiple
  pkg/jobs/job-group.go
Due: updated-aperture

Clean up & deregister metrcis from multijob
  pkg/jobs/job.go
  pkg/jobs/multi-job.go
Due: updated-aperture

copy example policy to crd samples
  Makefile
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
  operator/config/samples/kustomization.yaml
  scripts/create_policy_sample.sh
Due: updated-aperture-operator

Add capability to start docker containers from sdk-validator
  cmd/sdk-validator/main.go
  cmd/sdk-validator/validator/provide.go
  cmd/sdk-validator/validator/validator.go
  go.mod
  test/aperture_suite_test.go
  test/sdk_validation_test.go
Due: updated-aperture

copy example policy to crd samples
  Makefile
  operator/hack/create_policy_sample.sh
Due: updated-aperture-operator

Update NetworkMode in docker container's HostConfig to "host"
  cmd/sdk-validator/main.go
Due: updated-aperture

Update go.mod
  go.mod
Due: updated-aperture
