Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app

.circleci/config.yml:

version: 2.1

# this allows to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.3.1

workflows:
  version: 2
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
        - not:
            matches:
              &is_not_empty_tag {
                value: << pipeline.git.tag >>,
                pattern: "^.+$",
              }
        - not: &scheduled
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
    jobs:
      - path-filtering/filter: &path_filtering_job
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/continue-workflows.yml
          mapping: |
            (cmd|pkg|plugins|tools|api)/.* updated-aperture true
            operator/(api|config|controllers|hack)/.*|operator/main.go updated-aperture-operator true
            (go.mod|go.sum) updated-aperture true
            docs/.* updated-aperture-docs true
            manifests/charts/.* updated-aperture-charts true
            tools/demo_app/.* updated-demo-app true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
        - not:
            matches: *is_not_empty_tag
        - not: *scheduled
    jobs:
      - path-filtering/filter:
          <<: *path_filtering_job
          base-revision: main
  release:
    when:
      matches: { value: << pipeline.git.tag >>, pattern: "^releases/.*$" }
    jobs:
      - continuation/continue:
          configuration_path: .circleci/release.yaml

Remove peers methods
  api/aperture/common/peers/v1/peers.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.json.go
  api/gen/proto/go/aperture/common/peers/v1/peers_deepcopy.gen.go
  api/gen/proto/go/aperture/common/peers/v1/peers_grpc.pb.go
  pkg/peers/peers-service.go
Due: updated-aperture

Use protobuf structs directly for entityCache
  pkg/entitycache/entity_cache-service.go
  pkg/entitycache/entity_cache.go
  pkg/flowcontrol/common/flowcontrol.go
Due: updated-aperture

Fix entityCache test
  pkg/entitycache/cache_test.go
  pkg/entitycache/entity_cache.go
Due: updated-aperture

Publish . ./aperture-controller-v0.2.0.tgz
  aperture-controller-v0.2.0.tgz
  index.yaml
Due: none

Fix more tests
  pkg/entitycache/entity_cache.go
  pkg/flowcontrol/common/flowcontrol_test.go
  pkg/otelcollector/enrichmentprocessor/enrichmentprocessor_suite_test.go
  pkg/otelcollector/enrichmentprocessor/processor_logs_test.go
  pkg/otelcollector/enrichmentprocessor/processor_metrics_test.go
  pkg/otelcollector/enrichmentprocessor/processor_traces_test.go
Due: updated-aperture

Publish . ./aperture-agent-v0.2.0.tgz
  aperture-agent-v0.2.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.2.0.tgz
  index.yaml
  istioconfig-v0.2.0.tgz
Due: none

Entities as map of string to entity
  api/aperture/common/entitycache/v1/entitycache.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.json.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_deepcopy.gen.go
  pkg/entitycache/entity_cache.go
Due: updated-aperture

Migrate EntityId into Entity
  api/aperture/common/entitycache/v1/entitycache.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.json.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_deepcopy.gen.go
  pkg/entitycache/entity_cache.go
Due: updated-aperture

Merge into one GetEntity method
  api/aperture/common/entitycache/v1/entitycache.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.json.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_deepcopy.gen.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_grpc.pb.go
  pkg/entitycache/entity_cache-service.go
Due: updated-aperture

Remove the Objects Index from generated docs
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/configuration/policies.md
  docs/gen/config/agent/metadata
  docs/gen/config/controller/metadata
  docs/gen/policies/metadata
  docs/tools/swagger/swagger-templates/config.gotmpl
Due: updated-aperture-docs

Add FN plugin OTEL tests
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_suite_test.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
Due: updated-aperture

Add FN plugin OTEL tests
  plugins/service/aperture-plugin-fluxninja/heartbeats/heartbeats.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_suite_test.go
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
  plugins/service/aperture-plugin-fluxninja/otel/provide.go
Due: updated-aperture

Add GetEntities(), migrate entities
  api/aperture/common/entitycache/v1/entitycache.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.gw.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.json.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_deepcopy.gen.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_grpc.pb.go
  pkg/entitycache/entity_cache-service.go
  pkg/entitycache/entity_cache.go
Due: updated-aperture

Deepcopy for Entities()
  pkg/entitycache/entity_cache.go
Due: updated-aperture

Add peers testing
  pkg/peers/peers.go
  pkg/peers/peers_suite_test.go
  pkg/peers/peers_test.go
Due: updated-aperture

Add dummy service provider
  pkg/peers/peers.go
  pkg/peers/peers_test.go
Due: updated-aperture

Fix testings, verfiy peers
  pkg/peers/peers-service.go
  pkg/peers/peers.go
  pkg/peers/peers_test.go
Due: updated-aperture

Add framework for status testing
  pkg/status/status_suite_test.go
  pkg/status/status_test.go
Due: updated-aperture

Use DeepCopy on entities
  pkg/entitycache/entity_cache.go
Due: updated-aperture

Update proto files
  api/aperture/common/entitycache/v1/entitycache.proto
  api/aperture/common/peers/v1/peers.proto
  api/gen/openapiv2/aperture.swagger.yaml
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache.pb.gw.go
  api/gen/proto/go/aperture/common/entitycache/v1/entitycache_grpc.pb.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.go
  api/gen/proto/go/aperture/common/peers/v1/peers.pb.gw.go
  pkg/entitycache/entity_cache-service.go
Due: updated-aperture

Allow construction of OTEL collector outside of k8s environment
  pkg/k8s/provide.go
  pkg/otel/config.go
Due: updated-aperture

Update test before, after suite
  pkg/peers/peers_suite_test.go
  pkg/peers/peers_test.go
Due: updated-aperture

fix typo in LoadShedDecisionWrapper
  .github/pull_request_template.md
  api/aperture/policy/wrappers/v1/decisions.proto
  api/gen/proto/go/aperture/policy/wrappers/v1/decisions.pb.go
  api/gen/proto/go/aperture/policy/wrappers/v1/decisions.pb.json.go
  api/gen/proto/go/aperture/policy/wrappers/v1/decisions_deepcopy.gen.go
  pkg/policies/controlplane/components/actuators/concurrency/load-shed-actuator.go
  pkg/policies/dataplane/actuators/concurrency/load-shed-actuator.go
Due: updated-aperture

remove dependency on ghodss/yaml
  go.mod
  pkg/policies/controlplane/validator_test.go
  pkg/policies/dataplane/resources/classifier/extractors/extractors_suite_test.go
Due: updated-aperture

status registry testing
  pkg/status/status_test.go
Due: updated-aperture

Fix status update testing
  pkg/status/status_test.go
Due: updated-aperture

Maintain PeerDiscovery private
  pkg/peers/peers-service.go
  pkg/peers/peers.go
Due: updated-aperture

Do not bring up platform in plugin UT
  plugins/service/aperture-plugin-fluxninja/otel/otel_test.go
Due: updated-aperture

Playground link to docs instead readme
  README.md
Due: none

spacing
  docs/content/get-started/playground.md
Due: updated-aperture-docs

Update playground.md
  docs/content/get-started/playground.md
Due: updated-aperture-docs

Improve playground tool install instructions
  docs/content/get-started/playground.md
Due: updated-aperture-docs
