Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Fixed fetching of destination service in gateways integration
  gateways/lua/aperture-plugin/access.lua
  gateways/lua/kong/handler.lua
  playground/resources/kong/kong.yaml
  playground/resources/nginx/nginx_config.conf
  playground/scenarios/service-protection-rl-escalation-kong/load-generator/test.js
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-kong/policies/service1-demo-app.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app-cr.yaml
  playground/scenarios/service-protection-rl-escalation-nginx/policies/service1-demo-app.yaml
Due: none

fix broken links
  docs/content/use-cases/auto-scale/load-based-auto-scaling/load-based-auto-scaling.md
  docs/content/use-cases/quota-scheduler/external-rate-limiting.md
  docs/content/use-cases/rate-limiting/graphql-rate-limiting.md
  docs/content/use-cases/rate-limiting/static-rate-limiting.md
  docs/content/use-cases/service-protection/prioritization.md
Due: updated-aperture-docs

Publish . ./aperture-agent-v2.4.0-rc.2.tgz
  aperture-agent-v2.4.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.4.0-rc.2.tgz
  aperture-controller-v2.4.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.4.0-rc.2.tgz
  index.yaml
  istioconfig-v2.4.0-rc.2.tgz
Due: none

remove flow control.md
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/architecture/architecture.md
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/control-point.md
  docs/content/concepts/flux-meter.md
  docs/content/concepts/selector.md
  docs/content/reference/configuration/agent.md
  docs/content/reference/observability/flow-metrics/flow-metrics.md
  docs/content/reference/policies/bundled-blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/service-protection/average-latency.md
  docs/content/reference/policies/spec.md
  docs/content/use-cases/auto-scale/load-based-auto-scaling/load-based-auto-scaling.md
  docs/gen/config/agent/config-swagger.yaml
  docs/gen/policy/policy.yaml
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/config/crd/bases/fluxninja.com_agents.yaml
  pkg/agent-info/agent-info.go
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts

Publish . ./aperture-agent-v2.4.0.tgz
  aperture-agent-v2.4.0.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.4.0.tgz
  aperture-controller-v2.4.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.4.0.tgz
  index.yaml
  istioconfig-v2.4.0.tgz
Due: none

remove top level flow control hierarchy
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/resources/classifier.md
  docs/content/get-started/get-started.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/setting-up-application/manual-control-points.md
  docs/content/get-started/setting-up-application/middleware-insertions.md
  docs/content/get-started/setting-up-application/service-mesh-and-gateways.md
  docs/content/integrations/envoy/envoy.md
  docs/content/integrations/envoy/istio.md
  docs/content/integrations/flow-control/flow-control.md
  docs/content/integrations/gateway/gateway.md
  docs/content/integrations/gateway/kong.md
  docs/content/integrations/gateway/nginx.md
  docs/content/integrations/sdk/go/go.md
  docs/content/integrations/sdk/go/manual.md
  docs/content/integrations/sdk/java/armeria.md
  docs/content/integrations/sdk/java/auto-instrumentation.md
  docs/content/integrations/sdk/java/java.md
  docs/content/integrations/sdk/java/manual.md
  docs/content/integrations/sdk/java/netty.md
  docs/content/integrations/sdk/java/springboot.md
  docs/content/integrations/sdk/java/tomcat.md
  docs/content/integrations/sdk/javascript/javascript.md
  docs/content/integrations/sdk/javascript/manual.md
  docs/content/integrations/sdk/python/manual.md
  docs/content/integrations/sdk/python/python.md
  docs/content/integrations/sdk/sdk.md
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
  docs/markdown.md
  playground/README.md
Due: updated-aperture, updated-aperture-docs

change the sidebar position
  docs/content/integrations/auto-scale/auto-scale.md
  docs/content/integrations/gateway/gateway.md
  docs/content/integrations/metrics/metrics.md
  docs/content/integrations/sdk/sdk.md
Due: updated-aperture-docs

Language tool fixes
  docs/content/get-started/get-started.md
  docs/content/get-started/setting-up-application/service-mesh-and-gateways.md
Due: updated-aperture-docs

Update lua scripts
  gateways/lua/aperture-plugin/access.lua
  gateways/lua/aperture-plugin/log.lua
  gateways/lua/kong/handler.lua
Due: none

Remove `--keep-spec-order` and update deps
  api/Makefile
  api/buf.lock
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-agent.swagger.yaml
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/gen/policy/policy.yaml
  docs/tools/swagger/generate_config_markdown.sh
  tools/go/go.mod
  tools/go/go.sum
Due: updated-aperture, updated-aperture-docs

Improve service protection use-cases
  docs/content/use-cases/service-protection/assets/prioritization/dashboard.png
  docs/content/use-cases/service-protection/assets/prioritization/graph.mmd
  docs/content/use-cases/service-protection/assets/prioritization/graph.mmd.md5sum
  docs/content/use-cases/service-protection/assets/prioritization/graph.mmd.svg
  docs/content/use-cases/service-protection/assets/prioritization/policy.yaml
  docs/content/use-cases/service-protection/assets/prioritization/validate.sh
  docs/content/use-cases/service-protection/assets/prioritization/values.yaml
  docs/content/use-cases/service-protection/assets/protection/dashboard.png
  docs/content/use-cases/service-protection/assets/protection/graph.mmd
  docs/content/use-cases/service-protection/assets/protection/graph.mmd.md5sum
  docs/content/use-cases/service-protection/assets/protection/graph.mmd.svg
  docs/content/use-cases/service-protection/assets/protection/policy.yaml
  docs/content/use-cases/service-protection/assets/protection/validate.sh
  docs/content/use-cases/service-protection/assets/protection/values.yaml
  docs/content/use-cases/service-protection/prioritization.md
  docs/content/use-cases/service-protection/protection.md
  operator/hack/create_policy_sample.sh
Due: updated-aperture-operator, updated-aperture-docs

Explicit tolerance
  docs/content/use-cases/service-protection/assets/protection/policy.yaml
  docs/content/use-cases/service-protection/assets/protection/values.yaml
  docs/content/use-cases/service-protection/protection.md
  operator/config/samples/fluxninja.com_v1alpha1_policy.yaml
Due: updated-aperture-operator, updated-aperture-docs

Explicit tolerance
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/policy.yaml
  docs/content/use-cases/auto-scale/load-based-auto-scaling/assets/values.yaml
  docs/content/use-cases/service-protection/assets/prioritization/policy.yaml
  docs/content/use-cases/service-protection/assets/prioritization/values.yaml
Due: updated-aperture-docs

Iterate text
  docs/content/use-cases/service-protection/protection.md
Due: updated-aperture-docs

move KOS and rename load scheduler to scheduler
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/auto-scale.md
  docs/content/concepts/control-point.md
  docs/content/concepts/flow-label.md
  docs/content/concepts/scheduler.md
  docs/content/concepts/selector.md
  docs/content/faq.md
  docs/content/reference/policies/bundled-blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/service-protection/average-latency.md
  docs/content/reference/policies/spec.md
  docs/content/use-cases/auto-scale/load-based-auto-scaling/load-based-auto-scaling.md
  docs/content/use-cases/quota-scheduler/external-rate-limiting.md
  docs/content/use-cases/service-protection/prioritization.md
  docs/gen/policy/policy.yaml
  docs/markdown.md
Due: updated-aperture, updated-aperture-docs

update links in bundled blueprints
  docs/content/reference/policies/bundled-blueprints/policies/service-protection-with-load-based-pod-auto-scaler/average-latency.md
  docs/content/reference/policies/bundled-blueprints/policies/service-protection/average-latency.md
Due: updated-aperture-docs

update links and rename envoy to istio in top level node
  docs/content/concepts/flow-control/flow-control.md
  docs/content/concepts/flow-control/flow-label.md
  docs/content/concepts/flow-control/resources/classifier.md
  docs/content/get-started/get-started.md
  docs/content/get-started/installation/agent/kubernetes/operator/daemonset.md
  docs/content/get-started/installation/agent/kubernetes/operator/sidecar.md
  docs/content/get-started/setting-up-application/service-mesh-and-gateways.md
  docs/content/integrations/envoy/envoy.md
  docs/content/integrations/istio/istio.md
  docs/content/integrations/sdk/sdk.md
  docs/content/reference/policies/spec.md
Due: updated-aperture-docs

update link in proto
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/gen/policy/policy.yaml
  docs/markdown.md
Due: updated-aperture, updated-aperture-docs

Updated documentation
  api/buf.lock
  docs/content/concepts/flow-control/selector.md
  docs/content/integrations/gateway/gateway.md
  docs/content/integrations/gateway/nginx.md
  gateways/lua/aperture-plugin/access.lua
  gateways/lua/aperture-plugin/headers.lua
  gateways/lua/aperture-plugin/log.lua
  gateways/lua/kong/handler.lua
  gateways/lua/kong/schema.lua
Due: updated-aperture, updated-aperture-docs

Language tool and OpenAI review fixes
  docs/content/concepts/flow-control/selector.md
  docs/content/integrations/gateway/gateway.md
  docs/content/integrations/gateway/nginx.md
Due: updated-aperture-docs

test
  playground/scenarios/workload-prioritization-hasura/dashboards/main.jsonnet
  playground/scenarios/workload-prioritization-hasura/load-generator/test.js
  playground/scenarios/workload-prioritization-hasura/metadata.json
  playground/scenarios/workload-prioritization-hasura/policies/workload-prioritization-hasura-cr.yaml
  playground/scenarios/workload-prioritization-hasura/policies/workload-prioritization-hasura.yaml
Due: none

test
  playground/scenarios/hasura-workload-prioritization/dashboards/main.jsonnet
  playground/scenarios/hasura-workload-prioritization/load-generator/test.js
  playground/scenarios/hasura-workload-prioritization/metadata.json
  playground/scenarios/hasura-workload-prioritization/policies/hasura-workload-prioritization-cr.yaml
  playground/scenarios/hasura-workload-prioritization/policies/hasura-workload-prioritization.yaml
Due: none

test
  playground/scenarios/hasura-workload-prioritization/load-generator/test.js
  playground/scenarios/hasura-workload-prioritization/policies/hasura-workload-prioritization-cr.yaml
  playground/scenarios/hasura-workload-prioritization/policies/hasura-workload-prioritization.yaml
Due: none

test
  playground/scenarios/workload-prioritization-hasura/policies/workload-prioritization-hasura-cr.yaml
  playground/scenarios/workload-prioritization-hasura/policies/workload-prioritization-hasura.yaml
Due: none

test
  playground/scenarios/auto-scaling-hasura/dashboards/main.jsonnet
  playground/scenarios/auto-scaling-hasura/load-generator/test.js
  playground/scenarios/auto-scaling-hasura/metadata.json
  playground/scenarios/auto-scaling-hasura/policies/auto-scaling-hasura-cr.yaml
  playground/scenarios/auto-scaling-hasura/policies/auto-scaling-hasura.yaml
  playground/scenarios/workload-prioritization-postgres/dashboards/main.jsonnet
  playground/scenarios/workload-prioritization-postgres/load-generator/test.js
  playground/scenarios/workload-prioritization-postgres/metadata.json
  playground/scenarios/workload-prioritization-postgres/policies/workload-prioritization-postgres-cr.yaml
  playground/scenarios/workload-prioritization-postgres/policies/workload-prioritization-postgres.yaml
Due: none

test
  playground/scenarios/auto-scaling-hasura/policies/auto-scaling-hasura-cr.yaml
  playground/scenarios/auto-scaling-hasura/policies/auto-scaling-hasura.yaml
  playground/scenarios/workload-prioritization-postgres/load-generator/test.js
  playground/scenarios/workload-prioritization-postgres/policies/workload-prioritization-postgres-cr.yaml
  playground/scenarios/workload-prioritization-postgres/policies/workload-prioritization-postgres.yaml
Due: none

test promql
  playground/scenarios/workload-prioritization-hasura/metadata.json
  playground/scenarios/workload-prioritization-hasura/policies/workload-prioritization-hasura-cr.yaml
  playground/scenarios/workload-prioritization-hasura/policies/workload-prioritization-hasura.yaml
Due: none

test
  playground/scenarios/workload-prioritization-hasura/load-generator/test.js
  playground/scenarios/workload-prioritization-hasura/policies/workload-prioritization-hasura-cr.yaml
  playground/scenarios/workload-prioritization-hasura/policies/workload-prioritization-hasura.yaml
Due: none

test
  playground/scenarios/auto-scaling-hasura/policies/auto-scaling-hasura-cr.yaml
  playground/scenarios/auto-scaling-hasura/policies/auto-scaling-hasura.yaml
  playground/scenarios/workload-prioritization-postgres/policies/workload-prioritization-postgres-cr.yaml
  playground/scenarios/workload-prioritization-postgres/policies/workload-prioritization-postgres.yaml
Due: none

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
