Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

Publish . ./aperture-agent-v2.20.2-rc.1.tgz
  aperture-agent-v2.20.2-rc.1.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.20.2-rc.1.tgz ./index.yaml
  index.yaml
  istioconfig-v2.20.2-rc.1.tgz
Due: none

Publish . ./aperture-controller-v2.20.2-rc.1.tgz ./index.yaml
  aperture-controller-v2.20.2-rc.1.tgz
  index.yaml
Due: none

Get rid of session scoped kv. Need an explicit writer interface instead.
  extensions/fluxninja/heartbeats/peers-watcher.go
  pkg/etcd/client/client.go
  pkg/etcd/client/session.go
  pkg/etcd/client/with-lease.go
  pkg/etcd/election/election.go
  pkg/etcd/notifier/key.go
  pkg/etcd/notifier/prefix.go
  pkg/etcd/transport/client.go
  pkg/etcd/transport/server.go
  pkg/etcd/writer/writer.go
  pkg/peers/peers.go
  pkg/peers/peers_test.go
  pkg/policies/autoscale/kubernetes/actuators/podscaler/pod-scaler.go
  pkg/policies/controlplane/components/autoscale/podscaler/config-sync.go
  pkg/policies/controlplane/components/autoscale/podscaler/scale-actuator.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/actuator.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/config-sync.go
  pkg/policies/controlplane/components/flowcontrol/quota-scheduler/quota-scheduler.go
  pkg/policies/controlplane/components/flowcontrol/rate-limiter/rate-limiter.go
  pkg/policies/controlplane/components/flowcontrol/sampler/sampler.go
  pkg/policies/controlplane/policy-factory.go
  pkg/policies/controlplane/provider.go
  pkg/policies/controlplane/resources/classifier/classifier.go
  pkg/policies/controlplane/resources/fluxmeter/flux-meter.go
  pkg/policies/controlplane/resources/infra-meters/infra-meters.go
  test/etcd_watcher_test.go
Due: updated-aperture

Publish . ./istioconfig-v2.20.2.tgz
  index.yaml
  istioconfig-v2.20.2.tgz
Due: none

Publish . ./aperture-agent-v2.20.2.tgz
  aperture-agent-v2.20.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.20.2.tgz ./index.yaml
  aperture-controller-v2.20.2.tgz
  index.yaml
Due: none

Make uri non-mandatory field in blueprints
  api/buf.lock
  blueprints/auto-scaling/pod-auto-scaler/gen/definitions.json
  blueprints/auto-scaling/pod-auto-scaler/gen/values.yaml
  blueprints/blueprint-assets-generator.py
  blueprints/load-ramping/base/gen/definitions.json
  blueprints/load-ramping/base/gen/values.yaml
  blueprints/load-scheduling/average-latency/gen/definitions.json
  blueprints/load-scheduling/average-latency/gen/values.yaml
  blueprints/load-scheduling/elasticsearch/gen/definitions.json
  blueprints/load-scheduling/elasticsearch/gen/values.yaml
  blueprints/load-scheduling/java-gc-generic/gen/definitions.json
  blueprints/load-scheduling/java-gc-generic/gen/values.yaml
  blueprints/load-scheduling/java-gc-k8s/gen/definitions.json
  blueprints/load-scheduling/java-gc-k8s/gen/values.yaml
  blueprints/load-scheduling/postgresql/gen/definitions.json
  blueprints/load-scheduling/postgresql/gen/values.yaml
  blueprints/load-scheduling/promql/gen/definitions.json
  blueprints/load-scheduling/promql/gen/values.yaml
  blueprints/quota-scheduling/base/gen/definitions.json
  blueprints/quota-scheduling/base/gen/values.yaml
  blueprints/rate-limiting/base/gen/definitions.json
  blueprints/rate-limiting/base/gen/values.yaml
  cmd/aperturectl/cmd/blueprints/generate.go
  docs/content/get-started/policies/assets/raw_values.yaml
  docs/content/get-started/policies/assets/values.yaml
  docs/content/guides/api-quota-management/openai.md
Due: updated-aperture, updated-aperture-docs, updated-blueprints

Use load_scheduler_component_id if available
  blueprints/grafana/panel_library.libsonnet
  blueprints/grafana/panels/workload_decisions.libsonnet
  blueprints/grafana/panels/workload_decisions_accepted.libsonnet
  blueprints/grafana/panels/workload_decisions_rejected.libsonnet
  cmd/aperturectl/cmd/utils/utils.go
Due: updated-aperture, updated-blueprints

Use deepest level of components
  blueprints/grafana/actuator_library.libsonnet
  blueprints/grafana/panel_library.libsonnet
  blueprints/grafana/summary_dashboard.libsonnet
  blueprints/grafana/utils/unwrap_panels.libsonnet
  cmd/aperturectl/cmd/utils/utils.go
Due: updated-aperture, updated-blueprints

Fix component id in remaining panels
  blueprints/grafana/panels/accept_percentage.libsonnet
  blueprints/grafana/panels/average_load_multiplier.libsonnet
  blueprints/grafana/panels/incoming_token_rate.libsonnet
  blueprints/grafana/panels/query.libsonnet
  blueprints/grafana/panels/rate_limiter.libsonnet
  blueprints/grafana/panels/request_in_queue_duration.libsonnet
  blueprints/grafana/panels/request_queue_duration_bar.libsonnet
  blueprints/grafana/panels/throughput.libsonnet
  blueprints/grafana/panels/token_bucket_available_tokens.libsonnet
  blueprints/grafana/panels/token_bucket_capacity.libsonnet
  blueprints/grafana/panels/token_bucket_fillrate.libsonnet
  blueprints/grafana/panels/total_accepted_requests.libsonnet
  blueprints/grafana/panels/total_accepted_tokens.libsonnet
  blueprints/grafana/panels/total_incoming_tokens.libsonnet
  blueprints/grafana/panels/total_rejected_requests.libsonnet
  blueprints/grafana/panels/total_rejected_tokens.libsonnet
  blueprints/grafana/panels/total_requests.libsonnet
  blueprints/grafana/panels/wfq_scheduler_flows.libsonnet
  blueprints/grafana/panels/wfq_scheduler_heap_requests.libsonnet
  blueprints/grafana/panels/workload_latency.libsonnet
Due: updated-blueprints

Remove DoesNotMatter
  pkg/policies/controlplane/policy.go
  pkg/policies/controlplane/validator.go
Due: updated-aperture

Update load scheduler docs
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/concepts/scheduler/load-scheduler.md
  docs/content/reference/configuration/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs, updated-blueprints

aperture-js: minor update to the constructor
  docs/content/guides/api-quota-management/openai.md
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/client.ts
Due: updated-aperture-docs, updated-aperture-js

bump buf version
  .golangci.yaml
  .tool-versions
  sdks/aperture-js/package-lock.json
  sdks/aperture-js/package.json
  sdks/aperture-js/sdk/consts.ts
  test/harness/etcd.go
Due: updated-aperture, updated-aperture-js

revert
  .golangci.yaml
Due: none

Java SDK: use address argument instead of host and port
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaClient.java
  sdks/aperture-java/examples/armeria-example/src/main/java/com/fluxninja/example/ArmeriaServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/NettyServer.java
  sdks/aperture-java/examples/netty-example/src/main/java/com/fluxninja/example/ServerInitializer.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/SpringBootApp.java
  sdks/aperture-java/examples/standalone-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/standalone-traffic-flow-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/webapp/WEB-INF/web.xml
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/javaagent/agent/src/main/java/com/fluxninja/aperture/instrumentation/Config.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
Due: updated-aperture-java

Java SDK: Update docs with host,port->address replacement
  docs/content/integrations/sdk/java/armeria.md
  docs/content/integrations/sdk/java/auto-instrumentation.md
  docs/content/integrations/sdk/java/manual.md
  docs/content/integrations/sdk/java/netty.md
  docs/content/integrations/sdk/java/springboot.md
  docs/content/integrations/sdk/java/tomcat.md
Due: updated-aperture-docs

precommit fixes
  docs/content/integrations/sdk/java/auto-instrumentation.md
  sdks/aperture-java/javaagent/README.md
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/ApertureSDKBuilder.java
Due: updated-aperture-docs, updated-aperture-java

fixes
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/controller/AppController.java
  sdks/aperture-java/examples/spring-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/examples/standalone-traffic-flow-example/src/main/java/com/fluxninja/example/App.java
  sdks/aperture-java/examples/tomcat-example/src/main/java/com/fluxninja/example/filter/ApertureFeatureFilter.java
  sdks/aperture-java/lib/armeria/src/main/java/com/fluxninja/aperture/armeria/ApertureRPCClient.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/jakarta/ApertureFilter.java
  sdks/aperture-java/lib/servlet/src/main/java/com/fluxninja/aperture/servlet/javax/ApertureFilter.java
Due: updated-aperture-java

Update java SDK version to v2.20
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/aperture/sdk/Constants.java
  sdks/aperture-java/version.gradle.kts
Due: updated-aperture-java

Fix pre-commit on main
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/check/v1/FlowControlServiceGrpc.java
  sdks/aperture-java/lib/core/src/main/java/com/fluxninja/generated/aperture/flowcontrol/checkhttp/v1/FlowControlServiceHTTPGrpc.java
Due: updated-aperture-java

Move GradientController to top-level components
  pkg/policies/controlplane/circuitfactory/component-factory.go
  pkg/policies/controlplane/circuitfactory/component-factory_test.go
  pkg/policies/controlplane/components/controller/controller-component.go
  pkg/policies/controlplane/components/controller/controller.go
  pkg/policies/controlplane/components/controller/gradient.go
  pkg/policies/controlplane/components/controller/gradient_test.go
  pkg/policies/controlplane/components/gradient-controller.go
  pkg/policies/controlplane/components/pid-controller.go
Due: updated-aperture

Add support for multiple agent CR in operator
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  manifests/charts/aperture-agent/templates/operator-rbac.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/agent_suite_test.go
  operator/controllers/agent/clusterrole.go
  operator/controllers/agent/configmaps.go
  operator/controllers/agent/daemonset.go
  operator/controllers/agent/deployment.go
  operator/controllers/agent/deployment_test.go
  operator/controllers/agent/reconciler.go
  operator/controllers/agent/reconciler_test.go
  operator/controllers/agent/serviceaccount.go
  operator/controllers/agent/services.go
  operator/controllers/controller/clusterrole.go
  operator/controllers/controller/reconciler_test.go
  operator/controllers/controller/serviceaccount.go
  operator/controllers/mutatingwebhook/agent_pod.go
  operator/controllers/mutatingwebhook/clusterrole.go
  operator/controllers/mutatingwebhook/clusterrole_test.go
  operator/controllers/mutatingwebhook/mutating_webhook_handler.go
  operator/controllers/utils.go
  operator/controllers/utils_test.go
  operator/main.go
Due: updated-aperture-operator, updated-aperture-charts

Publish . ./istioconfig-v2.21.0-rc.1.tgz
  index.yaml
  istioconfig-v2.21.0-rc.1.tgz
Due: none

Publish . ./aperture-agent-v2.21.0-rc.1.tgz ./index.yaml
  aperture-agent-v2.21.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.21.0-rc.1.tgz
  aperture-controller-v2.21.0-rc.1.tgz
  index.yaml
Due: none

Publish . ./aperture-agent-v2.21.0.tgz
  aperture-agent-v2.21.0.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v2.21.0.tgz ./index.yaml
  aperture-controller-v2.21.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v2.21.0.tgz ./index.yaml
  index.yaml
  istioconfig-v2.21.0.tgz
Due: none

Remove mentions of `signals_dashboard` and `creator` libsonnet files
  blueprints/grafana/dashboard_group.libsonnet
  blueprints/main.libsonnet
Due: updated-blueprints

Remove optimize and unnecessary vars in GradientController
  pkg/policies/controlplane/components/gradient-controller.go
Due: updated-aperture
