Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-agent-packaging, updated-aperturectl-packaging, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-java-demo-app, updated-aperture-go, updated-aperture-js, updated-aperture-java, updated-aperture-py, updated-sdk-validator, updated-blueprints

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|extensions|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-agent-packaging: any of: packaging/agent/.*
  updated-aperturectl-packaging: any of: packaging/cli/.*
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*|.github/styles/Vocab/FluxNinja/.*
  updated-aperture-charts: (((any of: manifests/charts/.*) or (any of: operator/config/crd/bases/.*)) or (any of: manifests/charts/.*)) or (any of: operator/config/crd/bases/.*)
  updated-demo-app: any of: playground/resources/demo-app/.*
  updated-java-demo-app: any of: playground/resources/java-demo-app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-js: any of: sdks/aperture-js/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
  updated-aperture-py: any of: sdks/aperture-py/.*
  updated-sdk-validator: any of: cmd/sdk-validator/.*
  updated-blueprints: any of: blueprints/.*|playground/tanka/.*|playground/scenarios/demo-app/manifests/.*

Check if setpoint is not 0 in gradient controller
  pkg/policies/controlplane/components/gradient-controller.go
Due: updated-aperture

Address reviews
  docs/content/concepts/scheduler/load-scheduler.md
Due: updated-aperture-docs

Fix generated component queries
  cmd/aperturectl/cmd/blueprints/generate.go
Due: updated-aperture

Format
  blueprints/grafana/actuator_library.libsonnet
Due: updated-blueprints

Add function to create generate and apply command
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/policy.yaml
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/validate.sh
  docs/content/guides/api-quota-management/assets/inter-service-rate-limiting/values.yaml
  docs/content/guides/api-quota-management/inter-service-rate-limiting.md
  docs/content/guides/api-quota-management/openai.md
  docs/content/guides/blueprintsComponents.js
  docs/content/guides/classifying-workloads/graphql-rate-limiting.md
  docs/content/guides/database-load-management/postgresql.md
  docs/content/guides/per-user-rate-limiting.md
  docs/content/guides/service-load-management/average-latency-feedback.md
Due: updated-aperture-docs

final fixes & implement coderabbit suggestion
  docs/content/guides/api-quota-management/openai.md
  docs/content/guides/blueprintsComponents.js
  docs/content/guides/classifying-workloads/graphql-rate-limiting.md
  docs/content/guides/database-load-management/postgresql.md
Due: updated-aperture-docs

Add support for topologySpreadConstraint for agents
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/deployment.go
  operator/controllers/agent/deployment_test.go
Due: updated-aperture-operator, updated-aperture-charts

Bring back Signals Dashboard
  blueprints/grafana/dashboard_group.libsonnet
  blueprints/grafana/panel_library.libsonnet
  blueprints/grafana/signals_dashboard.libsonnet
Due: updated-blueprints

Add support of deployment strategy in agent CR
  manifests/charts/aperture-agent/crds/fluxninja.com_agents.yaml
  operator/api/agent/v1alpha1/agent_types.go
  operator/api/agent/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/fluxninja.com_agents.yaml
  operator/controllers/agent/deployment.go
  operator/controllers/agent/deployment_test.go
  operator/controllers/controller/deployment.go
  operator/controllers/controller/deployment_test.go
Due: updated-aperture-operator, updated-aperture-charts

Fix link to spec.md
  docs/content/concepts/scheduler/load-scheduler.md
Due: updated-aperture-docs

Use proto representation of token bucket state and related structs
  api/aperture/tokenbucket/v1/state.proto
  api/buf.lock
  api/gen/proto/go/aperture/tokenbucket/v1/state.pb.go
  api/gen/proto/go/aperture/tokenbucket/v1/state.pb.json.go
  api/gen/proto/go/aperture/tokenbucket/v1/state.pb.validate.go
  api/gen/proto/go/aperture/tokenbucket/v1/state_vtproto.pb.go
  pkg/rate-limiter/global-token-bucket/global-token-bucket.go
Due: updated-aperture

Remove version from olric service memberlist name
  pkg/dist-cache/provider.go
Due: updated-aperture

Cache and bootstrap. Sampler ramp mode default behavior
  api/aperture/policy/language/v1/flowcontrol.proto
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/gen/policy/policy.yaml
  pkg/etcd/client/client.go
  pkg/policies/controlplane/components/flowcontrol/sampler/sampler.go
  pkg/policies/flowcontrol/actuators/sampler/sampler.go
Due: updated-aperture, updated-aperture-docs, updated-blueprints

fix test
  test/aperture_suite_test.go
Due: updated-aperture

Load Multiplier validity timestamp. Fix memory leak seen in test.
  api/aperture/policy/sync/v1/load_scheduler.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/sync/v1/load_scheduler.pb.go
  api/gen/proto/go/aperture/policy/sync/v1/load_scheduler.pb.validate.go
  api/gen/proto/go/aperture/policy/sync/v1/load_scheduler_vtproto.pb.go
  pkg/etcd/client/client.go
  pkg/otelcollector/config/provider_test.go
  pkg/policies/controlplane/components/flowcontrol/load-scheduler/actuator.go
  pkg/policies/controlplane/runtime/circuit-iface.go
  pkg/scheduler/load-multiplier-token-bucket.go
  pkg/scheduler/scheduler.go
Due: updated-aperture

Reserve 'aperture-cloud' agent group for cloud agent
  api/aperture/policy/language/v1/flowcontrol.proto
  api/buf.lock
  api/gen/proto/go/aperture/policy/language/v1/flowcontrol.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/configuration/agent.md
  docs/content/reference/configuration/controller.md
  docs/content/reference/configuration/spec.md
  docs/gen/config/extensions/fluxninja/extension-swagger.yaml
  docs/gen/policy/policy.yaml
  extensions/fluxninja/extconfig/extconfig.go
  operator/controllers/agent/deployment_test.go
  operator/controllers/agent/hook.go
  operator/controllers/agent/hook_test.go
  operator/controllers/agent/reconciler.go
  operator/controllers/agent/reconciler_test.go
  operator/controllers/mutatingwebhook/agent_pod.go
  operator/controllers/utils.go
  pkg/agent-info/agent-info.go
  pkg/utils/consts.go
  playground/tanka/apps/aperture-agent/mixins.libsonnet
Due: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-blueprints

Fix for tests
  pkg/agent-info/agent-info.go
  playground/tanka/apps/aperture-agent/mixins.libsonnet
Due: updated-aperture, updated-blueprints
