Repository fluxninja/aperture: changes, and which CircleCI parameters are due for each by the changed paths.
All: updated-aperture, updated-aperture-operator, updated-aperture-docs, updated-aperture-charts, updated-demo-app, updated-aperture-go, updated-aperture-java

Bump FN OTEL to v0.72.0
  go.mod
  go.sum
Due: updated-aperture

Bump OTEL to v0.72.0
  go.mod
  go.sum
Due: updated-aperture

Move GetClusterDomain to `utils` package
  pkg/discovery/kubernetes/service-discovery.go
  pkg/utils/cluster.go
Due: updated-aperture

checkpoint
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  Makefile
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  go.sum
  pkg/info/build.sh
  pkg/plugins/build.sh
  pkg/utils/goleak.go
  playground/scenarios/demo-app/application/go.mod
  playground/scenarios/graphql-example-1/application/graphql_demo_app/go.mod
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  tools/go/go.mod
  tools/go/go.sum
  tools/go/tools.go
Due: updated-aperture, updated-aperture-go

update go.mod
  go.mod
Due: updated-aperture

checkpoint
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  pkg/info/build.sh
  pkg/plugins/build.sh
Due: updated-aperture

update go to 1.20 (experiment) (#1453)
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  Makefile
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  go.sum
  pkg/info/build.sh
  pkg/plugins/build.sh
  pkg/utils/goleak.go
  playground/scenarios/demo-app/application/go.mod
  playground/scenarios/graphql-example-1/application/graphql_demo_app/go.mod
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  tools/go/go.mod
  tools/go/go.sum
  tools/go/tools.go
Due: updated-aperture, updated-aperture-go

remove extra docker layer
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
Due: updated-aperture

address review comments
  api/aperture/policy/language/v1/classifier.proto
  api/aperture/policy/language/v1/fluxmeter.proto
  api/aperture/policy/language/v1/selector.proto
  api/gen/proto/go/aperture/policy/language/v1/classifier.pb.go
  api/gen/proto/go/aperture/policy/language/v1/fluxmeter.pb.go
  api/gen/proto/go/aperture/policy/language/v1/selector.pb.go
  blueprints/gen/jsonschema/_definitions.json
  docs/content/assets/openapiv2/aperture-controller.swagger.yaml
  docs/content/assets/openapiv2/aperture.swagger.yaml
  docs/content/reference/policies/spec.md
  docs/gen/policy/policy.yaml
Due: updated-aperture, updated-aperture-docs

add version to cache ids
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
Due: updated-aperture

checkpoint
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  operator/Dockerfile
  playground/scenarios/demo-app/application/Dockerfile
  playground/scenarios/graphql-example-1/application/graphql_demo_app/Dockerfile
  scripts/go_mod_tidy.sh
  scripts/update_go_version.sh
  sdks/aperture-go/Dockerfile
Due: updated-aperture, updated-aperture-go

checkpoint
  .circleci/continue-workflows.yml
  scripts/update_go_version.sh
Due: none

checkpoint
  scripts/update_go_version.sh
Due: none

checkpoint
  .circleci/config.yml
  .circleci/continue-workflows.yml
  .circleci/post-release.yaml
  .golangci.yaml
  .pre-commit-config.yaml
  .tool-versions
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  go.mod
  operator/Dockerfile
  playground/scenarios/demo-app/application/Dockerfile
  playground/scenarios/demo-app/application/go.mod
  playground/scenarios/graphql-example-1/application/graphql_demo_app/Dockerfile
  playground/scenarios/graphql-example-1/application/graphql_demo_app/go.mod
  scripts/go_mod_tidy.sh
  scripts/invalidate_asdf_ci_cache.sh
  scripts/update_go_version.sh
  sdks/aperture-go/Dockerfile
  sdks/aperture-go/go.mod
  tools/go/go.mod
Due: updated-aperture, updated-aperture-go

Autoscaling scenario and other fixes
  pkg/policies/controlplane/circuitfactory/nested-circuit.go
  pkg/policies/controlplane/components/autoscale/autoscaler.go
  pkg/policies/controlplane/components/controller/controller-component.go
  pkg/policies/controlplane/components/ema.go
  pkg/policies/infra/actuators/podscaler/pod-scaler.go
  playground/scenarios/autoscaling/load_generator/test.js
  playground/scenarios/autoscaling/metadata.json
  playground/scenarios/autoscaling/policies/load-based-autoscale-service1-cr.yaml
  playground/scenarios/autoscaling/policies/load-based-autoscale-service1.yaml
  playground/tanka/apps/single-service-app/main.jsonnet
  playground/tanka/apps/single-service-app/mixins.libsonnet
Due: updated-aperture

Fix race between leader election and pod scaler status publishing
  pkg/policies/controlplane/components/autoscale/autoscaler.go
  pkg/policies/infra/actuators/podscaler/pod-scaler.go
Due: updated-aperture

Fix cooldown override
  pkg/policies/controlplane/components/autoscale/autoscaler.go
  pkg/policies/controlplane/components/controller/controller-component.go
  pkg/policies/controlplane/components/holder.go
  pkg/policies/infra/actuators/podscaler/pod-scaler.go
Due: updated-aperture

Added nil check for using provided writers in logger
  pkg/config/log.go
Due: updated-aperture

CPU based scale in. Fix scale in. Fix tests.
  pkg/policies/controlplane/components/autoscale/autoscaler.go
  pkg/policies/controlplane/sim/circuit_test.go
  pkg/policies/controlplane/validator_test.go
  playground/scenarios/autoscaling/policies/load-based-autoscale-service1-cr.yaml
  playground/scenarios/autoscaling/policies/load-based-autoscale-service1.yaml
Due: updated-aperture

Fixed docker build and sentry plugin issues
  cmd/aperture-agent/Dockerfile
  cmd/aperture-controller/Dockerfile
  plugins/service/aperture-plugin-sentry/main.go
  plugins/service/aperture-plugin-sentry/sentry/sentry.go
Due: updated-aperture

detect local controller from endpoint hostname
  operator/controllers/agent/configmaps.go
Due: updated-aperture-operator

Tweak sampling of stream client logs
  pkg/rpc/transport.go
Due: updated-aperture

document installation
  docs/content/get-started/installation/agent/kubernetes/daemonset.md
Due: updated-aperture-docs

document also sidecar
  docs/content/get-started/installation/agent/kubernetes/sidecar.md
Due: updated-aperture-docs

Publish . ./aperture-agent-v0.25.0-rc.2.tgz
  aperture-agent-v0.25.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.25.0-rc.2.tgz
  aperture-controller-v0.25.0-rc.2.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.25.0-rc.2.tgz
  index.yaml
  istioconfig-v0.25.0-rc.2.tgz
Due: none

Publish . ./aperture-agent-v0.25.0.tgz
  aperture-agent-v0.25.0.tgz
  index.yaml
Due: none

Publish . ./aperture-controller-v0.25.0.tgz
  aperture-controller-v0.25.0.tgz
  index.yaml
Due: none

Publish . ./istioconfig-v0.25.0.tgz
  index.yaml
  istioconfig-v0.25.0.tgz
Due: none

Fixed demo-app chart location
  .opsninja.yaml
Due: none

Path conditions:
  updated-aperture: (((((any of: .dockerignore) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))) or (any of: .dockerignore)) or (any of: (cmd|pkg|plugins|api|test)/.*)) or (any of: (go.mod|go.sum))
  updated-aperture-operator: any of: operator/(api|config|controllers|hack)/.*|operator/main.go
  updated-aperture-docs: any of: docs/.*
  updated-aperture-charts: any of: manifests/charts/.*
  updated-demo-app: any of: playground/demo_app/.*
  updated-aperture-go: any of: sdks/aperture-go/.*
  updated-aperture-java: any of: sdks/aperture-java/.*
